[2020-01-27 18:01] sebhildebrandt commented on #333
@BolverBlitz ... need to check this. I basically use node internal functions... can you provide the output of the following (in node):

[code]

Thank you in advance.

[2020-01-27 21:14] BolverBlitz commented on #333
[
  {
    model: 'Intel(R) Xeon(R) CPU E5-2667 v2 @ 3.30GHz',
    speed: 3300,
    times: {
      user: 14968750,
      nice: 0,
      sys: 10068437,
      idle: 763819250,
      irq: 236296
    }
  },
  {
    model: 'Intel(R) Xeon(R) CPU E5-2667 v2 @ 3.30GHz',
    speed: 3300,
    times: {
      user: 8585203,
      nice: 0,
      sys: 3858390,
      idle: 776412140,
      irq: 169781
    }
  },

[2020-01-27 22:33] sebhildebrandt commented on #333
@BolverBlitz thank you! I looked at your code. Maybe your calculation is not really correct. Could you try the following code snippet:

[code]

This should continuously print out the current load (full sum of all cpus).

[2020-01-27 23:50] BolverBlitz commented on #333
Well i can´t realy figure out why that happens.
The code given top isn´t the actual code i´m using, I have si as promise being resolved. Anyway that seems to work just fine exept for one thing.

Running my version returns 2.4% -  Thats wrong
Now running your code:
[code]

That returns also 2.4% BUT only the first time, after that it works fine and shows 24%
Does that happen on your Hardware aswell

[2020-01-28 05:23] sebhildebrandt commented on #333
@BolverBlitz thank you for your tests. Will have a look on it later today.

[2020-01-28 14:14] juancampuzano commented on #326
**os.networkInterfaces()** output:
`Interfaces  {
  'Conexión de área local': [
    {
      address: '192.168.0.46',
      netmask: '255.255.255.0',
      family: 'IPv4',
      mac: 'd8:cb:8a:25:20:cb',
      internal: false,
      cidr: '192.168.0.46/24'
    }
  ],
  'Loopback Pseudo-Interface 1': [
    {
      address: '::1',
      netmask: 'ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff',
      family

[2020-01-28 19:39] CodeF0x opened #334 "Possible work-around for permission issues on Linux / Unix"
**Is your feature request related to a problem? Please describe.**
Currently, some features like `memLayout` or `diskLayout` need admin rights to work properly under Linux systems (as said in #108 and #167).

**Describe the solution you'd like**
There's a npm package called [sudo-prompt](https://www.npmjs.com/package/sudo-prompt) that allows to run shell commands like Node's `exec`, but with admin

[2020-01-28 20:27] sebhildebrandt commented on #334
@CodeF0x thank you for your comment. So the dependency is not the real problem here. It is more about introducing user interaction when calling some functions. This is - in most cases - unwanted, especially when code runs silent in background (monitoring apps, ...). So I think this will introduce much more problems then solving it ... hope you understand this. Closing this for now.

[2020-01-28 20:27] #334 closed

[2020-01-29 08:03] CodeF0x commented on #334
Hello @sebhildebrandt! I totally understand your point here. Thanks for your feedback.

[2020-01-29 10:00] sebhildebrandt commented on #333
@BolverBlitz So, I testet it once again (Raspberry PI, Linux bare metal, Mac) and it works fine ... values correspond also to output of the `top` command.

What you need to know: when you call this function the first time, this can only give the CPU usage since startup (which is normally not what you want).

As you see it in your test for your server: 2.4% but then as soon as you call it the secon

[2020-01-29 10:02] sebhildebrandt commented on #326
@juancampuzano thank you!! Will test it here with mocking your data ...

[2020-01-29 10:25] sebhildebrandt commented on #326
@juancampuzano so I testet it one more time with your data mocked ... and it worked fine ... so this is quite strange. To be able to reproduce it, can you go into your `./lib/network.js`file and place some console.logs like this (starting at line 62):

[code]

Thank you in advance ...

[2020-01-29 18:46] juancampuzano commented on #326
For this test the result was:
`1: Conexión de área local
2: Conexión de área local`

Remembering that my problem is getting **networkGatewayDefault();** I made some test and the result was:
![resultado2](https://user-images.githubusercontent.com/52759609/73386799-7b0d7680-429d-11ea-92eb-820ec8ee254e.PNG)
![Resultado](https://user-images.githubusercontent.com/52759609/73386802-7c3ea380-429d-11ea-95

[2020-01-29 20:12] sebhildebrandt commented on #326
@juancampuzano ... oh man, sorry!!! I was on the wrong track ... I mixed it up with `getDefaultInterface()`. Well, back to start. Thank you for your console.log-output in the right place. Will have a look at it.

[2020-01-30 07:27] sebhildebrandt commented on #326
@juancampuzano so basically I was in the wrong section. One more thing what I would need is the following: in `Powershell` (just type `powershell` in the command line...):

Can you provide the output of
[code]

and

[code]

Thank you one more time for your patience!

[2020-01-30 16:30] BolverBlitz commented on #333
Okay, i overlooked the botom part of the padge with the second call, then i´ll have a look at my code and how to fix it.

Thanks for the help

[2020-01-30 18:34] sebhildebrandt commented on #333
closing It for now.

[2020-01-30 18:34] #333 closed

[2020-01-30 22:52] mwittig commented on #240
Ok, no worries. Looking forward to your findings! I haven't re-tested yet on buster which you probably want to use as a basis for your tests rather than stretch

[2020-01-31 13:23] juancampuzano commented on #326
The result was: _**The term is not recognized as the name of a cmdlet**_

![Resultado](https://user-images.githubusercontent.com/52759609/73542538-e886e780-4402-11ea-98e3-ada49db13f19.PNG)

[2020-01-31 15:49] sebhildebrandt commented on #326
@juancampuzano Ok, that explains it. The Powershell command `Get-CimInstance` Require PowerShell version 3 and later ... so this particular part will not work on your system. Never the less, the first one should give an answer. As we here have language specific output, I need to think how to solve it. Please give me a litte time to find a solution.

[2020-01-31 15:56] sebhildebrandt commented on #326
@juancampuzano Ok, I guess I have an idea ;-) Will implement it tonight but I can test it not before Sunday.

[2020-01-31 16:39] sebhildebrandt commented on #326
@juancampuzano so I just published a new version 4.21.1. Maybe you can test it ... hope that this solves the problem.

[2020-01-31 18:54] juancampuzano commented on #326
Now It is working fine :100:

Thank you very much for your collaboration and quick response.

[2020-01-31 19:28] sebhildebrandt commented on #326
@juancampuzano thank you for your help testing it and providing detailed information. And once again sorry for the long journey due to my misinterpretation of the issue ;-)

[2020-01-31 19:28] #326 closed

[2020-01-31 20:46] ricardopolo commented on #246
Hello @sebhildebrandt. Have you have time this 6 months for doing that?

Showing a current network, current password and hasWifi option would be awesome!

Thank you!!

[2020-02-02 15:39] sebhildebrandt commented on #240
@mwittig So I made some investigations and I think I have a way here to get the needed information. Need to implement that and test it here locally. Maybe I will be able to finish it tomorrow.

[2020-02-03 11:09] sebhildebrandt commented on #246
@ricardopolo  Sorry for the delay. I started again on this yesterday and I am currently working on improving

- `networkInterfaces()` ... which in some cases do not show all interfaces (e.g. the wireless interfaces if they are not connected)
- `wifiNetworks()` to add attributes to see if computer is connected to a specific network

Regards

[2020-02-06 06:33] golil opened #335 "read system info from docker"
hi
i have node application run in docker container, i want access to host system information for check some system information like real network interfaces mac.but when use systeminformation, show docker network interfaces mac. how can i access to system information from docker ?

[2020-02-06 08:58] sebhildebrandt commented on #335
@golil I think this is not possible directly from docker. One of the main concept of docker is, that you by default work in an isolated environment and have no access to the outer world (except, when you open ports, etc.) So the only way (that I see) to do this, would be to have a service on the host OS that you then call from your docker environment. Closing this for now.

[2020-02-06 08:58] #335 closed

[2020-02-07 10:22] evrico commented on #317
Hi @sebhildebrandt, any news about this problem?

[2020-02-09 23:21] cekvenich opened #336 "Help: networkConnections in debian / ubuntu returns empty []"
The latest release, in fedora and osx works!
It returns my open local ports.

In ubuntu, also as root, returns []

Help?

[2020-02-10 22:47] sebhildebrandt commented on #336
@cekvenich seems that Debian (and Ubuntu) now switched to `ss` instead of `netstat`. I will add code to handle both alternatives.

[2020-02-10 23:07] sebhildebrandt commented on #336
@cekvenich should be fixed. Version 4.21.2 just published. Can you test it on your side?

[2020-02-10 23:07] #336 closed

[2020-02-10 23:18] cekvenich commented on #336
Give me 24 hours, I will.

[2020-02-11 00:33] cekvenich commented on #336
@sebhildebrandt  I tested new build on Ubuntu and I can confirm that it is fixed.

Thank you for rapid response. Cheers, Vic

[2020-02-11 13:19] LorenzHerz opened #337 "add received and sent packets to networkStatsData"
**Is your feature request related to a problem? Please describe.**
I'm currently building a monitoring module and would like to monitor packets.

**Describe the solution you'd like**
As the title suggests i would add packet information in addition to received and sent bytes information.

**Describe alternatives you've considered**
Running the command myself (e.g.: cat /sys/class/net/' + iface + '/

[2020-02-11 14:40] sebhildebrandt commented on #337
@LorenzHerz Will have a look on this one ....

[2020-02-11 18:52] VolodymyrKalynii opened #338 "GPU info"
Hello! Please tell us if you plan to display information about the gpu.
I saw that there was already a request a few years ago, but maybe something has changed since then.

[2020-02-16 13:55] jeth318 opened #339 "Rpi 4 - memLayout returns empty array"
First things first: **AWSOME** lib.

**Describe the bug**
When calling si.memLayout() on my Raspberry Pi 4, I get an empty array as the return value.
On macOs it works as expected, returning info about the installed memory banks.
According to the docs, this feature should be available on Linux systems. That's why I submit this report.

**To Reproduce**
Steps to reproduce the behavior:
1. Call si.m

[2020-02-16 17:19] Mlocik97-issues opened #340 "Get all avaiable values to object by one method/function?"
Now when we use system information to get all data (CPU, RAM, Disk, GPU, etc...) we need to call a lot of methods/functions, so I would like to have functions getAllHW() and getAllUsage() to get all data about HardWare and Usage() which would return object with these data. So we can easilly use app.get('/hardware', si.getAllHW());

and in client-side let data = fetch('/hardware');
so I can easilly

[2020-02-16 18:47] sebhildebrandt commented on #338
@VolodymyrKalynii ... currently I do not see a way to get reliable gpu information constantly across hardware and os platforms. If anyone has an idea, please let me know, then I can try to find a solution. Closing it for now.

[2020-02-16 18:47] #338 closed

[2020-02-16 18:49] sebhildebrandt commented on #339
@jeth318 let me check it tomorrow. If this is reproducible also on my machines I will find a quick solution for this. If not, I probably will come back to you for further information. Hope this is ok for you.

[2020-02-16 18:52] sebhildebrandt commented on #340
@Mlocik97-issues I plan to build a function where you can specify (json object) what you would like to get back. This would be more flexible and will allow to get exactly those values back, that you need with one single function call. Hope this is ok for you.

[2020-02-16 18:55] sebhildebrandt commented on #332
@OmgImAlexis Started to add examples for the first functions ... will continuously add more examples.

[2020-02-17 05:12] sebhildebrandt commented on #339
@jeth318 ok, as dmidecode does not work on Raspberries, I am considering another method. Please give me one or two days ... will figure it out ;-)

[2020-02-17 05:23] jeth318 commented on #339
Great! Let me know if there are any more examples you need.

[2020-02-17 19:37] Mlocik97-issues commented on #340
yes, it would be really great.

[2020-02-17 20:37] sebhildebrandt commented on #339
@jeth318 so I just released a new version 4.22.1. Maybe you can give it a try and post results here.

[2020-02-17 20:40] jeth318 commented on #339
Great!! I’ll try it out soon.

[2020-02-18 07:53] jeth318 commented on #339
@sebhildebrandt It works like a charm. Thanks for the quick patch!

[2020-02-18 08:04] #339 closed

[2020-02-18 16:10] sebhildebrandt commented on #339
@jeth318 can you provide a sample output, just to see if we are getting the expected values ;-)
Thank you in advance.

[2020-02-19 14:52] jeth318 commented on #339
Here is a sample output when calling memLayout().
`[
  {
    size: 3908665344,
    bank: '',
    type: 'LPDDR4',
    clockSpeed: 3200,
    formFactor: 'SoC',
    partNum: '',
    serialNum: '',
    voltageConfigured: -1,
    voltageMin: -1,
    voltageMax: -1
  }
]`

[2020-02-20 07:17] sebhildebrandt commented on #339
@jeth318 So as voltage was missing, I made a fix for that. Version 4.22.2 just published.

[2020-02-20 07:18] sebhildebrandt commented on #339
@jeth318 ... the rest is not really determinable as there is no bank, no serial and part number for the RAM.

[2020-02-21 14:48] jeth318 commented on #339
That's perfectly fine! Really nice. Thanks again for fixing the support.

[2020-02-24 20:12] emircokdogan opened #341 "CPU spikes when calling osinfo.versions(). Can we add a parameter for options?"
**Is your feature request related to a problem? Please describe.**
First of all. Great package. Thumbs up! 👍 Not a huge problem but worrying that in the long run when calling them repeatedly. I've been working on server monitoring tool for myself. I'd like to detect upgrades/downgrades of the installed packages. When calling 'versions' function, CPU spiked up to %100 on the machines I've tried. I'

[2020-02-27 11:26] mrTorb opened #344 "Wrong vram GPU"
Hi
I get the wrong VRAM from my GPUs.

 graphics: [
    {
      vendor: 'NVIDIA',
      model: 'NVIDIA GeForce GTX 1080 Ti',
      bus: 'PCI',
      vram: 4095,
      vramDynamic: true
    },
    {
      vendor: 'NVIDIA',
      model: 'NVIDIA GeForce GTX 1080 Ti',
      bus: 'PCI',
      vram: 4095,
      vramDynamic: true
    }
  ],

I probably should be  vram: 11 264 ‬or close to that

I'm on Wi

[2020-02-28 14:14] emmkimme opened #345 "Typescript definitions : string => number"
**Describe the bug**
Using version "4.22.3"
Currently, some ts definitions related to numeric information are typed as string.
Could it be possible to change them

[code]

Thanks

[2020-03-01 12:21] mrTorb commented on #344
After some research I found that it seems that vmic cant provide that information correctly.
Maybe dxdiag /t would work instead instead of using vmic?

[2020-03-01 17:37] sebhildebrandt commented on #341
@emircokdogan I am currently working on a function where you can specify exactly what data you want. This will not only include `versions` but all functions. So basically you call the function (like the `getAll()` but with a json as a parameter which specifies exactly which details you want to get.

As this is a more complex approach, I am thinking fo refactoring versions to use a parameter as sug

[2020-03-01 20:40] sebhildebrandt commented on #345
@emmkimme Thank you for your discovery. I guess für cpuData the typings are (unfortunately) correct. I need to change the results to be numbers (which would be a breaking change) but currently they are strings. This will change in version 5. For `CpuCurrentSpeedData`you are absolutely right. I changed it and released a new version 4.22.4.

[2020-03-01 20:40] #345 closed

[2020-03-02 09:44] emmkimme opened #346 "[Windows] DPI/Scale/Zoom introduce issues"
I have 3 monitors 1920x1080.
Calling si.displays I get :
[code]
which is expected.

But when I change the scale of the 1st monitor to 150% for instance, I get
[code]
The scaling is correct 1920/1280 = 150%.
But the current X position of the 2nd monitor is still 1920 not 1280.
There is no way to know the 1st monitor has been scaled (original resolution is lost).

**Expected behavior**
The X positio

[2020-03-02 11:41] sebhildebrandt commented on #346
@emmkimme can you run the following commands in both resolutions and post the output here (as text)?

[code]

Thank you in advance.

[2020-03-02 15:05] emmkimme commented on #346
Output with 100%
[wmic100.txt](https://github.com/sebhildebrandt/systeminformation/files/4276062/wmic100.txt)
Output with 150%
[wmic150.txt](https://github.com/sebhildebrandt/systeminformation/files/4276063/wmic150.txt)

[2020-03-02 15:49] SibertDekimo opened #347 "getLinuxDHCPNics not looking in included files in /etc/network/interfaces"
**Issue**
Not all interfaces correct DHCP correctly when requesting all network interfaces using networkInterfaces(). This happens when the interface is included in the /etc/network/interfaces file using `source file`.

**Solution**
I've written a quick solution for this, that suits my use case so it's definitely not guaranteed to be the best solution or any good for that matter, but I'll include

[2020-03-04 18:19] marcj opened #348 "Graphics wrong vram value on Macbook pro with AMD GPU"
[code]

Code:

[code]

Result:

[code]

Expected is that AMD has vram of `4000`:

![Screenshot 2020-03-04 at 19 19 28](https://user-images.githubusercontent.com/450980/75909811-1372ba00-5e4d-11ea-932f-bfa09676dcac.png)

Let me know if I can help you debug this issue. If you give me hints where to look at, I can provide a PR.

[2020-03-04 18:23] sebhildebrandt commented on #348
@marcj can you provide the output of

[code]

(from command line)? Thank you in advance.

[2020-03-04 18:35] marcj commented on #348
Sure

[code]

[2020-03-04 18:39] sebhildebrandt commented on #348
@marcj ok, very clear. Fixed ... version 4.22.5 just released.

[2020-03-04 18:39] #348 closed

[2020-03-04 18:40] marcj commented on #348
Ok you are nuts 😅 That was fast, thank you very much!

[2020-03-08 10:46] Marcel26990 opened #349 "Systeminformation not working properly on OpenVZ / VPS"
**Describe the bug**
systeminformation not working on OpenVZ Servers

**To Reproduce**
Steps to reproduce the behavior:
1. used function networkStats
2. code snippet
[code]
3. start app / code
4. See output/error rIO_sec etc. stays at -1

**Current Output**
[code]

**Expected behavior**
After first call expected network transfer values per second

**Environment (please complete the following infor

[2020-03-08 14:34] sebhildebrandt commented on #349
@Marcel26990 First of all:

The result you provided does not match with the results the `networkStats() should bring back ...
You should get an array with the following fields:

[code]

As I did not tried it on OpenVZ yet, I have some questions that might help:

Let us go through it: `networkStats()` returns network stats for a given network interface. If no interface is given, it tries to get it

[2020-03-08 14:42] Marcel26990 commented on #349
Clearly messed something up there;

si.networkInterfaceDefault(): **link**

si.networkInterfaces():
[code]
 si.networkStats('*'):
[code]

[2020-03-08 14:45] sebhildebrandt commented on #349
@Marcel26990 then this seems to be fine, right??

[2020-03-08 14:47] sebhildebrandt commented on #349
@Marcel26990 `operstate` should be fixed ... will have a look on that ...

[2020-03-08 14:47] Marcel26990 commented on #349
Network seems to be alright now but:
[code]

[2020-03-08 14:50] sebhildebrandt commented on #349
@Marcel26990 within OpenVZ maybe there is no real mapping to physical `DiskLayout`... can you provide output of:

[code]

and

[code]

Thank you in advance

[2020-03-08 14:52] Marcel26990 commented on #349
lsblk -ablJO
[code]
lsblk -bPo NAME,TYPE,SIZE,FSTYPE,MOUNTPOINT,UUID,ROTA,RO,RM,LABEL,MODEL,OWNER,GROUP
[code]

[2020-03-08 15:00] sebhildebrandt commented on #349
@Marcel26990

concerning `operstate`: can you provide the output of

[code]

For `diskLayout: ok, I see the problem here ... will find a solution.

[2020-03-08 15:01] Marcel26990 commented on #349
cat /sys/class/net/venet0/operstate : **unknown**

[2020-03-08 15:03] sebhildebrandt commented on #349
@Marcel26990 OK, then my output is "correct" in terms ... if linux does not know, how should I ;-) ... closing this issue here but will inform you when I have a solution for diskLayout()

[2020-03-08 15:03] #349 closed

[2020-03-08 15:18] sebhildebrandt commented on #349
@Marcel26990 diskLayout ... I guess I have a fix for that now. Version 4.22.6 just released. Can you test it?

[2020-03-08 15:18] sebhildebrandt commented on #347
@SibertDekimo this is awesome! I just released a new version with this fix.

[2020-03-08 15:18] #347 closed

[2020-03-08 15:20] Marcel26990 commented on #349
[]

[2020-03-08 15:21] Marcel26990 commented on #349
/sys/block/sys/block/ploop30758/queue/ is empty

[2020-03-08 15:27] sebhildebrandt commented on #349
@Marcel26990 can you got into `node_modules/systeminformation/lib/filesystem.js`and there to line 762 ... there can you replace it with:

[code]

and post again results?

Thank you in advance

[2020-03-08 15:29] Marcel26990 commented on #349
si.diskLayout().then(d => console.log(d))

[2020-03-08 15:34] Marcel26990 commented on #349
So now I got another Problem:
[code]
gives out:
[code]
maybe its the same Issue as with the diskLayout

[2020-03-08 16:08] sebhildebrandt commented on #349
@Marcel26990 `diskLayout()`: mocked your data, now this should work. v 4.22.7 just released

`fsStats`: can you open another issue for that?

[2020-03-08 16:12] Marcel26990 commented on #349
`diskLayout():` works now:

[code]

[2020-03-08 16:18] Marcel26990 opened #350 "fsStats not working on Ubuntu OpenVZ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'fsStats'
2. code snippet
[code]
3. start app / code
4. See output/error:

**Current Output**
[code]
**Expected behavior**
Values for rx, wx, tx, rx_sec, wx_sec, tx_sec, ms

**Environment (please complete the following information):**
 - systeminformation pac

[2020-03-08 16:21] sebhildebrandt commented on #350
@Marcel26990

First, I would need the output of

[code]

then the following would be helpful:

[code]

[2020-03-08 16:23] Marcel26990 commented on #350
@sebhildebrandt
`lsblk 2>/dev/null | grep /`:
[code]
`cat /proc/diskstats`:
[code]

[2020-03-08 16:28] sebhildebrandt commented on #350
@Marcel26990 I read some articles now. So within OpenVZ not all counters are present. It doesn't expose all counters (like /proc/diskstats) to its containers. So therefore we cannot measure disk IO properly here.

[2020-03-08 16:28] #350 closed

[2020-03-08 16:43] Marcel26990 commented on #350
@sebhildebrandt `iotop` seems to be working with OpenVZ

[2020-03-08 16:49] Marcel26990 commented on #350
`sudo iotop -botqqqk --iter=60`
[code]

[2020-03-08 16:52] Marcel26990 commented on #350
https://www.binarytides.com/monitor-disk-io-iotop-cron/

[2020-03-08 16:54] sebhildebrandt commented on #350
@Marcel26990 not sure if iotop is always installed ... need to make further investigations

[2020-03-08 18:27] sebhildebrandt commented on #341
@emircokdogan So I now added an optional parameter to the `versions()` function:

[code]

would then return only

[code]

This param is optional and can be comma or just space separated. Names of the apps/libs need to be the same as in the full result (see docs). Hope that helps! Version 4.23.0 just released.

[2020-03-08 18:27] #341 closed

[2020-03-08 18:58] sebhildebrandt commented on #263
Closing it for now as I cannot find any reliable way to detect windows date format from within node. If anyone else discovers any other date time detection problems, please provide detailed information here (especially the output or `query user` on your machine)

[2020-03-10 14:20] adrifcastr commented on #340
I second this, awaiting 5 methods takes about 5 secs which is unfortunate.

[2020-03-12 13:54] tonesto7 opened #351 "Monitor for Network State Changes"
**Is your feature request related to a problem? Please describe.**
I would love to have the ability to monitor network connections for IP Change, Link Status, Wireless Network connect/disconnect events.
Right now I only need this for windows.

**Describe the solution you'd like**

**Describe alternatives you've considered**
I can't find any other node packages that accomplish this task.

**Additio

[2020-03-15 09:07] fgroupindonesia opened #352 "Where to get the Mouse / Keyboard Device?"
i'm still looking for the mouse device info but found nothing here.
Is there any way to get it through this systeminformation project?

Thanks in advance!

[2020-03-16 14:43] adambailey- commented on #230
Hey @sebhildebrandt! Thanks for finding this. I'm also having this problem, but when I try adding the suggested code to the end of my webpack configuration, I get an error and some warnings.

![Screen Shot 2020-03-16 at 9 42 26 AM](https://user-images.githubusercontent.com/10304518/76769455-855ed380-676a-11ea-82bd-6b555125b697.png)

Any advice you could provide would be helpful.

[2020-03-16 14:53] adambailey- commented on #230
Realized I needed to quote it. Regardless, it still does not fix the module not found warning :)

[2020-03-16 14:54] sebhildebrandt commented on #230
Just to be sure:

can you provide your package.json?

[2020-03-16 15:02] sebhildebrandt commented on #230
@adambailey- not sure if you were notified ...

Can you provide your package.json?

[2020-03-16 15:04] adambailey- commented on #230
Sure! I've removed some information in there that is definitely not useful (mostly release and testing information).

It's worth noting that this is an Electron app, and that the warning is especially visible when using `npm run watch`, as it shows up every time Webpack rebuilds

[code]

[2020-03-16 15:06] sebhildebrandt commented on #230
@adambailey-  for OS X you also need to add `osx-temperature-sensor`to your dependencies

[code]

[2020-03-16 15:13] adambailey- commented on #230
Installing that package unfortunately graduated the warning to an error. It's also worth noting that I don't actually need to read the temperature, I just want to suppress the warning / error

![Screen Shot 2020-03-16 at 10 11 32 AM](https://user-images.githubusercontent.com/10304518/76772269-9d385680-676e-11ea-9578-ac02bbbb174f.png)

[2020-03-16 15:18] sebhildebrandt commented on #230
@adambailey- ... which you probably then also need to the webpack config ... just a suggestion as I do not work with webpack at backend: so something like this:

[code]

[2020-03-16 15:34] adambailey- commented on #230
Same error. By the way, our Webpack setup isn't what that article is describing with a frontend and backend config. We have one config, whose target is `node`. I'll put the contents below. Also worth noting that adding this to the Webpack config still results in some WebStorm warnings. Changing the target to `web` doesn't change

![Screen Shot 2020-03-16 at 10 29 44 AM](https://user-images.githubu

[2020-03-17 17:45] kyleconnors opened #353 "si.networkStats() doesn't return values for rx/tx when running from Windows Server 2012"
**Running on Windows Server 2012 .
Node Version: 12.13.0
systeminformation version: 4.23.1**

**Code:**
    _si.networkStats()
    .then(data => {
        console.log(data)
    })
    .catch(error => console.error(error));_

**Returns:**
[{"iface":"ethernet 2","operstate":"unknown","rx_bytes":0,"rx_dropped":0,"rx_errors":0,"tx_bytes":0,"tx_dropped":0,"tx_errors":0,"rx_sec":-1,"tx_sec":-1,"ms":0}]

[2020-03-17 20:36] sebhildebrandt commented on #353
@kyleconnors can you provide some additional information?

1. As `networkStats()` without specifying a network interface provides network stats for the default interface, can you please post the output of

[code]

Is this the interface you would like to track?

2. to get proper `rx_sec?, ... values you need to do this:

[code]

see also here https://systeminformation.io/network.html for an explana

[2020-03-17 20:58] kyleconnors commented on #353
Use Case 1 & 2 code:

`var si = require('systeminformation');

const express = require('express');
const app = express();

si.networkInterfaceDefault()
.then(data => {
	console.log("use case 1 output:")
	console.log(data)
});

setInterval(function() {
    si.networkStats().then(data => {
		console.log("use case 1 output:")
        console.log(data);
    })
}, 1000);`

Use case 1 & 2 output:

D:\ky

[2020-03-17 21:01] kyleconnors commented on #353
Sorry, refer to this for use case 1 & 2 output:

Code:
`var si = require('systeminformation');

const express = require('express');
const app = express();

si.networkInterfaceDefault()
.then(data => {
	console.log("use case 1 output:")
	console.log(data)
});

setInterval(function() {
    si.networkStats().then(data => {
		console.log("use case 2 output:")
        console.log(data);
    })
}, 1000)

[2020-03-17 21:09] sebhildebrandt commented on #353
@kyleconnors so then the default network adapter (Ethernet 2) really seems to have no traffic, right ... Windows shows sometimes strange network names ... So can you try it with

[code]

to get data from the right interface?

[2020-03-17 21:12] kyleconnors commented on #353
That's working, thank you.

[2020-03-18 06:48] #353 closed

[2020-03-24 14:23] anilabsinc-harpreet opened #354 "Not able to get system information."
I used follwing function to get system information:
async function systemData() {
      try {
        const data = await si.system();
        console.log('system Information:', data);
      } catch (e) {
        console.log(e);
      }
    }
Promise status is 'Pending'.

[2020-03-24 17:14] sebhildebrandt commented on #354
@anilabsinc-harpreet can you provide some more information about OS, OS-Version, node Version, systeminformation version, hardware ...  Thank you in advance

[2020-03-24 17:19] sebhildebrandt commented on #354
@anilabsinc-harpreet testet the following code on different machines ... no issues. cannot reproduce your findings ...

[code]

[2020-03-25 04:13] anilabsinc-harpreet commented on #354
@sebhildebrandt I am using Linux operating system. Please check follwoing details:
os: 'Linux',
os-platform: 'x64',
node-version: '8.16.0',

Hardware details are:
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    2
Core(s) per socket:    2
Socket(s):             1
NUMA

[2020-03-25 06:22] sebhildebrandt commented on #354
@anilabsinc-harpreet I still cannot see which linux distribution you are using ... can you give some more details ... please also run

[code]

I also see your node version is pretty outdated ... (this should not be the reason for your issue)

[2020-03-25 06:34] anilabsinc-harpreet commented on #354
I execute the above mention command and it returns:

openwrt_release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.6 LTS"
NAME="Ubuntu"
VERSION="16.04.6 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.6 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bug

[2020-03-25 07:14] anilabsinc-harpreet commented on #354
@sebhildebrandt I really need system information. Could you help me on this?

[2020-03-25 07:50] sebhildebrandt commented on #354
@anilabsinc-harpreet ... very clear. Will make further investigation. I will try to test this on one of my older machines with Ubuntu 16.4 ... then I will again review my code ... will come back in the afternoon to share my findings.

[2020-03-25 07:56] sebhildebrandt commented on #354
@anilabsinc-harpreet ... testet it on ubuntu 16.4 (with node 6 insalled). As node 6 does not have `async` functions I did this:

[code]

... and it work with no issues ... can you in the meantime also try this exact code snippet?

[2020-03-25 08:00] sebhildebrandt commented on #354
@anilabsinc-harpreet and maybe you also can try (command line):

[code]

Please post all results here...

[2020-03-25 08:33] anilabsinc-harpreet commented on #354
@sebhildebrandt  I tried above mention code but didn't get anything and also execute all the above commands one by one, please check:
1. dmidecode -t system
# dmidecode 3.0
Getting SMBIOS data from sysfs.
SMBIOS 3.0.0 present.

Handle 0x0001, DMI type 1, 27 bytes
System Information
	Manufacturer: Dell Inc.
	Product Name: Vostro 15-3568
	Version: Not Specified
	Serial Number: 9FCJ0F2
	UUID: 4C4C454

[2020-03-25 09:09] sebhildebrandt commented on #354
@anilabsinc-harpreet: Ok, the underlying commands work as expected ...

To the test of my node code above ... what exactly happens, can try the following:

- can you start node
- then in node (interactive):
- copy/paste the above code ...
- and then post the full output ... I actually do not have a feeling that happens on your side ...

thank you in advance ...

[2020-03-25 09:28] anilabsinc-harpreet commented on #354
@sebhildebrandt Actually I didn't get anything when test above node code.

[2020-03-25 10:23] sebhildebrandt commented on #354
@anilabsinc-harpreet ...cant be ... when pasting the first line you should get at least something like:

[code]

And I would like to see al lines ...

[2020-03-25 11:21] anilabsinc-harpreet commented on #354
@sebhildebrandt I used same and it returns:
{ manufacturer: 'Dell Inc.',
  model: 'Vostro 15-3568',
  version: '',
  serial: '-',
  uuid: '',
  sku: '-' }
but when i am using same code in my project i am not getting anything

[2020-03-25 11:24] anilabsinc-harpreet commented on #354
@sebhildebrandt Please check this:

import si from 'systeminformation';
export const systemData = () => {
  let data = {};
  si.system().then((result) => {
    data = result;
  });
  return data;
};

and i am calling this function like this:

import * as Utilities from '../Utilities.js';
const sysData = Utilities.systemData();
console.log('sysData', sysData);

[2020-03-25 11:50] sebhildebrandt commented on #354
@anilabsinc-harpreet ... your return is at the wrong place. It should be:

[code]

or shorter

[code]

[2020-03-25 12:01] anilabsinc-harpreet commented on #354
@sebhildebrandt it return 'undefined'

One more thing: i am getting this Error while startimg my app:
"Module not found: Can't resolve 'osx-temperature-sensor' in '/home/kav/aa_harpreet/olympus/node_modules/systeminformation/lib'
"

Is this could be generate this issue?

[2020-03-25 12:11] sebhildebrandt commented on #354
@anilabsinc-harpreet ...

1. ok, so your code seems to be not correct. If you wrap si.system() in a function, then this also should be a promise or an async function ... which is not the case. I guess you need to refactor your own code. You can one more time verify that systeminfortmation is working correct by adding a console log INSIDE your `systemData` function just before the `return`.
2. for

[2020-03-25 12:45] anilabsinc-harpreet commented on #354
@sebhildebrandt  now am using :

import si from 'systeminformation';
export const systemData = async () => {
  const result = await si.system().then((data) => {
    return data;
  });
  return result;
};

and calling like this:
import * as Utilities from '../Utilities.js';
Utilities.systemData().then((result) => {
    console.log('sysData', result);
  });

this is not return anything

[2020-03-25 12:48] anilabsinc-harpreet commented on #354
@sebhildebrandt if i am directally use this:
const si = require('systeminformation');
si.system().then(data => console.log(data));

same thing happens, not getting any console.

[2020-03-25 12:52] sebhildebrandt commented on #354
@anilabsinc-harpreet I would be happy if you provide, what I asked for ...

To the test of my node code above ... what exactly happens, can try the following:

- can you start node
- then in node (interactive):
- copy/paste the above code ...
- and then post the full output (from your node-command will the end)... I actually do not have a feeling that happens on your side ...

And you replied that

[2020-03-25 12:55] anilabsinc-harpreet commented on #354
@sebhildebrandt

undefined

... 	console.log(result)
... })
Promise {
  <pending>,
  domain:
   Domain {
     domain: null,
     _events:
      [Object: null prototype] {
        removeListener: [Function: updateExceptionCapture],
        newListener: [Function: updateExceptionCapture],
        error: [Function: debugDomainError] },
     _eventsCount: 3,
     _maxListeners: undefined,
     members

[2020-03-25 13:47] sebhildebrandt commented on #354
@anilabsinc-harpreet Thank you ... will try to make some more investigation

[2020-03-25 13:50] anilabsinc-harpreet commented on #354
@sebhildebrandt I am still facing same issue and still getting this error:

Error in ./node_modules/systeminformation/lib/cpu.js
Module not found: Can't resolve 'osx-temperature-sensor' in '/home/site/node_modules/systeminformation/lib'

This is because of above error, i am getting Promise state 'Pending'. Rest you knows well.

Thank you.

[2020-03-25 14:48] sebhildebrandt commented on #354
@anilabsinc-harpreet ... is there any call stack for your `osx-temperature-sensor` error? This looks quite strange ... as already stated above ...

Not quite sure what is going on ... one question: do you use any transpiler or anything that changes code? The `Module not found ...` must not happen on a linux machine ...

[2020-03-25 14:50] sebhildebrandt commented on #354
@anilabsinc-harpreet last question ... already asked but did not get any answer to that: which version of systeminformation are you using? Just to be sure ...

[2020-03-25 15:32] anilabsinc-harpreet commented on #354
@sebhildebrandt i am using systeminformation version '4.23.1'.

[2020-03-25 15:48] anilabsinc-harpreet commented on #354
@sebhildebrandt I am not using any transpiler.

[2020-03-26 08:32] anilabsinc-harpreet commented on #354
@sebhildebrandt I want to tell you something. when i execute all the above commands that you told me to run like 'cat /sys/devices/virtual/dmi/id/product_name', at that time i added 'sudo' to give permissions. I think in your code you are executing commands without 'sudo' keyword.

[2020-03-26 13:26] anilabsinc-harpreet commented on #354
Hi @sebhildebrandt
I checked your package and put console in your package to verify. One thing is very strange that in 'system.js', you are getting platform using 'process.platform'. In my case, platform is 'undefined' and that's why it is not satisfying condition and not returing value. Now can you check that why it is happening. I am using 'systeminformation' in my Reactjs project and my react v

[2020-03-26 13:29] anilabsinc-harpreet commented on #354
Hi @sebhildebrandt
I checked your package and put console in your package to verify. One thing is very strange that in 'system.js', you are getting platform using 'process.platform'. In my case, platform is 'undefined', child_process is 'undefind' and that's why it is not satisfying condition and not returing value. Now can you check that why it is happening. I am using 'systeminformation' in my R

[2020-03-26 14:44] sebhildebrandt commented on #354
@anilabsinc-harpreet  Can you point me to your project? Is there a GitHub repository? If `process.platform` is `undefined` this is strange and not related to my package instead this might be related to the way you are using the package ... is this a backend project or are you using this code in the front end (react.js)?

[2020-03-27 04:27] anilabsinc-harpreet commented on #354
@sebhildebrandt I can't point you to my project. I am using this code in front end(ReactJS).
When i typing this in node, it returns 'linux' and this is correct, but in my project it returns 'undefined'.

[2020-03-27 06:35] sebhildebrandt commented on #354
@anilabsinc-harpreet THIS explains everything ... This is a node.js package (not intended to be used in a browser). As stated in the docs:

"It is supposed to be used as a backend/server-side library (will definilely not work within a browser)"

Please read the docs carefully. Closing this issue.

[2020-03-27 06:35] #354 closed

[2020-03-27 06:37] sebhildebrandt commented on #352
@fgroupindonesia thinking of adding a section to detect pointing and keyboard devices. Which platform are you using?

[2020-03-31 17:16] ricardopolo commented on #11
@sebhildebrandt are you still planning to implement show all nics?

[2020-03-31 17:22] juancampuzano opened #355 "si.networkInterfaces does not list all interfaces"
**Describe the bug**
I have a computer with two network interfaces. One interface is wireless and the other is wired. What happens is that systeminformation is only bringing me the interface that I have connected to the internet.

**To Reproduce**
**Example:** When I have a single interface connected to the internet.

![Screen Shot 2020-03-30 at 6 56 29 PM](https://user-images.githubusercontent.co

[2020-03-31 21:02] sebhildebrandt commented on #11
@lapsio yes, as I have another open issue where this is relevant, I will refactor `networkInterfaces()`

[2020-03-31 21:02] sebhildebrandt commented on #11
@ricardopolo  yes, as I have another open issue where this is relevant, I will refactor networkInterfaces()

[2020-03-31 21:04] sebhildebrandt commented on #355
@juancampuzano yes I am aware of this problem and need to refactor `networkInterfaces()`. Hope I will have time the next few days or weeks. Challenging time right now.

[2020-03-31 21:10] ricardopolo commented on #355
Thank you @sebhildebrandt !!

[2020-04-04 06:51] fgroupindonesia commented on #352
currently i'm in windows 7,8, 10 and also linux (ubuntu).
Perhaps do you have this enhancement to be the nearest plan?

[2020-04-04 12:05] sebhildebrandt commented on #352
@fgroupindonesia thank you. And yes, I am planning to release a first version next week. Will be great, if you can test it on different windows versions (as I currently only have Win 10 in home office). Regards

[2020-04-07 12:58] f3l1x commented on #230
Hi guys. This helped me.

[code]

No more warning.

[2020-04-07 18:28] adambailey- commented on #230
Thank you so much!

[2020-04-08 13:08] katrevich opened #356 "0 speed reported for Ryzen 5 2600X CPU"
![image (1)](https://user-images.githubusercontent.com/1773894/78787379-8fab7080-79aa-11ea-90a1-64c32073433b.png)

Version: 4.23.1

[2020-04-08 13:27] sebhildebrandt commented on #356
@katrevich ... which OS (and version) are you using?

[2020-04-08 13:43] katrevich commented on #356
Oops, sorry :)
It's Windows 10 (10.0.18362)

[2020-04-08 13:44] sebhildebrandt commented on #356
@katrevich just released a new version 4.23.2 ... can you test it on your side?

[2020-04-09 05:06] sebhildebrandt commented on #356
@katrevich did you had time to test the new version 4.23.2?

[2020-04-09 05:53] sebhildebrandt commented on #263
@jcolemn3 I guess I found a way to detect the date format from command line ... this will help to improve the parsing. Will try to implement this ...

[2020-04-09 11:13] ruk-na-Ziddi opened #357 "Does ischarging on battery info return true when system is 100% charged and the charger is connected."
Sorry to add this question in a wrong section as I couldn't see an option for **issue type as question**.

I wanted to understand what is difference between **acconnected** and **ischarging** attributes on battery response?

One difference I can think of is that acconncted returns true even when battery is 100% full and charger is connected but ischarging might return false for the same as battery

[2020-04-09 11:40] sebhildebrandt commented on #357
@ruk-na-Ziddi this actually depends on the OS we are talking about. The "discharging" information is determined differently on the different systems as some of them specifically return confirmation if they are charging (independent of the charging level) ...

So the question is, which OS are you using?

[2020-04-09 11:46] ruk-na-Ziddi commented on #357
Hi @sebhildebrandt I'm using windows 10 OS.

[2020-04-09 11:55] sebhildebrandt commented on #357
@ruk-na-Ziddi Windows actually gives information if it is charging or not (BatteryStatus). Still, I had to make some calculation because this status depends on the underlying hardware. So here is how I determine if the battery is charging `ischarging`:

IF
- windows knows, that the system is charging (not supported on all systems)

OR

- the windows battery status is NOT "fully charged" AND the wi

[2020-04-09 11:58] ruk-na-Ziddi commented on #357
Awesome @sebhildebrandt That helps a lot.
Just clearing my understanding again, This means if battery status is **Fully charged** then, on windows OS **ischarging** will return false even when charger is connected.

[2020-04-09 11:59] sebhildebrandt commented on #357
@ruk-na-Ziddi Correct! Closing this for now, OK?

[2020-04-09 11:59] #357 closed

[2020-04-09 12:06] ruk-na-Ziddi commented on #357
Thanks @sebhildebrandt

[2020-04-11 10:51] sebhildebrandt commented on #356
@katrevich closing it for now. Please be sure to test this new version and please give some feedback here.

[2020-04-11 10:51] #356 closed

[2020-04-17 20:50] GuilhermeDaniluski opened #358 "si.services(cb) not showing systemctl services"
**Describe the bug**

I have severals custom systemd services running
When i run si.services('my-custom-service') i don't get any info from the service.

It seens to be only working with initd.

**Environment**
 - OS: Ubuntu Server 18.04 LTS
- Arch: Arm64
 - Hardware: Raspberry Pi 3 Model B

Thank you for this amazing work.

[2020-04-17 21:16] sebhildebrandt commented on #358
@GuilhermeDaniluski thank you for your discovery. Need to check it ... will do this on Sunday.

[2020-04-19 08:16] Turutupa opened #359 "CPU Speed always prints max value"
**Describe the bug**
Wether I use the cpu or cpuCurrentspeed I always the max value of my CPU not the current one.

I am running Windows 10.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.cpu' and 'si.cpuCurrentspeed' and I always get the same value, in min, max and average.
2. code snippet `const si = require("systeminformation");

// promises style - new since version 3

[2020-04-19 09:04] sebhildebrandt commented on #359
@Turutupa this is due to the nodes implementation in Windows. For other OS nodejs provides proper information per core when  you try:

[code]

But in Windows this returns the same speed information for all cores

Example Output for Linux:

[code]

As you can see the `speed` is different per core. I am currently trying to implement another way for Windows (version 10) that might be better than the

[2020-04-19 09:44] Turutupa commented on #359
Hey, thanks for the quick response, good to know! This would be an awesome feature to have.

Keep up the good work, the tool is amazing! 👏👏🙌😃

[2020-04-19 10:40] sebhildebrandt commented on #359
@Turutupa I made some more research and this is quite complicated because the performance counter keys in windows are translated (does not make sense to me!). So basically getting the right counters would first need to be translated. As I also found a way to get the correct values this would be doable but this is a time consuming (getting translations strings takes several seconds).... :-( ... I d

[2020-04-19 10:59] sebhildebrandt commented on #358
@GuilhermeDaniluski can you see your service in the linux process list? Can you try to run

[code]

and have a look if you see your service there? Maybe the name of the service is a little bit different?? If you see your service here with a different name (normally it should be the command, how you started your service) ... can you then test with systeminformation with THIS name.

E.g., I have a s

[2020-04-19 11:01] Turutupa commented on #359
@sebhildebrandt I have been researching and perhaps this is doable with python. I'd rather do it with node cause I am developing an Electron.js app but as long as it works I'm fine with it. This would be the code snipper

`import wmi

computer = wmi.WMI()
computer_info = computer.Win32_ComputerSystem()[0]
os_info = computer.Win32_OperatingSystem()[0]
proc_info = computer.Win32_Processor()[0]
gpu_i

[2020-04-19 11:22] Turutupa commented on #359
Yeah.. I don't know how to get this value... Even trying to get it from cmd is hard... it always shows my max clockspeed :(

[2020-04-19 11:40] sebhildebrandt commented on #359
@Turutupa to your above code: This does not give the current cpu frequency. There IS one method (using PowerShell) to get it but the problem is, that I need to translate the counter key values (Microsoft made it hard to get this language independent ... don't know why) ...

[2020-04-19 11:42] Turutupa commented on #359
Just out of curiosity, how do you get it via powershell? Because I was trying to figure it out and still was only able to get Max Clock Speed :(

[2020-04-19 11:47] sebhildebrandt commented on #359
Can you try this in PowerShell and provide the results here:

[code]

I will then implement is this way as a first step with untranslated key strings (which then will only work in English windows versions)

[2020-04-19 11:50] Turutupa commented on #359
Sorry it is unformatted but you can get the idea. The values are always the same.

[code]

[2020-04-19 11:51] sebhildebrandt commented on #359
@Turutupa Thank you!
OK so also not a way to go ... :-(

[2020-04-19 13:54] Turutupa commented on #359
@sebhildebrandt Unfortunately not 😅😅😅

[2020-04-19 16:19] sebhildebrandt commented on #359
closing this for now, as I do not really see a way to solve this.

[2020-04-19 16:19] #359 closed

[2020-04-20 08:58] sebhildebrandt commented on #263
@jcolemn3 just released a new version where date time parsing is optimised to better reflect culture settings

[2020-04-20 08:58] #263 closed

[2020-04-20 12:05] GuilhermeDaniluski commented on #358
Oooh i am really glad for your help, it worked!

My custom service runs a bash file that runs a node script.

So with si.services i can get information both of the execution of the bash file(send_mongo_to_remote.sh) or of node script(index.js), simply by passing the name of the file as below.

![image](https://user-images.githubusercontent.com/39890571/79749153-159db480-82e5-11ea-8301-c8e98bba838a

[2020-04-20 12:05] #358 closed

[2020-04-24 21:18] osan15 opened #360 "The callback of function networkGatewayDefault is never called"
**Describe the bug**
networkGatewayDefault

**To Reproduce**
When all network interfaces are disabled on linux (Ubuntu 18.04), when calling the networkGatewayDefault function it never enters the callback function.

I found the problem in file systeminformation/lib/network.js on line 1386.

[code]
The problem is in this function, in case the command "ip route get 1" returns an error. There is no "e

[2020-04-25 08:15] sebhildebrandt commented on #360
@osan15 thank you, need to check it! Will provide a fix for that ...

[2020-04-25 08:17] sebhildebrandt commented on #332
@OmgImAlexis ... done for most of the functions. I will try continuously try improve it. If you have further comments, just feel free to send me your hints ... closing it for now.

[2020-04-25 08:17] #332 closed

[2020-04-25 17:08] sebhildebrandt commented on #360
@osan15 fixed ... version 4.23.6 just released

[2020-04-25 17:08] #360 closed

[2020-04-26 09:08] Apollon77 opened #361 "Cannot read property 'length' of undefined in getCpuCurrentSpeedSync"
Exception from user system catched by an integrated Sentry:

[code]

[2020-04-26 09:09] Apollon77 commented on #361
The line is "if (cpus.length) {"

[2020-04-26 09:11] sebhildebrandt commented on #361
@Apollon77 Will check it ... give me a little time ...

[2020-04-26 09:17] sebhildebrandt commented on #361
@Apollon77 ... you are sure that this runs server side with `node`?? `cpus` is defined on line 692:

[code]

so this should not be undefined. Can you confirm this? Can you also provide within your app a console.log of `os.cpus()

[2020-04-26 09:50] sebhildebrandt commented on #361
@Apollon77 ... I just had a look at the project where you are using `systeminformation` (https://github.com/iobroker-community-adapters/ioBroker.info/) ... which tells me, that this is used server side ... I still wonder, why `os.cpu()` is `undefined` in your case. Can you provide more information about your `node.js` version, OS, platform (VM or bare metal), hardware ... and provide the output of

[2020-04-26 09:56] Apollon77 commented on #361
Yes it is Server side. I can not provide more logs. We just got this error via integrating sentry as automated error reporting. So in my eyes it would mean „do not trust that os.cpus always return a value“ ;-))

[2020-04-26 09:58] Apollon77 commented on #361
Some Infos to sentry: it is a service where we get exceptions from user computers. So it did. Not happen on any system we have access to.

The topic is also the we can not try/catch it because it runs async. :-(

So sorry i can not provide more info then „it happened“

[2020-04-26 12:10] sebhildebrandt commented on #361
@Apollon77 the thing is, that I cannot add code to all `node.js` objects  to test if they exist. In this case I can (and will add some code) but still:

1. I need to now more about your environment: node.js version, OS, platform (VM or bare metal), hardware ...
2. can you go into your code (or to be more specific - my systeminformation code) in

[code]

There in line 693 below the line `let cpus =

[2020-04-26 12:35] Apollon77 commented on #361
I completely understand the challenge. But it completely runs on my system. This error is from some user somewhere in the world and I can not contact him.

[2020-04-26 12:41] Apollon77 commented on #361
If you can not do more without the data just close the issue. Completely ok for me. I just wanted to report it.

And yes it is very strange that nodejs returns an expected value here :-(

[2020-04-26 14:16] sebhildebrandt commented on #361
@Apollon77 Ok, understand. Just released a version which should catch this issue but still I am not happy with that ;-) Closing this for now. Version 4.23.7 just released.

[2020-04-26 14:16] #361 closed

[2020-04-26 15:32] Apollon77 commented on #361
Thank you very much.

Should I report more such error if they come up also without having more details or not?

[2020-04-26 15:39] sebhildebrandt commented on #361
@Apollon77 yes please. Maybe we detect some pattern here. Thank you in advance.

[2020-04-26 16:06] Apollon77 opened #362 "Error: Command failed: export LC_ALL=C; /sbin/ip link show up; unset LC_ALL"
Another Sentry reported issue from one of our users (again, no access to the causing environment):

https://sentry.iobroker.net/share/issue/557c7bf87c7443a38cb979ac31b78834/

[code]

[2020-04-26 16:06] Apollon77 commented on #361
Ok, second one created :-)

[2020-04-26 16:53] sebhildebrandt commented on #362
@Apollon77 thank you Ingo, here a try catch block was missing. I added it and this should now work. Version 4.23.8 just released.

[2020-04-26 16:53] #362 closed

[2020-04-26 17:02] sebhildebrandt commented on #362
@Apollon77 btw: the sentry link helped ... would be great if you can add this each time you find an issue. Thank you in advance.

[2020-04-26 20:29] Apollon77 commented on #362
Thank you for your fast reaction ... will do!

[2020-04-29 09:22] Apollon77 opened #363 "TypeError: Cannot read property 'times' of undefined in cpus"
Hi, another Sentry report. I think this time maybe because of the other fix.

https://sentry.iobroker.net/share/issue/01a3eda32c874089bf5c3a2e04e8325f/

[code]

In fact "if cpus is empty you set core count to 1 and try to access first array element of (empty) cpus ...
https://github.com/sebhildebrandt/systeminformation/blob/master/lib/cpu.js#L1148

[2020-04-29 09:25] sebhildebrandt commented on #363
@Apollon77 will check it ...

[2020-04-29 09:34] sebhildebrandt commented on #363
@Apollon77 Version 4.23.9 just released

[2020-04-29 09:34] #363 closed

[2020-04-29 17:21] muffeeee opened #364 "Add netmask/subnet size"
**Is your feature request related to a problem? Please describe.**
We currently have the option to get a lot of network information about the client. However, we are not able to get the current network mask or subnet size (e.g. `255.255.255.0` or `/24)`

**Describe the solution you'd like**
IMO the best solution would be to add a `"netmask":` key and value for each of the interfaces in the `networ

[2020-04-29 20:36] sebhildebrandt commented on #364
@muffeeee ... yes very clear. Will add it!

[2020-04-30 03:28] snuffysasa opened #365 "Not able to access temperature information on Ubuntu"
**Describe the bug**
Trying this package on Ubuntu 18 with node v8.10

[code]

**Current Output**
[code]

**Steps I've Tried**
- Running node as root
- sudo apt-get install lm-sensors

[2020-04-30 04:22] sebhildebrandt commented on #365
Hi @snuffysasa ... this cannot work because you are using the returned object incorrectly. E.g. data.manufacturer is NOT a key of the temperature object:

This is how it should look like:

[code]

And this would be the output:

[code]

[2020-04-30 04:26] snuffysasa commented on #365
@sebhildebrandt

thank you for support.

However, I actually started with what you are suggesting here. And I get this output:

`{ main: -1, cores: [], max: -1 }`

The reason I used the method in my original question was because I copied it out of the readme for this package and wanted to match that

[2020-04-30 04:31] sebhildebrandt commented on #365
@snuffysasa can you post (from the console - as text) the output of

[code]

as well as

[code]

and

[code]

[2020-04-30 04:46] snuffysasa commented on #365
@sebhildebrandt

Okay great! Think we are hitting the core of the problem.

I do not have the folder /opt/vc  but I do /opt

I do not have the folder /sys/class/thermal/thermal_zone*  but I do /sys/class/thermal/

sensors output is:

`asus-isa-0000
Adapter: ISA adapter
cpu_fan:        0 RPM

k10temp-pci-00c3
Adapter: PCI adapter
Tdie:         +38.2°C  (high = +70.0°C)
Tctl:         +65.2°C

k10tem

[2020-04-30 05:26] sebhildebrandt commented on #365
@snuffysasa clear! Thank you. Yes and anyway I want to cover ad much cases as possible with this. So the last thing I would need: Output of

[code]

Thank you in advance! Will provide a solution for that this evening.

[2020-04-30 06:17] snuffysasa commented on #365
[code]

[2020-04-30 06:17] snuffysasa commented on #365
I think that 70000 is a 'max' temp

[2020-04-30 06:37] sebhildebrandt commented on #365
@snuffysasa thank you once again ... I can reproduce (and test) this also on one of my machines here. I will provide a solution tonight.

[2020-04-30 20:02] tiagoaleff opened #366 "Suggestion of feature to show of percentage of usage CPU"

[2020-04-30 20:16] sebhildebrandt commented on #366
@tiagoaleff what is the issue here??
Please be more specific when opening issues.  Thank you in advance.

[2020-04-30 20:55] tiagoaleff commented on #366
Sorry. It was a suggestion of feature to show of percentage of usage CPU system. When I was looking the documentation I don't find something to show the percentage of CPU used by system. Sorry by my English.

[2020-05-01 06:18] sebhildebrandt commented on #366
@tiagoaleff this is actually implemented already. `si.currentLoad(cb)` should provide this. Right?

[2020-05-01 08:25] sebhildebrandt commented on #365
@snuffysasa fixed. Version 4.23.10 just released. Can you test it on your side?

[2020-05-01 08:25] #365 closed

[2020-05-01 08:25] #366 closed

[2020-05-01 17:11] sebhildebrandt commented on #344
@mrTorb I did some research, `dxdiag /t` is not really an option because it needs to create a file on the target system. I would like to avoid that because that could cause other issues. Currently I do not see an option to detect this correctly from within node.js. Closing it for now.

[2020-05-01 17:11] #344 closed

[2020-05-01 17:15] snuffysasa commented on #365
@sebhildebrandt

Thank you! So now, I have main temp. but cores is empty array, and max is -1.

However, this is good for what I'm working on, so I'm content.  However, let me know if you want me to test anything more.

Cheers

[2020-05-01 17:18] sebhildebrandt commented on #365
@snuffysasa thank you for testing ... can you provide output of:

[code]

I will then mock your output an see what I did wrong ;-)

Thank you!

[2020-05-01 17:21] sebhildebrandt commented on #365
@snuffysasa One more thing: can you do one more thing:

[code]

[2020-05-01 17:50] snuffysasa commented on #365
@sebhildebrandt  Sure thing.

[code]

[code]

[2020-05-01 17:59] snuffysasa commented on #365
Whats the difference between

cat /sys/class/hwmon/hwmon0/temp1_input
and
cat /sys/class/hwmon/hwmon1/temp1_input

[2020-05-01 18:04] sebhildebrandt commented on #365
@snuffysasa so do you have both?? can you provide this?

And also

[code]

Your output is a little bit different to what I expected. After dome research I found out the difference between `Tdie` ans `Tctl` ...

TDIE is the temperature of the die and TCTRL is this value + 27 degrees offset for controlling the fans. In your case: which one was shown by systeminfo (the higher or the lower one)?

[2020-05-01 18:23] sebhildebrandt commented on #364
@muffeeee just added subnet mask for ip4 and ip6. Version 4.24.0 just released.

[2020-05-01 18:23] #364 closed

[2020-05-01 18:24] snuffysasa commented on #365
Systeminfo is providing the lower one (tdie)

also... so I have

hwmon0/temp1_input (tdie)
hwmon0/temp2_input (tctl)
hwmon1/temp1_input (tdie) again?
hwmon1/temp2_input (tctl) again?

here is the output of /hwmon0/  ls -lsa

[code]

[2020-05-01 18:27] sebhildebrandt commented on #365
@snuffysasa So are the values in hwmon0 and hwmon1 different?

[code]

[2020-05-01 18:35] snuffysasa commented on #365
Hard to say, I think a little different.

[code]

[2020-05-01 18:39] sebhildebrandt commented on #365
@snuffysasa OK, then one of them is OK.

I just released version 4.24.0. Can you test it once again and provide the output from systeminformation? The cores should be empty in your case but main and max should be set. To be sure what value is displayed, can you also provide

[code]

one more time?
Thank you for your support!

[2020-05-01 18:45] sebhildebrandt commented on #170
@angels2it I did not find a reliable method to better detect the VRAM so far. Closing it for now.

[2020-05-01 18:45] snuffysasa commented on #365
Okay so first, here is this:

Tdie
Tctl
---
29875
56875

[2020-05-01 18:47] snuffysasa commented on #365
And I updated to that version and here is the output

[2020-05-01 18:47] #170 closed

[2020-05-01 18:48] sebhildebrandt commented on #365
@snuffysasa perfect. Thank you! Will leave it like that. As said. as I do not have information about cores, the array Is empty. Hope this is fine for you.

[2020-05-01 19:05] snuffysasa commented on #365
Yep works for me.  And I don't need the max..

but shouldn't it say 70?

[2020-05-02 00:05] viegasdom opened #369 "Process name with space has an incomplete name property"
**Describe the bug**
There are cases where if the name of the process has a space the second half of the name ends up in the process params property.

**To Reproduce**
Using the function `si.processes`
[code]

**Current Output**
[code]

**Expected behavior**
[code]

**Environment (please complete the following information):**
 - systeminformation package version: 4.24.0
 - OS: macOS
 - Hardware: M

[2020-05-02 04:39] sebhildebrandt commented on #369
@viegasdom thank you for your findings and for your fix! I see the problem but your fix does not cover all problems here. I will try to make a fix here today.

[2020-05-02 14:28] viegasdom commented on #369
I imagined there was some edge case that I might overlooked! Thank you @sebhildebrandt for looking it up.

[2020-05-03 06:03] sebhildebrandt commented on #369
@viegasdom so I finally had do do it a little bit different ... version 4.24.1 just released.

[2020-05-03 06:03] #369 closed

[2020-05-04 09:21] chauhansaurabhb opened #371 "Can I check whether a windows OS update is available or not"
Hi,

I found this node package very useful but one thing is missing (If I am right) that I am currently looking for. How to check whether a windows OS update is available or not using this package?

Existing approaches:
I read several blogs and StackOverflow questions and got the following answers:
- Using `wmic qfe` list but this gives information about the already installed update.
- Using the f

[2020-05-04 09:23] sebhildebrandt commented on #371
@chauhansaurabhb nice idea! Will make investigation here and provide something (hopefully) useful.

[2020-05-04 09:30] chauhansaurabhb commented on #371
@sebhildebrandt : Thank you looking forward!

[2020-05-06 05:30] Apollon77 opened #372 "TypeError: Cannot read property 'split' of undefined (ioBroker Sentry Report)"
And once more :-)

This time it is a "not verified for existence" error:

https://sentry.iobroker.net/share/issue/8f574e45024c44d3af3800124700e059/

[code]

You should check that data[1] exists after split and before using it or also add an emty string as fallback.

[2020-05-06 09:40] sebhildebrandt commented on #372
@Apollon77 very clear, my fault here! In line 513 I should do

[code]

will provide a fix soon.

[2020-05-06 10:17] sebhildebrandt commented on #372
@Apollon77 should work now. Version 4.24.2 just released.

[2020-05-06 10:17] #372 closed

[2020-05-06 21:24] Apollon77 commented on #372
Thank you ver ymuch for the very fast fixes!

[2020-05-07 05:37] sebhildebrandt commented on #340
@Mlocik97-issues I just released a new version 4.25.0 which includes a possibility to provide a value object to a `get()` function which results in an object with just the wanted properties. See example in the documentation https://systeminformation.io/general.html

[2020-05-07 05:37] #340 closed

[2020-05-09 03:15] ishan3350 opened #373 "getAllData is not returning available wifi networks"
getAllData is not returning available wifi networks

[2020-05-12 14:14] sebhildebrandt commented on #373
@ishan3350 added to `getDynamicData()` and `getAllData()`. Version 4.25.2 just released.

[2020-05-12 14:14] #373 closed

[2020-05-13 03:36] ishan3350 commented on #373
Thank you for quick update. Appreciate your efforts!

[2020-05-14 21:25] ricardopolo commented on #355
@sebhildebrandt any news about this one?

[2020-05-15 10:07] youyinnn opened #374 "processes() Memory Leak"
**Describe the bug**

`si.processes()` will consume too many memories when calling it every second (short interval)

**To Reproduce**

[code]

**Current Output**

Without this code,  my app will just use **10M~15M** memories otherwise it will raise to **48M~52M** memories.

This will not occur when calling method repeatly in a long interval (e.g 10s)

**Expected behavior**

The raising memories wi

[2020-05-15 11:41] sebhildebrandt commented on #374
@youyinnn will make some investigation here ...

[2020-05-15 12:48] Mlocik97-issues commented on #340
thanks so much

[2020-05-20 13:51] KentLeong opened #375 "cpuTemperature not working"
**Describe the bug**
si.cpuTemperature() does not properly show temps

**To Reproduce**
Steps to reproduce the behavior:
`si.cpuTemperature(data => { console.log(data)})`

**Current Output**
If applicable, add output to help explain your problem.
`{ main: -1, cores: [], max: -1}`

**Expected behavior**
A clear and concise description of what you expected to happen.
show actual temps

**Environment

[2020-05-20 17:52] Apollon77 opened #377 "TypeError Cannot read property 'replace' of undefined in cpu.js"
Another Sentry report, again an unchecked "spliit result" topic

https://sentry.iobroker.net/share/issue/e84b560c00474bc182d173ac832dd0ce/

https://github.com/sebhildebrandt/systeminformation/blob/99dfcef035c6759815d03cffb0e18b270ced9f58/lib/cpu.js#L852

[code]

[2020-05-21 08:11] sebhildebrandt commented on #374
@youyinnn Memory raising to 48M - 52M is not unusual. A memory leak would be, if the memory increases steadily and GC has no chance to free memory. I detected some spots, where this could happen and corrected that.

[2020-05-21 08:25] sebhildebrandt commented on #377
@Apollon77 thank you once again! Corrected. Version 4.26.4 just released

[2020-05-21 08:26] #377 closed

[2020-05-21 08:34] sebhildebrandt commented on #375
@KentLeong Thank you for discovering and reporting! I had a similar problem three weeks ago and I thought it is fixed (unfortunately we see that there is still a problem on AMD boards)

Can you provide the output of

[code]

Thank you in advance! The output `sensors` you already posted, so I think, there is a way for a fix ;-)

[2020-05-21 09:44] youyinnn commented on #374
@sebhildebrandt I agree with you. I think the `data` of the `processes()` might be stuck somewhere and still got references linking on it, so GC will no do its job. Thanks for investigating.

[2020-05-21 15:25] Apollon77 commented on #377
You‘re welcome

[2020-05-21 19:17] KentLeong commented on #375
@sebhildebrandt Thanks for your speedy response!

It seems that the issue was fixed after restarting the server haha..

I outputted the results for this for your reference if you still wanted to see though:
[code]

[code]

[2020-05-21 19:18] #375 closed

[2020-05-27 09:47] komorebi-san commented on #375
Hi guys,

I have the same issue. Here is the sensors output

[code]

And also

[code]

[2020-05-27 09:59] nicsaul commented on #246
Do we have a feature to know the connected wifi? Thanks!

[2020-05-27 18:05] sebhildebrandt commented on #375
@komorebi-san can you post the output of `temp1_input`?

[2020-05-27 18:06] sebhildebrandt commented on #375
I just released a new version (4.26.5) which anyway should fix the issue. @komorebi-san can you confirm that the new version shows temperature values on your machine now?

[2020-05-28 02:06] komorebi-san commented on #375
@sebhildebrandt Thank you so much! I have updated to the latest version (4.26.5) and it works now.

[2020-05-30 12:32] chuckwondo opened #378 "Provide contributor instructions"
Please provide instructions for building and testing the package. I've forked this repo, and I successfully ran `npm install`, but none of the other npm scripts work, such as `npm test`, `npm run compile`, and `npm run test-bare`, so I can't do anything in an attempt to provide changes suitable for a PR. How are you even building and testing this yourself?

[2020-06-01 21:17] ishan3350 commented on #378
If you have npm installed in your workstation/server then run npm install systeminformation --save and then you can use functions depending upon your needs. For detailed information please refer to below URLs.

https://www.npmjs.com/package/systeminformation
https://systeminformation.io

I hope this helps!

Thank you,

Best Regards,
Ishankumar Patel

[2020-06-01 21:19] ishan3350 opened #379 "Please provide unit for uptime"
Can someone please provide unit for uptime value? If possible please also update the documentation. Thank you!

[2020-06-02 05:42] #379 closed

[2020-06-02 06:05] sebhildebrandt commented on #378
I am currently testing all functions with scripts against different machines/OS here locally. So I have some test procedure here. But you are right, would make sense to include this also to the repo. All other instructions can be found here:

https://github.com/sebhildebrandt/systeminformation/blob/master/docs/CONTRIBUTING.md

[2020-06-02 06:05] #378 closed

[2020-06-02 06:13] sebhildebrandt commented on #379
@ishan3350 ... you are right, this was missing: uptime is in number of seconds. Just added it to the repo.

[2020-06-02 09:14] koppa96 opened #380 "Promise pending forever"
**Describe the bug**
The Promise returned by the graphics() method is pending forever, neither returns a result, nor throws an error.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Return the information about the displays of my computer.

**Environment (please complete the following information):**
 - systeminformation package version: 4.23.5
 - OS: Windows 10 x6

[2020-06-02 09:21] sebhildebrandt commented on #380
@koppa96 thank you for reporting ... need to test this locally here. In the meantime, can you provide output of the following commands:

at command line:

[code]

in powershell

[code]

Thank you in advance

[2020-06-02 09:23] sebhildebrandt commented on #374
@youyinnn do you still experience memory leaks here? I made some changes and I am curious if this still increases permanently? Can you test this on your side one more time?

[2020-06-02 09:27] koppa96 commented on #380
The output of `wmic path win32_VideoController get /value`:
[code]

The output of `wmic path win32_desktopmonitor get /value`:
[code]

The output of `Get-CimInstance -Namespace root\wmi -ClassName WmiMonitorBasicDisplayParams | fl`:
[code]

The output of `Add-Type -AssemblyName System.Windows.Forms; [System.Windows.Forms.Screen]::AllScreens`:
[code]

The output of `gwmi WmiMonitorID -Namespace roo

[2020-06-02 09:29] sebhildebrandt commented on #380
@koppa96 Perfect, thank you, will try to mock this and see what happens here on my side ...

[2020-06-02 09:44] koppa96 commented on #380
It was my fault, sorry, I now know why it didn't work. I used electron forge to make my projects, with webpack, but it is buggy and copies native libraries to a wrong folder, and I forgot to include this library to my webpack copy plugin. :(
Sorry for wasting your time, it's working now.

[2020-06-02 09:44] #380 closed

[2020-06-02 13:50] youyinnn commented on #374
@sebhildebrandt Hi~, I just upgrade the package from `^4.26.1` to `^4.26.5`, and the memories consumption is still the same. I guess that's it and that's what it should be. I cannot demand more from it.

But still, I wrote a little case for you to quickly check and experience this, it compared 3 libs in terms of fetching process list. I hope you can find something.

package.json
[code]

index.js
[

[2020-06-03 10:31] raphaellage opened #381 "Display roundtrip latency from process with network activity"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I would like a feature to get all process with network activity and display their Roundtrip Latency

**Describe alternatives you've considered**

**Additional context**
This information can be seen on Windows in Resource Monitor under TCP Connections section

![roundtrip_latency](https://user-i

[2020-06-03 12:18] Ks89 opened #382 "getAllData("", "eth0") hangs without closing the promise (systeminformation >=4.26.0)"
**Describe the bug**
When I try to use getAllData("", "eth0").then(...) I don't receive an answer and .then() is never invoked in version 4.26.0 or greater.

*I read the known issue about smartmontools and I'm sure that I'm not using this package, because I'm working on an embedded system with a minimal linux distribution. So, probably, this is the cause of this problem.*

**Expected behavior**
I

[2020-06-03 14:29] sebhildebrandt commented on #382
@Ks89 thank you for your report. To be more specific, it would be great to identify which function does not work:

Can you test the following separately:

[code]

[2020-06-03 15:01] Ks89 commented on #382
As you suggested, I tried to run this:
[code]

but it doesn't log anything because si.diskLayout() hangs.
The promise doesn't complete.

[2020-06-03 15:03] sebhildebrandt commented on #382
@Ks89 very clear, I guess I know where the problem is. Will provide a fix tonight.

[2020-06-03 18:04] sebhildebrandt commented on #382
@Ks89 can you test the latest version 4.26.6? Should fix your issue.

[2020-06-04 07:29] Ks89 commented on #382
Now it's working, thank you for the fix

[2020-06-04 07:29] #382 closed

[2020-06-04 10:42] sebhildebrandt commented on #382
@Ks89 happy that this is fixed now. Thank you for testing it.

[2020-06-05 22:28] kassimir opened #384 "Wifi speed always the same."
**Describe the bug**
I have an app that checks the wifi speed intermittently, and it always returns whatever the very first value is. I've had it return the same value for 3 days, but as soon as I restart the app, the speed is different.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.networkInterfaces().find(i => i.iface === 'Wi-Fi 2').netspeed' (obviously this only works,

[2020-06-06 12:46] sebhildebrandt commented on #384
@kassimir thank you for your findings here. As scanning for network interfaces is a quite intense operation I am caching the results where possible. So I will change this behaviour here. Will inform you if this is done. But be sure to not scan this to often ... getting all network information on windows takes up to 3 seconds!

[2020-06-06 13:49] sebhildebrandt commented on #384
@kassimir thank you for your findings here. As scanning for network interfaces is a quite intense operation I am caching the results where possible. So I will change this behaviour here. Will inform you if this is done. But be sure to not scan this to often ...

[2020-06-06 13:52] sebhildebrandt commented on #384
@kassimir Just released a new version where this caching only happens where really needed (just for internal purposes) Version 4.26.8 just released. Can you test it on your side?

[2020-06-06 14:05] sebhildebrandt commented on #277
@NWIron sorry for the late reply! I now published a fix for this issue. Version 4.26.9 just released. Can you test it on your side?

[2020-06-06 14:05] #277 closed

[2020-06-06 14:07] sebhildebrandt commented on #267
@lollobaldo @jeroenm2 can you test it one more time on your side. Made some changes recently. latest version now is 4.26.9

[2020-06-06 14:07] #267 closed

[2020-06-14 00:21] #374 closed

[2020-06-23 20:40] krishnaBharadwaj opened #385 "call to networkStats blocks process"
**Describe the bug**
I'm making calls to networkStats at regular intervals (3 seconds apart) to collect network traffic data for performance monitoring in a node.js server. Everything was working nicely up to version 4.23.1. From 4.23.2 onward, the calls seem to take up unusually long time to get back with the response or / and seem to block the server process.

**Code Snippet**

 	var sysInfo = r

[2020-06-23 20:42] sebhildebrandt commented on #385
@krishnaBharadwaj will make some investigation tomorrow morning.

[2020-06-23 20:54] #384 closed

[2020-06-23 22:16] davidmoshal opened #386 "Ability to get system information from a remote server"
Ability to get system information from a remote system.

Ideally this would work through regular ssh without having to install an "agent" on the remote server.

Alternatively if that's not possible, a docker image would be better be a preferred agent, ie: without having to install node on the remote host.

The docker image (agent) should be able to get system information from the host, not just th

[2020-06-24 05:31] sebhildebrandt commented on #386
@davidmoshal getting that detailed information from a remote server is not that simple across all operations systems. So then you NEED to have some kind of software or script on the remote machine. And you then have to decide if this is a pull or push approach for getting client information. Docker might be a nice idea (will test this) but then you need at least docker to be installed on the remot

[2020-06-24 05:31] #386 closed

[2020-07-03 00:53] zj1838277795 opened #387 "How to improve the speed of obtaining the serial number of the disk"
I use the 'disLayout' to get the serial number of filesystem, but it 'console.log' the serial number after 2 seconds. How can I improve the speed.

[2020-07-14 04:25] xlch88 commented on #148
https://github.com/sebhildebrandt/systeminformation/pull/388

[2020-07-16 07:18] sebhildebrandt commented on #387
@zj1838277795 I guess, you are working on a windows platform, right?
WMIC is quite slow but the only possibility to obtain all the informations we want in systeminformation. Currently I do not really see a possibility to speed this up.

[2020-07-16 08:44] sebhildebrandt commented on #385
@krishnaBharadwaj ... fixed issue. Version 4.26.10 just released.

[2020-07-16 08:44] #385 closed

[2020-07-24 17:14] SacDin opened #391 "Does not work android platform"
Module is required without error, but while calling any function, procedure does not go ahead. It is just stuck there.
For example, in following execution `step 2` is never logged.
[code]

Tested with node v12.

Edit : Just realised that docs clearly lists supported OS which does not include android. This is not actually bug but would like to explore how to make it supported for android. Thank you

[2020-08-01 12:26] bookyo opened #392 "wsl in windows fsSize return nothing."
wsl ubuntu18.04 on windows 10 use si.fsSize() return nothing.

[2020-08-01 12:44] bookyo commented on #392
![QQ图片20200801204332](https://user-images.githubusercontent.com/20472717/89102002-b7ca4e00-d437-11ea-9d5c-9dd81beff77b.png)
df -lkPTx squashfs | grep ^/ return null.

[2020-08-01 13:56] sebhildebrandt commented on #392
@bookyo thank you for the additional information. Will provide a fix for that. Need to test it also on my machines.

[2020-08-03 16:58] l222p opened #393 "Processes state unkwon on Windows"
**Describe the bug**

When List processes on windows return unknown state on all processes. On Mac works.

`si.processes().then(data => console.log(data));`

**To Reproduce**
Steps to reproduce the behavior:
const si = require('systeminformation');
si.processes().then(data => console.log(data));

**Current Output**
Return state unknown on all processes.

[code]

**Expected behavior**
Correct state

[2020-08-08 16:09] Apollon77 opened #394 "Register Error event handlers on "exec" calls to catch errors"
Sentry got a crash again and it is an esync error in a "exec" call. You need to assign the ChildProcess returned from exec to a valriable and register "on('error')" event to also catch the async errors.

https://sentry.iobroker.net/share/issue/57492f436e584758b13b7a4f48b18947/

[code]

[2020-08-10 09:29] weiweian90 opened #395 "si.fsSize get empty on some windows"
systeminformation.fsSize get empty on some windows, and I try to get logicaldisk by wmic commond in terminal,
there commond is :    "wmic logicaldisk get Caption,FileSystem,FreeSpace,Size",  as same of the source code, but get "Caption  FileSystem  FreeSpace  Size  \r\r\nC:       NTFS                         \r\r\nD:       NTFS                         \r\r\n\r\r\n" . no FreeSpace and Size, sometim

[2020-08-11 12:18] weiweian90 commented on #395
anyone has the same problem ???

[2020-08-11 15:49] sebhildebrandt commented on #395
@weiweian90 need to check it and make some investigation why this can happen .. will reply again, as soon as I found out something ...

[2020-08-12 06:19] weiweian90 commented on #395
appreciate for you reply, I will be continue attention

[2020-08-17 08:31] rogierschouten opened #396 "dockerAll() ends the process when run inside a docker container"
**Describe the bug**
Calling `dockerAll()` from within a docker container on docker for Windows will end the process

**To Reproduce**
Steps to reproduce the behavior:

1. Create the files below
2. Build docker image using `docker build -t systeminfotest .`
3. Run docker container using `docker run systeminfotest`
4. Observe 'started' output but otherwise no output

index.js:
[code]

package.json:

[2020-08-17 11:58] rogierschouten opened #397 "Running a javascript file with getStaticData() call will cause Windows "Open With..." dialog to show"
**Describe the bug**
Calling a simple javascript file with a getStaticData() statement in it, will cause windows to open the "Open With" dialog box somehow.

**To Reproduce**
Steps to reproduce the behavior:

1. On Windows, open Git Bash
2. Execute the following Javascript

[code]

**Current Output**

![open-with](https://user-images.githubusercontent.com/7348032/90393604-5e962780-e091-11ea-961d-4

[2020-08-20 04:19] akiroz opened #398 "cpuTemperature does not return after resolve (successful attempt)"
**Describe the bug**
The `cpuTemperature` call doesn't return after a successful attempt causing all methods to be attempted.

**To Reproduce**
call `cpuTemperature`

**Solution**
Add `return` after `resolve`:

https://github.com/sebhildebrandt/systeminformation/blob/1564a78d9f322f164a767025aef6346e0eef678b/lib/cpu.js#L821

To illustrate the problem, consider the following snippet:
[code]
which yi

[2020-08-20 05:53] sebhildebrandt commented on #398
@akiroz: can you provide more information what platform (OS, OS Version, Hardware, node version) you are on and where `cpuTemperature()` does not return correctly?

[2020-08-20 06:24] akiroz commented on #398
@sebhildebrandt This is not an OS specific problem, and `cpuTemperature` does in fact return the correct results. The problem is that it will also attempt to get the same information multiple times using different methods and this slows down my system because the order for `cpuTemperature` is
1. `coretemp` sysfs
2. `sensors`
and it just happens that `sensors` on my system will consume a lot of res

[2020-08-20 06:27] sebhildebrandt commented on #398
@akiroz thank you for your explanation, I see the problem. Will have a look at it later today.

[2020-08-20 06:27] sebhildebrandt commented on #398
@akiroz thank you for your explanation, I see the problem. Will have a look at it later today.

[2020-08-20 06:28] sebhildebrandt commented on #398
@akiroz thank you for your explanation, I see the problem. Will have a look at it later today.

[2020-08-20 06:28] sebhildebrandt commented on #398
@akiroz thank you for your explanation, I see the problem. Will have a look at it later today.

[2020-08-20 06:28] sebhildebrandt commented on #398
@akiroz thank you for your explanation, I see the problem. Will have a look at it later today.

[2020-08-20 16:17] sebhildebrandt commented on #397
@rogierschouten: seems that one of the functions inside `getStaticData()` causes this ... As I cannot reproduce this open my machines, would you be so kind to test several (12) functions on this specific machines?

[code]

One should then cause the dialog ...

Thank you in advance.

[2020-08-20 16:18] sebhildebrandt commented on #396
@rogierschouten will have to test this tomorrow ... thank you for your detailed bug report.

[2020-08-20 16:28] sebhildebrandt commented on #398
Fixed. Version 4.26.11 just released.

[2020-08-20 16:28] #398 closed

[2020-08-20 16:32] sebhildebrandt commented on #393
@l222p ... According to MSDN (https://docs.microsoft.com/de-at/windows/win32/cimwin32prov/win32-process), status is not implemented. I need to think how I can get information about process status ...

[2020-08-20 18:55] rogierschouten commented on #397
@sebhildebrandt  will do tomorrow, thanks for the snippet

[2020-08-21 13:44] robtoll opened #400 "Listeners"
Excellent module. Good work!

Is it possible to setup listeners that fire when a status changes?
For example, listen for when a user unplugs the power, and the system switches to battery.
Or when the audio is muted. Etc etc.

Cheers!

[2020-08-21 15:29] #400 closed, assigned to nobody

[2020-08-24 13:15] sebhildebrandt commented on #400
@robtoll: so I had a look at the `win-audio` package, they also define a polling interval. Basically `NODE` as a high level programming language will mostly not know about system events (unless you program functions in a low level programming language like c/c++). Therefore polling is an alternative for this use case.

I just released a new version of systeminformation (v 4.27.0) that includes a g

[2020-08-24 16:53] robtoll commented on #400
Wow! Really nice. That was quick :)
Thanks very much!

[2020-08-24 16:57] SymbolCsaba commented on #387
This value changes really rarely. In application can be cached by any id or index.

[2020-08-24 17:06] sebhildebrandt commented on #387
@SymbolCsaba @zj1838277795 : I agree, I would only call `diskLayout()` once and cache the value. I guess the problem would be still the FIRST call, right? If you use this e.g. to get a hardware ID, you want to get back a value as soon as possible. If this is your use case, consider using the other functions like `si.uuid()`

[2020-08-26 07:47] BhuvanRohith opened #403 "Hey guys, amazing work. I am using your utility right now, to fetch all the current process . Is there anyway we could implement si.getForegroundProcess() in particular, filtering out all the background processes ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-26 07:55] citolen opened #404 "SyntaxError: Unexpected token ... - spread syntax error"
**Describe the bug**
https://github.com/sebhildebrandt/systeminformation/commit/9f1b6ef43d307b05da777a949ab6f6bc35f6e3ab added the use of the spread syntax and it isn't compatible with some of the node versions this module is meant to support.
`engines.node` is specified as `>=4.0.0`.

**To Reproduce**
`require('systeminformation');` from a node version that doesn't support the spread syntax. i.e

[2020-08-26 18:01] sebhildebrandt commented on #404
@citolen ... wow sorry! Completely forgot about that ;-) Fixed ... version 4.27.2 just released

[2020-08-26 18:01] #404 closed

[2020-08-26 18:08] sebhildebrandt commented on #403
@BhuvanRohith weicht platform you are thinking of? And that exactly you think of when talking about "foreground" ...

In linux / mac I can easily add another property "foreground" to all processes so that you then can filter is ... would this make sense?

[2020-08-26 18:23] BhuvanRohith commented on #403
I am currently using linux. But, I intend to use the utility  for our hybrid desktop application, that would be used across all the available platforms mostly linux/mac/win

By foreground, I mean the applications running with some user interface. Something like a chrome browser, postman application or a spotify desktop app.

[2020-08-27 04:44] sebhildebrandt commented on #403
@BhuvanRohith I will make some tests here and hopefully come back with a solution.

[2020-08-28 09:24] llka opened #406 "GPU memory max value of the only 4 GB on Windows"
**Description of what the bug is**
When I try to get GPU memory on a Windows machine, the returned value is always less than or equal to 4 GB.
`systemInformation.graphics().controllers.vram <= 4GB`

**Possible cause**
I suppose that the bound is brought about by Win32_VideoController
https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-videocontroller
It returns AdapterRAM in **uint32

[2020-08-31 11:44] GrumpyCrouton opened #407 "getAllData not working on Win32 / arm64"
**Describe the bug**
A clear and concise description of what the bug is.

When I compile my app using platform Win32 and arch arm64, getAllData() does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. compile using `npx electron-rebuild . --arch=arm64 && npx electron-packager . --platform=win32 --arch=arm64 --overwrite`

[code]

3. My `$('#dc_version')` code is running and working, bu

[2020-08-31 11:48] sebhildebrandt commented on #407
@GrumpyCrouton can you provide a link to the repository with full code ...

My feeling is, that you are calling `is.getAllData()` in the wrong place ... (render process and not main process ...)

[2020-08-31 11:51] GrumpyCrouton commented on #407
@sebhildebrandt I can't really provide the full code, but will explain where I run this code.

In my `main.js` file, I run some code to load my `.html` file (`win.loadFile('app/master.html')`) which contains my first block of code.

The code works if I compile using `x64` or `ia32`. I've been using systeminformation like this for a few years now.

[2020-08-31 11:59] sebhildebrandt commented on #407
@GrumpyCrouton  OK, seems that this is due to the arm platform ... in this case we need to find out which function blocks the output ... can you first try to run `si.getDynamicData()` and `si.getStaticData()` separately?

if this is related to si.getStaticData() then can you run all these separately:

[code]

And the the same for the dynamic functions:

[code]

thank you in advance

[2020-08-31 12:17] GrumpyCrouton commented on #407
Neither of the 2 functions you mentioned seem to do anything.

I tested each method separately using this code:

[code]

and I get nothing logged in my console except for `running`.

[2020-08-31 12:53] sebhildebrandt commented on #407
@GrumpyCrouton thank you for testing! So I need to make some research on windows on arm ;-)

[2020-08-31 12:55] GrumpyCrouton commented on #407
@sebhildebrandt It's strange because if I compile as `x86` or `ia32`, it works fine. I wish I could just keep using that arch, but unfortunately I can't due to some requirements of the project.

[2020-08-31 12:59] sebhildebrandt commented on #407
@GrumpyCrouton very clear ... will have a look on it.

[2020-09-04 06:30] jeffrson opened #408 "Network Card detected as virtual while it probably shouldn't"
**Describe the bug**
I'm running a virtual machine on VMWare vSphere with Docker installed. There are a lot of interfaces (`ip a`):
lo (loopback)
ens192
docker_gwbridge
docker0
veth*

With
[code]

I get output like (somewhat shortened)

[code]

So docker0 is not found at all (probably because `ip a` gives `3: docker0: <NO-CARRIER,...`?
ens192 detected as virtual (which it of course is, but inside

[2020-09-05 07:55] jiferrero opened #409 "Problem with number of Processors and Cores in a virtual machine"
**Describe the bug**
We are using the library in a virtual machine hosted in Digital Ocean, and it seems like there is a misleading in the info retrieved by cpu function, mixing processors and cores

**To Reproduce**
When using the si.cpu() function

**Current Output**
{
  "manufacturer": "Intel®",
  "brand": "Xeon® Gold 6140",
  "vendor": "GenuineIntel",
  "family": "6",
  "model": "85",
  "stepp

[2020-09-06 04:04] chainhead opened #410 "Raspberry Pi - Revision codes"
**Is your feature request related to a problem? Please describe.**
How do I extract [Raspberry Pi revision codes](https://www.raspberrypi.org/documentation/hardware/raspberrypi/revision-codes/README.md) with `systeminformation`?

**Describe the solution you'd like**
Perhaps, a one-liner such as `systeminformation.rpi()` would be nice.

**Describe alternatives you've considered**
This is the mappin

[2020-09-06 13:45] chainhead commented on #410
So, here is what I get from running `systeminformation` on Raspberry Pi.

## System information

[code]

[code]

## CPU information

[code]

[code]

## Raspberry Pi native information

This is from `cat /proc/cpuinfo`.

[code]

As you can see, the last three lines of output does not seem to have equivalence in the `si` output. How to get them?

[2020-09-06 15:12] sebhildebrandt commented on #410
@chainhead I will think what would be the best way to add this and come back later.

[2020-09-10 10:25] esperandote opened #411 "networkInterfaceDefault() takes long time"
**Describe the bug**
networkInterfaceDefault() takes long time (30s) on Macbook Pro 15 sometimes

**To Reproduce**
This problem can be reproduced sometimes, not always.
I actually have found the code that causes the problem:

[code]
this command takes long time sometimes, you can just type this command in terminal to check.

**Environment (please complete the following information):**
 - macOS 10.

[2020-09-10 10:29] esperandote commented on #411
This problem also occurs on Macbook Pro 13, macOS 10.15

[2020-09-10 22:27] Krish120003 commented on #406
Perhaps this information could be retrieved from DxDiag? I've tested it and it outputs the accurate GPU VRAM.

[2020-09-12 02:47] chainhead commented on #410
Bump.

[2020-09-12 08:16] kietheros opened #413 "Which value should I use to measure CPU load and network bandwidth ?"
I'm writing a simple load balancer. I have some nodes (servers), and each node will report cpu load and network bandwidth (my code using module systeminformation) to load balancer. Each node is a streaming service, with average bandwidth 400 -> 500 Mbps. My system is small, a load balancer and 10 streaming nodes.
Which value should I use to measure CPU load and network bandwidth in each node?
1. C

[2020-09-12 09:00] sebhildebrandt commented on #413
@kietheros I am not sure, what your approach is here and if it would make sense to use these values in a load balancer ...

I would consider two approaches:

1. In a load balancer you can determine on parameters that happened right now (so basically in that millisecond or so). `avgload`or `currentload` are not that accurate. So when you get a result, a few milliseconds the situation can be complet

[2020-09-12 09:40] kietheros commented on #413
@sebhildebrandt Thank for your reply !
I have just updated my questions. I think using average load is suitable. After reading your reply, I have a bit of a misunderstanding about load average and cpu utilization. Please correct me if I'm wrong

- currentload: the current cpu utilization, unit: percent

- os.loadavg() or value in htop: load average in last 1, 5 and 15 minutes. I will use **load av

[2020-09-12 10:07] sebhildebrandt commented on #413
@kietheros so this is nearly correct ...

- `currentload`: the current cpu utilization, unit: percent ... dependent on calls to this function (as described above)
- `avgload `: this is actually the average of 1, 5 and 15 min **load average / number of cores** ... independent of calls of this function

[2020-09-12 10:53] kietheros commented on #413
@sebhildebrandt
Thank for your reply. I try using two below values:
**currentload**
I save currentload in each second.
value1 = calculate average currentload in last 60s. (%)

**avg**
value2 = avg * 100. (%)

I find that value2 is much larger than value1 (value1 ~ 20 -> 25,  value2 ~ 70). Which value should I use to represent cpu load? Which value does services as HAProxy use ? I'm a newcomer, cou

[2020-09-12 10:57] sebhildebrandt commented on #413
@kietheros and what is compared to that the first value of os.loadavg() / number of cores?

[2020-09-12 11:01] kietheros commented on #413
Result:  systemiformation avgload ~  os.loadavg() / number of cores

[2020-09-12 11:02] sebhildebrandt commented on #413
@kietheros how many cores you have and how many threads?

[2020-09-12 11:07] kietheros commented on #413
{
 use_average_of_currentload: 23.722149410222805,
  use_avg: 78,
  use_os_loadavg: 78.070068359375
}

os.cpus().length = 8
(I have checked in htop, 8 cores / 8 threads)

[2020-09-12 11:18] kietheros commented on #413
`
const listCpuLoads = [];
si.currentLoad(async (data) => {
            if (listCpuLoads.length >= 60) {
                listCpuLoads.shift();
            }
            listCpuLoads.push(data.currentload);
            results.average_of_currentload = getAverage(listCpuLoads);
            results.avg = data.avgload * 100;
            results.os_loadavg = os.loadavg()[0] / os.cpus().length * 100;

[2020-09-12 11:28] sebhildebrandt commented on #413
@kietheros so this is absolutely fine!

Pleas consider, that os loading is NOT a percentage value!! It is more about running and waiting threads:

my `currentload`-function on the other hand IS a percentage value!

So is makes no sense to compare the two values directly.

[2020-09-12 11:40] kietheros commented on #413
@sebhildebrandt
OK. I only consider which value is better for represent the system load. In your opinion, which one is better ?

[2020-09-12 11:46] sebhildebrandt commented on #413
@kietheros

- if you want to make decisions on the true percentage values - go for `currentload`
- if you just want to compare and take the lowest, take `os.loadavg()[0]` as this is probably faster

[2020-09-12 11:52] kietheros commented on #413
@sebhildebrandt Thank you very much ! I will use currentload.

[2020-09-12 11:55] #413 closed

[2020-09-16 17:13] williamd5 opened #414 "CPU flags not obtained via `.get()`"
**Describe the bug**
When using the `.get()` method, the CPU flags are not returned whether you specify them in particular or `*`. I was only able to obtain the CPU flags using `.getAllData()`

**To Reproduce**
Steps to reproduce the behavior:
1. used `si.get({cpu:"flags"}, console.log)` and `si.get({cpu:"*"}, console.log)`
2. In neither scenario are the flags returned. Here are the outputs to the

[2020-09-16 17:30] sebhildebrandt commented on #414
@williamd5 will have a look at it tomorrow in the morning.

[2020-09-16 20:03] sebhildebrandt commented on #414
@williamd5 due to the documentation the cpu flags are actually not part of `cpu()`. There is a separate function `si.cpuFlags()`. So with `get` this means, you can obtain the values using:

[code]

Additional remarks: I added `cpuFlags` directly to `cpu` only in `getAllData()`. But I am now thinking of just do it in every case.

[2020-09-16 20:03] #414 closed

[2020-09-16 20:33] sebhildebrandt commented on #411
@esperandote ... fixed, version 4.27.4 just released

[2020-09-16 20:33] #411 closed

[2020-09-18 18:44] sebhildebrandt commented on #394
@Apollon77 should be fixed now. Version 4.27.5 just released.

[2020-09-18 18:44] #394 closed

[2020-09-19 12:09] 7dir opened #415 "decodeEscapeSequence() does not support non latin char"
`utils.js` does not support non latin char

[code]

similar
https://github.com/sebhildebrandt/systeminformation/issues/317

[code]
should return
[code]

[2020-09-19 12:09] 7dir commented on #415
you can test your test text here https://2cyr.com/decode/?lang=ru

[2020-09-19 12:15] 7dir commented on #415
`lsblk -P` return hex-escaped

[code]

[2020-09-19 18:34] 7dir commented on #415
we should replace
[code]

[2020-09-23 16:25] credomane opened #417 "getAllData() doesn't return networkStats for all interfaces."
With the change to networkStats to support the wildcard "*" to get network stats for all interfaces (#181) it would be nice if getAllData() would make use of this wildcard as currently it returns the default interface only.

[2020-09-24 15:45] xloem commented on #211
Has anyone discerned what first steps are needed to implement this?

[2020-10-02 02:36] appvitals1 opened #420 "get function for fsSize is not working when specific fileds are given in valueObject"
**Describe the bug**
`si.get` for `fsSize` with specific fields is returning an empty result object, but `*` works.

**To Reproduce**
Steps to reproduce the behavior:
1. used function `si.get`
2. code snippet '....'
[code]
3. start app / code
 Run the above code using the node command line.

4. See output/error '....'

**Current Output**
[code]
**Expected behavior**
[code]

**Environment (please c

[2020-10-02 09:50] sebhildebrandt commented on #420
@appvitals1 will have a look on it this weekend! Thank you for reporting this issue.

[2020-10-02 10:37] cojocarule opened #421 "Not working in a Virtual Machine (Vbox or Hyper V)"
Hi I have an electron app that uses si.diskLayout() to retreive system disks information for windows systems.
It works great when the app runs on an physical machine but when ran on a VM it doesn't return anything.
I tried Querying wmic on the VM and it shows there are disks.

[2020-10-02 10:50] sebhildebrandt commented on #421
@cojocarule , thank you for reporting ... As you said, there is an output with wmic, can you post the output of the following:

[code]

and in powershell

[code]

Thank you in advance!

[2020-10-02 10:55] cojocarule commented on #421
C:\Users\AVCOJOCA>wmic diskdrive get /value

Availability=
BytesPerSector=512
Capabilities={3,4}
CapabilityDescriptions={"Random Access","Supports Writing"}
Caption=Microsoft Virtual Disk
CompressionMethod=
ConfigManagerErrorCode=0
ConfigManagerUserConfig=FALSE
CreationClassName=Win32_DiskDrive
DefaultBlockSize=
Description=Disk drive
DeviceID=\\.\PHYSICALDRIVE0
ErrorCleared=
ErrorDescription=
Err

[2020-10-02 10:56] sebhildebrandt commented on #421
@cojocarule thank you so much for your fast response! That will help. I will try to come up with a solution the next days.

[2020-10-02 11:10] sebhildebrandt commented on #421
@cojocarule can you try to pull the /lib/filesystem.js directly from GitHub ad text if this makes any difference?

[2020-10-02 11:18] sebhildebrandt commented on #409
@jiferrero can you run the following two commands:

[code]

and post the output here? Thank you in advance.

[2020-10-02 11:22] sebhildebrandt commented on #420
@appvitals1 I see where the problem is. As the results are returned in an array, I need to check this also and limit the scope of returned values also within arrays ... will do it this weekend.

[2020-10-02 11:37] sebhildebrandt commented on #420
@appvitals1 fixed. Version 4.27.6 just released.

[2020-10-02 11:37] #420 closed

[2020-10-02 11:46] sebhildebrandt commented on #417
@credomane  As `networkStats()` also defaults to the default interface, I implemented the same behaviour for `getAllData()`. So if you want getAllData to return data for all interfaces, you can easily manage this by calling it like

[code]

This is I guess more consistent. Makes sense??

But anyway, if you really want to get network stats periodically, you should call this in a loop as explained i

[2020-10-02 11:46] #417 closed

[2020-10-02 11:50] sebhildebrandt commented on #351
@tonesto7 With the new `observe()` function in systeminformation, you probably now can implement this very easily. See example here: https://systeminformation.io/statsfunctions.html, Chapter **Observe System Parameters**

[2020-10-02 11:50] #351 closed

[2020-10-02 12:22] cojocarule commented on #421
Cool, Its working now in Hyperv, but still not in Vbox.

Here is the output from Vbox:

C:\Users\adrian>wmic
wmic:root\cli>diskdrive get /value

Availability=
BytesPerSector=512
Capabilities={3,4,10}
CapabilityDescriptions={"Random Access","Supports Writing","SMART Notification"}
Caption=VBOX HARDDISK
CompressionMethod=
ConfigManagerErrorCode=0
ConfigManagerUserConfig=FALSE
CreationClassName=Win32

[2020-10-02 12:51] sebhildebrandt commented on #421
@cojocarule will check it. Thank you for testing

[2020-10-02 17:19] credomane commented on #417
I'm using the stat functions already, BTW.  SystemInformation is awesome! Wish I discovered it sooner.

Best I can remember from last week is I was trying to see what all this package could see/discover using getAllData and specifically noticed it wasn't returning all network data. Looked to docs, couldn't find getAllData() so I went to the source and saw this line https://github.com/sebhildebrand

[2020-10-03 06:53] appvitals1 commented on #420
Thanks a lot @sebhildebrandt. Awesome work!

[2020-10-03 13:28] jiferrero commented on #409
Hi @sebhildebrandt .... yes sure... following you can find lscpu command output

Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   40 bits physical, 48 bits virtual
CPU(s):                          2
On-line CPU(s) list:             0,1
Thread(s) per core:              1
Core(s) pe

[2020-10-03 14:52] sebhildebrandt commented on #409
@jiferrero thank you! This helps a lot identifying the issue. I guess I will provide a fix tomorrow.

[2020-10-03 15:00] jiferrero commented on #409
Thank you so much @sebhildebrandt ... that's would be awesome!

[2020-10-04 09:14] sebhildebrandt commented on #421
@cojocarule ... this is interesting ... I just "mocked" your output (Xbox) in a test and this worked out to be fine ... The point is, in my code on line 1009 I jus check if there is a "size" which is the case. As soon I pass this condition, I push a result which should then be visible. Can you once again recheck it? Otherwise I need to set up a box with windows installed ...

[2020-10-04 09:43] sebhildebrandt commented on #409
@jiferrero I had a look at the output of `lscpu` you provided ...

Due to this output, we have a machine with **2 physical processors** (socket(s) = 2)

funny enough that systeminformation gives the output you provided ... with this lscpu output we should get

[code]

One more favour: can you recheck the following:

**Command line:**
[code]

**In node (cli)**
[code]

**with systeminformation (late

[2020-10-04 10:33] jiferrero commented on #409
hi @sebhildebrandt ...... oh yes so funny that's a fault of mine .... we destroyed the virtual machine a couple of days ago before and I did not realize it when you answered me
The output I gave you yesterday was in a virtual machine with 2 vcpu what it is maybe more consistent with what you have expected to have... sorry again about this mistake.
But I'm still don't understand how to map this inf

[2020-10-04 10:55] sebhildebrandt commented on #409
@jiferrero OK, but then ... if you run the `systeminformation`code one more time on the new machine ... you should get:

[code]

... which should be fine, right? Can you check it?

[2020-10-04 11:17] jiferrero commented on #409
yes @sebhildebrandt ... you are right ... the output of systeminformation for cpu on this new machine with **2 vcpu** is the following:

{
  manufacturer: 'Intel®',
  brand: 'Xeon® Gold 6140',
  vendor: 'GenuineIntel',
  family: '6',
  model: '85',
  stepping: '4',
  revision: '',
  voltage: '',
  speed: '2.30',
  speedmin: '',
  speedmax: '',
  governor: '',
  **cores: 2,
  physicalCores: 2,
  pr

[2020-10-04 11:29] sebhildebrandt commented on #409
@jiferrero So here some details:

- cores are dependent on what node really sees (`os.cpus().length;`), and what `lscpu` shows in the line `CPU(s)` ... these should be the same.
- physicalCores defaults to `cores` but if there are more detailed information like in `lscpu` line `thread(s) per core` I can then calculate the physical cores. In your example this line returns 1 so cores = physical core

[2020-10-04 11:45] jiferrero commented on #409
hi @sebhildebrandt ... thank you for all of this information an all your time and effort to make this awesome library, we all appreciate it so much. We keep in touch for other issues and enhancements as we still on developing...

You can close this issue
Thank you again

[2020-10-04 11:47] sebhildebrandt commented on #409
@jiferrero you are welcome! If you have any other issues just give me a note. I really appreciate all comments to improve this library ;-) Have a nice Sunday!

[2020-10-04 11:47] #409 closed

[2020-10-04 14:58] sebhildebrandt commented on #421
@cojocarule I just created a new windows installation in VirtualBox and testet `si.diskLayout()` ... this worked fine and `VBOX HARDDISK` was recognised with correct size, name, ... output was correct ... can you recheck it on your side?

[2020-10-04 18:57] sebhildebrandt commented on #410
@chainhead I had a look at it and as you said, most of the information is already available. As I was not clear about what "three" lines are missing, I went into it: to my mind the following is missing:

[code]

- implementer/part is already decoded --> ARM1176
- features can be found in the cpu flags ...

Something else you are missing??

[2020-10-05 05:18] sebhildebrandt commented on #410
@chainhead replying to your second comment ("last three lines of output does not seem to have equivalence") ... well all three of them are in `si.system()`or do I miss something? Closing it for now.

[2020-10-05 05:18] #410 closed

[2020-10-05 07:53] chainhead commented on #410
Well, the information is not available as an exact match. For example, `model` is reported in `/proc/cpuinfo` as `Raspberry Pi Model B Rev 2`.  Whereas, `model` in `si` is reported as `BCM2835 - Pi Model B'`. Similarly, the `Revision` in `/proc/cpuinfo` is reported as `000e` whereas, `000e` is reported as `version` in `si`.

Thus, the information does seem to be present in `si` but, it does not se

[2020-10-05 08:33] sebhildebrandt commented on #410
@chainhead thank you for your reply. As `systeminformation` is a more generic package, I am not happy to implement vendor specific changes ... so I need again to think about how to manage this one. I am thinking of two possibilities (modifying is output OR create a little RPI package) ... will come back with my ideas later.

[2020-10-05 08:35] chainhead commented on #410
An RPi package would be excellent!

[2020-10-05 13:09] cojocarule commented on #421
Yes. it works on Vbox too. The issue was in my code I was filtering the array by InterfaceType and was expecting "IDE" when it was in "SATA". Thanks for helping with this and sorry for the confusion.

[2020-10-05 13:10] sebhildebrandt commented on #421
@cojocarule No problem! Closing it now.

[2020-10-05 13:10] #421 closed

[2020-10-05 13:15] sebhildebrandt commented on #415
Fixed, version 4.27.6 released

[2020-10-05 13:15] #415 closed

[2020-10-06 00:34] iamthe-Wraith opened #423 ".cpuCurrentspeed() not returning correct cpu speeds"
**Describe the bug**
the `.cpuCurrentspeed()` method is returning the same value for all properties every time it's called. for me, that value was `2.6`.

**To Reproduce**
on a machine matching the environment listed below, run the `.cpuCurrentspeed()` method, and just log the output.

**Environment (please complete the following information):**
 - systeminformation package version: **4.27.6**
 -

[2020-10-06 06:41] sebhildebrandt commented on #423
@iamthe-Wraith unfortunately macOS does not report the current speed correctly. This is only possible with special tools like Intels Power Gadget. If you have any other idea, that would be great. So far, I would close this issue for the moment.

[2020-10-06 06:41] #423 closed

[2020-10-06 12:19] evrico commented on #317
Hi @sebhildebrandt,
do you plan to release a fix soon?

[2020-10-06 14:30] sebhildebrandt commented on #317
@evrico ... please also have a look at https://github.com/sebhildebrandt/systeminformation/issues/148 ... here we had the same discussion and `chcp 65001` did not solved the problem ...

Anyway, I just pushed a version to GitHub (not to npm yet) which you should give a try ... if you grab the new `/lib/util.js`and try again all functions where you expect Russian characters, that would be fine ...

[2020-10-07 15:46] evrico commented on #317
Hi @sebhildebrandt, your fix is perfect for us, please publish to npm.

[2020-10-07 18:37] sebhildebrandt commented on #317
@evrico yes Eric, I will just make a few tests tomorrow if I see any side effects and then publish this. Thank you for testing.

[2020-10-08 11:20] sebhildebrandt commented on #317
@evrico  Version 4.27.8 just released.

[2020-10-08 11:20] #317 closed

[2020-10-11 15:34] linlwss opened #424 "4.27.8获取不到硬盘"

[2020-10-11 15:35] sebhildebrandt commented on #424
@linlwss ???

[2020-10-11 16:48] #424 closed

[2020-10-11 17:45] RichardFoss opened #425 "Npcap Loopback adapter"
Thanks for this great capability!

I want to discover and use the Ethernet wired interface for communication with audio devices.

I see that the Npcap Loopback adapter is discovered as a wired network interface. What is the best way to distinguish it from a 'hard' wired interface? I assumed that it might be viewed as 'internal', but this is not the case.

[2020-10-11 17:55] sebhildebrandt commented on #425
@RichardFoss can you provide a little more information like which OS? I would be able to also ask for specific outputs. Would make it easier for me to provide a solution ;-)

[2020-10-11 20:12] RichardFoss commented on #425
Thanks for the response Sebastian!
I am using Windows 10. This is the Npcap that, for example WireShark uses.
Windows views it as the Npcap Loopback Adapter.
Currently, I am getting around this by discarding an interface that has the 'Loopback' string in its name. However, this is a bit of a hack, it would be preferable to pick up that this is a different type of adapter. What outputs would help y

[2020-10-11 20:21] sebhildebrandt commented on #425
Thank you @RichardFoss , can you run the following code snippets on your machine:

in Nodejs (CLI)
[code]

and in command line:

[code]

[2020-10-11 20:31] sebhildebrandt commented on #408
@jeffrson lets see what node.js internal function returns back. Can you run the following code snippets on your machine:

in Nodejs (CLI)

[code]

Thank you in advance.

[2020-10-11 20:57] RichardFoss commented on #425
For nodejs cli:

{
  'Npcap Loopback Adapter': [
    {
      address: 'fe80::4cff:fe4f:4f50',
      netmask: 'ffff:ffff:ffff:ffff::',
      family: 'IPv6',
      mac: '02:00:4c:4f:4f:50',
      internal: false,
      cidr: 'fe80::4cff:fe4f:4f50/64',
      scopeid: 13
    },
    {
      address: '169.254.1.173',
      netmask: '255.255.0.0',
      family: 'IPv4',
      mac: '02:00:4c:4f:4f:50',

[2020-10-11 21:02] RichardFoss commented on #425
Sorry, just connected my Ethernet for the Ethernet adapter info:

{
  Ethernet: [
    {
      address: 'fe80::329c:23ff:fee8:156c',
      netmask: 'ffff:ffff:ffff:ffff::',
      family: 'IPv6',
      mac: '30:9c:23:e8:15:6c',
      internal: false,
      cidr: 'fe80::329c:23ff:fee8:156c/64',
      scopeid: 2
    },
    {
      address: '169.254.223.209',
      netmask: '255.255.0.0',
      family:

[2020-10-11 21:16] sebhildebrandt commented on #425
Thank you @RichardFoss

So in `si.networkInterfaces()` I return per interface:
[code]

where `type` is only `wired` and `wireless`. So basically for your use case I guess we should have here `internal` as `true` (like for a loopback 127.0.0.1 interface).

... just a first look on your data we have ...

- `node.js` (`os.interfaces()`) detects this as `internal: false`
- `wmic` tells: `PhysicalAdapt

[2020-10-11 21:19] sebhildebrandt commented on #408
@jeffrson I digged a litte into my code: `ens192` is detected as a virtual interface because of its mac address. As there are no real indicators for virtual interfaces, I was using a list of mac addresses that are usually used for virtual interfaces.

[2020-10-11 21:38] RichardFoss commented on #425
Thanks for looking at this Sebastian, and for your advice. Really appreciate your time!
I agree with your comment that the only clear indicator is the interface name. Not quite sure how I would extend the test, considering that the interface I want to avoid is represented as not being internal. Both the Ethernet interface I want to use and the loopback are not virtual or internal, so no way to dis

[2020-10-12 05:36] sebhildebrandt commented on #425
@RichardFoss if I understand you correctly, marking the `npcap` interface as `internal` is not what you are thinking of?

This would be my choice, because this would be consistent to the node-js documentation of what is internal:

[code]

see https://nodejs.org/api/os.html#os_os_networkinterfaces

[2020-10-12 08:15] RichardFoss commented on #425
Thanks for the feedback Sebastian, and for the link. As I see it, I could mark the npcap interface as internal, but would need to do a text search to do this. On every machine that I run my software, I would need to do the text search. So then my question would be - why not just discard the npcap loopback adapter based on the string search? What is strange to me is that it is not picked up as an i

[2020-10-12 08:38] sebhildebrandt commented on #425
@RichardFoss no, you are not missing something ;-) this is how node-js sees this.

If this is OK, I would include this (detecting npcap as internal) to systeminformation. So then you only need to exclude `internal === true`... would this make sense for you?

[2020-10-12 08:45] RichardFoss commented on #425
That would be wonderful Sebastian, thank you!!

[2020-10-12 11:22] sebhildebrandt commented on #425
@RichardFoss I just updated the `lib/network.js` file on GitHub. Can you just update this file on jour side and have a look if this works for you?

[2020-10-12 20:48] RichardFoss commented on #425
I'm very sorry about the slow reply Sebastian, got caught up in other work. I will try this tomorrow and let you know how it goes. Thank you very much for making the change!

[2020-10-13 06:32] sebhildebrandt commented on #425
@RichardFoss Take your time, no stress ;-)

[2020-10-13 07:20] linlwss opened #426 "si.graphics会出现中文乱码，其它api也有出现"

[2020-10-13 07:22] sebhildebrandt commented on #426
@linlwss  As no description is provided, I consider this as spam ... this is the second time you are doing this. You need to provide a clear description in English!

[2020-10-13 07:22] #426 closed

[2020-10-13 07:39] linlwss opened #427 "si.graphics() Chinese garbled code will appear"
si.graphics()
model
vendor
Chinese garbled code will appear

[2020-10-13 08:19] sebhildebrandt commented on #427
@linlwss You have to be much precise ...have a look at the issue template .. there you can see what information you need to provide. See https://github.com/sebhildebrandt/systeminformation/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

Thank You

[2020-10-13 08:25] sebhildebrandt commented on #417
@credomane you are always welcome. No problem. If you discover any other issue or idea, just report its here on GitHub. Happy to make this package better. Regards.

[2020-10-13 11:00] RichardFoss commented on #425
Hi Sebastian, sorry to be so slow. I have made the change to network.js and am getting the following back:
Internal??:  Realtek PCIe GBE Family Controller false
Internal??:  Npcap Loopback Adapter false
Internal??:  TP-Link Wireless USB Adapter false
Internal??:  Loopback Pseudo-Interface 1 true
So picking up on one loopback, but not the npcap?

[2020-10-13 11:03] sebhildebrandt commented on #425
@RichardFoss Thank you ... need to check ... can you post the full output of `networkInterfaces()` ... of course you can anonymise mac addresses and IP addresses (if you need to) ...

[2020-10-13 11:12] RichardFoss commented on #425
How would that be different from what I gave previously?

[2020-10-13 11:13] sebhildebrandt commented on #425
@RichardFoss I mean the full output of systeminformations `si.netwoekInterfaces()` (not from node.js). I do not see this in your previous posts

[2020-10-13 11:13] RichardFoss commented on #425
Sorry, its your call to networkInterfaces - will do that!

[2020-10-13 11:17] RichardFoss commented on #425
0: {iface: "Ethernet", ifaceName: "Realtek PCIe GBE Family Controller", ip4: "169.254.223.209", ip4subnet: "255.255.0.0", ip6: "fe80::329c:23ff:fee8:156c", …}
1: {iface: "Npcap Loopback Adapter", ifaceName: "Npcap Loopback Adapter", ip4: "169.254.1.173", ip4subnet: "255.255.0.0", ip6: "fe80::4cff:fe4f:4f50", …}
2: {iface: "Wi-Fi", ifaceName: "TP-Link Wireless USB Adapter", ip4: "192.168.0.168", ip

[2020-10-13 11:18] RichardFoss commented on #425
Shall I go into the objects?

[2020-10-13 11:22] sebhildebrandt commented on #425
@RichardFoss Thank you ... that is fine for me ... will come back later.

[2020-10-13 11:24] RichardFoss commented on #425
Great, thanks for your help!

[2020-10-13 12:33] sebhildebrandt commented on #425
@RichardFoss my fault ... can you again download latest version of `/lib/network.js`and test one more time?

[2020-10-13 12:48] RichardFoss commented on #425
Sure, will do Sebastian!

[2020-10-13 12:58] RichardFoss commented on #425
It works!! Thanks!! Really need to buy you coffee now :)
Internal??:  Realtek PCIe GBE Family Controller false
indexjs.js:478 Internal??:  Npcap Loopback Adapter true
indexjs.js:478 Internal??:  TP-Link Wireless USB Adapter false
indexjs.js:478 Internal??:  Loopback Pseudo-Interface 1 true

[2020-10-13 13:03] sebhildebrandt commented on #425
@RichardFoss that's good to hear, that this works now. Just published a new npm version 4.27.9
Closing it for now.

[2020-10-13 13:03] #425 closed

[2020-10-13 13:04] RichardFoss commented on #425
Wonderful, thanks Sebastian!

[2020-10-14 19:22] rdlowrey commented on #396
@rogierschouten I ran into the same issue.

The root cause is that the docker container itself can't access the docker.sock file without effort on your part. You can [mount the docker.sock file as described here](https://stackoverflow.com/a/33183227/895378). This is probably fine in a local dev environment, but be aware there are potential security issues with this (as outlined in the link).

Doin

[2020-10-14 19:23] rdlowrey commented on #396
PR open to fix at https://github.com/sebhildebrandt/systeminformation/pull/428

[2020-10-16 08:43] sebhildebrandt commented on #396
@rdlowrey @rogierschouten Fixed. Version 4.27.10 just published.

[2020-10-16 08:43] #396 closed

[2020-10-16 08:44] #387 closed

[2020-10-19 10:04] rdlowrey commented on #396
@sebhildebrandt Thanks for addressing so quickly ❤️. Have a great day!

[2020-10-23 15:55] aleksey-hoffman opened #429 "fsSize() is too slow"
Hey @sebhildebrandt thanks for creating the module!

Have you considered turning it into a native C++ module based on [N-API](https://nodejs.org/api/n-api.html#n_api_n_api) (or creating a separate native NPM module)? It would allow you to make every single function faster and add additional features.

**Describe the bug**
`systeminformation.fsSize()` is ~900 times slower than [node-diskusage](http

[2020-10-23 18:54] florisvannoyen commented on #423
same issue here. but i'm on windows 10. its reporting my base clock for every value. also on all cores.

[2020-10-27 04:31] leermao opened #430 "How get the total of disk"
I only have 256 gigabytes of disk space on my mac
![image](https://user-images.githubusercontent.com/11629887/97257117-ee094500-184f-11eb-946d-dcad670dc90a.png)

But I don't understand why each size is 256 when use fsSize():

![image](https://user-images.githubusercontent.com/11629887/97257166-15f8a880-1850-11eb-8557-4811e8d49676.png)

So, How do I get real disk when use the lib

[2020-10-27 05:37] sebhildebrandt commented on #430
Hi @leermao this is interesting. Can you provide the output to the following command on your machine (command line):
... and provide the output as text (then I can use it as a mock input)

[code]

Thank you in advance

[2020-10-27 06:30] leermao commented on #430
Thank you for your reply

It looks like the same as this library result
[code]

OK, The output that `disLayout()` is what I want
[code]
but This result of `diskLayout` only disk0 one when I mount other disk (eg NFS). The NFS Info appear in the `fsSize `

![image](https://user-images.githubusercontent.com/11629887/97264698-67a92f00-1860-11eb-8aaf-610721783f38.png)

I want get the result is `mount`

[2020-10-27 06:50] sebhildebrandt commented on #430
@leermao so first to `fsSize()`: here we have different file systems mounted which are on the same disk. As there is no limit how big a mounted filesystem is allowed to be on this disk, `df` shows the full size of the underlying disk. So that is I guess from this perspective fine.

`diskLayout()`: now shows the physical layouts of the physical disks - including the mounted physical disks, which in

[2020-10-27 10:50] leermao commented on #430
Yes this's what I mean

Sorry. Maybe I didn't describe my problem well. Because this problem didn't happen on my computer.

The main purpose of this issue is to obtain the total disk in MAC OS Linux or Docker and Windows

So here's reason what happens:

The physical disk of that computer is 1T. But mount a non-physical disk of 20T. So If I use the `diskLayout` to calculate the total of disk is onl

[2020-10-27 10:54] sebhildebrandt commented on #430
@leermao OK, will come up with a fix for `mac os` later this week. I already have an idea ;-)

[2020-10-27 10:56] leermao commented on #430
Thank you very much.

[2020-10-28 21:51] pcnate opened #432 "services with spaces in name not accessible"
**Describe the bug**
Services c

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Current Output**
[code]

**Expected behavior**
Would expect some way to force service name to allow string whether it be escaping the spaces or setting a flag

**Environment (please complete the following information):**
 - systeminformation package version: 4.27.9
 - OS: Microsoft Windows 10 Pro - 10.0.19

[2020-10-29 09:37] sebhildebrandt commented on #432
@pcnate  Just to be sure: if you type

[code]

and locate your `KpyM Telnet SSH Server v1.19c` service ...

can you private the block of this certain service?
Thank you in advance

[2020-10-29 13:42] pcnate commented on #432
Here you are

[code]

[2020-10-29 14:05] sebhildebrandt commented on #432
@pcnate thank you pcnate. Yes you are right, this is how it is done. And this is also how I described it in the documentation. On Windows, I think I can change this. Will come back with a fix later this week.

[2020-11-02 08:07] leermao commented on #430
@sebhildebrandt Hi Bro. Can the problem be fixed this week?

[2020-11-02 10:11] sebhildebrandt commented on #430
@leermao of course. I had a problem with my laptop last week and got stuck ... will try to do it tomorrow.

[2020-11-03 03:11] leermao commented on #430
OK Thank You

[2020-11-03 12:48] sebhildebrandt commented on #430
@leermao I was not able to reach the office today due to the current situation here in Vienna ... will try to do it tomorrow. Sorry for the delay.

[2020-11-04 00:22] leermao commented on #430
@sebhildebrandt  no problem my bro. the problem be fixed this week is ok. thanks you in advance

[2020-11-04 09:50] Skillnter commented on #407
Running the following on window is not returning processes but it is returning while running on windows bash(ubuntu).

**OS Info:**

[2020-11-04 14:45] sebhildebrandt commented on #430
@leermao I just implemented a version that should now detect NFS drives on Mac. Can you test it on your side? Version 4.28.0 just released.

[2020-11-04 14:45] #430 closed

[2020-11-04 14:53] sebhildebrandt commented on #432
@pcnate I just made a code correction here on gut hub. If you download just the file `lib/processes.js` and test it on your side, that would be great. If this works, I will publish It to NPM. Thank you in advance.

[2020-11-04 19:22] BCsabaEngine opened #433 "debug information shown"
**Describe the bug**
After update to new release, console output contains uneccessary (maybe debug) informations

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'filesystem.fsSize()

**Current Output**
['/dev/root', 'ext4', ....]

**Expected behavior**
Hide this debug infos.

**Additional context**
filesystem.js line 46

[2020-11-04 20:25] sebhildebrandt commented on #433
@BCsabaEngine sorry, my fault, forgot to remove it. Will do it in the Morning. Thank you

[2020-11-04 22:24] DanielMcAssey opened #434 "Add remote connection detection"
**Is your feature request related to a problem? Please describe.**
Sometimes people use our apps in a remote environment through a remote session (e.g. RDP). We would like to detect and warn users when they do.

**Describe the solution you'd like**
Simply a flag to detect if you are running the application in a remote session.

**Describe alternatives you've considered**
None

**Additional context

[2020-11-05 00:38] leermao commented on #430
ok thank u

[2020-11-05 04:16] leermao commented on #430
can u show me your demo? I already dont know how to use when mount NFS on `mac os`

[2020-11-05 07:21] sebhildebrandt commented on #433
@BCsabaEngine done ... sorry again. Version 4.28.1 just published

[2020-11-05 07:21] #433 closed

[2020-11-05 07:29] sebhildebrandt commented on #430
Just use it exactly the same was as before ...

[code]

So if you have a NFS share mounted (via `sshfs`), the output would now also show this mounted file system:

[code]

You can now distinguish this mounted filesystem by type:`NFS` for mounted network file systems. Does this make sense for you? If this still is not what you expect, please post one more time the output of the following command on

[2020-11-05 09:38] BCsabaEngine commented on #433
You don't have to apologize, it's in the deck. Thank you for your sacrificial (and quick) work!

[2020-11-05 13:19] leermao commented on #430
you mean the total of disk is `diskLayout()` + type `NFS` of `fsSize()` on	`mac os` ?

[2020-11-05 13:33] sebhildebrandt commented on #430
@leermao ... here we need to me more clear, what you get from which function:

- `diskLayout()` will always provide hardware information, so only the true physical disks in your machine.
- `fsSize()` will give you the mounted file systems ... NFS are only seen as mounted file systems, not as partitions / disks.

So if you need to calculate the overall disk space, you need to get the physical sizes

[2020-11-08 07:46] sebhildebrandt commented on #429
@aleksey-hoffman ... Thank you for your suggestion, I get your point. Currently I do not have plans to implement parts in C++. I do know, that there is a huge potential especially on windows for a lot of functions. I will keep this in mind for maybe a new major release of `system-information`

[2020-11-08 07:47] sebhildebrandt commented on #432
@pcnate Did you had the time to test it on your side?

[2020-11-08 07:53] sebhildebrandt commented on #395
@weiweian90 Did you made any further observations concerning this behaviour? I cannot reproduce it on any of my machines here.

[2020-11-08 10:45] leermao opened #435 "Can this library support the fsSize with type is `NAS` ???"
https://github.com/sebhildebrandt/systeminformation/issues/430

now the lib support the fsSize with type is `NFS` and this is perfect to show disk on my mac. thank you again.
so I suggest you can support it that the fsSize with type is `NAS`.  it is more perfect .

[2020-11-08 10:52] sebhildebrandt commented on #435
@leermao `NAS` would translate to Network Attached Storage, while `NFS` is Network File System ... the later is I think more appropriate in the context of `fsSize()` which is about file systems.

For now, I would rather leave this like that. Do we have another space within the library where I return 'NAS'??

[2020-11-08 10:52] #435 closed

[2020-11-08 12:01] sebhildebrandt commented on #410
@chainhead I now have rewritten the revision code parsing and adapted also `si.cpu()` and `si.system()` for raspberry devices:

`si.system()` now outputs something like:

[code]

The model and revision matches exactly to what `/proc/cpuinfo` returns, further details are now in the optional return parameter `raspberry`.

`si.cpu()` now outputs something like:

[code]

So the real processor name, ma

[2020-11-08 12:06] chainhead commented on #410
Thank you, @sebhildebrandt . I will try this out some time.

[2020-11-08 21:21] Apollon77 opened #436 "URIError null.<anonymous>(systeminformation.lib:filesystem)"
Hey,

I have a crash case again :-)

It seems that with one user one f his filesystems is not parsable correctly ... But also because the error throws async it is not catchable on the user side of the library.
Could you please have a look?

https://sentry.iobroker.net/share/issue/c7be60c49a554b6bbba1b5777dfbf03e/

[code]

[2020-11-08 23:34] leermao opened #437 "Do we have another space return 'NAS' within the library ??"
can we get NAS info if that computer have it

[2020-11-09 05:54] sebhildebrandt commented on #437
@leermao Do you have an example / suggestion, what this should return (and what is not already part of other functions?)

[2020-11-09 06:05] sebhildebrandt commented on #436
@Apollon77 I watched the error here. Version 4.29.2 just published.

[2020-11-09 06:05] #436 closed

[2020-11-09 06:16] sebhildebrandt commented on #429
Closing it for now.

[2020-11-09 06:16] #429 closed

[2020-11-09 06:32] sebhildebrandt commented on #434
@DanielMcAssey as far as I have seen in my investigation, this is only possible by writing an C++ extension. I currently do not plan to do that, this would a more complex installing process for some users. Fo Linux machines I found an easy solution but not for windows. If you have further suggestions, please post it here.

[2020-11-09 07:19] Apollon77 commented on #436
Thank you, the question is if it would not be a  better idea just to check for exceptions of the uri-decode and so just ignore the one invalid entry in the hole others are correct ... now you return just an emty array as soon as one line is invalid ...

[2020-11-09 07:24] sebhildebrandt commented on #436
@Apollon77 makes sense! will adapt it accordingly

[2020-11-09 07:28] sebhildebrandt commented on #436
@Apollon77 Done. version 4.29.3 just published

[2020-11-09 07:45] Apollon77 commented on #436
Thank you very much for your fast reaction!!

[2020-11-09 18:07] diegoecamacho commented on #432
@sebhildebrandt I was running into this same issue last week, just tried it on my end with the new processes.js file and it worked as expected, thank's for the quick fix, would like to see this on NPM as soon as you can.

[2020-11-09 18:11] pcnate commented on #432
sorry for the delay. I just tested this. I pulled from npm as I noticed that other changes were pushed to npm which included this update

[2020-11-09 20:17] sebhildebrandt commented on #432
@diegoecamacho as @pcnate said, this is already published ;-)

[2020-11-09 20:17] #432 closed

[2020-11-11 15:45] laleft opened #438 "Cannot read property 'replace' of undefined"
**Describe the bug**
Using `processLoad `in observer throws `TypeError: Cannot read property 'replace' of undefined`

**To Reproduce**
[code]

**Current Output**
[code]

**Expected behavior**
[code]

**Environment (please complete the following information):**
- node v10.16.0
- OS: CentOS 7 and Windows 10 (same result)

[2020-11-11 17:01] sebhildebrandt commented on #438
@laleft thank you for your report. There are several things to say here:

1. `processLoad` currently expects only ONE process name. But it might be a good idea to extend this. Not now, because this would also change the result type of this function what would be a breaking change. I will keep this probably for the upcoming version 5
2. in your value object you are in the VALUE part of the `process

[2020-11-12 07:08] sebhildebrandt commented on #438
@laleft I now extended the `get()` function to accept parameters in the valueObject. The documentation for the `get()` function can be found here: https://systeminformation.io/general.html This allows you to also provide parameters in the `observe()` value object. The example I gave you in my previous comment should now work. I also cleaned up some things so that the catching of errors is now bett

[2020-11-12 07:08] #438 closed

[2020-11-12 12:06] laleft commented on #438
Hi @sebhildebrandt!! Thank you for your quick response. About the `processLoad` function, got it! I just update to the last version and works like a charm.

Thank you for this amazing package!

[2020-11-13 09:10] #437 closed

[2020-11-15 07:38] fgroupindonesia commented on #352
ok goood.... that's good!

is it now availablefor the documentation as well?

[2020-11-18 07:49] GerritKuilder opened #440 "Dome document enhancement on ValueObject: only retrieve the mount:'/' from fsSize"
**Is your feature request related to a problem? Please describe.**
I am trying to pull all information of a system by defining a ValuObject

**Describe the solution you'd like**
I am sure this must be possible: only retrieve the mount:'/' from fsSize
but an example will be most helpful
**Describe alternatives you've considered**
Document enhancement of providing examples of being able to refine th

[2020-11-18 13:46] lmcarreiro opened #441 "Add option to set priotity of spawn child processes to avoid performance issue when CPU is on 100%"
**Is your feature request related to a problem? Please describe.**
On Windows, if the CPU usage is on 100%, the `si.processes()` call takes too much time to return the data. Even if I set the "Realtime" priority on my node.js process, as this library starts a WMIC.exe process to get the data, this child process doesn't inherit the parent's "Realtime" priority, so changing the priority on node.js p

[2020-11-18 13:51] lmcarreiro commented on #441
I see that there was already an issue suggesting this approach: https://github.com/sebhildebrandt/systeminformation/issues/209

[2020-11-18 14:08] sebhildebrandt commented on #441
Hi @lmcarreiro will have again a look on that ... will come back with a solution.

[2020-11-18 14:58] lmcarreiro commented on #441
Oh, thank you.

I think https://nodejs.org/api/os.html#os_os_setpriority_pid_priority would fix this issue, but when I was running from electron.exe, I noticed (using Process Explorer) that there is a cmd.exe in the middle of the parent-child relationship. Maybe it will have some problem on getting the WMIC.exe PID.

![image](https://user-images.githubusercontent.com/13019179/99546207-93659380-298

[2020-11-18 20:53] dajpes opened #442 "Empty output using si.system()"
Hi everybody,

First time using this amazing package. The problem I got is that I get a completly empty value if I do si.system(), I don't know if this is a feature or just some random bug.

I'm using systeminformation package in both node 10 and 15 and error still remains.

This is my code where I run it:

[code]
And this is the output:

[code]

I'm not using a virtual machine, I'm just using a n

[2020-11-20 18:05] sebhildebrandt commented on #440
@GerritKuilder this is currently not possible. The `ValueObject`lets you define the keys you want to get back for a specific function but if the result is an array, you currently cannot define a filter for the returning array. I will think of how I can include this to the `get()` function. And of course then I will also extend the documentation how this can be done. Will come back later with a sol

[2020-11-21 06:44] fgroupindonesia commented on #246
yeah you're right... which one the status of current connected WIfi ? we don't know from here....

[2020-11-23 16:16] rosen-vladimirov commented on #442
Hey,
Same is happening on my side with Ubuntu 20.04 LTS - the dmidecode command (and all the rest commands that are used to get the information) require sudo, so the output of the systeminformation call is:
[code]

[2020-11-23 16:22] sebhildebrandt commented on #442
@rosen-vladimirov , @dajpes can you both post the output (as text please) of

[code]

as well as

[code]

and to @dajpes can you also do the following:

[code]

That would help to identify the problem. One more question to both: are you running your code with admin rights?

Regards

[2020-11-23 16:39] rosen-vladimirov commented on #442
Hey @sebhildebrandt ,
Thanks for the prompt response. My code is not running with admin rights.
Here's the output of the requested commands:
[code]

[2020-11-23 22:53] dajpes commented on #442
hi @sebhildebrandt ,

What do you mean by running the code with admin right? in  the case of the systemInformation package I just install it using npm and then with node running node myFile.js

Here is the output of:

```dmidecode -t system```

![image](https://user-images.githubusercontent.com/11248816/100024310-809bf600-2db4-11eb-95c5-86aa15e97816.png)

``` sudo dmidecode -t system```

![image](

[2020-11-25 08:15] bymomo commented on #427
code:
const systeminfo = require("systeminformation");
systeminfo.osInfo();

run result:
{
    arch: "x64"
    build: "19041"
    codename: ""
    codepage: " 936"
    distro: "Microsoft Windows 10 רҵ��"  //  unidentifiable Chinese code
    hostname: "DESKTOP-V80RUVR"
    kernel: "10.0.19041"
    logofile: "windows"
    platform: "win32"
    release: "10.0.19041"
    serial: "00331-10000-00001-AA2

[2020-11-25 08:16] bymomo commented on #427
Win10 Chinese version

[2020-11-25 17:18] RianFuro opened #443 "Latest update broke cordova"
**Describe the bug**
I know this might not directly your fault or problem, but I wanted to notify you that the last update to your npm package broke [apache/cordova-cli](https://github.com/apache/cordova-cli) (and probably other packages depending on this one), because of these additions:

https://github.com/sebhildebrandt/systeminformation/blob/bd5b8abab6545706b7edfbb675a77fa51a07e907/lib/index.j

[2020-11-25 17:44] sebhildebrandt commented on #443
@RianFuro I had the feeling, that this has some side-effects ... will revert it today ... Was in contact with some security advisors and this was their suggestion ... :-(

[2020-11-25 18:00] RianFuro commented on #443
Hm. Without being an expert myself, I suppose that's a plausible suggestion if you're in total control of your environment. However when you're developing a package for others to use, you never will be. Heck, you can't even really be sure _when_ your code will be sourced, so a malicious actor could simply modify the prototype before you freeze it.

[2020-11-25 18:46] sebhildebrandt commented on #443
@RianFuro ... exactly, that was my feeling. So I now reverted this, Version 4.30.4 just published. Will need to have a look, what possibility I have to manage this.

[2020-11-25 18:46] #443 closed

[2020-11-25 18:47] raphinesse commented on #443
Thanks a lot for the quick response time @sebhildebrandt! :bowing_man:

[2020-11-25 18:51] sebhildebrandt commented on #443
@raphinesse you are always welcome... really sorry about the inconvenience ...

[2020-11-26 06:22] rosen-vladimirov commented on #442
Hey @sebhildebrandt ,
Is there something we can do to help with this issue? I'm ready to test any code that you have or even if you have an idea how to implement it, I may try do work on it.
Ping me in case I can help in some way.

Thanks for the amazing package and all of your work!

[2020-11-26 06:56] sebhildebrandt commented on #442
@rosen-vladimirov sorry, I had to solve a security issue. Need to work on this issue now later this week. And yes, as soon as I need help testing it, I would reach out and contact you again. Thank you.

[2020-11-26 15:03] GitSquared opened #444 "CPU temperature is incorrect on Linux"
**Describe the bug**
CPU temperature reporting does not work on some Linux systems due to the library not looking in the correct sysfs devices.

**To Reproduce**
Use `systeminformation.cpuTemperature` on affected Linux systems.

**Current Output**
[code]

**Expected behavior**
See actual CPU temperature, for instance on my system it was ~20° hotter than sysinf reported.
[code]

**Environment (plea

[2020-11-26 15:56] sebhildebrandt commented on #444
@GitSquared Thank you! Well tags something I can work on. Not a big deal ... will try to come up with a solution! Currently have to fix a security issue in System Information which for me has a little higher priority ;-) Hope to have a fix for this issue this weekend.

[2020-11-26 16:03] GitSquared commented on #444
Sure, no rush ;)

Off-topic, but I'm curious about that sec issue, is it sufficiently severe to warrant a delay in downstream releases? I'm about to push a big release and don't want to have to patch it in 2 days because of a CVE.

[2020-11-26 16:08] sebhildebrandt commented on #444
@GitSquared So there is a potential possibility to hack some code due to property pollution. I did a first fix which prevents this certain section but I want to make it more stable. I want to fix that tomorrow evening. Will give you an update on the status. You also can then review the security advisory here on GitHub.

[2020-11-26 16:09] GitSquared commented on #444
Gotcha, thanks for keeping me in the loop.

[2020-11-26 18:22] Filaind opened #445 "CPU temperature return -1"
**Describe the bug**
cpuTemperature not return correct temp

**To Reproduce**

**Current Output**
`{main: -1, cores: []), max: -1}`

**Expected behavior**
`{main: 40, cores: []), max: 50}`

**Environment (please complete the following information):**
 - systeminformation package version: 4.30.5
 - OS: Windows 10
 - CPU: Ryzen 9 3900x

[2020-11-27 07:02] lykl opened #446 "multiple compilation environments"
**Describe the bug**
Well,I think this plugin is used some variables from `process.env`，but when I try to set up multiple compilation environments like create a file `.env.test` , there is something wrong.
I set:
[code]
in my ` vue.config.js`,so I can use the `process.env` in renderProcess currently.
But unfortunately,I find the `disklayout` return an empty array. When I remove the above code,It c

[2020-11-27 14:54] sebhildebrandt commented on #446
@lykl having a look into my code ... can it be that you are running it on windows? Well there I am using the `process.env` to detect windows install path (and location of WMIC) ... I can change this the way that if there is no `process.env.WINDIR`, I default `c:\\windows` ...

[2020-11-27 14:58] sebhildebrandt commented on #445
@Filaind

1. did you checked the **Known Issues** section here: https://systeminformation.io/cpu.html
2. what results you get when running `wmic /namespace:\\root\wmi PATH MSAcpi_ThermalZoneTemperature get CurrentTemperature`?

Regards Sebastian

[2020-11-27 14:59] lykl commented on #446
yes,I run it on win 10

[2020-11-27 15:07] sebhildebrandt commented on #446
@lykl OK, then I just added a default setting for the `wmic` windows path. Version 4.30.6 just released. Can you try it on your side?

[2020-11-27 15:10] lykl commented on #446
thank you,I will try it on monday

[2020-11-28 14:17] sebhildebrandt commented on #444
@GitSquared Hi again, I now have a possible solution for that. I did not yet released a new version. Would it be possible to test it on your side obtaining the latest version of the `lib/cpu.js` file from GitHub? Here I am trying to get hwmon0 - hwmon3 data and determine which might be the best ... Please let me know if this works for you as I cannot really test it.

[2020-11-28 15:11] GitSquared commented on #444
Hi Seb! This solution works for me but I wonder if we could perhaps use a more versatile bash one-liner rather than simply extending the search to the first 3 `hwmon`s.

One thing I've noticed is that not all devices have both a `tempX_label` and a `tempX_input`... We can use that to know which devices to skip and which are more likely to be core temps.

[code]

One-liner:
[code]

Sample output on

[2020-11-28 16:53] sebhildebrandt commented on #444
@GitSquared wow. No need to push a pull request. Will work on it later tomorrow.

[2020-11-29 08:49] sebhildebrandt commented on #444
@GitSquared version 4.30.7 just published. Thank you for your awesome idea! If you have further ideas for this module, do not hesitate to contact me. Best regards.

[2020-11-29 08:49] #444 closed

[2020-11-29 08:53] GitSquared commented on #444
Thank you!

[2020-11-29 14:13] sebhildebrandt commented on #445
@Filaind ... did you received my comment?

[2020-11-30 01:37] lykl commented on #446
It's working,thank you

[2020-11-30 01:37] #446 closed

[2020-11-30 19:48] AdrianoCahete commented on #434
Maybe a Powershell solution?

https://stackoverflow.com/a/28678312/1032384

[2020-11-30 22:07] Apollon77 opened #449 "Command failed: diskutil list Unable to run ..."
I have another Sentry crash report...

https://sentry.iobroker.net/share/issue/365735ec7d9448b287d0558bf2140eab/

[code]

[2020-11-30 22:19] sebhildebrandt commented on #449
@Apollon77 just released a new version 4.30.8 where I catch this error. Would be interesting to know on which machine this was running. It seems to be macOS but I would be happy to get more details.

[2020-11-30 22:19] #449 closed

[2020-11-30 22:22] Apollon77 commented on #449
Hey, from the collected data I see "darwin" (so macOS) with nodejs v12.19.1 ... mor I also do not have

[2020-11-30 22:22] Apollon77 commented on #449
Thank you for your fast fix

[2020-11-30 22:24] sebhildebrandt commented on #449
@Apollon77 yes this was almost clear. I just wondered if this is on a new M1 apple silicon machine ;-) I do not yet have the new hardware here to test and adapt it but this is one of the projects for the upcoming weeks.

[2020-11-30 22:32] sebhildebrandt commented on #442
@rosen-vladimirov @dajpes can you both do me one more favor:

can you try to run the following commands:

[code]

These are the failover commands that I run, if `dmidecode -t system` does not return any useful information. Pleas post the results as TEXT, not as screenshots. Thank you again.

[2020-11-30 22:33] Apollon77 commented on #449
good luck ... :-)

[2020-11-30 23:08] dajpes commented on #442
Hi @rosen-vladimirov I did as you said and here are the results:

The first two commands:

![image](https://user-images.githubusercontent.com/11248816/100676514-0d0b6300-3337-11eb-97f6-de3695e40a9e.png)

The others commands:

![image](https://user-images.githubusercontent.com/11248816/100676546-1bf21580-3337-11eb-9b14-9fc0b56f9a9b.png)

[2020-12-01 05:58] rosen-vladimirov commented on #442
Hey @sebhildebrandt , here's the required output:
[code]

[2020-12-01 08:29] sebhildebrandt commented on #442
@rosen-vladimirov @dajpes ... As we see: as long as you run your code as a non privileged user, linux is quite restrictive getting those information. In some cases the fallback commands where successful but here we also see that you do not get any useful information. So the problem is not really related to `systemInformation` package, more to linux restrictions. I would here close this issue ... I

[2020-12-01 08:29] #442 closed

[2020-12-01 08:38] sebhildebrandt commented on #445
Closing it for now. Seems to be covered by remarks in the **Known Issues**

[2020-12-01 08:38] #445 closed

[2020-12-01 10:19] kenny-y opened #450 "Unable to parse Apple Silicon M1"
Failed to parse string since the `modelline` is `Apple processor`

[code]

[2020-12-01 10:21] sebhildebrandt commented on #450
@kenny-y I still wait for my M1 silicon hardware to arrive here ;-) ... will then extensively work on making System Information fully compatible with Apple ARM processors! Thank you for reporting. As you already done ... if you discover more issues please add "Apple Silicon M1" to the title. Thank you in advance.

[2020-12-01 11:49] kenny-y commented on #450
I manually append '@0GHz` to the string as a quick hack and all the rest works (at least no exceptions thrown). I'll report more if I hit any issues.

[2020-12-01 11:50] kenny-y commented on #450
BTW. I'm using ARM64 Node.js v15 compiled by this link: https://www.reddit.com/r/apple/comments/jyfg4m/nodejs_running_native_on_apple_silicon_m1_mac_mini/

[2020-12-01 11:55] sebhildebrandt commented on #450
@kenny-y good to know! This is what I am also aiming for!

Concerning this issue, I now added some code to catch this correctly (not yet published) but of course there is much more to do then as soon as I have the hardware here. Thank you for your support!

[2020-12-01 19:02] rosen-vladimirov commented on #442
Hey @sebhildebrandt , thanks for investigating this case and the explanation, really appreciate it!

[2020-12-02 08:03] Apollon77 opened #451 "TypeError null.<anonymous>(systeminformation.lib:cpu) fatalmodellineParts.trim is not a function"
Sentry again, this time feels like a code bug :-)

https://sentry.iobroker.net/share/issue/8a131e2017404538b3f0ca3f7c7288be/

[code]

[2020-12-02 08:08] sebhildebrandt commented on #451
@Apollon77 sorry definitely my fault! Corrected. Version 4.30.11 just released.

[2020-12-02 08:08] #451 closed

[2020-12-02 08:09] Apollon77 commented on #451
np! Awesome fast fix! Thank you

[2020-12-02 08:34] sebhildebrandt commented on #450
@kenny-y: This part of the code Is now released. Version 4.03.11 just published. Leaving this open while waiting for Apple silicon hardware.

[2020-12-02 15:49] saurabhsinghhauhan commented on #273
@blacktxandy I'm new in vue(2.6.12) and facing the same issue, I added `const si = require('systeminformation')` in public -> index.html, then I'm getting below error

`Uncaught ReferenceError: require is not defined`

Please help to close this issue. Thanks in advance

[2020-12-02 16:15] sebhildebrandt commented on #273
@saurabhsinghhauhan Seems that you are trying to use `systeminformation` client side ... this will not work. This library is supposed to be used as a node.js backend/server-side library and will definilely not work within a browser. Have a look at our documentation: https://systeminformation.io/gettingstarted.html

[2020-12-02 16:39] saurabhsinghhauhan commented on #273
@sebhildebrandt Thanks for the quick response, it saved my time.

[2020-12-03 00:40] blacktxandy commented on #273
Yep, I was using it on a nwjs application... so, it's kind of a node(ish) environment... it's still working today, although I'm not working on the same company anymore and dont have access to the code anymore.

[2020-12-05 15:31] celevra opened #452 "fqdn"
Hi,

is there a way to get the fqdn instead of only the hostname?

regards

celevra

[2020-12-05 15:59] sebhildebrandt commented on #452
Hi, @celevra, some questions

- what OS you are running
- what exactly would you expect
- can you give a specific example

Regards

[2020-12-06 07:43] celevra commented on #452
Hi,

i'm running osx, windows and linux
i except that i get through os() not only os.hostname (server), but also the fqdn (server.domain.com)
equivalent to hostname -f on linux and osx and echo %COMPUTERNAME%.%USERDNSDOMAIN% on Windows

regards

[2020-12-06 07:47] sebhildebrandt commented on #452
@celevra very clear. Will add this feature.

[2020-12-06 07:49] celevra commented on #452
wow, first thank you for your fast answers and second thank you for the fast commitment to implement my request, and third thank you for all your work, its a great library!

[2020-12-06 14:53] sebhildebrandt commented on #452
@celevra Done ... version 4.31.0 just released. Can you test it on your side? You should find `fqdn` now also in the `osInfo()` object

[2020-12-06 14:53] #452 closed

[2020-12-06 15:02] sebhildebrandt commented on #395
@weiweian90 Well, **this** is probably the solution for getting again the missing output:

- Disable and stop wmi service (also stops IP Helper)
- cmd > wmimgmt /resetrepository
- Enable and start wmi service, start IP Helper service

Or in Powershell you can try:

[code]

Closing it for now.

[2020-12-06 15:02] #395 closed

[2020-12-07 02:12] weiweian90 commented on #395
thanks, I will try when face again

[2020-12-13 06:42] fgroupindonesia commented on #352
any updates so far?

[2020-12-13 11:34] sebhildebrandt commented on #352
@fgroupindonesia sorry for the delay. Was a quite intense year ... I started to work on it but never finished. Hope to make some progress till end if the year.

[2020-12-16 11:59] sebhildebrandt opened #453 "Apple Silicon M1 compatibility"
New Apple silicon hardware (M1) just arrived 👍
I already checked compatibility and made first fixes. Here I  provide a list, what is already working and what still needs to be fixed.

All tests are done with native nodejs installation

- `node -v` : v15.4.0
- `os.platform()`: 'darwin'
- `os.arch()`: 'arm64'

## Installation

- [x] Installation

## System

- [x] system
- [x] bios
- [x] baseboard
-

[2020-12-16 12:40] sebhildebrandt commented on #450
@kenny-y - I just opened a new pinned issue to track complete Apple silicon compatibility: #453

As I will get the new hardware the next few days I there will report all findings.

[2020-12-18 17:25] FranCarrascosaMS commented on #132
@sebhildebrandt, first of all, thanks for this repository, it's very useful!

In version 4.27.0, I'm getting a similar popup in macOS Catalina (10.15.5) but asking for `python3` command:

![image](https://user-images.githubusercontent.com/32394038/102642033-5a703880-415d-11eb-814a-0301970f3d3f.png)

I think users should not see this message and library must check if the command is installed before

[2020-12-18 17:53] sebhildebrandt commented on #132
@FranCarrascosaMS will start investigation.

[2020-12-19 12:36] Apollon77 opened #454 "TypeError: Cannot read property 'to' of undefined"
Sentry Report again :-)

https://sentry.iobroker.net/share/issue/e84b560c00474bc182d173ac832dd0ce/

[code]

[2020-12-19 12:38] Apollon77 commented on #454
Seems to use an older version of the lib, but code öine in general still exist

[2020-12-19 19:42] sebhildebrandt commented on #132
@FranCarrascosaMS I pushed a version to GitHub that should solve the problem. Can you test it (you probably only need to download the lib/osinfo.js file ... thank you for a feedback. If this runs well, I will publish a new npm package version.

[2020-12-19 19:58] sebhildebrandt commented on #454
@Apollon77 thank you Ingo, I already addressed this, code is pushed to GitHub but not yet released a new nom version as I am testing another enhancement right now. Hope to release a new version beginning of next week.

[2020-12-19 20:11] Apollon77 commented on #454
All good thank you!!

[2020-12-19 20:37] eliteSchwein opened #455 "Better Readings"
**Is your feature request related to a problem? Please describe.**
It doesnt read the ram banks as example

**Describe the solution you'd like**
Use the command lshw instead of /proc/meminfo

**Describe alternatives you've considered**
more details

**Additional context**
-

[2020-12-19 20:50] eliteSchwein commented on #455
i am dumb, just ignore this issue ;)

[2020-12-19 20:50] #455 closed

[2020-12-21 19:28] sebhildebrandt commented on #450
Apple M1 compatibility mostly down. Version 4.33.0 just published.

[2020-12-21 19:28] #450 closed

[2020-12-21 19:28] sebhildebrandt commented on #454
@Apollon77 fixed. Version 4.33.0 just published

[2020-12-21 19:28] #454 closed

[2020-12-22 14:33] FranCarrascosaMS commented on #132
@sebhildebrandt, `python3` command requirement is gone but `pip3` arises now.

![image](https://user-images.githubusercontent.com/32394038/102899170-d1ae1100-446a-11eb-916b-f50b07a8c40a.jpeg)

Thanks!

[2020-12-22 14:41] sebhildebrandt commented on #132
@FranCarrascosaMS ... just pushed a new version V4.33.1 that should also cover this issue. Can you give it a try?

[2020-12-23 14:42] FranCarrascosaMS commented on #132
@sebhildebrandt, no popup is displayed! :DDD Thank you so much! 👏🏽👏🏽👏🏽

[2020-12-28 03:23] AnimeshKoratana opened #456 "Typescript Compile Failure: duplicate identifier`subDeviceId`"
**Describe the bug**
Typescript compile fails on due to a duplicate identifier on the [index.d.ts](https://github.com/sebhildebrandt/systeminformation/blob/9d7a3f30c6a062a4659639299ef2414869770b46/lib/index.d.ts#L260) file.

**Current Output**
[code]

**Environment (please complete the following information):**
 - systeminformation package version: 4.33.3
 - node version: v14.5.0
 - tsc version: 3

[2020-12-28 07:10] sebhildebrandt commented on #456
@AnimeshKoratana sorry, my fault. Fixed. version 4.33.4 just published.

[2020-12-28 07:10] #456 closed

[2020-12-30 06:23] artemis15 commented on #296
hey, I'm thinking to become contributer to the discovery of installed software. Do let me know if that's okay with you.

[2020-12-30 09:17] Catutigernos opened #457 "vboxInfo function return empty array on virtual machine"
Hi everyone,
My usage purpose is handling current OS virtual or not. I try vboxInfo but not working, I can handle this with diskLayout function. I am checking is vendor VirtualBox or not
**Describe the bug**
In virtual machine, vboxInfo function return []
**To Reproduce**
Steps to reproduce the behavior:
const si = require('systeminformation');
si.vboxInfo().then(a=>console.log(a)).catch(err => co

[2020-12-30 10:39] sebhildebrandt commented on #457
@Catutigernos what is the output of `si.system()`?

Inside a virtual machine, vboxInfo() should not return anything. This function is supposed to give results on the host machine.

[2020-12-31 09:12] sebhildebrandt commented on #457
@Catutigernos as I do not see this as a bug (as described above in my last comment), I will close this. I am thinking of implementing an additional flag `virtual` in `si.system()` which should then show if the system is inside a virtual machine.

You can help me by posting the output of the following commands on your virtual client:

[code]

Thank you in advance

[2020-12-31 09:44] sebhildebrandt commented on #296
@artemis15 hello Akash, thank you for your feature request. Back then last year I also spend some time on trying to provide a solution here. I guess we should clarify some questions:

What exactly is "installed software" - for Windows and Mac OS this might be clear (I have a solution in place already) but on linux this is not that clear. Here we have to handle quite a lot package managers to get v

[2021-01-01 03:40] artemis15 commented on #296
Hey,

Wishing you a very happy new year.

Yes win and Mac can be done but there is a catch with win and Mac that you
need admin access to get installed softwares.

Regarding Linux, I've some scripts that I'm using to get data( I've been
using it for last 1.5 yrs and it's giving good result.)

Probably, we can spend some time and discuss on it.

--
Cheers,
Ar

On Thu, Dec 31, 2020, 3:14 PM Sebastia

[2021-01-04 09:47] Catutigernos commented on #457
Hi @sebhildebrandt,
Firstly, thanks for your response. Then it is my mistake. I missed that information, but vboxInfo function also return [] In host machine. I am sending the outputs of the commands which you have requested.

1. what is the output of si.system()?
[code]
2. can you also post output of cat /proc/cpuinfo

[code]

3. dmesg | grep -iE "virtual|hypervisor" | grep -iE "vmware|qemu|kvm|x

[2021-01-04 10:07] sebhildebrandt commented on #457
@Catutigernos Thank you for your tests and providing outputs! This would help adding a new function indicating when you are in a virtual machine. I will add this soon.

Concerting your report, that on your host you also have `si.vboxInfo()` returns also an empty array on the host: Can you again make a few tests?

- what is the environment variable of VBOX_INSTALL_PATH on your host
- what is the en

[2021-01-04 10:24] Catutigernos commented on #457
@sebhildebrandt Thanks. If this function was added, it would be fantastic.

1. what is the environment variable of VBOX_INSTALL_PATH on your host
No Variable

2. what is the environment variable of VBOX_MSI_INSTALL_PATH on your host
`C:\Program Files\Oracle\VirtualBox`

3. VBoxManage.exe list vms --long
[code]

[2021-01-04 10:35] sebhildebrandt commented on #457
@Catutigernos thank you once again, so one more thing I ask you to do:

can you go - in your sample code test - into `node_modules/systeminformation/lib/virtualbox.js`

can you add there some console.logs and see what is the output?

between line 27 and line 28:

[code]

I would like to know, if we have a correct output here ... then maybe we have a parsing issue.

[2021-01-04 11:23] Catutigernos commented on #457
@sebhildebrandt thanks in advance.
util.getVboxmanage() returns `C:\Program Files\Oracle\VirtualBox\\VBoxManage.exe"`
Stdout is empty.
There is extra quotation marks in path. And path must be between quotation marks. Program Files is two word, and there is space between them. Probably path parameter go as 'C:\Program' instead of 'C:\Program Files\Oracle\VirtualBox\VBoxManage.exe'. I correct comman

[2021-01-04 11:30] sebhildebrandt commented on #457
@Catutigernos can you try it also with

[code]

I guess we would need escaping the backslash ... does this work correctly? Then I will release a new version with this fix. Thank you !!

[2021-01-04 11:43] Catutigernos commented on #457
I tried this function and it works fine too. I generally use like this and I have no blackslash issue. I don't do anything :))), but thanks . I suppose check virtual machine on diskLayout() function. Is there any better way you can suggest?

[2021-01-04 11:57] sebhildebrandt commented on #457
@Catutigernos thank you. Version 4.33.8 just released fixing the issue on your windows host. For the "virtual" flag, I need to implement several approaches depending on what virtualization you use this needs different detection methods. Will try to do this this week.

[2021-01-04 12:12] Catutigernos commented on #457
I am developing a desktop app with Electron. I am trying to implement licensing strategy. I don't want anybody get my app and run on virtual machine. Sometimes somebody get image operating system and set up as virtual machine. In short words, I try to protect my app from virtual machines. App will works generally on Windows, but maybe linux in the future but not certain

[2021-01-04 13:13] sebhildebrandt commented on #457
@Catutigernos If you pull the latest version from GitHub (not yet released as npm package) ... or maybe just grab the `lib/system.js` file, then you see a first version with virtual detection flag. I managed to implement detection for linux and windows virtual clients (and several virtualisation hosts line VMware, VirtualBox, Xen, ...).

Maybe you give it a try and give me some feedback.

Your sam

[2021-01-04 13:30] Catutigernos commented on #457
@sebhildebrandt thanks and it was fast :D. I tried and it works fine for me.
Host OS
[code]
Guest OS
[code]

[2021-01-04 13:33] sebhildebrandt commented on #457
Thank you one more time @Catutigernos. will release new npm package tomorrow ... closing it for now.

[2021-01-04 13:33] #457 closed

[2021-01-05 06:09] Catutigernos opened #460 "Standardization of uuids in library"
Hi,
I realised uuids in library are not in a standart format. One is lowercase, other one is uppercase, one of them has not dashes. If they were in same format, it would be nice. It is not vital, just I realised
in uuid() function
Host Machine(Windows)
`{ os: '4e79641b-5478-4fad-915d-10f5fdda59b2' }`

Guest Machine(Virtual Centos 8)
`{ os: 'f24c5306e4fd4a7b95e076d0fde8e0b7' }`

in system() functio

[2021-01-05 07:44] sebhildebrandt commented on #460
@Catutigernos I fixed this by lowercasing all UUIDs but I do not want to change the format by adding characters (this is up to the OS to define how they handle their uuids). I am anyway planning to extend the `uuid()` function to return more uuids ... will do this with version 5 of systemInformation (which I am already working on). I hope for now this is sufficient for you.

Version 4.34.2 just re

[2021-01-05 07:44] #460 closed

[2021-01-05 08:25] Catutigernos commented on #460
hi @sebhildebrandt ,
I thought again, and you are right, I generally use same format for variables. I thought them as string variable not as system variable. Like you said, manipulation of system variable is not logical, and this decision should be left to operating system, so silly me :D

[2021-01-05 08:26] Catutigernos commented on #460
And your library is sufficient, make easy implementation for me, so thanks

[2021-01-06 01:46] xddman opened #461 "Graphics Controller undefined"
**Describe the bug**
It doesnt find any graphic 'controllers' on last 2 versions, and cannot return a lot of stats that are available on the site like .temperatureGpu (everything other than whats bellow in output) on versions before 4.34.0.

code used:
const si = require('systeminformation');
si.graphics().then(data => console.log(data));

outputs per version: (versions copied from package.json
"v

[2021-01-06 07:24] sebhildebrandt commented on #461
@xddman sorry for introducing a bug here ... I already fixed it ... Version 4.34.3 just released. Can you test this?

Concerning tram value: can you post the output of the following code:

[code]

As fas as I have discovered, here windows reports wrong VRAM values ... but maybe if we see here correct values in `wmic` my parsing is wrong.

[2021-01-06 07:24] #461 closed

[2021-01-06 07:29] sebhildebrandt commented on #296
@artemis15 I will add some initial code for this in version 5 which I am already working on. If you have partial scripts e.g. for linux, maybe you want to create a gist on your side and provide a link? I will then think of how this can be integrated to systeminformation.

[2021-01-06 07:31] artemis15 commented on #296
Sure..will do that

[2021-01-06 07:33] sebhildebrandt commented on #296
@artemis15 thank you so much. I am sure, this will be a quite nice enhancement for the package!

[2021-01-06 09:38] artemis15 commented on #296
yes it will be

On Wed, Jan 6, 2021 at 1:04 PM Sebastian Hildebrandt <
notifications@github.com> wrote:

--

*Akash Rajput*

Tel: (+91) 9999033473
akash.rajput15@gmail.com

skype: akash.rajput15

[2021-01-06 23:47] BobbyWibowo opened #464 "Add avail bytes to si.fsSize()?"
**Is your feature request related to a problem? Please describe.**

Supposedly, `ext2/3/4` by default reserves 5% of the total size to root user, so non-root attempt at querying "available/free" disk seemingly automatically substracts from the said 5% reservation too (at least with `df` binary).
Reference: https://askubuntu.com/a/249415

**Describe the solution you'd like**

Frankly, I don't know

[2021-01-07 10:30] ibc opened #465 "graphics.controllers array contains empty entries"
**Describe the bug**

`graphics.controllers` becomes an array with `null` or `undefined` values.

**To Reproduce**

[code]

**Current Output**

**Expected behavior**

Each entry in the returned array should be a proper `object`.

**Environment (please complete the following information):**

 - systeminformation package version: 4.31.0
 - OS: [e.g. macOS]: Windows 10 running in Parallels Desktop fo

[2021-01-07 10:44] sebhildebrandt commented on #464
@BobbyWibowo I am using `df` to get fs sizes ... I will add also `available` as a return attribute, as this is not just based on a simple calculation (total - used).

But I am not that sure, if the calculation of `use%` should be done on this. If e.g. filesystems are on the same volume - like in Mac OS, then this calculation would be the same for all file systems. You are right, that `available` i

[2021-01-07 10:50] sebhildebrandt commented on #406
@llka, @Krish120003: As DxDiag is not supposed to be used as a command line tool (well it can be used, but the output will be written asynchronously to a file and the systeminformation package should NOT make any modifications on the computer like writing files), this is not really an option.

wmic will not report vram sizes bigger then 4GB so this is a known issue. But now we have a support for n

[2021-01-07 11:49] sebhildebrandt commented on #465
@ibc can you verify this behavior also with the latest version or systeminformation? V4.34.4?

[2021-01-07 12:05] ibc commented on #465
Somehow the error just happens in my Electron application. However, if I run the script above directly in Node (v14.15.4) then it works fine in both versions 4.34.0 and 4.34.4.

So no idea, honestly. I did a workaround for my app so feel free to close this issue since I won't be able to invest more time on it unfortunately.

[2021-01-07 12:06] sebhildebrandt commented on #465
OK, closing it for now.

[2021-01-07 12:06] #465 closed

[2021-01-07 21:47] BobbyWibowo commented on #464
I assume you are referring to `use` attribute that's returned by `si.fsSize()` in this statement?

But hmm, on my machines `df` doesn't seem to actually be using `used / total` for its capacity% column though?
~~It seems more like it's using `(total - avail) / total`, from what I can tell.~~

After some digging to the sauce code, it seems `df` calculates `nonroot_total` with `used + avail`, then a

[2021-01-08 09:25] sebhildebrandt commented on #295
@ssmirr will be introduced in upcoming version 5. Should be available within the next 2-3 weeks

[2021-01-08 14:01] sebhildebrandt commented on #464
@BobbyWibowo thank you for your detailed research and explanation. This makes absolutely sense. I guess I will do it the same way ... will then also be part of systeminformation version 5 changes. Thank you once again!

[2021-01-12 22:51] Apollon77 opened #467 "SystemError Object.networkInterfaces(os)"
Hey, another Sentry creash report and uncatchable exception

https://sentry.iobroker.net/share/issue/fa758b0948964284866e13668e4b955e/

[code]

[2021-01-12 22:59] sebhildebrandt commented on #467
@Apollon77 fixed ... version 4.34.6 just released.

[2021-01-12 22:59] #467 closed

[2021-01-12 23:08] Apollon77 commented on #467
wow awesome fast :-)

[2021-01-13 17:00] Unitech opened #468 "If `service` cli is not available, application crash"
**Describe the bug**
When using .services call:

[code]

The app crash, without going to the .catch method.
It triggers the following error:

[code]

I can see here that there is a execSync call without try{}catch{} statement:

https://github.com/sebhildebrandt/systeminformation/blob/f8117d620f380f34b75ada4330e56578cc147ca0/lib/processes.js#L128

**Environment (please complete the following inform

[2021-01-13 17:47] sebhildebrandt commented on #468
@Unitech thank you! Started working on a workaround (Debian 10) and a final catch ... will be back in 1/2h with a fix.

[2021-01-13 18:17] sebhildebrandt commented on #468
@Unitech improved service discovery for Debian 10 and additional try...catch. Can you also test it on your side? Version 4.34.7 just released.

One more thing: working on Version 5 right now. Hope to get first release ready in aprox. 2 weeks. There will be a few breaking changes (which will be of course documented). Just to inform you. Regards and thank you.

[2021-01-13 18:17] #468 closed

[2021-01-13 19:54] Unitech commented on #468
Great! Service discovery do not crash anymore and services are reported on Debian.
Thank you @sebhildebrandt, looking forward the Version 5 of systeminformation.
Best!

[2021-01-14 08:06] gaozhenpeng commented on #427
my os is window 10 旗舰版

iconv.decode(Buffer.from(data.distro,'binary'), 'cp936') Chinese garbled

[2021-01-14 09:16] sebhildebrandt commented on #427
@gaozhenpeng so your comment is not clear to me ... pleas can you explain?

[2021-01-18 17:27] ibc commented on #407
This is happening to us in Electron 11 in Windows 10 (I don't think it's ARM at all). We use the following calls:

* `systemInformation.system()`
* `await systemInformation.cpu()`
* `await systemInformation.graphics()`

[2021-01-18 17:33] ibc commented on #407
I've added some logs to see which one exactly never resolves, will update here when we have info.

[2021-01-18 18:10] sebhildebrandt commented on #407
@ibc I can't see any logs or output ... can you please attach further information? Thank you so much.

[2021-01-18 18:12] ibc commented on #407
I meant that we have added those logs into our app so we'll get them eventually when any client experiments it. Unfortunately I cannot reproduce the issue.

[2021-01-19 07:07] sebhildebrandt opened #469 "Version 5 - Tests"
## New version 5 just released

I added new functions and made a lot of changes and improvements. Of course I tried to test everything as good as possible here on my side. But I would also highly appreciate tests on your side.

Be aware: **Version 5 is NOT fully backwards compatible** to version 5 ... see https://systeminformation.io/changes.html to get an overview over all **breaking changes**.

[2021-01-20 03:20] plusor commented on #427
#148

[2021-01-24 08:49] FSCYT opened #471 "Error while using the async/await method"
Error: ```(node:176297) UnhandledPromiseRejectionWarning: TypeError: data.manufacturer is not a function```
Code: ````
const data = await si.system();
**Manufacturer:**  ${data.manufacturer}````

[2021-01-24 10:19] sebhildebrandt commented on #471
@FSCYT which platform, which OS version, which SI version?
Thank you for providing more information to be able to reproduce this issue.

[2021-01-26 05:37] FSCYT commented on #471
Thank you for replying, I tried redoing this in another function and it worked. I guess its a problem with the .setDescription in the discord.js package.

[2021-01-26 07:19] #471 closed

[2021-01-26 07:31] sebhildebrandt commented on #329
@OmgImAlexis I just released a new version 5.0 (with soma new functions and also some breaking changes). Here this should be done now mostly ... if you discover more spots where this is missing, please feel free to contact me.

[2021-01-26 07:31] #329 closed

[2021-01-26 07:37] sebhildebrandt commented on #464
@BobbyWibowo Version 5.0 just released. Besides other improvements and changes `fsSize()` has also the attribute `available` and I changes the calculation of `use%`

Be aware: Version 5 is NOT fulls backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-26 07:37] #464 closed

[2021-01-26 07:40] sebhildebrandt commented on #440
@GerritKuilder Version 5.0 just released!
Now you have the possibility to also filter results sets in the get function. Here you should find the documentation
https://systeminformation.io/general.html in the lower section.

Be aware: Version 5 is NOT fully backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-26 07:40] #440 closed

[2021-01-26 07:42] sebhildebrandt commented on #295
@ssmirr Version 5.0 just released. `.si.spu()` now contains the virtualisation attributebute.

Be aware: Version 5 is NOT fully backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-26 07:42] #295 closed

[2021-01-26 07:44] sebhildebrandt commented on #352
@fgroupindonesia Version 5.0 just released. Here you have several new sections like USB and Bluetooth which then report back connected devices like Mouse and Keyboard.

Be aware: Version 5 is NOT fully backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-26 07:44] #352 closed

[2021-01-26 07:48] sebhildebrandt commented on #198
@OmgImAlexis, @ldittmar81  Version 5.0 just released. Here we have some new sections like USB, Bluetooth, Audio, Printers which allows now to get back more detailed information about peripherals.

Be aware: Version 5 is NOT fully backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-26 07:48] #198 closed

[2021-01-26 07:50] sebhildebrandt commented on #90
@jeghers Sorry I never got back to you. As now 3 years later, is there still a need for CentOS 6 support? If yes, I will try to work on it. But for now, I will close this issue.

FYI: I just released a new version 5.0. Be aware: Version 5 is NOT fully backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-26 07:50] #90 closed

[2021-01-26 08:12] sebhildebrandt commented on #310
@valkondratiev I thought about it but I guess this is out of scope of this library. Here I want to just provide functionality to get all data of a local machine and the challenge here is to provide this across several platforms. Closing it for now.

[2021-01-26 08:12] #310 closed

[2021-01-26 10:09] LorenzHerz opened #472 "si.networkInterfaces returns value with key carrierChanges instead of carrier_changes"
**Describe the bug**
`si.networkInterfaces` return value has key `carrierChanges` but the interface for `NetworkInterfacesData` describes key as `carrier_changes`.

**To Reproduce**
Call `si.networkInterfaces`

**Current Output**
[code]

**Expected behavior**
[code]

**Environment (please complete the following information):**
 - systeminformation package version: 5.0.0
 - OS: Ubuntu 20.04.1 LTS

[2021-01-26 10:21] sebhildebrandt commented on #472
@LorenzHerz as in new version 5 I made some interface changes (see https://systeminformation.io/changes.html), `carrierChanges`is now the correct one ... I just forgot to modify the typescript typings here. Version 5.0.2 just released with updated typings.

[2021-01-26 10:21] #472 closed

[2021-01-26 10:43] LorenzHerz commented on #472
@sebhildebrandt I saw that, thought it was probably overlooked. thanks for the quick answer!

[2021-01-26 10:46] sebhildebrandt commented on #472
@LorenzHerz yes, thank you for finding this issue! Have a nice day.

[2021-01-26 16:49] ssmirr commented on #295
awesome, thanks a lot @sebhildebrandt! I will check it out 🚀

[2021-01-26 17:12] ssmirr commented on #295
@sebhildebrandt I just tried `si.cpu()` version `5.0.2`, it works nicely on macOS, but on Windows it _doesn't_ seem to report correct virtualization status.

On my Windows PC with virtualization enabled (I even have virtualbox VMs running right now), si reports `virtualization: false`. How does si check virtualization status on Windows?

For our usecase, we've been checking the output from `system

[2021-01-26 17:18] ssmirr commented on #295
Update: I see this in the implementation of `si.cpu()`
https://github.com/sebhildebrandt/systeminformation/blob/cb2c057294c7ce1d94a3f6591d8ee3251ea2e709/lib/cpu.js#L552
This is actually how we've been checking virtualization on macOS/Linux.

But on Windows with intel CPU I don't see `vmx` cpu flag reported by si 🤔

[2021-01-26 17:58] sebhildebrandt commented on #295
@ssmirr ... ok, will try to implement it this way ...

Can you check if this (from Powershell):

[code]

output give you the same result as your approach? My main question is, which one is faster ... can you provide both outputs?
Thank you in advance!

[2021-01-26 18:47] ssmirr commented on #295
Please find the outputs below. I also included some suggestions from my experience with virtualization which I hope will help (sorry kinda too long).

So my understanding is these commands two _check different things_.

On Windows there are **two** things to be aware of:

1. _Virtualization status_ (configured in BIOS) and can be checked in output from `systeminfo` command (There will be this line

[2021-01-26 18:50] sebhildebrandt commented on #295
@ssmirr thank you for your detailed answer! Will make some tests on my machines and will come back with a solution the next days.

[2021-01-26 18:52] ssmirr commented on #295
Thank you! Let me know if you want me to check anything else.

btw this is how we've done it so far, if it helps:
https://github.com/ottomatica/virtcrud/blob/6d239f9c85251d0d13bcc64250f21f4c21ecfaeb/providers/util.js#L179-L222

[2021-01-27 01:31] OmgImAlexis opened #473 "Typo in changelog"
"ereything supported exept"

[2021-01-27 06:48] sebhildebrandt commented on #473
@OmgImAlexis thank you ... reading it again I saw also other typos ... sorry ;-)

[2021-01-27 06:48] #473 closed

[2021-01-27 10:49] sebhildebrandt commented on #295
@ssmirr just released version 5.0.3 which should fix this ... I added detection also for German and French language as the systeminfo output unfortunately is localized.

Can you give it a try?

[2021-01-27 10:51] sebhildebrandt commented on #240
@mwittig late answer but now I released version. 5 of systeminformation and just also implemented a wifi detection if nuclei is not installed.

Be aware: Version 5 is NOT fully backwards compatible to version 5 ... see https://systeminformation.io/changes.html to get an overview over all breaking changes.

[2021-01-27 10:51] #240 closed

[2021-01-27 10:55] sebhildebrandt commented on #280
All S.M.A.R.T data is now also returned for linux machines in `diskLayout()`. Temperature is now extracted and is a separate attribute at the root level of each object. See also documentation https://systeminformation.io/filesystem.html
Attention: smartctl version >= 7.0 is needed to extract all S.M.A.R.T data.

As I already mentioned: be aware: Version 5 is NOT fully backwards compatible to versi

[2021-01-27 10:55] #280 closed

[2021-01-27 13:47] esmoley opened #474 "File System - si.diskLayout(cb) - [0].serialNum shows wrong serial number"
Windows 10 and USBDeview app shows serial number of usb device as 070098A2Fxx6AB78.
But File System - si.diskLayout(cb) - [0].serialNum shows serialNumber as 0A7B0708xx80.
Also I've seen the same issue for hard drives.
Why is it different?

[2021-01-27 15:16] sebhildebrandt commented on #474
@esmoley this is really interesting ... can you post the output of

normal **command line**
[code]

as well as

in **powershell**
[code]

Then I can easily see what goes wrong here ...
Thank you in advance!

[2021-01-27 16:38] sebhildebrandt commented on #408
Closing this for now as I do not really see a workaround,

[2021-01-27 16:38] #408 closed

[2021-01-27 16:42] sebhildebrandt commented on #406
@llka does this still exists even we now have Nvidia-smi parsing in place? If yes, can you probable post the content of the following registry key:

[code]

Don't know if this is a relevant key but just curious...

[2021-01-27 17:27] sebhildebrandt commented on #306
@BillDietrich as I now improving the new version 5, I cam again across this issue.

- DiskLayout device: this does NOT map to a specific drive latter. You can have multiple partitions on one single disk drive.
- WIFI: this is interesting as I determine the type from the WMIC address type. Can you provide the output of

[code]

on this machine with the Broadcom WiFi interface? Thank you in advance.

[2021-01-27 18:01] BillDietrich commented on #306
I'm on Linux (Kubuntu 20.10 now).

[code]

[2021-01-27 18:52] ibc commented on #407
NOTE: Still waiting for those logs, do not close the issue, please :)

[2021-01-27 19:28] sebhildebrandt commented on #407
@ibc shure! Will not close it. Need to get Windows ARM running on one of my raspberries to be able to test it here.

[2021-01-27 19:42] ibc commented on #407
Actually the issue happened to me (not to me, but to a user of my app) running Windows in regular PC computer (no ARM at all).

[2021-01-27 21:08] sebhildebrandt commented on #306
@BillDietrich ... as you opened this issue as a Windows 10 Home issue/request I thought, you are on a Windows 10 Home machine. WMIC of course will not work on linux.

For the windows network issue (Wi-fi) you described I have a fix ready which I will publish the next few days. If this issue also is relevant on your linux machine, please provide the output of the following command:

[code]

Be sure

[2021-01-28 01:46] ssmirr commented on #295
Thanks @sebhildebrandt, I just tried it and now it works on Windows as well 👍

I wasn't able to find if a property was added in the report for checking Hyper-V status?

[2021-01-28 09:04] BillDietrich commented on #306
Sorry, I had forgotten the context of this issue.  Attached is file from Win10 machine.
[Text File.txt](https://github.com/sebhildebrandt/systeminformation/files/5885974/Text.File.txt)

[2021-01-28 09:10] BillDietrich commented on #306
From my Kubuntu 20.10 machine:

	$ ip addr
	1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
		link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
		inet 127.0.0.1/8 scope host lo
		valid_lft forever preferred_lft forever
		inet6 ::1/128 scope host
		valid_lft forever preferred_lft forever
	2: enp19s0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq

[2021-01-28 09:14] sebhildebrandt commented on #306
@BillDietrich ok, so with the latest version you should get on windows correct type ... windows does not provide the correct AdapterTypeID (according to their documentation) but I fix ed this with some "aftermath".

For Kubuntu the si results (netwoerkInterface --> type) anyway should be fine as, correct?

[2021-01-28 09:18] BillDietrich commented on #306
I don't recall, to be honest.  I've been doing other projects for 6-9 months.  I'll have to pick up this project again soon.  Thanks.

[2021-01-28 09:25] sebhildebrandt commented on #306
@BillDietrich OK, as I checkt the output of the commands on linux, this is absolutely fine and the information I am relying in is the result should be fine. Closing it for now.

[2021-01-28 09:25] #306 closed

[2021-01-28 12:13] hk4git opened #475 "disksIO stats not working on windows system"
**Unable to get system disk IO statistics on Windows system**
Getting 'Error: not supported' in si.disksIO()

**To Reproduce**
Steps to reproduce the behavior:

Run below code snippet:
const si = require('systeminformation');
setInterval(function() {
  si.disksIO().then(data => {
    console.log(data);
  })
}, 1000)

**Expected behavior**
It should return proper system disk staticitcs.

**Getting

[2021-01-28 13:45] sebhildebrandt commented on #475
@hk4git this ist absolutly fine as this function is not supported on Windows. See docs

[2021-01-28 13:45] #475 closed

[2021-01-28 19:24] sebhildebrandt commented on #295
@ssmirr ... I addd this now to `osInfo()` as this is not really a cpu() property. Just pushed a first version to GitHub. Would you like to test it on one of your windows machines? Simple testing is described here: https://systeminformation.io/tests.html, and inside the test suite just press o for osInfo() and review results ;-)

If this is fine from your perspective, I will release a new version w

[2021-01-28 19:53] ssmirr commented on #295
@sebhildebrandt I agree, having it separately in `osInfo()` makes sense. I tested the hyper-v status (both enabled and disabled) and it works great! 👌

Thank you for making `systeminformation` and always adding improvements!

[2021-01-29 11:14] Skillnter commented on #407
Hi,

Can you tell me where to add logs? I'll be happy to share the logs if it can help. I am also stuck and might not be able to resolve by myself.

[2021-01-29 11:18] ibc commented on #407
I don't understand what you mean, sorry.

[2021-01-29 11:35] Skillnter commented on #407
`if (!_windows) {
        processes.processes().then(res => {
          data.processes = res;
          functionProcessed();
        });
      }`

I found this code that prevents processes to get on a windows machine.

Just to test, I update it like the following:
`if (!_windows) {
        processes.processes().then(res => {
          data.processes = res;
          functionProcessed();
        })

[2021-01-29 11:42] Skillnter commented on #407
I am sorry, I quoted the wrong person,

@sebhildebrandt  I found this code that prevents processes to get on a windows machine.

`if (!_windows) {
        processes.processes().then(res => {
          data.processes = res;
          functionProcessed();
        });
      }`

Just to test, I update it like the following:
`if (!_windows) {
        processes.processes().then(res => {
          data.p

[2021-01-29 11:43] ibc commented on #407
Sorry, I think the issue is clearly explained in comments above. This is not about looking for a specific workaround for your specific code or use case. This is about providing proper reports that help fixing the real issue.

[2021-01-29 11:44] hk4git opened #476 "Require disk statistics paramters like '% Disk Time' and '% Idle Time' for linux system."
We are capturing system statistics and this library is being very helpful for that. We are capturing data for windows and linux system.
We want to capture data for disk statistics with below parameters:

**1) % Disk Time - Percentage of time the disk is processing read or write request.
2) % Idle Time - % of time it was idle.**
3) Disk Read Bytes/sec - disk read bytes per second (I suppose avaiabl

[2021-01-29 11:46] Skillnter commented on #407
Yes, and to get a proper fix, we need to understand the issue which can be hard as a few of the things are hard to understand. I just gave an example of which I find weird. It was not a workaround.

[2021-01-29 11:49] Skillnter commented on #407
Yes, and to get a proper fix, we need to understand the issue which can be hard as a few of the things are hard to understand. I just gave an example of which I find weird. It was not a workaround. I am also trying to help.

If you want me to stop, I'll open a new issue. No hard feelings.

[2021-01-29 11:51] ibc commented on #407
I'm not project maintainer.

[2021-01-29 11:52] Skillnter commented on #407
That's why I tagged him if you check the comment.

[2021-01-29 12:01] sebhildebrandt commented on #407
@Skillnter @ibc ... having a look on your comments (@Skillnter) I will first try to go into the code to see what could be the issue ... I thought that all of this is related to Windows running on ARM (which - In your case - is not true, right).

Your specific issue is (if I am right)
- systeminformation on regular windows non ARM (but 32bit??)
- `si.getDynamicData("","", cb)` and `si.getAllData(""

[2021-01-29 12:04] ibc commented on #407
I don't know yet. If any user of my app experiences this issue I'll get a complete report with logs and system information. (Un)fortunately it doesn't happen yet :(

[2021-01-29 12:09] Skillnter commented on #407
Yes, that's what I wanted to convey. There is an issue but not limited to ARM only.

64 bit I tried. If you want, I can try on 32 bit as well.

yes

Sure no problem. Just trying to help as much as I can.

[2021-01-29 12:11] sebhildebrandt commented on #407
@Skillnter Thank you! OK, so this issue is a separate issue, not really related to the original title ;-) I will try to get back as soon as possible. No worries, I am sure to be able to solve it here on my side.

[2021-01-29 12:13] Skillnter commented on #407
@sebhildebrandt thanks.

[2021-01-29 12:18] 2911quocanh commented on #453
Hh

[2021-01-29 12:31] dan953 opened #477 "CPU Temperatures doesn't return any values"
I am attempting to pull the CPU temperatures, I get a response but with no values.

**This is reproducible using the code I have attached below;**

`valueObject = {
    cpu:'brand',
    cpuTemperature: 'main, cores, max'
}

si.get(valueObject).then(data => console.log(data));`

**Output**
From main.js
{ cpu: { brand: 'Ryzen 5 2600 Six-Core Processor' },
  cpuTemperature: { main: null, cores: [], m

[2021-01-29 12:41] KazukiSugiyama107 opened #478 ""available" does not exist in the object obtained by fsSize()"
**Describe the bug**
"available" does not exist in the object obtained by fsSize().
You can see it on Mac, but not on Windows.
Is available not available on Windows?

**To Reproduce**
Tested and confirmed using v5.0.6.
https://systeminformation.io/tests.html

**Current Output**
[code]

**Expected behavior**
I thought I could get "availabe" with fsSize().

**Environment (please complete the followi

[2021-01-29 14:10] sebhildebrandt commented on #478
@KazukiSugiyama107 sorry, my fault, only added it to linux. Now also available for win/darwin ... Version 5.0.7 just published.

[2021-01-29 14:10] #478 closed

[2021-01-29 14:13] sebhildebrandt commented on #477
@dan953 please have look at https://systeminformation.io/issues.html.

Did you checked if WMIC returns correct values?

Can you post result of

[code]

[2021-01-29 14:15] sebhildebrandt commented on #476
@hk4git will have a look on it ... please give me some time to make a research.

[2021-01-29 15:45] dan953 commented on #477
Node - DAN-RYZEN-2600
ERROR:
Description = Not supported

[2021-01-29 17:00] sebhildebrandt commented on #477
@dan953 Thank you for rechecking - so then if Windows cannot determine temperature this way, then systeminformation also cannot get the value (as described in its known issues https://systeminformation.io/issues.html section of the docs).

Closing this for now.

[2021-01-29 17:00] #477 closed

[2021-01-29 18:01] lamuertepeluda commented on #407
I have the very same issue described in the first post since upgrading from v4.x to v5.x.

It happens with both getAllData and getDynamicData, while getStaticData works. On V4 everything is fine, so I will stick to that.

**System Configuration**
Node: 14.15.0
OS: Ubuntu 20.04 - WSL2 Linux on Window 10 Pro 19042.746

## How to Reproduce

[code]

In V5 you never get to see that data, while in V4 it