[2022-01-09 13:03] aledlb8 commented on #636
and if you want to see your own HWID go to the terminal and type "vol c:" to see your HWID if the C disk

[2022-01-09 13:47] sebhildebrandt commented on #636
@aledlb8 so

- for the HWID this is exactly what you see in the results of `uuid().hardware` ...  (see docs)
- for drive IDs they are also visible in the according function `diskLayout()` ... here in the property `serialNum`

[2022-01-09 13:58] aledlb8 commented on #636
uuid().hardware is not what im looking for, when i use it i gave me a giant number and im only looking for a 8 digit number like this one L35B-8X37

[2022-01-09 14:05] sebhildebrandt commented on #636
@aledlb8

1. on which platform are you working?
2. how would you retrieve the expected HWID. What I am doing getting the HW ID is that I am following all recommendations about how to get this ID on each platform
3. did you also checked `si.system()`, `si.bios()`, `si.baseboard()` and `si.chassis()`?

[2022-01-09 14:07] aledlb8 commented on #636
1 windows
2 wdym?
3 i tried all of them and none of them give me the HWID

[2022-01-09 14:08] sebhildebrandt commented on #636
@aledlb8 if you are referring to a number like `L35B-8X37` ... where does this come from?

[2022-01-09 14:09] aledlb8 commented on #636
from the hardware ID

[2022-01-09 14:10] sebhildebrandt commented on #636
@aledlb8 what hardware ID? Please be more specific!

[2022-01-09 14:11] aledlb8 commented on #636
when you do "vol c:" in the command promt you will get your Harware ID thats what im trying to get using your npm

[2022-01-09 14:13] sebhildebrandt commented on #636
@aledlb8 this is the VOLUME ID (not the hardware ID) and this should be also shown when using si.diskLayout(). If not, please provide both outputs here!

[2022-01-09 14:14] aledlb8 commented on #636
[
  {
    device: 'SCSI\\DISK&VEN_ASMT&PROD_2115\\6&3492D1A3&1&000000',
    type: 'Unspecified',
    name: 'ASMT 2115 SCSI Disk Device',
    vendor: '',
    size: 1000202273280,
    bytesPerSector: 512,
    totalCylinders: 121601,
    totalHeads: 255,
    totalSectors: 1953520065,
    totalTracks: 31008255,
    tracksPerCylinder: 255,
    sectorsPerTrack: 63,
    firmwareRevision: '0',
    serialN

[2022-01-09 14:17] sebhildebrandt commented on #636
@aledlb8 and please also for

- `si.blockDevices()`
- `vol c:`

??

I need to see where this comes from and if this is NOT shown by systeminformation. To be clear, what you want to see is a VOLUME ID (not hardware ID)!

[2022-01-09 14:19] aledlb8 commented on #636
si.blockDevices() still doesnt work

[2022-01-09 14:21] sebhildebrandt commented on #636
@aledlb8 Output of `vol c:` ?

[2022-01-09 14:22] aledlb8 commented on #636
Volume Serial Number is 9C5B-8C37

[2022-01-09 14:24] sebhildebrandt commented on #636
@aledlb8 `si.blockDevices()` should work ... but if not, what is the output (in PowerShell) of

`Get-CimInstance -ClassName Win32_LogicalDisk | Format-List *`

[2022-01-09 14:25] aledlb8 commented on #636
'Get-CimInstance' is not recognized as an internal or external command,
operable program or batch file.

[2022-01-09 14:26] sebhildebrandt commented on #636
@aledlb8

- what windows version?
- what powershell version?

[2022-01-09 14:27] aledlb8 commented on #636
is working now, here is the output

Status                       :
Availability                 :
DeviceID                     : C:
StatusInfo                   :
Caption                      : C:
Description                  : Local Fixed Disk
InstallDate                  :
Name                         : C:
ConfigManagerErrorCode       :
ConfigManagerUserConfig      :
CreationClassName

[2022-01-09 14:31] aledlb8 commented on #636
oh mb si.blockDevices() does work but it shows like this 9C5B8C37 and not like this 9C5B-8C37 and i got confused

[2022-01-09 14:32] aledlb8 commented on #636
but i have a question

[
  {
    name: 'C:',
    identifier: 'C:',
    type: 'disk',
    fsType: 'ntfs',
    mount: 'C:',
    size: '510979805184',
    physical: 'Local',
    uuid: '9C5B8C37',
    label: 'maicra',
    model: '',
    serial: '9C5B8C37',
    removable: false,
    protocol: ''
  {
    name: 'X:',
    identifier: 'X:',
    type: 'disk',
    fsType: 'ntfs',
    mount: 'X:',
    physica

[2022-01-09 21:51] sebhildebrandt commented on #636
@aledlb8 as you can see ... it returns an array so you need to console.log `data[0].serial`

Closing this for now.

[2022-01-09 21:51] #636 closed

[2022-01-10 06:09] GerritKuilder opened #637 "Either an enhancement or tips welcome"
**Is your feature request related to a problem? Please describe.**
I would like to use the output to be displayed on a webpage. The easiest way would be able to have the output formatted so that it is easier to deal with

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I have been trying to find generic functions to parse an object to the desired output but

[2022-01-10 06:32] sebhildebrandt commented on #637
@GerritKuilder as this would be a breaking change for the package and I do not really see big benefits for most of the use cases, I would rather recommend writing a small function that would wrap your data in the desired format like so:

[code]

Of course this is just a starting point but I think, you get the idea ;-) You can wrap the two functions into one with a first check which type of result

[2022-01-10 06:32] #637 closed

[2022-01-10 07:08] GerritKuilder commented on #637
Hi Seb,

I completely understand, I have been looking into this for a day or so now, and I suppose I have to do further testing/coding.

I also realized I made a mistake because the desired output should be an array of name value pairs. I think I want to go from A to Z in one step rather than taking the long and winding road.

[2022-01-12 20:49] aksakalli commented on #586
BTW the reference table still states `pcpu` instead of `cpu` and `pmem` instead of `mem`.

[2022-01-13 05:39] GerritKuilder opened #638 "ufw reported as not running in services"
**Describe the bug**
A clear and concise description of what the bug is.
ufw reported as not running with si.services('*')
while
sudo service --status-all shows it as running

**To Reproduce**
Steps to reproduce the behavior:
1. used function: var newresult = await si.services('*')
2. code snippet '....'
sudo node test.js
A simple script to with above command in it.
**Current Output**
[code]
sudo

[2022-01-13 16:23] sebhildebrandt commented on #638
@GerritKuilder
Let me explain, how I am determing the status of each service:

If you run the following thwo commands:
[code]

you will propably (at least in my case) see the two different status for `ufw`

[code]
... which says `exited`
[code]
... which says `running`

But in systeminformation I am not relying on this given status, I just run one of the commands to get the list of services. Then

[2022-01-14 07:03] GerritKuilder commented on #638
[code]

So far I can confirm what you see.

[code]

I checked also on a freshly installed ubuntu and got the same result. So this indicates expected behaviour

Googling for "ufw.service  loaded active exited  Uncomplicated firewall" shows that it seems quite common.

My firewall is up and running, based on the logs I see very recent bans (thanks to fail2ban)

Based on the freshly installed ubuntu

[2022-01-14 07:06] sebhildebrandt commented on #638
@GerritKuilder thank you for making further investigation. So we need to find a method to still determine really active services ...

[2022-01-14 09:31] GerritKuilder commented on #638
Not naar a computer today.  I will see if i can find more over the weekend....

[2022-01-14 10:52] si458 commented on #616
Hi @sebhildebrandt
ive restarted my little project i was doing using systeminformation, a few issues if i may?

the is no documentation about `si.powerShellStart();` and `si.powerShellRelease();` anywhere in the `README.md` or on the website, can you maybe add some?

if i use the `powerShellStart` all powershell commands run in the one powershell instance as expected rather than opening 20instance

[2022-01-14 11:29] si458 commented on #616
@sebhildebrandt glad i could help! and tesring let me know 👍
the current implemation of `powerShellStart()` and `powerShellRelease()` seems to work a treat so far,
its just weird the `uuid` is having issues with `getStaticData` ?

[2022-01-14 11:50] si458 commented on #616
@sebhildebrandt narrowed the issue abit for you,
https://github.com/sebhildebrandt/systeminformation/blob/acf1a89bf2f2b2ca4d3b7c41c6e62e35f6ecd96f/lib/osinfo.js#L1138-L1146
the resolve isnt being returned from inside this function (or rather it is but the powershell is stopping it for some reason?)
if you comment out L1138-L1146, it returns no problems

[2022-01-14 12:17] si458 commented on #616
@sebhildebrandt fixed it! found the issue! submit patch soon...

[2022-01-15 10:44] GerritKuilder commented on #638
So this is the official setup: https://help.ubuntu.com/community/UFW

sudo ufw enable
To check the status of UFW:

sudo ufw status verbose
The output should be like this:

youruser@yourcomputer:~$ sudo ufw status verbose
[sudo] password for youruser:
Status: active
Logging: on (low)
Default: deny (incoming), allow (outgoing)
New profiles: skip

I am afraid there is not much more input I can provid

[2022-01-16 12:23] GerritKuilder commented on #638
Weird,

ran this morning (also after an upgrade)

sudo systemctl status ufw.service
● ufw.service - Uncomplicated firewall
     Loaded: loaded (/lib/systemd/system/ufw.service; disabled; vendor preset: enabled)
     Active: inactive (dead)
       Docs: man:ufw(8)

sudo ufw status verbose
Status: active
Logging: on (low)
Default: deny (incoming), allow (outgoing), deny (routed)
New profiles: skip

[2022-01-16 23:29] sebhildebrandt commented on #633
@Wyuyang I just released a new version (5.10.1) that should fix the problem. Can you test it on your side?

[2022-01-16 23:29] #633 closed

[2022-01-17 05:28] babojamo opened #641 "win: cannot read the battery info properly"
**Describe the bug**

I am not getting accurate battery information. AC is always connected and the percentage is always 0
I inspect the battery.js and console the return from WMI

[code]

**To Reproduce**
read from si.getAllData()
[code]
Console Log
[code]
 - OS: Microsoft Windows 10 Home Single Language
 - Hardware Dell G5 SE

[2022-01-17 10:43] si458 commented on #641
@babojamo it could be a battery issue?
ive checked the powershell commands on my Parellels Win10 VM on Mac and it returns battery information no problem?
although mac says the batterys are 100% and windows says its say '96% and plugged in' so who knows with windows haha
[code]

[2022-01-17 10:48] si458 commented on #641
IGNORE ME im shatting out my bum this morning,
same issue here when running with nodejs (forgot to check that first instead of powershell)
although the information thats returned is the same as my post above https://github.com/sebhildebrandt/systeminformation/issues/641#issuecomment-1014379338
`si.get({battery:'*'}).then((data)=>{ console.log(data); });`
[code]

[2022-01-17 10:55] sebhildebrandt commented on #641
@babojamo @si458 seems that two of the three powershell commands return data (inside nodes) but the third one not. Need to check this here locally.

[2022-01-17 12:26] si458 commented on #641
@babojamo please can you try applying my patch #642 ? i believe this fixes the issue 👍

[2022-01-17 16:43] sebhildebrandt commented on #641
@babojamo if you can confirm that the PR #642 fixes it also on your side, I will immediately publish a new version. @si458 Thank you for your support!!!

[2022-01-17 16:53] sebhildebrandt commented on #407
@GrumpyCrouton as I managed to get results now on Windows running on ARM Platform, I assume that the original issue is solved. Can you confirm it on your side?

[2022-01-17 16:56] GrumpyCrouton commented on #407
@sebhildebrandt Sorry, I can't. I'm no longer part of the project that I was using this module on.

[2022-01-17 16:57] sebhildebrandt commented on #407
@GrumpyCrouton thank you for your fast reply. I will close it for now and reopen it, if it accuses again.

[2022-01-17 16:57] #407 closed

[2022-01-17 18:26] si458 commented on #641
@sebhildebrandt just pushed new commit to PR
new commit fixes the `designedCapacity` and `fullChargeCapacity` for use with `powershellStart()`

[2022-01-17 19:03] babojamo commented on #641
@si458 @sebhildebrandt
Cheers! That fixed the issue, it can now read the battery information!

Thank you so much!

[2022-01-18 19:27] sebhildebrandt commented on #641
@babojamo @si458 just published a new version 5.10.4 with the PR you provided. Can you test it on your side? Thank you!

[2022-01-18 19:27] #641 closed

[2022-01-18 20:30] si458 commented on #641
@sebhildebrandt i can indeed confirm the battery works as expected, both with `powerShellStart()` and without `powerShellStart()`

[2022-01-19 15:56] sebhildebrandt commented on #586
@aksakalli @vitalipf : i made some improvements calculating the process load - can you test it on your side? I also corrected the documentation in the README. Version 5.10.5 just published.

[2022-01-19 16:18] sebhildebrandt commented on #638
@GerritKuilder ... as `ufw` is only a CLI based frontend for `iptables`, this might be the reason, why there is no process maned `ufw` running permanently. You should on your side at least see `iptables` running.

[code]

So as my approach is a generic one (gathering process information related to the service name) this does not work here ...

[2022-01-19 18:35] si458 opened #643 "windows users no longer return tty"
**Describe the bug**
windows users no longer return tty after switching to powershell

**To Reproduce**
Steps to reproduce the behavior:
1. `si.users()`

**Current Output**
If applicable, add output to help explain your problem.
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
[code]
**Environment (please complete the following information):**
 - system

[2022-01-19 18:37] GerritKuilder commented on #638
I think there is no way to see iptables running, I will need to look deeper into this and rely on the fact that it is working as expected....
I can't find iptables with the ps command. I have to wait on teh arrival of the raspberry pi I ordered to have a look at a complete OOB system

[2022-01-19 20:30] si458 commented on #643
you could also maybe set `tty` to the `sessionid`
e.g: this allows me to set the shadow id to shadow an rdp session remotely
e.g: `mstsc /shadow:{TTY} /v:192.168.1.100 /control /noConsentPrompt`

you can retrieve the sessionid by querying the explorer.exe process
`Get-WmiObject Win32_Process -Filter "name='explorer.exe'"`
[code]

[2022-01-19 20:56] si458 commented on #643
ive made a temp patch for people to try and see what they think its its helpful or not
i do miss the old `console` and `rdp-tcp#12` tho as it helped tell if it was a physical user or a remote user

[2022-01-20 07:17] sebhildebrandt commented on #643
@si458 thank you Simon! I will have a look on it this weekend.

[2022-01-20 07:28] sebhildebrandt commented on #638
@GerritKuilder I will also do some more tests and research ... Thank you for all your support!

[2022-01-20 21:21] Zoliex opened #645 "si.usb(cb) does not work"
**Describe the bug**
Hello yesterday i have coded this on Windows 10 family edition :

`require('systeminformation').usb().then(json => {
    console.log(JSON.stringify(json));
});`

But when I run my code, I always get this callback :

I have a Wi-Fi key connected to my USB ports and a mouse.
Why the software can't detect my USB peripherals ?
(Please excuse me for my English, I'm French)

[2022-01-20 21:32] Zoliex commented on #645
When i run this command, i get this:
Get-WmiObject CIM_LogicalDevice

Manufacturer                     Name
------------                     ----
Realtek Semiconductor Corp.      TP-Link Wireless USB Adapte...
+ [MOUSE]

and when I run this command, that is the command run by your plugin I get nothing :
Get-WmiObject CIM_LogicalDevice | where { $_.Name -match "^USB"}

[2022-01-21 07:15] sebhildebrandt commented on #645
@Zoliex ... this is strange, you should get much more information such as all USB Hubs, Host controllers etc. On my machines - except of things like mouse and keyboard - I get at least 6 entries ... here an example:

[code]

Can you confirm that you do not get any of those?? Then this might be an issue that I am not able to reproduce ...

It would be great if you can provide FULL output of

[code]

[2022-01-21 08:25] sebhildebrandt commented on #643
@si458 Thank you once again!! I looked at it and merged it, I also made some improvements trying to get the `console` back. I pushed my code here, maybe you can give it a try. If this works, I will publish a new release with this changes.

[2022-01-21 09:15] Zoliex commented on #645
When I run ```Get-WmiObject CIM_LogicalDevice | where { $_.Description -match "^USB"}``` I get nothing and when I run ```Get-WmiObject CIM_LogicalDevice  | fl * > command.txt

[code]

[2022-01-21 09:21] Zoliex commented on #645
At line 3392 of command.txt, I can see that my USB adapter is detected :
[code]

[2022-01-21 09:25] Zoliex commented on #645
And when I run this command (old command without ^ at -match "^USB"):
[code]
I get all my USB devices :
[code]

[2022-01-21 09:29] Zoliex commented on #645
I have corrected the command for windows in your plugin (I just removed the ^) and now i get my USB devices :
[code]

[2022-01-21 09:46] sebhildebrandt commented on #645
@Zoliex This makes sense! Will publish a new release in a few minutes.

[2022-01-21 09:51] Zoliex commented on #645
OK good luck 🍀
Have a good day

[2022-01-21 11:44] sebhildebrandt commented on #645
@Zoliex I just released a new version 5.10.6 that should fix the problem.

[2022-01-21 11:44] #645 closed

[2022-01-21 11:44] sebhildebrandt commented on #643
@si458 I just released a new version 5.10.6 that should fix the problem.

[2022-01-21 11:44] #643 closed

[2022-01-21 11:57] si458 commented on #643
thanks @sebhildebrandt, it does indeed works a treat now!
im just trying to decide if maybe we could seperate the `tty` into maybe `tty` and `rdp`?
because it currently returns `console` as expected for physical users
BUT then RDP users return it as `rdp-tcp#18` but the session ID to watch an RDP session is different?
[code]

[2022-01-21 12:12] vitalipf commented on #586
@sebhildebrandt , just tried version 5.10.6 and I don't see any improvements. CPU load is still reported around 0 iso real vlues reported by task manager.

[2022-01-21 12:23] aksakalli commented on #586
The doc is updated for `cpu` but `mem` is still states `pmem` in [v5.10.5](https://github.com/sebhildebrandt/systeminformation/blob/v5.10.5/README.md?plain=1#L387).

[2022-01-21 12:27] Zoliex commented on #645
Thanks for the fix
Have a good day

[2022-01-21 14:01] sebhildebrandt commented on #586
@aksakalli : thank you, now documentation should be fine.

[2022-01-21 14:02] sebhildebrandt commented on #586
@vitalipf I reverted the PR #560 so we should have correct values back. I could also now verify the results. Can you once again check it? Thank you so much for your patience.

[2022-01-21 14:58] vitalipf commented on #586
@sebhildebrandt , now it works as expected. Thank you very much!

[2022-01-22 00:14] MariaCamilaCubides opened #646 "Encoding errors"
**Describe the bug**
Hi. I was doing some tests and I found some errors in my devices related to #616 issue. I found an error in `users` with the character ñ. And the other issue is with the accents (á, é, ó) in `graphics` and `networks.`

![image](https://user-images.githubusercontent.com/70594665/150614560-5d1e3b36-fb7f-42dc-9f7d-e684236db422.png)
![image](https://user-images.githubusercontent.c

[2022-01-23 08:58] GerritKuilder opened #647 "This might be a feature already: Getting the IP number (default network interface) of a system"
**Is your feature request related to a problem? Please describe.**
It looks like I can only get the default ip number of a system through networkInterfaceDefault -> networkInterfaces and find the right one

**Describe the solution you'd like**

as the hostname is set in osInfo, it would be nice if it was available there

**Describe alternatives you've considered**
https://www.npmjs.com/package/ip

[2022-01-23 09:01] sebhildebrandt commented on #647
@GerritKuilder thank you for supporting the project!! I will have a look at it later today.

[2022-01-23 15:51] sebhildebrandt commented on #647
@GerritKuilder I made a first implementation but I am not sure about a good name for the function ... currently I have something like:

[code]

which returns

[code]
 What do you think?

[2022-01-23 17:58] sebhildebrandt commented on #646
@MariaCamilaCubides ...  so I don't know If I understood you correctly. You mean, that I should just SKIP the `$OutputEncoding = [System.Console]::OutputEncoding = [System.Console]::InputEncoding = [System.Text.Encoding]::UTF8 ; ` ?

Can you verify this on your side - when you blank out the `_psToUTF8` variable in the `lib/utils.js` ... Dows it then give correct output?

Thank you for your support

[2022-01-23 18:42] sebhildebrandt commented on #646
@MariaCamilaCubides I testet the current version once again (no changes) with a user with special characters in the name and it worked fine. Tests were done on Windows 11 ...

Can you maybe provide more detailed information about your environment?

[2022-01-23 19:03] GerritKuilder commented on #647
Sounds good, but rather than a new function what about adding it to si.osInfo() as this already has the hostname too? Or add the hostname to si.networkInterfaceIP? And then maybe loose the IP?  si.networkInterface()
This does identify the machine uniquely by netWorkInterface.

I am a bit too tired of thinking semantics about what is the best name is or if osInfo is a good place too.

I will have a

[2022-01-23 19:35] sebhildebrandt commented on #647
@GerritKuilder thank you! Appreciate all your ideas! Take your time.

[2022-01-24 05:48] GerritKuilder commented on #647
Morning,

Not being a specialist in Discovery/cmdb [1] but running into it on a daily basis I would say that the mac address and hostname would be very useful addition in the  si.networkInterface() (so without the IP). This would make it very easy to identify a device.

[1] (https://docs.servicenow.com/bundle/rome-it-operations-management/page/product/discovery/concept/c_DiscoveryIdentifiers.html)

[2022-01-24 22:56] MariaCamilaCubides commented on #646
@sebhildebrandt I tried the current version on Windows 10, 11 and it works fine. I have this problem on Windows 8.1, however, I did a different test on Windows 8.1 and found that the problem is related to the PowerShell version.
The default version of PowerShell on Windows 8.1 is version 4.0, but this version doesn't support encoding which is set with `_psToUTF8`, I also removed this and tried sen

[2022-01-25 18:06] sebhildebrandt commented on #646
@MariaCamilaCubides thank you so much for your research on this one!! Seems that I cannot really remove this issue with PowerShell version 4. So I need to describe this clearly in the docs. Ok for you to close this?

[2022-01-25 18:11] sebhildebrandt commented on #647
@GerritKuilder  Hmmmm ... feels like this information should be in `networkInterfaces()`. Would it make sense to just add a `default: true/false` property in the `networkInterfaces()` array? And then a simple filter would then bring up the wanted information (IP address, mac address, ...)

What do you think?

[2022-01-25 22:37] jchisholm59 opened #648 "Port 3000 ?!"
Probably just me being stoopid but why on earth would these scripts configured to try to listen on port 3000, when that's the port that Grafana uses?

[2022-01-26 05:33] sebhildebrandt commented on #648
@jchisholm59 this is interesting ... so let me explain, why I think, this is not related to this package:

- `systeminformation` does not spin up any http server and is not listening to any port
- you cannot find any `createServer` or any similar thing in the code of this package
- the only situation where `http` is used in this library (windows only - just a get request) is when calling `inetChec

[2022-01-26 05:45] GerritKuilder commented on #647
Hi Seb,

this is what I currently have:
[code]

I think it would be more userfriendly if we could do
[code]
Which would return the interface where default = true
returning the required info with si.networkInterfaceDefault would be a breaking change, so that's not really an option.

Regards,

Gerrit Kuilder

[2022-01-26 05:49] sebhildebrandt commented on #647
@GerritKuilder this is a nice idea ... I will think of implementing it this way. Maybe I would make the parameter more flexible to allow several ways to get just the default interface e.g.

[code]

Would this make sense?

[2022-01-26 08:23] vitalipf commented on #586
@sebhildebrandt , no, I was wrong. Now it shows some huge numbers sometimes. I still have to stay on 5.7.14 it seems.
Is it possible to integrate a fix for #585 into 5.7 and release 5.7.15?

[2022-01-26 08:31] sebhildebrandt commented on #586
@vitalipf Maybe it makes more sense to have the exact same code for the processes in the current version as it was in 5.7.14. I thought I did reverting it back correctly but it seems, that I made a mistake here? It would be better to have the current version fixed instead of an older version.

[2022-01-26 08:35] vitalipf commented on #586
It will be difficult to have exact same code as you started to use powershell iso wmi at some point. Btw, on Windows Server 2016 powershell.exe is not in PATH by default so that the functionality does not work at all. It can be fixed by adding a new entry into PATH variable. And then we come back to wrong CPU usage numbers.

[2022-01-26 11:13] GerritKuilder commented on #647
perfect

[2022-01-26 19:54] sebhildebrandt commented on #647
@GerritKuilder Version 5.11.0 just released, can you check it on your side?

I only implemmented the following parameter options:

[code]

which returns only the default interface (as an object). If this works on your side, I will close the issue.

[2022-01-26 20:05] sebhildebrandt commented on #646
@MariaCamilaCubides I added information about encoding problems with older powerShell versions to the `issues` section in the documentation https://systeminformation.io/issues.html - closing this for now.

[2022-01-26 20:05] #646 closed

[2022-01-26 20:21] sebhildebrandt commented on #586
@vitalipf I will got through it this weekend. Sorry for the mess ...

[2022-01-27 07:50] GerritKuilder commented on #647
[code]
Result:

[code]

[2022-01-27 07:55] GerritKuilder commented on #647
Works perfect,
Also tested on my raspberry pi.
The first one is an asus pn51.

Let me know if you want more details.

[2022-01-27 08:07] sebhildebrandt commented on #647
@GerritKuilder thank you. closing it for now.

For the next major release I will make a brewing change here ... then `networkInterfaceDefault()` will no longer give just a string, it will then give back what we now have with `networkInterfaces('default')`. I guess this makes more sense then.

[2022-01-27 08:07] #647 closed

[2022-01-27 15:56] sebhildebrandt commented on #648
Closing this for now as I do not think that this is related to this package. If anyone is having trouble with the same issue please reopen this one.

[2022-01-27 15:56] #648 closed

[2022-01-31 18:41] mauriciocarvalho01 opened #649 "Did you remove the apps()"
Did you remove the apps() function to get the information from the applications?

const valueObject = {
                apps: "*"
            }

si.get(valueObject).then(data => console.log(data.apps)); //===>> undefined ??

[2022-01-31 18:47] sebhildebrandt commented on #649
@mauriciocarvalho01 Did we have something like that? Maybe I am confused tonight. I know, that I had the plan to implement something like that but I do not remember that I had this implemented.

In which version you had this function?

[2022-02-01 12:31] mauriciocarvalho01 commented on #649
Sorry, this role was created by my team.
But it is a good alternative for your library.
Thanks for the answer!

[2022-02-01 12:34] sebhildebrandt commented on #649
@mauriciocarvalho01 thank you! What would you expect / like to see when calling `si.apps()`? Any wishes?

[2022-02-01 12:34] #649 closed

[2022-02-01 12:49] mauriciocarvalho01 commented on #649
Here we implement an apps() function to report on installed apps
Here we implement an apps() function for reporting on installed apps.
We get the following result
`
{
	"apps": [
		{
			id: 85,
			name: 'WindowsAppCertificationKitNativeComponents',
			vendor: 'MicrosoftCorporation',
			version: '10.1.19041.685',
			caption: 'WindowsAppCertificationKitNativeComponents'
		},
		{
			id: 86,
			name: '

[2022-02-02 08:53] xavier-deryckere opened #650 "Data retrieved from powershell can be huge (and time consuming)"
Hello

On Windows since wmic has been replaced with powershell some calls take a lot of time.
Selecting only the actually used data seems to reduce that time a lot.

calling:
si.processes()

with wmi:
0.5 second
0.5 MB of data

with powershell:
5 seconds
1 MB of data

Can be checked by just running both commands in a prompt
wmic process get /value > wmic.txt
=> quick
powershell "Get-WmiObject Win3

[2022-02-02 10:09] sebhildebrandt commented on #650
@xavier-deryckere thats a good finding. Will think of reducing the needed columns!

The second problem is, that spinnig up powershell is quite intense ... so there is (currently undocumented - still in progress of improving it) another option to start up powershell only once. To enable this you need to run `su.powehShellStart()` before running your commands and then at the end `si.powerShellReleas

[2022-02-02 14:37] jonathonfletcher opened #651 "OpenBSD: bad param for hostname command"
**Describe the bug**

systeminformation@5.9.3

osinfo.js line 173

"-f" option is not valid in OpenBSD (tested with 7.0).

suggest breaking out the "if" on line 171 to be more specific.

**To Reproduce**
Steps to reproduce the behavior:
1. used function '...'
2. code snippet '....'
3. start app / code
4. See output/error '....'

**Current Output**
If applicable, add output to help explain your pro

[2022-02-02 14:38] xavier-deryckere commented on #650
Yes I have seen that but did not try.
I just did try powerShellStart/powerShellRelease, and the results are only slightly better (5+ seconds -> 4.6/4.7 seconds).
I guess the amount of data has more impact than process spawning.

[2022-02-02 14:49] sebhildebrandt commented on #650
@xavier-deryckere ... only when having multiple calls, than I experienced much better numbers but you are right, the amount of data is something I will have a look on! Thank you so much.

[2022-02-02 14:50] sebhildebrandt commented on #651
@jonathonfletcher thank you! I will correct that tonight a d make a new release!

[2022-02-03 14:45] sebhildebrandt commented on #651
@jonathonfletcher Done, Version 5.11.1 just released. Can you check it on your side?

[2022-02-03 14:45] #651 closed

[2022-02-05 12:54] sebhildebrandt commented on #650
@xavier-deryckere ... thank you once again. I now reduces all data retrieved from powerShell commands to the minimum and I see on my windows machines good improvements in the speed of

- processes()
- processLoad()
- printer()
- services()
- versions()
- users()

Version 5.11.2 just released. Thank you once again!

[2022-02-05 12:54] #650 closed

[2022-02-11 11:57] realspinelle opened #652 "how many slots are available in motherboard sata / m2 ect"
**Is your feature request related to a problem? Please describe.**
Want to know how many slots are available in motherboard sata / m2 ect

[2022-02-12 19:09] sebhildebrandt commented on #652
@littlebigfrench actually I am not sure how to detect this correctly across different platforms. Anything you have in mind (other repos/code snippets that provide such information)? Do you have any hints for me?

[2022-02-14 11:40] sebhildebrandt commented on #611
@si458 @jcindex I testet it again here on my side and the proposed use of `si.powerShellStart()` improved the problem here drastically. I tried it with continuous loopes for both mentioned functions and `powerShell` cpu usage stays < 1% ... see the following screenshot:

<img width="538" alt="Screenshot 2022-02-14 123256" src="https://user-images.githubusercontent.com/4717960/153857727-504632fb-fd

[2022-02-14 11:40] #611 closed

[2022-02-15 13:59] littlebigfrench commented on #652
No sorry :(

[2022-02-17 01:18] paragdulam opened #654 "System Information not working for method calls that include powershell commands execution on a machine that has powershell disabled."
**Describe the bug**
If powershell is disabled by a system admin in an enterprise environment, the System Information npm is failing to output information about:

osinfo.hardware, or osinfo in general
networkinterfaces() returns error
cpu() returns empty errored data
diskLayout() returns empty array

**To Reproduce**
Steps to reproduce the behavior:
1. Please disable powershell in your windows mac

[2022-02-17 09:30] CapitaineBidouille commented on #654
Hello,

I reproduced the issue.
Package version 5.9.9 is the last one to work in this environment, try to use it.
5.9.10+ does not work anymore. getStaticData() promise does not error nor callback correctly, which made errors handling pretty difficult in this case.

![image](https://user-images.githubusercontent.com/58107469/154446306-b89f8582-7472-4f3e-8646-7c49dd73f0e8.png)

Kind regards

[2022-02-17 10:07] sebhildebrandt commented on #654
@paragdulam, @CapitaineBidouille ... since wmic is unfortunately dropped in the most recent versions of windows, we had to make the transition to powerShell. See also #616 ... So what I do see as possible solutions:

- first checking the error handling (not having powerShell) on my side to get at least no errors.
- thinking of having then 2 possible ways of gathering windows system information (wm

[2022-02-17 10:33] paragdulam commented on #654
@sebhildebrandt @CapitaineBidouille

Just putting forth an idea,

may be we can make a node-addon out of this
https://docs.microsoft.com/en-us/windows/win32/sysinfo/system-information

and use that in systeminformation

Problems can be
- If it is using power shell internally it still won't work on power shell disabled windows machine. I personally think it is using some core internal api and not p

[2022-02-18 16:19] Omair-Abdul opened #655 "Power Shell Execution Policy Getting Altered To "Unrestricted""
With SystemInformation 5.9.4 we see that the PowerShell execution policy is getting Altered to "Unrestricted". This is the PowerShell command getting executed - "powershell.exe -NoLogo -InputFormat Text -NoExit -ExecutionPolicy Unrestricted -Command -"

When using SystemInformation 4.34.17, we did not see a similar behavior. Why is Systeminformation 5.9.4  requiring the policy to be altered to "Un

[2022-02-18 17:33] sebhildebrandt commented on #655
@Omair-Abdul Thank you for asking and reporting! I will check the situation - the reason for this was issues with some commands that I discovered. Will come back later when the situation is clear on my side.

[2022-02-18 19:28] Omair-Abdul commented on #655
Thank You @sebhildebrandt!

[2022-02-20 06:54] sebhildebrandt commented on #655
@Omair-Abdul ... I checked the code and my `powershell` implementation always had ` -ExecutionPolicy Unrestricted` (since it was introduced in September 2018). But anyway I do not really see a reason why this is necessary. I removed this flag and published a new version 5.11.4

[2022-02-20 06:54] #655 closed

[2022-02-25 20:55] Apollon77 opened #656 "TypeError Cannot read property 'split' of undefined"
I think it affects https://github.com/sebhildebrandt/systeminformation/blob/b22befe18e46acca8304f67940aeef4695c046a2/lib/users.js#L264-L268

https://sentry.iobroker.net/share/issue/030fa63a272b49ca986041548fb8002d/

[code]

[2022-02-25 20:58] Apollon77 opened #657 "TypeError Cannot read property 'passed' of undefined"
affects https://github.com/sebhildebrandt/systeminformation/blob/b22befe18e46acca8304f67940aeef4695c046a2/lib/filesystem.js#L1248-L1251

https://sentry.iobroker.net/share/issue/bcc5a7a674e84222b88477b8aa2d1ade/

[code]

[2022-02-25 20:59] Apollon77 opened #658 "TypeError Cannot read property 'split' of undefined"
Affects https://github.com/sebhildebrandt/systeminformation/blob/b22befe18e46acca8304f67940aeef4695c046a2/lib/network.js#L256-L258

https://sentry.iobroker.net/share/issue/f2278e87c863418b84b372431f341eb1/

[code]

[2022-02-26 06:32] sebhildebrandt commented on #656
Fixed parsing issues (windows). Version 5.11.5 just released

[2022-02-26 06:32] #656 closed

[2022-03-01 19:29] ShapeMess opened #659 "Temperature prop missing in DiskLayoutData interface"
**Describe the bug**
`si.diskLayout` is peoperly giving out the `temperature` property, though it's missing on the interface DiskLayoutData (line 225) in type declarations which triggers TS to throw errors.

**Current Output**
![image](https://user-images.githubusercontent.com/80402817/156234016-944bd662-0d84-4b37-afa4-b18f8ce31ae9.png)
`temperature` property missing on the interface:
![image](htt

[2022-03-01 20:01] sebhildebrandt commented on #659
@ShapeMess my fault. Forgot to add it in typings. As soon as SmartNonTools are installed, this value is also available. I fixed the type definitions. Version 5.11.6 just released. Thank you for reporting!

[2022-03-01 20:01] #659 closed

[2022-03-01 20:36] stefanpenner opened #660 "Addition Apple M1 Pro Issues"
**Describe the bug**
It appears that this library has some additional issues when running on a machined powered by Apple M1 Pro.

[`modelline`](https://github.com/sebhildebrandt/systeminformation/blob/57c7d9af587435a3c626817be7e27617f451e397/lib/cpu.js#L610-L612)
 ends up being 'Apple M1 Pro' on a new Mac Book Pro,  which never contains an `@`.. this means the result of  `modelline.split('@')` wil

[2022-03-01 21:25] sebhildebrandt commented on #660
@stefanpenner ... hmmm interesting, as my main machine is a Apple M1 Pro machine ... I cannot reproduce the error:

In file `cpu.js`
[code]

indeed returns `Apple M1 Pro`

and the next line

[code]

retuns `[ 'Apple M1 Pro' ]`

so the next 2 following lines are also fine:

[code]

The array has only the length of 0 but this is covered by checking if `modellineParts[1]` exists ...

With the current

[2022-03-02 17:12] ShapeMess opened #661 "Add a way to disable display checks in si.graphics"
**Is your feature request related to a problem? Please describe.**
The `si.graphics` method  used for checking GPU and display information can easily be used for monitoring certain parameters of installed graphics cards like usage and temps and displaying on them on graphs. This kind of usage tends to happen inside an interval or a loop. Meanwhile information like attached displays tends to be sta

[2022-03-03 14:24] ShapeMess commented on #583
I'd just like to mention the fact that native `os.cpus()` returns idle/tick values properly on windows which can be used to calculate the CPU usage over a certain span of time, though it would need to be done periodically in the background.

[2022-03-03 19:35] ShapeMess commented on #661
I'd happily invest some time in solving that issue if that's not a problem to other contributors, I don't want to introduce a yet another dependency to my current project and I don't expect any quick updates addressing this problem since small issues like this one tend to be low in priority.

[2022-03-06 15:07] sebhildebrandt commented on #660
@stefanpenner ... as I cannot reproduce this on any of my M1 machines I will close this for now (see explanation above). If you still see problems, please reopen this issue and provide a little more error messages and information. Thank you so much.

[2022-03-06 15:07] #660 closed

[2022-03-09 17:38] NoobishSVK opened #662 "CPU Temperature is one constant number"
**Bug description:**
I am trying to extract CPU temperature info, unfortunately the number doesn't change at all, not even after reboot, it's always the same even though other programs report completely different temperatures. It's always 27.8 / 29.8 using this library no matter the load / time. It just always reports the same number.

**Problem reproduction**
Steps to reproduce the behavior:
1. u

[2022-03-10 08:48] sebhildebrandt commented on #662
@NoobishSVK can you provide the output of the following command (from powerShell):

[code]

Would be good if you execute this several times (with no load and under heavy load) to see if windows is aware of temperature changes ... thank you in advance

[2022-03-10 08:50] sebhildebrandt commented on #638
@GerritKuilder ... unfortunately I did not made any progress here. Seems that this is a special care that might be not detectable as wanted ... what do you think?

[2022-03-10 18:21] NoobishSVK commented on #662
Tests have been made under different loads at a different time, seems like the result is always the same - even after rebooting.
I have checked with a Ryzen 7 2700 CPU with a Gigabyte B450M motherboard, same issue except the temperature is reported as ~16.7°

[code]

[2022-03-10 20:01] sebhildebrandt commented on #662
@NoobishSVK so it seems as windows gives back those number, there is not much I can do in this case (when relying on what windows provides). Closing it for now. I anyway fixed one issue related to your report ... the `NaN` value should now no longer be present. Version 5.11.7 just released.

[2022-03-10 20:01] #662 closed

[2022-03-11 18:18] sebhildebrandt commented on #660
@stefanpenner sure. Whenever you have more info, feel free to reopen this issue. I am highly interested in fixing issues and make this library as stable as possible. Best regards.

[2022-03-11 19:23] NoobishSVK opened #663 "LGA1150 boards are being misreported as LGA1155"
**Describe the bug**
Mentioned it already in the title. I have tried multiple HW configurations with different LGA1150 cpus and motherboards

**To Reproduce**
1. used function      document.getElementById('boardsocket').innerHTML = data.socket;

**Current Output**
It should show LGA1150, it's being misreported as LGA1155, which is for CPUs of 2/3gen, not 4.

**Expected behavior**
I'd expect it to

[2022-03-11 19:41] sebhildebrandt commented on #663
@NoobishSVK ... can you provide (from powershell) the output of

[code]

Thank you in advance

[2022-03-11 19:46] sebhildebrandt commented on #606
@abdooo9 ... as I have another user with kind of the same problem, can you provide the full output of
(powerShell)

[code]

Thank you in advance.

[2022-03-11 20:32] NoobishSVK commented on #663
Here's the report:

`PSComputerName                          : MIKUNET-NOOBISH
Availability                            : 3
CpuStatus                               : 1
CurrentVoltage                          : 12
DeviceID                                : CPU0
ErrorCleared                            :
ErrorDescription                        :
LastErrorCode                           :
LoadPercentage

[2022-03-11 20:50] sebhildebrandt commented on #663
@NoobishSVK ... I see ... windows reports socket 1155 (the upgradeMethod value of 36 indicates this socket ... due to SMBIOS reference specs). I now added a function that should correct wrong values. As I cannot really test it here, can you test the current code here on GitHub?

If you clone the current state of the code

[code]

then just type `c` to get the `cpu()` output. Can you provide this o

[2022-03-11 20:55] NoobishSVK commented on #663
Awesome, it seems to work now - socket is reported as LGA1150.
Thank you very much for your prompt answers!

[code]

[2022-03-11 20:59] sebhildebrandt commented on #663
@NoobishSVK thank you for testing!! Version 5.11.8 just released.

[2022-03-11 20:59] #663 closed

[2022-03-11 21:00] sebhildebrandt commented on #606
@abdooo9 I now added a function that corrects wrong socket information based on cpu name. Version 5.11.8 just released. Maybe you can test it ... thank you in advance.

[2022-03-11 21:45] thoov commented on #660
While testing the issue that @stefanpenner found I was able to reproduce this error.

<img width="1000" alt="Screen Shot 2022-03-11 at 1 40 09 PM" src="https://user-images.githubusercontent.com/166909/157974211-a1ffb8a8-fda4-4595-a5c6-1bf05f51f489.png">

Looking at where the error is thrown I see:

[code]

Which  as `modelline` for an M1 is `Apple M1 Pro` that second split will not work. This is f

[2022-03-12 03:37] abdooo9 commented on #606
@sebhildebrandt  OutPut of `Get-WmiObject Win32_processor | Select * | fl`:
[code]
And `.cpu().socket` it gives correct data

[2022-03-12 05:48] sebhildebrandt commented on #606
@abdooo9 thank you so much. Problem solved. Version 5.11.8 just released

[2022-03-12 20:52] Lelre opened #664 "undefined values or null"
Hello folks. I just started exploring this library and already came across this issue. How can I manage to retrieve system information properly? Here's my code.

[code]

Here's the result:

    CPU:
      cpuinfo.cpuModel: 140
      cpuinfo.cpuFamily: 6
      cpuinfo.cpuVendor: GenuineIntel
    SPEED:
      cpuinfo.cpuSpeed: 2.8
      cpuinfo.cpuMaxspeed: undefined
      cpuinfo.cpuCurrentspeed: u

[2022-03-13 05:51] sebhildebrandt commented on #664
@Lelre … not sure why you opened this issue. Can you add detailed explanation / information what the issue is about? And also which systeminformation version you are referring to, which OS you are working with...

[2022-03-14 02:53] babojamo opened #665 "Cannot get CPU temperature on Leonov Idea pad 3"
Cannot get the CPU temperature, returns empty

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'cpuTemperature'
2. code snippet
[code]

3. start app / code
4. See output/error
[code]

**Environment (please complete the following information):**
 - systeminformation package version: 5.10.7
 - OS: Windows 10 pro
 - Hardware: Lenovo idea pad 3

**Additional context**
Tried to run t

[2022-03-14 05:37] sebhildebrandt commented on #665
@babojamo ... There are two reasons why this can happen:

1. on some machines this requires to run with admin privileges
2. on some machines `MSAcpi_ThermalZoneTemperature` is not supported. Not all machines can support reading of the cpu temperature, it's a function of your BIOS software. Sometimes the bios manufacturer will supply dll's that you can reference to call the required function and re

[2022-03-14 05:37] #665 closed

[2022-03-14 05:38] sebhildebrandt commented on #664
May I close this issue? Or do you have any additional information (besides ".")

[2022-03-15 18:09] stefanpenner commented on #660
Thanks, @thoov clearly, I got myself turned around thinking i was fully upgraded when I wasn't. My bad.

[2022-03-15 18:41] sebhildebrandt commented on #664
Closing it for now ...

[2022-03-17 02:05] Lelre commented on #664
@sebhildebrandt I'm sorry. I decided to try to resolve it by my own. It didn't work out. Could you give me some directions to solve this issue?

I have this piece of code:

[code]

Here's my output:

    CPU:
      cpuinfo.cpuBrand: Gen Intel® Core™ i7-1165G7
      cpuinfo.cpuVendor: GenuineIntel
      cpuinfo.cpuModel: 140
      cpuinfo.cpuFamily: 6
    SPEED:
      cpuinfo.cpuSpeed: 2.8
      cp

[2022-03-17 05:23] sebhildebrandt commented on #664
@Lelre can you provide more details Information about

**Environment (please complete the following information):**
 - systeminformation package version:
 - OS: [e.g. macOS]
 - Hardware [e.g. MacBook Pro 13]

**Additional context**
Add any other context about the problem here.

One more thing, did you also had a look at the documentation https://systeminformation.io ... not all functions are suppo

[2022-03-19 23:50] NoobishSVK opened #666 "Linux returns null RAM info"
**Describe the bug**
Whenever I ask for RAM data from Linux, the system just returns null data, or an empty string.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.memLayout()'

**Current Output**
![obrázok](https://user-images.githubusercontent.com/17816750/159142175-35f74d4c-fd92-4c21-909a-7a7df787f781.png)

**Expected behavior**
I'd expect it to work the same way as on w

[2022-03-20 06:58] sebhildebrandt commented on #666
@NoobishSVK need to have a look on it today. As soon as I am in the office I will try to see what the problem is. Thank you for reporting

[2022-03-20 10:00] NoobishSVK commented on #666
No worries. Thank you very much for your reply. :)

[2022-03-20 15:52] Apollon77 opened #667 "Cannot read property 'passed' of undefined"
Please check existence before accessing it (maybe also other places):
https://github.com/sebhildebrandt/systeminformation/blob/master/lib/filesystem.js#L1250

https://sentry.iobroker.net/share/issue/bcc5a7a674e84222b88477b8aa2d1ade/

[code]

[2022-03-20 19:01] sebhildebrandt commented on #666
@NoobishSVK as I cannot reproduce this here on any machine, can you provide the output of

[code]

[2022-03-20 19:14] sebhildebrandt commented on #667
@Apollon77 fixed. Version 5.11.9 just released

[2022-03-20 19:14] #667 closed

[2022-03-20 21:11] NoobishSVK commented on #666
User 1 - First screenshot = nonroot, second screenshot = root
![obrázok](https://user-images.githubusercontent.com/17816750/159185911-0d178089-4f57-4140-bd56-5f4da8f6907b.png)
![obrázok](https://user-images.githubusercontent.com/17816750/159185975-e884720e-6e0d-4442-a8a5-9a66200d3521.png)

User 2 - same result without root as with the first user, so here's a root screenshot:
https://cdn.discordapp

[2022-03-20 21:38] Apollon77 commented on #667
Thank you!

[2022-03-20 21:54] zSchadt opened #668 "Windows 11 CPU Information Incorrect"
**the program:**
[code]

**The thing:**
I always get the exact same response when calling `CPUTemperature` api:
[code]
And when calling `cpuCurrentSpeed`:
[code]

**I want:**
I'd expect to see more individual core temperatures, as well as variations in the temperatures.
[code]
Similarly for the core speeds to reflect what I'm seeing in other monitoring apps like HWInfo.

**the set up:**
 - Admin w

[2022-03-25 17:28] mikelpr opened #669 "product_serial and product_uuid require root"
**Describe the bug**
/sys/devices/virtual/dmi/id/product_{serial,uuid} are only readable by root so systeminformation returns '' for them

**To Reproduce**
Steps to reproduce the behavior:
· `cat /sys/devices/virtual/dmi/id/product_{serial,uuid}`
· `await require('systeminformation').system().uuid`

**Current Output**
cat fails with Permission denied and systeminformation.system().uuid returns an

[2022-03-28 19:58] SagoBno opened #670 "Linux report memories, but with null data"
**Describe the bug**
When it requires ram information, System Information returns an array with some empty objects and others with real data.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.memLayout()' with sudo permissions like the following example :
![Captura de pantalla de 2022-03-28 14-43-26](https://user-images.githubusercontent.com/50707624/160475098-b3fb0490-c10b-4

[2022-03-28 20:00] SagoBno commented on #666
Im not sure if is the same problem, but I report this bug: https://github.com/sebhildebrandt/systeminformation/issues/670

[2022-04-04 20:08] zmink-pxc opened #671 "Memory metrics don't correspond with top or htop results"
**Describe the bug**
I'm using the observe function to collect parameters, including the memory of the device. The observe function is set onInterval of 5000ms.  My goal is to reproduce metrics similar to htop.  However, none of the memory metrics returned match the htop results.  For this test scenario, I'm running systeminformation in a container on an amd64 ubuntu host, but receive similarly un

[2022-04-08 03:17] Nicholas-Luoyi opened #672 "si.blockDevices() not support Win7 ?"
Hi. I am using the systeminformation of version 5.11.9. I want to get the array of all disks on PC and filter the removable disks. So I used the si.blockDevices() function. It works all fine with win 10, MacOS etc. But some of my colleague is still using win 7. And the function list nothing on all win 7 computers. I have read the DOC and it says the function supports win. I just want to check that

[2022-04-13 21:16] glenninn opened #673 "networkStats() causes disturbance to video connection"
**Describe the bug**
I am running a NodeJS video client application on my Macbook Pro running Monterey 12.3.
I added a 5 second loop to poll networkStats() to track the Tx and Rx data rates.  What I
noticed is that when the networkStats() API runs, I get a momentary frozen video image.

Are the systeminformation tests intrusive -- that is -- is it expected that they would impact
currently flowing

[2022-04-14 04:32] sebhildebrandt commented on #673
@glenninn thank you for reporting. Can you open activity monitor on your machine and see if you have spikes (CPU usage up to 100%) each 5 seconds?

I testet it on my machine with an interval of 0.5 seconds with no issues. Played also several video steams at the same time wish no stuttering. CPU load was at aprox. 4% for the node process.

Here is my code that I testet (with a simple console.log):

[2022-04-15 19:25] glenninn commented on #673
Hi Sebastian,
  I will try to do more testing, but we are in the middle of a production release so it may be a bit before I can get back to this.  Note that the "video" I was referring to was a video conference.  Basically, what appears to me is that in accessing the network stats it does something to the network for a moment that causes some sort of disruption.

Stay tuned...
-Glenn

[2022-04-18 06:21] kullu208025 opened #674 "What is the unit of CPU Temperature ? is it F or C"
si.cpuTemperature(cb)

unit of the temperature

[2022-04-18 07:09] sebhildebrandt commented on #674
@kullu208025 ... ist Celsius. I updated the docs accordingly.

[2022-04-18 07:09] #674 closed

[2022-04-18 07:11] sebhildebrandt commented on #673
@glenninn Thank you! Will also test it here ... running my code while having video conferences. Tomorrow there is a good chance as I have several online meetings.

[2022-04-19 03:53] k-funk commented on #630
Still not working for me:
[code]

### Code
[code]

MacOS 12.3.1
Node 17.7.1

[2022-04-19 04:20] k-funk commented on #635
Still not working for me:
[code]

### Code
[code]

MacOS 12.3.1
Node 17.7.1
@types/systeminformation@3.54.1
systeminformation@5.11.10

[2022-04-19 05:13] k-funk opened #676 "BSSID could be returned by wifiConnections in Monterey, if `sudo` is used."
## Problem
As you know, Monterey doesn't return the BSSID from `/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -I` anymore. However, if it is called with `sudo`, the BSSID is returned.

## Solution
Call `sudo /System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -I`. Perhaps an argument can be passed to `si.wifiConnecti

[2022-04-19 08:18] sebhildebrandt commented on #673
@glenninn ... I tested this today with several video conferences (teams, Skype, zoom) without any problems - setting intervals to 700ms. Also in the activity monitor I do not see any problems or spikes ... maybe - as soon as you have time - can also share your findings. Thank you in advance.

[2022-04-19 09:34] Apollon77 opened #677 "Cannot read property 'trim' of undefined"
https://github.com/sebhildebrandt/systeminformation/blob/master/lib/network.js#L220

https://sentry.iobroker.net/share/issue/b5f7dc58f42c4d3392d0b9da0fef9f85/

[code]

[2022-04-19 09:57] sebhildebrandt commented on #677
@Apollon77 ... problem found and solved. Version 5.11.11 just released.

[2022-04-19 09:57] #677 closed

[2022-04-19 10:41] Apollon77 commented on #677
Thank you!

[2022-04-19 16:32] sebhildebrandt commented on #676
Hi @k-funk

Thank you for your contribution. Yes, you are right! Calling it with `sudo` will bring back the BSSID (for macOS Monterey) but as you mentioned this will also require entering of the sudo password. As we cannot assume that all applications and scenarios where systeminformation is used are able to do this extra step as mentioned in your comment, I do think that this is a good idea to ad

[2022-04-19 16:32] #676 closed

[2022-04-20 02:19] glenninn commented on #673
Sebastian,
  I tested the code both when its integral in our video app, and when it runs as a separate process.  What I've found is that the lagginess occurs when I run integral to our process.  Since we have code that does need to run on a regular periodic basis, the laggy behavior implies that the networkStats() module is blocking in some way.

When we run the code in a separate app/process, all

[2022-04-21 13:22] anthonybriand opened #679 "[MacOS] Battery Informations are partial"
Hello,
I use this package to recover some information on my mac, however I notice a problem on my Macbook Pro 16"

The data returned by the battery API is invalid

System :
[code]

Current data provided by SI :
[code]
In this sample it indicates that the battery is at 0 percent however the battery is fully charged, the hasBattery field is also incorrect

If you need more information I can provide

[2022-04-21 17:30] AxelTerizaki opened #680 "fsSize() option to return only a specific drive on Windows"
I suppose this is related to #314 and #299 in some ways. I have read them and feel like my request might not be doable, but here goes nothing :

Would it be possible to only get one drive's size instead of all the drives, in case a network drive is disconnected somehow? My main issue is that I check for available disk space on a specific drive before downloading something, and the fsSize() promise

[2022-04-21 20:02] sebhildebrandt commented on #679
@anthonybriand I have an idea where the problem might be, can you provide the output of (command line):

[code]

[2022-04-21 20:56] sebhildebrandt commented on #679
@anthonybriand ... can you test the latest version 5.11.13 ... should work now.

[2022-04-21 20:57] sebhildebrandt commented on #673
@glenninn Can you test the latest version 5.11.13 ... this should fix the problem!

[2022-04-22 02:48] oznu opened #681 "Node.js v18 - si.networkInterfaces() not returning IP addresses on Linux"
**Describe the bug**

I know Node.js 18 was only released a few days ago, so no rush here 😄

Running Node.18 on Linux the `si.networkInterfaces()` command does not seem to return IP addresses.

**To Reproduce**

[code]

Compared to `os.networkInterfaces()`:

[code]

**Environment (please complete the following information):**
 - systeminformation package version: v5.11.13
 - Node.js: v18.0.0
 - OS

[2022-04-22 05:15] sebhildebrandt commented on #681
@oznu thank you! Version 5.11.14 published which should fix the issue. Can you test it on your side?

[2022-04-22 05:15] #681 closed

[2022-04-22 06:07] oznu commented on #681
@sebhildebrandt - seems to have done the trick.

Thanks again!

[2022-04-22 12:04] anthonybriand commented on #679
@sebhildebrandt It works perfectly with the 5.11.13, thank you for the quick fix !

[2022-04-22 12:04] #679 closed

[2022-04-24 18:18] jakubiakdev opened #682 "si.cpuTemperature() uses inaccurate source on Windows"
**Describe the bug**
cpuTemperature() uses MSAcpi_ThermalZoneTemperature[[1]](https://github.com/sebhildebrandt/systeminformation/blob/69987c5c60ae35ca90e77ff106e1238e26229129/lib/cpu.js#L1212). MSAcpi_ThermalZoneTemperature returns a value of a thermal zone on the motherboard, instead of a temperature of CPU[[2]](https://stackoverflow.com/questions/9101295/msacpi-thermalzonetemperature-class-not-

[2022-04-27 15:18] omarabdelaz1z commented on #36
Same as mine.
![image](https://user-images.githubusercontent.com/59033999/165552615-d5f57ff4-6cb4-4dce-9dd9-7a5e8260581f.png)

[2022-04-27 15:24] omarabdelaz1z commented on #682
How did you managed to get some output from `si.cpuTemperature()`?

![image](https://user-images.githubusercontent.com/59033999/165553843-202afe6c-aa00-4ada-ada6-78e19b3540ba.png)

[2022-05-03 22:57] wojo1086 commented on #682
I have this same issue, except mine is always saying 27.8.

[2022-05-04 13:55] MauriceNino opened #684 "Getting wrong CPU information on Linux"
**Describe the bug**
I am getting incomplete and/or incorrect data from `.cpu()`.

**Current Output**
[code]

**Expected behavior**
The CPU actually has 6 cores and 12 threads and some more information that is missing (e.g. min speed / max speed).

**Environment (please complete the following information):**
 - systeminformation package version: 5.11.14
 - OS: Ubuntu Server & Ubuntu 21.04 on Windo

[2022-05-04 14:31] #684 closed

[2022-05-05 17:05] sebhildebrandt commented on #673
@glenninn did you had time to test it with the latest version again ... this should work now.

[2022-05-08 06:01] glenninn commented on #673
@sebhildebrandt  Hi - Sorry, I'm in the midst of a release cycle and so I've been unable to play more with si... will look into this next week

[2022-05-10 22:01] WeijianL1 opened #685 "Missing property in AudioData interface"
https://github.com/sebhildebrandt/systeminformation/blob/69987c5c60ae35ca90e77ff106e1238e26229129/lib/index.d.ts#L872

The `type` property is missing from AudioData interface, as specified here https://github.com/sebhildebrandt/systeminformation/blob/69987c5c60ae35ca90e77ff106e1238e26229129/lib/audio.js#L120

[2022-05-11 14:28] sebhildebrandt commented on #685
@WeijianL1 thank you .... should be fixed now. Version 5.11.15 just published

[2022-05-11 14:28] #685 closed

[2022-05-17 15:19] ercksen commented on #682
Same problem here:

![image](https://user-images.githubusercontent.com/42444913/168847045-7ca29621-6641-436f-be59-8e484c2a9d73.png)

It would be nice to be able to choose from a list of detected temperature sources.

[2022-05-19 23:34] WeijianL1 opened #686 "Audio device.type returns empty on Windows"
**Describe the bug**
When trying to get the audio device `type` on Windows, it's empty.

**To Reproduce**
Steps to reproduce the behavior:
1. On a Windows machine, run the following snippet:
[code]

**Current Output**
[code]

**Expected behavior**
Something similar to the output on Mac:
[code]

**Environment (please complete the following information):**
 - systeminformation package version:
 - OS

[2022-05-20 22:48] WeijianL1 commented on #686
Ok after reading the implementation I know this is not a bug but more of a feature. It basically uses keywords to match the device name to get a device type. And if no keyword is matched, it goes ahead and check if this device has an audiooutput/input and go from there. Finally if no input/output info is available it will return an empty string.

My question is: are you aware of any way to tell de

[2022-05-26 05:56] ohmantics opened #688 "FreeBSD arm64 not identified"
**Describe the bug**
FreeBSD arm64 (aarch64) isn't identified

**To Reproduce**
Check systeminformation.osdata and see "unknown" responses.

**Environment (please complete the following information):**
 - systeminformation package version: 5.11.14
 - OS: FreeBSD arm64 running inside UTM
 - Hardware: Mac mini M1

**Additional context**
[This code](https://github.com/sebhildebrandt/systeminformation

[2022-05-27 17:39] emaste commented on #688
[That code](https://github.com/sebhildebrandt/systeminformation/blob/022c2fb9b4e1cb24dc9459baa4e0b98c76801e1a/lib/osinfo.js#L268) ought to use sysctl -i:

[code]

(I have no idea if this is available on NetBSD or OpenBSD, although perhaps they don't work at all right now if they don't have a machdep.bootmethod.)

[2022-05-27 17:43] emaste commented on #688
Just checked OpenBSD's and NetBSD's sysctl(8) man pages, and neither support `-i`. :(

[2022-05-27 18:20] emaste commented on #688
OpenBSD doesn't have a `machdep.bootmethod` so will fail here on all platforms. NetBSD adopted `machdep.bootmethod` but only on x86, like us.

[2022-05-28 05:18] sebhildebrandt commented on #688
Hi @emaste Thank you for reporting. As I am also running an M1 machine as my main device and have UTM installed, it should be easy to reproduce. But I was unable to install a FreeBSD version here ... can you give me a hint (which image you used and maybe some special steps that needed to be done?). Perhaps same for OpenBSD and NetBSD if there are SRM versions that run in UTM ... Thank you for your

[2022-05-28 05:26] sebhildebrandt commented on #682
Hi @jakubiakdev @wojo1086  @ercksen... as windows Dows not provide any other method than `MSAcpi_ThermalZoneTemperature ` which in some implementations return correct CPU temps (and other not or even nothing), I currently cannot provide more. Otherwise it would be needed to create hardware specific low level code.

[2022-05-28 05:26] #682 closed

[2022-05-28 12:46] emaste commented on #688
@ohmantics should be able to provide details on what image he used etc. I don't yet have an M1, my FreeBSD installs are x86 laptops and arm64 cloud images.

[2022-05-30 18:16] jrtc27 commented on #688
13.1-RELEASE's boot1.iso installs fine for me with UTM 3.2.4 (58) using Other as the OS and otherwise choosing sensible defaults:

<img width="436" alt="image" src="https://user-images.githubusercontent.com/816232/171042755-e5e087ab-dfa6-4daf-a55d-68d837811629.png">

Something seems to be wrong with the installer if you select base-dbg, it immediately fails to download any distribution files once

[2022-05-30 18:18] sebhildebrandt commented on #688
@jrtc27 THANK you! Will try it tomorrow!

[2022-05-31 12:27] aminmousavi5147 opened #691 "Trying to calculate the diagonal screen size of monitor."
I'm trying to calculate the diagonal screen size of monitor (eg. 17.3, 15.6, ...) with the value of 'sizeX' and here is my code :
[code]
And how I use it :
`Math.round(calculateDiagonal(chdValue.sizeX) * 10) / 10 + ' in'`
The diagonal screen size of my laptop (ASUS ROG G75VW) is 17.3 inches and what my code returns is 17.2 and it's because of the sizeX value that I get!

[2022-05-31 12:41] Aravind1105 opened #692 "si.disksIO() always returns null"
**Environment (please complete the following information):**
 - systeminformation package version: 5.11.16
 - OS: Windows 10 Pro

[2022-05-31 12:46] #692 closed

[2022-05-31 12:47] Aravind1105 commented on #692
I just found that it will not work on Windows OS

[2022-06-05 23:46] mrpher opened #693 "Request: support cellular modem stats"
**Is your feature request related to a problem? Please describe.**
I've been searching for a while for an elegant solution to monitoring cellular connection metrics on remote linux devices.  No one seems to have even come close.  You'd make my (any many others) year if SI supported cellular modem metrics as easily as Wifi.

**Describe the solution you'd like**
Basically something very similar to `

[2022-06-06 19:37] Saahilp18 commented on #671
Hey, I'm having a similar issue.
I am more concerned with how it showing I am using over 32GB of memory when I only have 32GB installed.
{
  total: 34359738368,   ~ 32.768 (Should be 32GB)
  free: 65159168,
  used: 34294579200,   ~32.54790625 (Should be 17GB)
  active: 6319439872,
  available: 28040298496,
  buffers: 0,
  cached: 0,
  slab: 0,
  buffcache: 27975139328,
  swaptotal: 22548578304,

[2022-06-07 03:55] sebhildebrandt commented on #671
Hi @Saahilp18 ... if you have 32GB of ram then this is

1024 * 1024 * 1024 * 32 Bytes

which is 34359738368 Bytes

So the total amount is correct. Question: what OS / Distribution are you using?

[2022-06-07 13:22] Saahilp18 commented on #671
I see, thank you. I am using MacOS Monterey V12.1.

[2022-06-07 14:16] zmink-pxc commented on #671
I haven't been able to fully account for the total memory discrepancy, but the "htop" issue is clearly my misinterpretation of htop results.  The fractional memory usage is the 'active' memory in systeminformation terminology over the total memory.  The multicolored RAM bar displays active memory in green, blue is buffer and yellow is cache.  In my original post, 'used' memory does more closely ma

[2022-06-07 14:20] sebhildebrandt commented on #671
@zmink-pxc ... concerning total mem:

11735089152 / (1024 * 1024 * 1024) = 10.92

[2022-06-07 14:21] zmink-pxc commented on #671
Thanks @sebhildebrandt

[2022-06-07 14:21] #671 closed

[2022-06-09 05:30] HadiModarres opened #694 "wifiConnections method not working on Pop OS 22.04"
**Describe the bug**
Does not return information about currently active Wifi connection.

**To Reproduce**
Steps to reproduce the behavior:
invoke `wifiConnections` method on freshly installed Pop OS 22.04

**Current Output**
Empty array: []

**Expected behavior**
Should return info about active Wifi connection

**Environment (please complete the following information):**
 - systeminformation pack

[2022-06-09 07:26] fengqinghuaYA commented on #672
Check your PowerShell version and powershell2.0 not support the 'Get-CimInstance' .

[2022-06-11 05:22] kacesensitive commented on #680
@AxelTerizaki
if you change filesystem.js a bit you can get it to work!

first you'll need to be able to pass a drive name into the function so on ln 39 change it to
`function fsSize(callback, drive) {`

then we'll want to pass that to the powershell command it runs on windows so ln 129 make a const with the optionally filtered command, something like
```const cmd = `Get-WmiObject Win32_logicaldis

[2022-06-11 07:21] AxelTerizaki commented on #680
That's pretty good news, and I'd love for it to be implemented in the module by the author :)

[2022-06-12 21:34] MauriceNino opened #695 "Odroid: diskLayout might use the wrong case in filter"
**Describe the bug**
A user of my software does not get `diskLayout` to recognize his disk (https://github.com/MauriceNino/dashdot/issues/111).

I think this is the relevant part of the output (but you can look at the linked issue to get the full output):

[code]

The problem is, that you check for `fsType`, but it seems to be `fstype` in the user's output: https://github.com/sebhildebrandt/system

[2022-06-13 03:36] sebhildebrandt commented on #695
@MauriceNino you are absolutely right. Provided a fix for the filtering. Hope this fixes the bug also on your side. Version 5.11.17 just released.

[2022-06-13 03:36] #695 closed

[2022-06-13 11:56] MauriceNino commented on #695
@sebhildebrandt I think this needs to be re-opened.

Seems like now some false positives go through as well. Another user of my software has created an issue (https://github.com/MauriceNino/dashdot/issues/114) which now detects a lot of drives, but most of them are not really hard drives as it seems.

Maybe the filter needs more fixing?

[code]

[2022-06-13 12:34] sebhildebrandt commented on #695
@MauriceNino we would absolutely need the output of `lsblk -ablJO` from this specific machine ... is it possible to provide it?

[2022-06-13 12:37] MauriceNino commented on #695
I asked the user that created the issue and will notify you when I have any updates.

[2022-06-13 12:42] sebhildebrandt commented on #695
@MauriceNino ... I created a small fix that limits the false positives .... but still we would need the output. Thank you for your help on this one. Version 5.11.18 just released.

[2022-06-13 20:48] sebhildebrandt commented on #695
@MauriceNino based on the provided output on your side I now made a fix that should work. Version 5.11.19 just released.

[2022-06-13 21:06] MauriceNino commented on #695
Nice, but are you sure it is correct? The `fsType` seems to be in the wrong case again, or is this intentional?

[2022-06-13 21:37] sebhildebrandt commented on #695
@MauriceNino oh man ... my fault again ... fixed, version 5.11.20 just released.

[2022-06-13 21:46] MauriceNino commented on #695
Nice, thank you again!

[2022-06-16 12:29] MauriceNino opened #697 "fsSize filters out mounted RAID drive"
**Describe the bug**
A user on my repo has a bug where his drive is not recognized (MauriceNino/dashdot#40). His output of `df -kPT` is:

[code]

This is happening, because it is not the root drive and its name is not starting with a slash, like needed to pass this filter:
https://github.com/sebhildebrandt/systeminformation/blob/445dcfa60fd75c7f980626ba32a8e1cc5a0406c3/lib/filesystem.js#L57

**Cur

[2022-06-16 13:17] MrAlucardDante opened #698 "RAID array replaced by ZFS pool, but still appears as RAID"
I used to have a 2x2TB RAID 1 array created with mdadm (called SERVEUR-BB).

I then added 2 extra drives, deleted every partition and mount points for the older drives and created a ZFS pool with 4x2TB HDD (2 mirrored vDev) which results in a 4TB array (called data-pool).

I have removed the old RAID array in /etc/fstab, /proc/mdstat returns nothing as well as mdadm --monitor --scan.

For some rea

[2022-06-17 06:13] ym13349140 opened #699 "si.system() and si.bios() returns empty string for every key"
**Describe the bug**
dear @sebhildebrandt , I'm using systeminformation in my vue application. When I run my web application on different windows10 machines(all these machines are the same), most machines get system information successfully, but there is one machine that cannot get any system information. I ran other functions on this machine, and the value of some keys are also empty string. the

[2022-06-17 07:11] sebhildebrandt commented on #699
@ym13349140 can you ran e.g the following command (Powershell) on the machines you are targeting (and under the user which you where running the node code) ... if the output is different, then we might have an indication why we habe this problem:

[code]

[2022-06-17 07:19] sebhildebrandt commented on #697
Hi @MauriceNino ... need to go deeper into this one ... I need to make sure to make this filtering correct without any other side effects. There are several FS `type` that needed to filter out and nit just `tmpfs`. Will try to come up with a solid solution after the weekend (as I am on holiday right now).

[2022-06-17 07:44] ym13349140 commented on #699
Thanks for your  reply, I just tried these command on that target machine, all the system informations are normally returned as follows:

![BCD86F496AB44C0951366211C4834E873244925673_IMAGE](https://user-images.githubusercontent.com/17507937/174250744-f4af0511-a8c7-42e4-ba04-1975b7920277.png)

[2022-06-17 07:50] sebhildebrandt commented on #697
@MauriceNino I just published a new version, hoping this would not introduce other unwanted side effects. Can you test this on your side? Version 5.11.21 just published

[2022-06-21 06:03] sebhildebrandt commented on #699
@ym13349140 as the output of the underlying commands are the same I do not see any reason on our side why this can be. We need to go deeper in to that:

- do the users have the exact same rights (this is where I would see the problem)
- node version ist the same?
- systeminformation version is the same?
- PowerShell version is the same?

Additionally to that, you could add some `console.log` state

[2022-06-21 06:42] MauriceNino commented on #697
Hi, thanks for the update! I have tested it with a few computers and could not recognize any errors or inconsistencies. The problem for the user on my project seems to be fixed with this as well. @sebhildebrandt

[2022-06-21 06:55] sebhildebrandt commented on #697
@MauriceNino great, thank you for all your tests! Closing it for now.

[2022-06-21 06:55] #697 closed

[2022-06-23 09:33] sebhildebrandt commented on #698
@MrAlucardDante ... can you update me on what you would expect or seems to be wrong ... I am a bit confused and maybe a  little bit more explanation could lead me to a more clear view on what might be wrong ;-) Thank you in advance ...

Generally: What output you would expect (what is to much / wrong / should be added) and based on which of the underlying commands would be very helpful.

[2022-06-23 10:22] kamilernerd opened #701 "Missing package "osx-temperature-sensor""
**Describe the bug**
Missing package "osx-temperature-sensor", when I install this package the warning persist.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'cpu()'
2. code snippet 'const cpu = await si.cpu();'
3. start app / code
4. See error 'Module not found: Error Can't resolve 'osx-temperature-sensor' in...'

**Current Output**
`Module not found: Error Can't resolve 'os

[2022-06-23 11:02] BingKui opened #702 "si.processes() return list is error"
**Describe the bug**
si.processes() return list , WindowServer item name is error.

true: "WindowServer"
return: "indowServer"

command is error too;

**To Reproduce**
si.processes((data) => {
    const { list } = data;
    const result = list.filter(item => item.cpu > 10);
    console.log(result);
});

**Current Output**
  {
    pid: 371,
    parentPid: 1,
    name: 'indowServer',
    cpu: 16.3,

[2022-06-23 11:41] MrAlucardDante commented on #698
sure @sebhildebrandt

sda1 and sdc1 should have the same label and fsType as sde1 and sdd1 (data-pool and zfs-member), like shown by the fdisk command.

[2022-06-23 13:04] sebhildebrandt commented on #698
@MrAlucardDante ok, let me check this tonight ... if I have further questions, I will contact you again...

[2022-06-23 13:18] sebhildebrandt commented on #698
Ok, still a little confused ... sorry for asking again ;-)

systeminformation has the following commands to determine file / disk structure:

`diskLayout()`
`blockDevices()`
`fsSize()`

See also https://systeminformation.io/filesystem.html

To determine `diskLayout`, I use the following underlying command:

[code]

To determine `blockDevices`, I use the following underlying command:

[code]

To de

[2022-06-23 13:36] sebhildebrandt commented on #702
@BingKui just tried the same with the latest version ... cannot reproduce it:

My output is:

[code]

... can you provide the HEADER and the corresponding WindowServer line of the following command:

[code]

I also see that the start date (started) is not correct ... this I will have to have a look at also...

[2022-06-23 14:40] sebhildebrandt commented on #698
@MrAlucardDante thank you for testing. Closing it for now. Feel free to reopen it if you see any problems on my side ...

[2022-06-23 14:40] #698 closed

[2022-06-23 14:52] sebhildebrandt commented on #702
@BingKui can you also provide which systeminformation version you are using

[2022-06-23 15:32] sebhildebrandt commented on #702
@BingKui ... I pushed a possible fix here on GitHub for the start date/time parsing ... can you test this on your side ... maybe this also solves the other problem. Just pull the latest version here from GitHub and test it once again.

If not, please provide the output of the upper command. Thank you in advance

If this fixes your issue I will publish a new version on nom.

[2022-06-24 21:31] sebhildebrandt commented on #702
@BingKui ... version 5.11.22 just published. This should resolve the issue with the start date and hopefully also the other issue. Can you test this on your side?

[2022-06-24 22:55] TrygveDev opened #703 "si.fsStats() returns null"
In my code I use:
[code]
The call returns null and I do not know why. Other calls work just fine.
I am running systeminformation v5.11.14 in a v18.2.0 electron project.

[2022-06-26 19:14] sebhildebrandt commented on #702
@BingKui closing it for now ... should be solved by new version 5.11.22

[2022-06-26 19:14] #702 closed

[2022-06-26 19:17] sebhildebrandt commented on #703
@TrygveDev please refer to the documentation:

https://systeminformation.io/filesystem.html

If `fsStats()` returns null then it is most likely that this is currently not supported for your OS (currently it is only implemented for linux and macOS). Moreover you should call this in an interval to get correct stats value (see also https://systeminformation.io/statsfunctions.html)

[2022-06-26 19:17] #701 closed

[2022-06-26 19:19] sebhildebrandt commented on #699
@ym13349140 did you had time to go through the steps I proposed?

[2022-06-26 23:50] TrygveDev commented on #703
Thank you. Read the documentation but did not notice that windows is not supported.

[2022-06-26 23:50] #703 closed

[2022-06-27 16:23] Saahilp18 opened #704 "BIOS Information on MAC"
Hello,

I was wondering why we are not able to retrieve the information for "Bios Revision" and "Revision Date" for MAC users and if there would be a way to get that information.

Thank you.

[2022-06-29 08:44] BobbyWibowo opened #705 ".fsSize() failing since 5.11.21 if df outputs some errors"
**To Reproduce**
[code]

**Current Output**
[code]

**Expected behavior**
The following is output of version `5.11.20`
[code]

**Environment (please complete the following information):**
 - systeminformation package version: 5.11.21
 - OS: linux x64, ubuntu 20.04

**Additional context**
The issue happens because my `df` outputs some errors
[code]
The transport endpoint thingy seems to be an issue

[2022-06-29 16:05] Saahilp18 commented on #704
If you type system_profiler in the terminal the firmware version is shown which is the same thing I'm fairly sure.

[2022-06-30 03:41] sebhildebrandt commented on #704
@Saahilp18 this is what I am actually doing and I return this back as a version. Here on my machine `system_profiler` returns

[code]

and i Systeminformation I return:

[code]

But I do not see any further information that I could give back.

[2022-06-30 03:56] sebhildebrandt commented on #699
@ym13349140 closing it for now as I do not see anything on my side that I can do. If you provide the information I asked for we can work on it further ...

[2022-06-30 03:56] #699 closed

[2022-06-30 03:57] sebhildebrandt commented on #691
@aminmousavi5147 Can you provide the full output of the `si.graphics()`? Maybe I can see then some room for improvement. Thank you in advance.

[2022-06-30 14:07] Saahilp18 commented on #704
Ahh, I see thank you. I was also looking to get the revision & revision date. Is that not a thing on Mac, or do you think it is still possible to get? I can't find anything online.

[2022-06-30 14:55] Saahilp18 commented on #704
I see, thank you for your help :)

[2022-07-02 09:49] sebhildebrandt commented on #704
@Saahilp18 @BitesPotatoBacks closing this for now as we agreed that there is no more data we can get for macOS regarding BIOS.

[2022-07-02 09:49] #704 closed

[2022-07-02 09:51] sebhildebrandt commented on #705
@BobbyWibowo I will try to work a a workaround for that ...

[2022-07-02 09:54] sebhildebrandt commented on #686
@WeijianL1 can you provide the full output of

[code]

from this specific windows machine (you need to run this inside PowerShell) ...

Thank you in advance

[2022-07-02 09:55] sebhildebrandt commented on #688
@jrtc27 @ohmantics ... got a VM with FreeBSD running on my M1 machine (using M1) but I am not able to connect to a network (internet) ... maybe if anyone of you got a hint for me I can pull the whole System Information package and node to see what is going on ...

[2022-07-07 08:03] sebhildebrandt commented on #705
@BobbyWibowo can you check if the patch I made here on GitHub works for you? Just clone the whole repo and inside just run

[code]

Then press `f` and have a look at the results.

Thank you for your feedback on that one.

[2022-07-07 16:04] ammgws opened #706 ".graphics() fails to parse lspci output"
**Describe the bug**
Appears to be incorrectly parsing/handling the output of `lspci -vvv 2>/dev/null` in this block of code: https://github.com/sebhildebrandt/systeminformation/blob/f7022c92f0abe41b92120d54f7b8fa4f48a918bf/lib/graphics.js#L717-L726

Error: `TypeError: Cannot read properties of undefined (reading 'pciBus')`

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Current Outpu

[2022-07-07 16:26] ammgws commented on #706
I also added `console.log(nvidiaData);` and I guess this explains where the 'undefined' from the error is coming from:

[code]

[2022-07-07 19:55] MosqueraSt3 opened #709 "memory max capacity in board"
**Describe the bug**
System information said that returns memory max capacity in bytes but the command that they are using return the value in kilobytes.

That depends in the SO version.

Microsoft Doc -> https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-physicalmemoryarray

**To Reproduce**
Just call baseboard function.
memMax property

**Current Output**
memory max capacity in ki

[2022-07-07 22:19] sebhildebrandt commented on #709
@MosqueraSt3 can you provide the full output (from PowerShell) of

[code]

The docs state that `MaxCapacity` should return Bytes and `MaxCapacityEx` kBytes ... just want to be sure about the results. Can you also provide the exact HP Pavilion Model Number that I can check what the max capacity should be?

[2022-07-07 22:49] sebhildebrandt commented on #706
@ammgws Can you provide one more thing?

In `graphics.js` Before line 431, can you add another console.log ... to see what we get back here:

so something like:

[code]

Thank you in advance!

[2022-07-07 23:03] ammgws commented on #706
Oh dear, this is embarrassing...

[code]

It was because I have a dummy `nvidia-smi` [script](https://github.com/ammgws/dotfiles/blob/master/scripts/.local/bin/nvidia-smi) in my $PATH that I use for developing `i3status-rust`.

Closing this since assuming there's nothing more to do here.

Sorry for the noise!

[2022-07-07 23:03] #706 closed

[2022-07-08 04:53] sebhildebrandt commented on #706
@ammgws no problem. Still it shows that the internal checks for the returning objects where not good. systeminformation should not return errors even if `nvidia-smi` has strange results. I made a patch for that and will publish that soon.

[2022-07-08 14:35] MosqueraSt3 commented on #709
HP Pavilion Gaming Laptop 15-Cx0xxx
Both properties returns the same value
![image](https://user-images.githubusercontent.com/61483209/178013479-4e303b3f-5caf-4be4-b316-ff70028c82db.png)

[2022-07-08 22:27] IngmarStein opened #711 "CPU temperature on Synology DSM 7"
**Describe the bug**
Synology NAS with DSM 7 don't have util-linux installed, so there is no `rev` command available. Because of that, `cpuTemperature` produces an error for this command: https://github.com/sebhildebrandt/systeminformation/blob/f7022c92f0abe41b92120d54f7b8fa4f48a918bf/lib/cpu.js#L1042

**To Reproduce**
Steps to reproduce the behavior:
1. call `cpuTemperature` on a Synology NAS wit

[2022-07-09 02:32] BobbyWibowo commented on #705
@sebhildebrandt Sorry for the delay, been away from the internet in the past couple days

I can confirm latest commit of master branch has nearly identical fs output with version 5.11.20, in the same machine that has a few errors when running df

[2022-07-09 04:03] sebhildebrandt commented on #705
@BobbyWibowo Thank you ... you said "nearly" ... can you provide bot systeminformation outputs from version 5.11.20 as well as from the lates version of this master branch?

[2022-07-09 07:50] BobbyWibowo commented on #705
@sebhildebrandt Hi there, the only difference between master branch and v5.11.20 is that the following entry is shown on master branch:
[code]
Representative of the following line in `df -lkPTx squashfs`:
[code]

From what I can tell, that behavior is very specific to https://github.com/probonopd/go-appimage instead of all AppImage(s) in general
So I wasn't certain if it should still be within thi

[2022-07-09 07:51] kacesensitive commented on #709
@sebhildebrandt
The docs state
MaxCapacity

I believe this means `MaxCapacity` only represents bytes on those Windows versions above. Otherwise it just reports the same value. It's deprecated for newer versions of windows. SI should probably use MaxCapacity when running from one of these older OSs and MaxCapacityEx otherwise.

[2022-07-09 08:56] sebhildebrandt commented on #709
@kacesensitive ... you are absolutely right, this is what I am thinking of. Will provide a patch for that later today.

[2022-07-09 16:21] sebhildebrandt commented on #705
@BobbyWibowo ok, I made one more change here on GitHub. If possible, can you once again pull from the paster branch and rerun the test? Now it should be exactly the same as in v 5.11.20... if yes, I will release this as a new version.

[2022-07-09 16:23] sebhildebrandt commented on #709
@kacesensitive @MosqueraSt3 ... I now implemented this a little different, taking the current windows version into consideration. Can you test this on your side (pull from master branch here on GitHub) ? If you now get back correct values, I will release a new version.

[2022-07-09 16:47] BobbyWibowo commented on #705
@sebhildebrandt I can confirm outputs for both latest master commit and v5.11.20 are absolutely identical now :heart:

[2022-07-09 17:29] sebhildebrandt commented on #711
@IngmarStein to keep it even simpler ... would this work on your Synology?

[code]

If yes, no `rev`, `sed` or `awk` would be needed ...

[2022-07-09 17:34] sebhildebrandt commented on #705
@BobbyWibowo Perfect ... currently working also on one other issue and need to get one more feedback. As soon as I have this I will release the new version. THANK YOU for your support on this issue!

[2022-07-09 17:34] IngmarStein commented on #711
Oh, nice! The bash version is 4.4.23 and it does work just fine. Here's an example output:
[code]

[2022-07-09 20:50] sebhildebrandt commented on #711
@IngmarStein ok, now it should work. Version 5.11.23 just published.

[2022-07-09 20:50] #711 closed

[2022-07-09 20:51] sebhildebrandt commented on #709
@kacesensitive @MosqueraSt3 after some tests here I guess that this works correctly. Version 5.11.23 just published.

[2022-07-09 20:51] #709 closed

[2022-07-09 20:51] sebhildebrandt commented on #705
@BobbyWibowo now it should work. Version 5.11.23 just published.

[2022-07-09 20:51] #705 closed

[2022-07-09 20:52] IngmarStein commented on #711
Excellent, thank you!

[2022-07-09 23:13] MauriceNino opened #712 "fsSize() will possibly filter out non-temp mounts"
**Describe the bug**
In the commit https://github.com/sebhildebrandt/systeminformation/commit/f3b8a4ad367cf2b91c3481481e88987d100d4430 you have added all mount types that start with `fuse.` to the temp mount list, which removes them from the output AFAIK.

One of the therefore blocked types is [mergerfs](https://github.com/trapexit/mergerfs), which is a mount that combines multiple other mounts. I

[2022-07-10 04:15] sebhildebrandt commented on #712
@MauriceNino ... I had another issue with `fsSize()`where I had to remove one more file type from the `df` list ... I added here two possible strings where the second one is now responsible for this issue. I removed it now while still leaving the other in place. This should fix this issue and preserve my intension for the other one. Version 5.11.24 just released.

[2022-07-10 04:15] #712 closed

[2022-07-10 14:26] MauriceNino commented on #712
Thank you for the quick fix!

[2022-07-11 07:22] stone-jin opened #714 "ReferenceError: line is not defined"
**Describe the bug**
ReferenceError: line is not defined

**To Reproduce**
[code]

**Current Output**
error

[2022-07-11 13:21] #714 closed, assigned to nobody

[2022-07-11 17:14] MosqueraSt3 commented on #709
@sebhildebrandt All ok. Thank you

[2022-07-12 03:54] bangbang93 opened #716 "Wrong physicalCores on 12th gen cpu"
**Describe the bug**
Wrong physicalCores in 12th gen cpu

**To Reproduce**
1. Run on an 12th gen cpu
2. `await si.cpu()`

**Current Output**
[code]

**Expected behavior**
[code]
8P+8E=16 phy core
16T+8T=24 phy core

**Environment (please complete the following information):**
 - systeminformation package version: 5.11.25
 - OS: Manjaro (Kernel 5.18.6)
 - PC

[2022-07-12 04:00] sebhildebrandt commented on #716
@bangbang93 can you provide the output of these commands:

[code]

Thank you in advance

[2022-07-12 04:09] sebhildebrandt commented on #716
@bangbang93 ... and maybe also this one:

[code]

[2022-07-12 04:11] bangbang93 commented on #716
<details>
<summary>lscpu</summary>
<pre>
Architecture:            x86_64
  CPU op-mode(s):        32-bit, 64-bit
  Address sizes:         46 bits physical, 48 bits virtual
  Byte Order:            Little Endian
CPU(s):                  24
  On-line CPU(s) list:   0-23
Vendor ID:               GenuineIntel
  BIOS Vendor ID:        Intel(R) Corporation
  Model name:            12th Gen Intel(R) Core

[2022-07-12 04:14] sebhildebrandt commented on #716
@bangbang93 thank you!! Will provide a fi for that!

[2022-07-12 04:26] sebhildebrandt commented on #716
@bangbang93 I made a patch here on GitHub. Can you test the latest code revision from master branch:

[code]

then press `c` ... if the result is what you would expect, I will release a new version.

[2022-07-12 04:30] bangbang93 commented on #716
confirmed
[code]

[2022-07-12 04:40] sebhildebrandt commented on #716
@bangbang93 can you do the same (pulling from master) one more time? I added now also 2 properties for `performanceCores` and `efficientCores` ... if this shows correct values on your side, I will also add this to the package.

[2022-07-12 04:43] bangbang93 commented on #716
[code]
it works

[2022-07-12 05:01] #716 closed

[2022-07-12 05:02] sebhildebrandt commented on #716
@bangbang93 version 5.12.0 just released.

[2022-07-18 00:27] koraniar commented on #709
@sebhildebrandt, I think it is not working yet. I tested the command on all the available Windows devices I had, and the result is always the same for `MaxCapacity` and `MaxCapacityEx`, and also the result is always in Kibibytes.

In my devices, with PR #710 it is working well.

The following is the list of the devices where I tested it:
- Dell Latitude 3410 | Windows 10 Pro
MaxCapacity   : 671088

[2022-08-01 13:18] daniellockyer opened #718 "Running services incorrectly marked as not running"
**Describe the bug**

Hey @sebhildebrandt 🙂

Running services are not detected as running. We've had a report over on the [Ghost-CLI repo](https://github.com/TryGhost/Ghost-CLI/issues/460) that Nginx and MySQL aren't being discovered, which stems from us using `systeminformation.services('*')`.

It turns out the output of some `systemctl` commands differs between operating systems (systemd version

[2022-08-01 16:45] sebhildebrandt commented on #718
Hi, @daniellockyer ... so if I just add a `trim()` ... will this work? I pushed a fix with this to master here on GitHub. Can you confirm that this works? Then I will release a new version asap.

I cannot yet test it because my servers will be upgraded to 22.4 on August 4th (in 3 days) ... then I can test it on my own

[2022-08-01 16:53] daniellockyer commented on #718
It works! 🎉

<img width="298" alt="CleanShot 2022-08-01 at 18 52 48@2x" src="https://user-images.githubusercontent.com/964245/182202094-c4fc9a73-3567-4997-bb87-e897f4c9d943.png">

[2022-08-01 17:03] sebhildebrandt commented on #718
@daniellockyer version 5.12.2 just released. I also testet it here (forcing one of my servers upgrading to 22.04) and it worked.

[2022-08-01 17:05] daniellockyer commented on #718
Thank you for the speedy response and fix @sebhildebrandt 🙂

[2022-08-03 13:54] Bartel-C8 opened #719 "macOS: networkInterfaces() always returns operstate = "up" for all interfaces"
On my system:

macOS Monterrey 12.4 (21F79) the call to `networkInterfaces()` always returns "up" for every `operstate`.
I traced it back to `getDarwinNics`, which calls `'/sbin/ifconfig -v'`.

Which (in my case) returns "inactive" for a interface which is down.
`	status: inactive`
And for active interface:
`	status: active`

The used check for deriving `operstate` is (https://github.com/sebhildeb

[2022-08-03 14:53] Bartel-C8 commented on #719
Actually, the same logic as here should be used for consistency? (The stats call indeeds works for the correct operstate).

https://github.com/sebhildebrandt/systeminformation/blob/master/lib/network.js#L1294

[code]

[2022-08-03 15:11] Bartel-C8 commented on #701
Thanks on the hint on the `alias` webpack (4.x.x) configuration.

But I got a warning on it:
[code]

So I solved by adding the webpack (4 style, note the API changed from 4 to 5) IgnorePlugin

`new webpack.IgnorePlugin(/osx-temperature-sensor/)`

[2022-08-04 05:50] sebhildebrandt commented on #719
@Bartel-C8 you are right, my fault. Fixed it as proposed. Version 5.12.3 just released

[2022-08-04 05:50] #719 closed

[2022-08-04 06:42] Bartel-C8 commented on #719
Tested and works great! Thank you for the quick fix + release!

[2022-08-06 20:13] ExperiBass opened #720 "[Linux] CPU avg temp incorrect on 2017 Macbook Air"
**Describe the bug**
`systeminformation` returns the wrong average temperature for the cpu. Each core is ~70C and the average returned is closer to 36. Oddly, it also returns the correct core temps.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `node -e "require('systeminformation').cpuTemperature(t => console.log(t))"`
2. Run `sensors | grep "Core"`
3. Compare the output.

**Current O

[2022-08-08 04:56] sebhildebrandt commented on #720
Hi @ExperiBass thank you for reporting ... can you run these two commands and post the results (as text) here:

[code]

and

[code]

Thank you in advance

[2022-08-08 15:31] ExperiBass commented on #720
for loop
[code]

`sensors`
[code]

[2022-08-08 18:20] sebhildebrandt commented on #720
@ExperiBass perfect, thank you. Will have a look at it tomorrow morning.

[2022-08-09 04:52] sebhildebrandt commented on #720
@ExperiBass  should work now. Version 5.12.4 just released

[2022-08-09 04:52] #720 closed

[2022-08-10 02:40] ExperiBass commented on #720
Works, thanks!

[2022-08-10 11:13] panuhorsmalahti opened #721 "CPU virtualization is reported incorrectly to be false for Apple Silicon"
**Describe the bug**
`virtualization` is reported incorrectly to be `false` for Apple Silicon. This is because `flags` are empty string.

**To Reproduce**
[code]

**Current Output**
`false`

**Expected behavior**
`true`

**Environment (please complete the following information):**
 - systeminformation package version: 5.12.4
 - OS: macOS

Should we assume virtualization is enabled for Apple M1?

[2022-08-10 12:23] jonas-ah opened #722 "Process command is truncated on Windows"
**Describe the bug**
Process `command` is truncated on Windows after upgrading from 5.6.22 to 5.12.4.

**To Reproduce**
See https://github.com/jonas-ah/systeminformation-process-command-bug.
This example lists the current process, which is started with a long command line, using the `processes` function.

**Current Output**
Using 5.12.4:
`"C:\\Program Files\\nodejs\\node.exe" .\\src\\ABCDEFGHIJKLM

[2022-08-10 15:53] sebhildebrandt commented on #722
@jonas-ah need to make some investigation here … will hopefully come up with a solution as soon as possible.

[2022-08-11 16:19] #721 closed

[2022-08-17 09:37] gitmai opened #724 "networkConnections always return pid 0 with protocol udp on Windows"
**Describe the bug**
When List networkConnections on windows always return pid 0 on all udp processes.
After observing the output, I realised that, as the state does not come in windows, it is storing the pid in the state field. Please could you fix this.

**To Reproduce**
Steps to reproduce the behavior:
1. used function systeminformation.processes.networkConnections

**Current Output**
 {
    pr

[2022-08-18 05:57] sebhildebrandt commented on #724
@gitmai ok, I guess I see the problem, will fix it in the next few days ...

[2022-08-18 06:02] gitmai commented on #724
Thank you very much, your project is a great help.

[2022-08-18 06:25] sebhildebrandt commented on #724
@gitmai ... should be fixed, can you test It on your side? Version 5.12.6 just released,

[2022-08-18 06:25] #724 closed

[2022-09-02 08:07] TrygveDev opened #725 "CPU Usage in percentage"
**Describe the solution you'd like**
I would like to have a feature that allows you to set an interval and get the current CPU usage in percentage. A constantly updating value.

**Describe alternatives you've considered**
Other node packages, node-os-utils. I am so satisfied with systeminformation that I would love to only use it for my project and not other old and bad packages.

[2022-09-06 20:25] ohmantics commented on #688
I just used UTM. The network settings for the VM are set for Shared Network and virtio-net-pci. The VM seems to have no trouble with network access.

[2022-09-16 22:24] KasimAhmic commented on #725
I believe `si.currentLoad()` will give you what you're looking for. Here are the docs for it: https://systeminformation.io/processes.html

[2022-09-20 05:02] sebhildebrandt commented on #725
@TrygveDev ... it seems that I prepared an answer but never posted it back ... sorry!

As @KasimAhmic said, the function `is.currentLoad()` is the one that will provide you with CPU usage in percent.

I have intentionally not implemented a function that reads the values in an interval, because it should be kind of straight forward to do so:

[code]

Or, if you like to have a certain set of values

[2022-09-23 09:15] TrygveDev commented on #725
#### Thanks for the help! This is exactly what I was looking for. 😁

#### However, I have two problems.
First, the percentage returned with "currentLoad" fluctuates a lot. From 33-55% in a second while windows task manager is saying that my CPU is at 57-60%. Is "currentLoad" giving me the wrong data or is windows task manager the one that is wrong?

#### Secondly, when i do this;
[code]
I get new

[2022-09-23 09:24] sebhildebrandt commented on #725
@TrygveDev you are right, in Windows things get a little more complicated.

- the needed calls in windows really eats up resources. Much more than in other environments!
- when running the call every second, this will then lead in to a high overall CPU load
- I highly recommend making the interval much bigger in windows (5 secs) ...

[2022-09-23 09:37] #725 closed

[2022-10-13 13:53] DaisyLoveU opened #727 "processes() return empty obj on armv7l"
**Describe the bug**
processes() return empty obj on armv7l
![image](https://user-images.githubusercontent.com/36870671/195615938-166d0eb6-7000-40ad-b47e-bdb766c7f894.png)

**Current Output**
{ all: 0, running: 0, blocked: 0, sleeping: 0, unknown: 0, list: [] }

**Expected behavior**
info of running processes

**Environment (please complete the following information):**
armv7l

how to fix this sit

[2022-10-13 13:55] DaisyLoveU commented on #727
the reason seems like fault usage of ps option on armv7l

![image](https://user-images.githubusercontent.com/36870671/195616766-de37edd9-4e9c-433e-b462-cd53308fc833.png)

[2022-10-13 14:01] DaisyLoveU commented on #727
this docker cut options of ps

[2022-10-13 14:01] #727 closed

[2022-10-23 10:10] sebhildebrandt commented on #722
@jonas-ah still unsure why this happens ... can you provide the output of

[code]

[2022-10-23 10:40] sebhildebrandt commented on #722
@jonas-ah ... well I guess I have an idea. Will provide a fix today in the evening.

[2022-10-23 12:18] sebhildebrandt commented on #722
@jonas-ah ... version 5.12.8 just released. Can you check it?

[2022-10-23 12:19] #722 closed

[2022-10-24 05:49] sebhildebrandt commented on #694
@HadiModarres do you know if there is any other lib installed on Pop OS by default with wich we can determine Wifi connections?

[2022-10-24 15:18] jonas-ah commented on #722
It's working. Thanks! 😃

[2022-10-24 15:45] sebhildebrandt commented on #722
@jonas-ah … thank you for your fast feedback and once again sorry for having not responding so long …

[2022-10-25 11:57] sebhildebrandt commented on #694
@HadiModarres ... actually I see now the same in one of my ubuntu 22.04 installations. Working on a fix ...

can you confirm that `nmcli` is installed by default in Pop OS?

[2022-10-25 13:36] Luminitza-Noptzii opened #728 "Connect HWINFO64 to the package"
**Is your feature request related to a problem? Please describe.**
On windows 10 and 11, the package returns a cpu temperature that is under the ambient temp. It messes up my stuff.

**Describe the solution you'd like**
I wish it would be possible to get temperature data from apps like HWINFO64, HWMONITOR, Core Temp, etc in the package

**Describe alternatives you've considered**
Couldn't find any

[2022-10-27 05:13] sebhildebrandt commented on #694
@HadiModarres ... can you try the latest version 5.12.11 ... here I made an alternative in case that `iw` is missing. At least here on my Ubuntu 22 it works fine.

[2022-10-27 05:15] sebhildebrandt commented on #728
@Luminitza-Noptzii As I am not familiar with HWINFO64, HWMONITOR, ... are there command line options that I can read out??

[2022-10-27 05:20] #691 closed, assigned to nobody

[2022-10-27 05:22] sebhildebrandt commented on #670
@SagoBno can you provide the output of

[code]

on your machine? Which Linux distribution (and version) are you using?

[2022-10-27 05:26] sebhildebrandt commented on #673
@glenninn did you had time to test the latest versions ... should fix the problem. Thank you for any update here.

[2022-10-27 05:30] sebhildebrandt commented on #668
@zSchadt ... I wish that Microsoft works on their WMI to provide correct information within the OS ... unfortunately I have to rely on OS functionality in this library. Otherwise this would become a project just for one platform and would then need a lot of implementation specific to different HW settings.

[2022-10-27 05:40] HadiModarres commented on #694
@sebhildebrandt Sure mate, thanks! will give that a try tonight. Sorry I didnt get back to you earlier, I was swamped.

[2022-10-27 07:55] HadiModarres commented on #694
@sebhildebrandt I just removed iw and gave v5.12.11 a try and it works great! Can confirm nmcli is shipped by default on POP. Would be great if we could have a list of external tools used on each platform inside systeminformation, so I could check them in my app and inform the user to install them if they were missing.
Thanks

[2022-10-27 07:55] #694 closed

[2022-10-27 18:22] jgresham opened #729 "feature: Linking partitions and disks with si.diskPartitions() or additional field [Windows]"
**Is your feature request related to a problem? Please describe.**
For a given directory path, I want to be able to know the disk the path is located at. Ex. The user would like the app to store data at `D:/my/favorite/storage`. The app should show the user the mounted storage device name (and other device details) at path `D:/my/favorite/storage`.

**Describe the solution you'd like**
I believe,

[2022-10-27 18:26] jgresham commented on #729
@sebhildebrandt I see that `si.diskLayout[i].device` is not supported for Windows. Would setting `device` to the drive letter (ex. `C:` or `D:`) on Windows make sense?

[2022-10-27 22:05] sebhildebrandt commented on #729
@jgresham this makes absolutely sense!! Will provide a solution for that in the next few days. Can I contact you to give it a try? If all runs fine I then will publish a new release.

[2022-10-27 22:26] jgresham commented on #729
@sebhildebrandt Awesome! Please let me know how I can help in any way!

[2022-10-28 13:55] Luminitza-Noptzii commented on #728
@sebhildebrandt Closest I could get for HWINFO64 are forums asking for command-line and a question in this forum which is incomplete
https://www.hwinfo.com/forum/threads/automatic-sensor-logging-via-command-line.8407/
and this for Open Hardware Monitor
https://github.com/openhardwaremonitor/openhardwaremonitor/issues/776

[2022-10-28 22:05] MYI-Liva opened #730 "PCIe devices"
**Is your feature request related to a problem? Please describe.**
We are using a bunch of computers in live broadcasts and have a bunch of different PCIe cards (mostly 12G-SDI interfaces) installed in almost every single PC we use. Sometimes we have to open up computers if we look for a specific card to move to a different PC.

**Describe the solution you'd like**
It would be nice to identify all

[2022-11-01 06:40] sebhildebrandt commented on #730
@MYI-Liva ... Nice idea (and nice interface you created) ... will check how I can provide this across multiple platforms.

[2022-11-01 15:33] Thunderforge opened #731 "Request for a way to retrieve public IP address"
I would like for a way to retrieve the public IPv4 and IPv6 address (such as can be found at https://www.whatismyip.com/).

None of the methods in the `systeminformation` [documentation for networks](https://systeminformation.io/network.html) provide the public IP address in the output. They provide a private IP address instead. (See [this information](https://www.geeksforgeeks.org/difference-betw

[2022-11-03 01:38] davidacampos opened #732 "Windows Defender usage is high when using si.battery() multiple times"
**Describe the bug**
In any version after 5.6.22, the usage of si.battery() is slower. Also, if placed in a loop with a 1 second wait between each call, it makes Windows Defender (Win 10) CPU usage spike (which might a consequence of the slowness). In general si.battery() calls seem 3x slower than pre 5.6.22.

**To Reproduce**
Steps to reproduce the behavior:
Hitting si.battery() multiple times...

[2022-11-03 06:38] sebhildebrandt commented on #732
Hi @davidacampos ... yes you are right, back then, we added support for detecting multiple batteries and optimized design capacity and full capacity information for Windows. Since then, multiple `Get-WmiObject` calls are necessary to get all battery information. I am just wondering about the version you mentioned where we have this change ... As far as I see we did this change in version 5.7.5.

[2022-11-03 07:12] sebhildebrandt commented on #732
@davidacampos one more thing ... I had to switch from `wmic` to powershell `Get-WmiObject` because Windows 11 dropped `wmic` silently. And my guess is, that Windows Defender is triggered by using `Get-WmiObject` ...

[2022-11-03 23:15] jgresham commented on #729
Could I help in any way?

[2022-11-04 06:05] sebhildebrandt commented on #729
@jgresham thank you ... already working on it but not yet ready ;-)

[2022-11-04 22:46] davidacampos commented on #732
Got it, so then it's a known non-issue thing. Fair enough. Thanks!

[2022-11-08 10:27] PaulCannell opened #735 "CPU reports over 100% when called inside a timer"
When calling process information in a set intercal you will start to get CPU values > 100% and having it open side by side windows task manager the results are not even close.

simple node app - Im using node 16
var si = require('systeminformation');
const _ = require('lodash')

setInterval(()=>{
    si.processes().then((data)=>{
      let high = _.filter(data.list, (x)=>{
        return x.cpu > 1

[2022-11-09 08:33] sebhildebrandt commented on #735
Hi @PaulCannell , thank you for reporting this. I need to make further investigations before I can come up with a solution. Will try to do it the next few days.

[2022-11-10 16:04] rankjie commented on #735
Same here.

We used this package inside electron to retrieve GPU and system UUID every 5 minutes, and a few Windows users are seeing a lot of PowerShell child processes hogging the CPU.

Unfortunately, we can not reproduce the issue locally in VM.

[2022-11-11 03:05] stalkercn commented on #616
after powershell is updated to 7.3.0, almost all methods return empty value now, I guess **Wmi-Object** command is officially deprecated at this version, and it should be replaced with **Get-CimInstance**?

[2022-11-11 05:40] sebhildebrandt commented on #616
@stalkercn ... i replaced it here on master in GitHub. Can you pull the current master ant test if this works for all functions now on windows?

[2022-11-11 05:42] sebhildebrandt commented on #616
@stalkercn ... and just to be sure, this would then work also with older versions of powershell?

[2022-11-12 05:40] stalkercn commented on #616
@sebhildebrandt I updated si to v5.12.14, but still got empty values, it's odd.

[2022-11-13 13:10] MauriceNino opened #736 "Match RAID blocks to the relevant disks"
Hello there, is there any way to get the correct disks that belong to the relevant raid blocks?

To better understand what I mean, these two blocks are the raid blocks on your system:

[code]

And these are the relevant disks:

[code]

How can I see which disk belong to which RAID?
And if there is no such feature, is it possible to add?

Relevant Issue: https://github.com/MauriceNino/dashdot/issue

[2022-11-15 14:49] a-gamboa2 opened #737 "networkConnections is not returning UDP ports on macOS"
**Describe the bug**
networkConnections on macOS Ventura 13.0 does not return UDP ports, even though it does on Windows. TCP ports are displayed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. 'sudo lsof | grep UDP' to check for multiple UDP ports listening
2. 'si.networkConnections()' to check the absence of UDP ports in the output

**Current Output**
TCP ports only on macOS

**E

[2022-11-15 17:24] frufin opened #738 "Apache main process is not really the main process"
Hi, many thanks for such a powerful tool !

An Apache server always starts with a main process owned by root, then creates some child processes.
Calling si.processLoad ('apache2' ,*) within an Ubuntu distribution return a PID which is not that main process (which i can found amongst the additional PIDS). I have two questions about this:
- Have you any idea on how to get the real main one  ?
- What

[2022-11-15 21:24] sebhildebrandt commented on #737
As I am using netztet to determine open network connections I now see, that the implementation is different in linux and Mac OS. For some UDP connections linux shows "ESTABLISHED" (even this protocol is stateless) and Mac OS shows no state information. Let me think about it. I will come up with a solution ...

[2022-11-15 21:46] sebhildebrandt commented on #737
I pushed some changes here on GitHub (master). Can you check this out and test it if you get the desired results on macOS?

[2022-11-15 21:47] #732 closed

[2022-11-15 21:49] sebhildebrandt commented on #738
@frufin

- main PID: here I have to make some research how to determine the main PID (the lowest one is probably not the correct one, right?)
- CPU and MEM: yes this is for all processes.

[2022-11-16 07:27] rest2t opened #739 "Lan adapter temperature shows instead of CPU."
**Describe the bug**
The function si.cpuTemperature as the main parameter returns the temperature for the i350bb-pci-0600. This is a LAN adapter.
Below I insert a comparison of the output of the function and the sensors command.

**To Reproduce**
Steps to reproduce the behavior:
1. used function
`si.cpuTemperature().then(data => console.log(data));`
2. Code output
[code]
3. `sensors` command outpu

[2022-11-16 09:48] a-gamboa2 commented on #737
I have tested master and it works correctly! Now the UDP ports are displayed.

The only issue is that some of them are marked as protocol: 'udp46', which I don't know if it is completely correct. Most of them are correctly marked as 'udp4' or 'udp6'.

[2022-11-16 10:08] sebhildebrandt commented on #737
@a-gamboa2 thank you for testing!! Not really sure what the `udp46` stands for ... I guess here we have situations where this is not determined if this is udp4 or udp6?

[2022-11-16 10:15] a-gamboa2 commented on #737
If netstat reports it then it is correct I guess. Thanks to you for the library. Are you going to make a release with the fix?

[2022-11-16 10:20] sebhildebrandt commented on #737
@a-gamboa2 fine ;-) ... new version 5.12.15 just released.

[2022-11-16 10:20] #737 closed

[2022-11-16 13:06] frufin commented on #738
@sebhildebrandt ,
when calling the 'apache2' process, i sometimes get the main process as the PID,  (root owned), and sometimes one of the children processes...
More, the 'additional PIDs' lists the root process + every child process

[2022-11-16 15:35] sebhildebrandt commented on #736
@MauriceNino ... can you describe what you generally want to solve? Following the original bug it is about disk usage ... or am I wrong?? Did you had a look into the `si.fsSize()` function? Just to be sure not to invest to much time if anyway this could be solved easier ...

- the `si.diskLayout()` function gives back the physical disks
- the `si.fsSize()` function returns back the file systems or

[2022-11-16 18:23] sebhildebrandt commented on #739
@rest2t Thank you for providing detailed information!! I will make further investigation and will try to come up with a solution.

[2022-11-16 19:09] sebhildebrandt commented on #739
@rest2t can you provide also the output of:

[code]

and

[code]

[2022-11-17 06:46] rest2t commented on #739
@sebhildebrandt
`x86_pkg_temp
x86_pkg_temp
-----
38000
37000
`
and
`loc1___67000
Package id 0___38000
Core 0___37000
Core 1___30000
Core 2___34000
Core 3___35000
Core 4___37000
Core 5___38000
Core 6___35000
Core 7___32000
Package id 1___38000
Core 0___37000
Core 1___35000
Core 2___32000
Core 3___37000
Core 4___29000
Core 5___32000
Core 6___33000
Core 7___35000
`

[2022-11-17 11:09] MauriceNino commented on #736
Yes the original bug ticket was about storage display issues, but that is not relevant for this issue. I just linked it, because it is where I gathered the data (You can see the gathered and used data in the issue in the section "Additional context").

I am writing a web tool which gathers data from the three methods (`blockDevices()`, `fsSize()`, `diskLayout()`). Then I take all the disk blocks f

[2022-11-17 11:49] sebhildebrandt commented on #736
@MauriceNino ... ok, I see ... well raid0 is linked to MORE then one disk/part. So what I could add an attribute in the blockDevices where you can see which `part` with `linux_raid_member` as `fsType` is linked to which block device with `raid..` as a type ...

so basically like in my example above:

[code]

or vice versa adding a property to type `raid` where you see the block device members (whi

[2022-11-17 12:04] MauriceNino commented on #736
Yeah exactly, that would work perfectly I think.
In my opinion, it would be more fitting to add it to the `disk`/`part` entries in blockDevices, because otherwise you would need to make nested data.

Just one note - there are some cases (coincidentally the one from the ticket as well), where the `linux_raid_member` is not specified on a `part`, but a `disk`. Don't know if it changes anything in yo

[2022-11-17 12:32] frufin commented on #738
@sebhildebrandt ,
- from ps -ax | grep apache2  :

  996 ?        S      0:00 sh -c (ps -ax | grep apache2) 2>&1
  997 ?        S      0:00 sh -c (ps -ax | grep apache2) 2>&1
  999 ?        S      0:00 grep apache2
 5893 ?        S      0:00 /usr/sbin/apache2 -k start
 5917 ?        S      0:01 /usr/sbin/apache2 -k start
 5936 ?        S      0:00 /usr/sbin/apache2 -k start
 5940 ?        S      0

[2022-11-17 12:48] frufin commented on #738
I'm thining about what you said about the min pid (just understood now :) )...

Normally, children pids are created after the root pid, so their number should be greater.
I wrote a routine that give pid started time :
0: {pid: '5893', started: '2022-11-17T11:50:12.915Z'}
1: {pid: '5917', started: '2022-11-17T10:20:16.915Z'}
2: {pid: '5936', started: '2022-11-17T11:50:14.915Z'}
3: {pid: '5940', sta

[2022-11-17 13:16] sebhildebrandt commented on #738
@frufin … I am so stupid :-)
I have a super simple solution. Will provide a fix tonight.

[2022-11-17 15:38] evrico opened #740 "5.12.14 version introduces a régression while retrieving loggedons and users data"
**Describe the bug**
Because of using Get-CimInstance instead of Get-WmiObject data format has changed and are no longer correctly parsed.

**To Reproduce**
- using 5.13.13 users.js following code:
if (_windows) {
        try {
          let cmd = 'Get-WmiObject Win32_LogonSession | select LogonId,StartTime | fl' + '; echo \'#-#-#-#\';';
          cmd += 'Get-WmiObject Win32_LoggedOnUser | select

[2022-11-17 16:23] sebhildebrandt commented on #736
Well, if in your case there is NO partition in between (`disk` is the `linux_raid_member`), it means this might be a hardware raid (? - just a guess) ... then I am not sure if I can get the data correctly. Can you ask for the following output on your clients machine:

[code]

If this provides useful results, I can do the fix!

Concerning your question: `disk` blocks with no `part` block: they do n

[2022-11-17 16:37] MauriceNino commented on #736
I have asked the user to provide the output, but as the issue is a little older, it might take some time. But either way, I think it would be a great addition, even if it doesn't fix it for that one user.

I have also asked on my discord server if anyone has some input, maybe someone responds there as well.

Thanks for answering my questions! :)

[2022-11-17 17:56] prakashkolipaka opened #741 "looking to add system information page in our website"
we wanted to add add system information page in our website, can you please let me know how to do it and which server side app we have to use to implement. also looking for a quick help from you to implement this. please let me know your contact details.

[2022-11-17 20:28] MauriceNino commented on #736
He has posted the output already!

[code]

[2022-11-17 21:31] sebhildebrandt commented on #741
@prakashkolipaka Hi, I probably do not understand your request ... what do you mean with "add system information page in your website"?

Do you want to add a page where you display certain system information data from your server? If yes, then you need to create a node application that runs on your server which collects the data and then passing it to your website (e.g. with a REST API)...

Maybe

[2022-11-17 21:33] sebhildebrandt commented on #740
@evrico I did some investigation here and I can see the problem. I am working on a fix and will provide it tomorrow. I found two more smaller issues after changing to `Get-CimInstance `. For those I also have a fix.

[2022-11-17 21:35] sebhildebrandt commented on #736
@MauriceNino thank you! I can work with this quite fine and will provide a solution tomorrow.

[2022-11-17 21:37] sebhildebrandt commented on #668
Closing it for now as I do not see an alternative to the windows system functions.

[2022-11-17 21:37] #668 closed

[2022-11-17 21:38] sebhildebrandt commented on #739
@rest2t thank you. I guess I see the problem and will try to fix it.

[2022-11-17 21:39] sebhildebrandt commented on #731
@Thunderforge: nice idea! I will implement this in the upcoming version 6 of system information. Will inform you as soon I have the first beta version out.

[2022-11-17 21:46] sebhildebrandt commented on #728
@Luminitza-Noptzii for now I do not see any easy way to integrate HWINFO64 data ... closing it for now but will continue trying to find a better way to solve this issue.

[2022-11-17 21:46] #728 closed

[2022-11-18 05:25] sebhildebrandt commented on #738
@frufin so I implemented my fix and published a new version 5.13.1. Can you test it on your side?

[2022-11-18 07:36] sebhildebrandt commented on #739
@rest2t I implemented a fix for that. Version 5.13.2 just released. Can you check it on your side?

[2022-11-18 08:23] rest2t commented on #739
@sebhildebrandt unfortunately. the same problem continues .

`ubuntu@ubuntu:~/ubuntu$ npm update systeminformation`
`+ systeminformation@5.13.2`
`updated 1 package and audited 168 packages in 3.983s`

`9 packages are looking for funding`
`  run 'npm fund' for details`

`found 5 vulnerabilities (2 high, 3 critical)`
`  run 'npm audit fix' to fix them, or `npm audit` for details`
`ubuntu@ubuntu:~/ub

[2022-11-18 08:31] sebhildebrandt commented on #739
@rest2t thank you for testing ... actually as the other commands I gave you return values, `sensors` output is not needed. So what I would like to see one more time:

can you add the following line in the `node_modules/systeminformation/lib/cpu.js`after line 1040:

[code]

and post then again the full output (so the console.log as well as the data spitted out from your code)

[2022-11-18 09:39] #686 closed

[2022-11-18 09:40] #740 closed

[2022-11-18 11:10] frufin commented on #738
@sebhildebrandt , thank you for such a fast reply !
I'll check the new version, and i will tell you about it.
Best !

[2022-11-18 12:05] evrico commented on #740
@sebhildebrandt, testing with 5.13.4 version on windows I get:

data: [
  "\r\n\r\nLogonId   : 8726438\r\nStartTime : 2022-11-18 09:35:43\r\n\r\nLogonId   : 8726414\r\nStartTime : 2022-11-18 09:35:43\r\n\r\n\r\n\r\n",
  "\r\n\r\n\r\nantecedent : Win32_Account (Name = \"U8004279\", Domain = \"RFT\")\r\ndependent  : Win32_LogonSession (LogonId = \"8726438\")\r\n\r\nantecedent : Win32_Account (Name =

[2022-11-18 12:59] sebhildebrandt commented on #740
@evrico my fault!!! While copying text something got messed up. Now also `tty` should work. Tested it here once again. Version 5.13.5 just released. Can you also test it??

[2022-11-18 13:44] sebhildebrandt commented on #740
@sebhildebrandt ... should be there ...
<img width="864" alt="image" src="https://user-images.githubusercontent.com/4717960/202718807-eb0f54cd-2e46-4f76-af0c-e712307d7214.png">

[2022-11-18 13:59] evrico commented on #740
I can't see it yet:
![Screenshot 2022-11-18 145757](https://user-images.githubusercontent.com/19262138/202721826-56358128-767a-40c2-8d79-6a7d7b50f4a7.png)
I will try later...

[2022-11-18 15:18] yatagasaru commented on #739
Unrelated to `The function si.cpuTemperature as the main parameter returns the temperature for the i350bb-pci-0600. This is a LAN adapter.`, but the latest version fixed my problem with cpu temperature returning 0.

Thank you so much!

[2022-11-18 15:22] evrico commented on #740
got it!
and it's almost ok, see the unwanted parenthesis in loggedons/domains:
data: [
  "\r\n\r\nLogonId   : 8726438\r\nStartTime : 2022-11-18 09:35:43\r\n\r\nLogonId   : 8726414\r\nStartTime : 2022-11-18 09:35:43\r\n\r\n\r\n\r\n",
  "\r\n\r\n\r\nantecedent : Win32_Account (Name = \"U8004279\", Domain = \"RFT\")\r\ndependent  : Win32_LogonSession (LogonId = \"8726438\")\r\n\r\nantecedent : Win32_

[2022-11-18 17:06] sebhildebrandt commented on #741
Closing it for now. Unclear request ...

[2022-11-19 08:49] sebhildebrandt commented on #739
@rest2t did you had time to test it once again? Then we can close this issue ;-) Thank you in advance!

[2022-11-19 08:54] sebhildebrandt commented on #736
@MauriceNino I just released a new version (5.14.0) where you should see a new attribute `group` where you should see for the `linux_raid_member` entries the assignment to the according raids line so:

[code]

[2022-11-19 09:55] sebhildebrandt commented on #673
@glenninn ... closing it for now. If you still have problems, please let me know.

[2022-11-19 09:55] #673 closed

[2022-11-19 10:24] sebhildebrandt commented on #670
@SagoBno I did a research on this one and this seems to be OK as on your machine there seems to be 4 slots, two of them are empty. Closing it for now.

[2022-11-19 10:24] #670 closed

[2022-11-19 10:25] sebhildebrandt commented on #666
@NoobishSVK closing it for now as I do not find any other possibility to get memory layout data without `dmidecode`

[2022-11-19 10:25] #666 closed

[2022-11-19 10:26] sebhildebrandt commented on #638
@GerritKuilder closing it for now. If you see any other possibility or hav any idea, feel free to reopen it.

[2022-11-19 10:26] #638 closed

[2022-11-19 10:28] sebhildebrandt commented on #669
@mikelpr as I do not see any possibility to get data from `/sys/devices/virtual/dmi/id/product_{serial,uuid}` without root privileges I am closing this for now. If you have any other Idea here, please feel free to reopen this issue.

[2022-11-19 10:28] #669 closed

[2022-11-19 12:54] sebhildebrandt commented on #741
Hi again,

As you can see in the documentation https://systeminformation.io, this ONLY works server side and not in a browser! The reasons are security restrictions. From inside a browser you cannot get any information from the client machine. The only way would be that your create a piece of software that the candidates can download and run and this software would then automatically upload the da

[2022-11-20 08:39] sebhildebrandt commented on #688
@ohmantics I finally was able to get FreeBSD running correctly on M1. I now tested it and made some corrections. `si.osInfo()` now returns better data:

[code]

Version 5.14.2 just released. Can you also check it on your side?

[2022-11-20 08:39] #688 closed

[2022-11-20 09:06] sebhildebrandt commented on #602
@wj007881 for now - as windows do not provide better information for refresh rates - I made the change that the currentRefreshRate is now taken for all monitors from the information windows provides for the controller. This is not optimal but as said, windows does not give back better data. Version 5.14.3 just released.

[2022-11-20 09:06] #602 closed

[2022-11-20 14:59] emaste commented on #688
I suspect this is incorrect; how is it detected?

[2022-11-20 16:36] sebhildebrandt commented on #688
@emaste ... it is determined by `sysctl machdep.bootmethod`. If this contains `uefi` then it is `true`.

I will adapt the code in a way that if there is nothing returned, then `uefi = null` (which is the default for unknown values in this lib). Would this make sense? Or do you have any other idea how to determine `uefi` on BSD versions?

[2022-11-20 16:53] sebhildebrandt commented on #688
@emaste ... just an idea:

Could this:

[code]

be an hint that boot method is uefi??

[2022-11-20 17:52] MauriceNino commented on #736
Thanks a lot for the fast addition! This will probably fix the issue on my side :)

[2022-11-20 18:49] sebhildebrandt commented on #738
@frufin correct! I do not know why I did not came up with this earlier ;-)

[2022-11-20 18:49] #738 closed

[2022-11-21 07:35] rest2t commented on #739
@sebhildebrandt I just tested the latest version. Everything works as expected, thanks!

[2022-11-21 07:35] #739 closed

[2022-11-21 08:53] sebhildebrandt commented on #736
@MauriceNino ... you are welcome... btw. `Dash.` ... nice project. Looks beautiful!

[2022-11-21 10:49] sebhildebrandt commented on #688
@emaste ... code is adapted accordingly. Can you check it once again?

[2022-11-22 06:49] #593 closed

[2022-11-22 08:58] ImLunaHey opened #742 "can i add tests?"
i noticed there aren't any tests, can i add some using jest? love the project 👍

[2022-11-22 09:32] sebhildebrandt commented on #742
@ImLunaHey ... I am working on a new version 6 (will take still some time - hope to make first release in December) and there I have some basic tests. If ok, would you like to have a look on that as soon as I have a first version out?

[2022-11-22 19:07] emaste commented on #688
This could be a hint but it won't be completely reliable - for example our install media contains both an efi/ partition as well as BIOS boot code so that it can boot either way.

It looks like we populate machdep.bootmethod only on x86. For arm64 we've only ever supported UEFI boot. By inspection I think the approach implemented in the code is good.

[2022-11-22 19:09] jrtc27 commented on #688
We support direct boot using the Linux boot ABI on arm64, too, but there's not really a good reason to use it these days now U-Boot can do UEFI unless you're stuck with an old (or poorly configured) vendor U-Boot blob.

[2022-11-22 20:28] sebhildebrandt commented on #688
@emaste @jrtc27 thank you for having.a look on it! Would it be possible if you can test it on your side and provide feedback if the output is now fine? I really appreciate all your help here! Best regards.

[2022-11-23 08:39] MauriceNino commented on #736
Thanks a lot - would not have been possible without `systeminformation`! ^^

[2022-11-25 13:13] binse03 opened #743 "Computer load extremely high when loading data"
Hi,

my cpu usage in task manager (windows) goes to 100% every time i run this interval. So my computer is getting extremely slow. Is it because the module eats up too much computerpower or my CPU is just too bad?
Incidentally, I write the array in a .json. But that shouldn't be this extreme load on my computer. If i make the interval faster my computer crashes. (just tested with 1000ms)

What am

[2022-11-26 01:16] ImLunaHey commented on #742
@sebhildebrandt is there a branch i can follow? i noticed the v6 branch is very out of date on here.

[2022-11-26 05:10] sebhildebrandt commented on #743
@binse03 ... two remarks here:

- in this module we rely on information we can get fron the OS by calling build in functionality. I assume (maybe I am wrong) that you are working on a windows machine. Here the problem is, that windows is really not efficient in providing system information data (like e.g. linux). If this is the case, you can only extend your interval. Nothing we can do on our side

[2022-11-26 05:10] #743 closed

[2022-11-26 20:05] jgresham commented on #729
I need the linked data for my project soon. Do you think it will be ready in the next week? Otherwise, I'm thinking to fork and implement it in the meantime. I can link my fork here for reference.

[2022-11-27 09:12] sebhildebrandt commented on #729
@jgresham As I am working on this, I would need to check it with also your current data: can you provide the full output of:

**Powershell:**
[code]

Data from **systeminformation** ... maybe you can clone the code and run `npm run test`, then press `d` (diskLayout) , `e` (blockDevices) and `f` (fileSize).

Thank you in advance.

[2022-11-27 11:48] jgresham commented on #729
Output of raw command:
[code]
`npm run test` `d` output:
[code]

`npm run test` `e` output:
[code]

`npm run test` `f` output:
[code]

..and how terrible :( sorry to hear about your family member. Please don't be sorry for a delay

PS: I am extremely grateful that you maintain this amazing open source library. So thank you for your work and commitment to open source.

[2022-11-27 13:18] sebhildebrandt commented on #729
@jgresham  Thank you so much for your kind words. And also thank you for providing all requested information. This is what I can work with. Will provide a first version till tomorrow evening.

[2022-11-28 13:32] evrico commented on #740
fixed with your 5.14.4 version:
data: [
  "\r\n\r\nLogonId   : 7350283\r\nStartTime : 2022-11-28 09:35:12\r\n\r\nLogonId   : 7350252\r\nStartTime : 2022-11-28 09:35:12\r\n\r\n\r\n\r\n",
  "\r\n\r\n\r\nantecedent : Win32_Account (Name = \"U8004279\", Domain = \"RFT\")\r\ndependent  : Win32_LogonSession (LogonId = \"7350283\")\r\n\r\nantecedent : Win32_Account (Name = \"U8004279\", Domain = \"RFT\")

[2022-11-28 14:10] sebhildebrandt commented on #729
@jgresham I made a first version and It would be fine if you can test it: can you do the following:

[code]

then just type on key `e` and grab the output. Here you should now see an additional property `device` which corresponds to the device id of `diskLayout()`. This should give all to link `diskLayout()`, `blockDevices()` and `fsSize()`.

Key `q` quits the test.

Does this gives proper output

[2022-11-28 16:24] td-krzysiek opened #745 "Is it possible to check if file system is mounted as ro or rw?"
Hello,

Is there an option to check if a file system is mounted as ro or rw, please? I'm trying to find this in the documentation but can't see this option. Apologise if there is one but I haven't noticed it.

Thank you,
Krzysztof

[2022-11-29 02:09] jgresham commented on #729
@sebhildebrandt Yes, makes sense! Looks good to me!

I tested with my setup and the `device`'s match across block devices and disks as expected. Tested with two internal ssd, external ssd, and external usb drive. Also, I don't have any other device with Windows to test on :(

Thank you! This is extremely helpful :)🙏

[2022-11-29 05:40] sebhildebrandt commented on #745
@td-krzysiek Hi, currently there is no information about mounted rw/ro status in the library. After making a small research, this should be easy to implement (at least for linux). Will provide an extension for that in the next week.

[2022-11-29 05:44] sebhildebrandt commented on #729
@jgresham thank you so much for testing!! AND thank you so much for supporting the project on [buymeacofee](https://www.buymeacoffee.com/). I will make a new release tonight ... Currently this is now working on linux, max OS and windows. For windows I am pretty sure that there is room for improvements. Will review (and improve) this after having the possibility to test it more in detail. Thank you

[2022-11-29 06:18] td-krzysiek commented on #745
@sebhildebrandt thank you much appreciated, Linux is my use case - under some circumstances OS can remount drive as read-only (due to file system issue or hardware failure), this is something I'm trying to monitor too.

[2022-11-29 06:20] sebhildebrandt commented on #745
@td-krzysiek understand ;-) ... as said ... this should be easy to implement ... I would like to do. some further research for Mac OS, BSD and probably windows as I would like to implement all functionality across multiple platforms.

[2022-11-29 07:39] sebhildebrandt commented on #729
@jgresham new version 5.15.0 just published with updated docs

[2022-11-29 07:39] #729 closed

[2022-11-29 07:42] sebhildebrandt commented on #736
@MauriceNino ... just published a new version 5.15.0 where we now also have a device property in `blockDevices()` to see the matching physical device for a partition (working with linux, macOS and windows). This should make it even easier to link `diskLayout()`, `blockDevices()` and `fsSize()`

[2022-11-29 17:22] ThomasMoutel opened #747 "Any tentative to get rid of calling reg.exe on Windows?"
Hi,

I have users who tend to be pretty cautious about the processes I spawn, and some pieces of systeminformation (osinfo/uuid & cpu/cpuFlags) are calling reg.exe on Windows.
Have you ever considered using an alternative way to get Windows registry information?

Best regards,
Thomas

[2022-11-30 06:43] sebhildebrandt commented on #747
@ThomasMoutel ... thank you for asking! Well I could use also PowerShell `Get-ItemProperty` but this is quite slow because I have to spin up a PowerShell instance ... I currently do not see the benefit as a user could also change registry entries with PowerShell commands? Maybe you can explain, why a change would be better? Thank you in advance

[2022-11-30 09:19] MauriceNino commented on #736
Thanks a lot, that should clean up a little bit of my code and potentially remove side effects! Great addition!