[2021-01-29 19:13] esmoley commented on #474
Ok. I ran commands that you provided and they perfectly matched with systeminformation output.
Sadly I don't have the usb stick that I started the issue with. But I have something similar with my hard drive. And turned out it is a Windows 10 output issue (in a screenshot below). Also I could provide info from USBDeview tool, but it does not provide info for my hard drives. By the way thanks for yo

[2021-01-29 21:58] sebhildebrandt commented on #474
@esmoley which means we do not have a bug at all here?

[2021-01-29 22:02] sebhildebrandt commented on #407
@lamuertepeluda so you are running linux from WSL2 ... need to try this also. Here we have the issue that version 5 does not return any data when running `getDynamicData()` (btw. `getAllData()` also calls getDynamicData(), so here we have an issue) ... this also is not really related to the original title of the issue but anyway I will have a look on it. Thank you @lamuertepeluda for reporting!

[2021-01-30 07:44] esmoley commented on #474
Let me check the usb stick first. I will have it in the next week.

[2021-01-31 10:11] jeghers commented on #90
Well, being on CentOS 7 now, and planning to go to RHEL or Ubuntu soon, it's not too pressing at this point.  If you have other users on CentOS 6 you might want to consider supporting it for them maybe.

[2021-02-01 06:23] hk4git commented on #138
Do you have any such command for linux as well. To get different paramters which are not available from library.

[2021-02-01 09:27] ibc commented on #407
Just a thing, I'm using `systeminformation` 4.34.5.

[2021-02-01 11:41] lamuertepeluda commented on #407
Alright @ibc and @sebhildebrandt, if you think this is not related, maybe it's better to have a different issue for WSL 2 + v5?

[2021-02-01 15:00] ibc commented on #407
I'm afraid I've never tested v5 so that's an issue I'm not aware at all.

[2021-02-01 15:03] sebhildebrandt commented on #407
@ibc @lamuertepeluda ... no worries. I will test it the next few days and I am sure, I will see the problem and how to fix it ;-)

Nothing to do on your side currently. Have a good day!

[2021-02-01 20:40] CadeK-js opened #480 "CPU temp returning null?"
**Describe the bug**
CPU temp is returning 'null'

**To Reproduce**
        const si = require('systeminformation');
        si.cpuTemperature().then(data => console.log(data));

**Current Output**
{ main: null, cores: [], max: null }

**Expected behavior**
return the temperature of the CPU

**Environment (please complete the following information):**
 - systeminformation package version: 5
 - OS:

[2021-02-02 06:57] sebhildebrandt commented on #480
@CadeK-js please have look at https://systeminformation.io/issues.html.

Did you checked if WMIC returns correct values?

Can you post result of

[code]

[2021-02-02 10:50] esmoley commented on #474
Exactly the same behavior with USB stick. Thanks for your help.

[2021-02-02 10:50] #474 closed

[2021-02-02 11:27] KazukiSugiyama107 opened #481 "There is a pattern in which the value of mount object obtained by fsSize() is incorrect."
**Describe the bug**
For a specific file system name, there is a pattern in which the value of `mount` obtained by `fsSize()` is incorrect.

**To Reproduce**
Set the name of the disk to a value with a space such as `NO NAME`, and acquire the object with fsSize.

**Current Output**
Disk Name：`NO NAME`
[code]

**Expected behavior**
I think there was an error in the process of cropping the resulting

[2021-02-02 17:05] sebhildebrandt commented on #481
@KazukiSugiyama107 ... thank you! I see the problem. Will provide a fix. Need to test it on all platforms first.

[2021-02-02 19:51] CadeK-js commented on #480
that returns:
Node - DESKTOP-T3PO6T6
ERROR:
Description = Not supported.

[2021-02-02 20:11] sebhildebrandt commented on #480
@CadeK-js so this means, as windows or more specifically WMIC does not support CPU temp on your machine, I cannot get the correct value (as also described in the docs). Closing it for now.

[2021-02-02 20:11] #480 closed

[2021-02-02 20:17] #481 closed

[2021-02-03 01:25] KazukiSugiyama107 commented on #481
Thank you for your prompt response!
I have a Windows and a Mac, so check it.

[2021-02-03 03:22] KazukiSugiyama107 commented on #481
When I checked it, there was no problem!

[2021-02-03 07:13] sebhildebrandt commented on #481
@KazukiSugiyama107 thank you so much for testing

[2021-02-05 11:24] mkreuzmayr opened #482 "si.networkInterfaces(cb) should contain gateway information"
**Is your feature request related to a problem? Please describe.**
I implememted a network overview system using your library, but i noticed that the gateway information is not associated with the interfaces directly when calling `si.networkInterfaces(cb)`.

**Describe the solution you'd like**
The json array returned by calling `si.networkInterfaces(cb)` should contain an additional `gateway` pro

[2021-02-05 18:05] sebhildebrandt commented on #482
@mkreuzmayr thank you for your suggestion. Not quite sure how you mean this, as gateway is part of the routing (and not necessarily part to the interface, or am I wrong?

[2021-02-05 19:36] mkreuzmayr commented on #482
@sebhildebrandt of course you are right, the default gateway is part of the routing, but it is also associated with an interface.
By calling the `si.networkGatewayDefault(cb)` function you are only getting the address of one gateway. If there is a second connection with a different network, the information of the other default gateway is missing.
On windows the wmic class `NICConfig` also provides

[2021-02-05 19:48] sebhildebrandt commented on #482
@mkreuzmayr thank you, good point ... need to make some research here ...

Windows: do you mean this class: Win32_NetworkAdapterConfiguration

So basically `wmic Win32_NetworkAdapterConfiguration get /value`

Do you ave a good example output from a machine with 2 network interfaces where I can see what you mean here?
For Linux / Darwin I need also to dig into getting this right ...

[2021-02-06 10:35] sebhildebrandt commented on #407
@ibc @Skillnter @lamuertepeluda
First of all, thank you for your patience ... I now fixed two issues (not really related to the title of this issue but mentioned here):

- `getDynamicData()` (as well as `getStaticData()`) now should return desired info also on WSL (tested with ubuntu)
- `getDynamicData()` now also returns process information on (pure) Windows

Can you test the issue related to you

[2021-02-06 10:52] ibc commented on #407
Thanks @sebhildebrandt. I'll check. "Bad news" is that I was not able to reproduce the issue anymore, but I'll notify here if I see it again.

[2021-02-06 14:56] mkreuzmayr commented on #482
@sebhildebrandt i wired up an example network to show you.
The wmic command i used is `wmic path Win32_NetworkAdapterConfiguration get Caption, IPAddress, DefaultIPGateway`.
I only specified Caption, IPAddress and DeafultIPGatway and disabed IPv6 for a less bloated output, but there is way more information in there.

[code]

Parsing this into a JSON would not be that hard.

Did you ever thought ab

[2021-02-06 15:02] sebhildebrandt commented on #482
@mkreuzmayr thank you, awesome. I need to also find examples on linux and macOS ... will try to do that in the next days (if possible).

Powershell: yes, I am using powershell for multiple calls, so no problem at all.

Thank you once again! I will come back as soon as I have a first approach here...

[2021-02-06 15:42] sebhildebrandt commented on #406
@mily20001 @llka as the new version 5 has been released with some improvements, can you test this issue on your machines? There is a simple testing framework where you can easily test all functions https://systeminformation.io/tests.html

If this does not returns the expected results, can you post the content of the following registry key:

[code]

Don't know if this is a relevant key but just cur

[2021-02-07 10:29] sebhildebrandt commented on #392
@bookyo fixed now in version 5.0.11. New version just published.

[2021-02-07 10:29] #392 closed

[2021-02-07 10:46] sebhildebrandt commented on #260
@mskian Generally I would use `blockDevices()` here and add up all space where `type` equals `disk`. This works quite fine so the total would be:

[code]

I personally would not add a separate function here ...

[2021-02-07 10:46] #260 closed

[2021-02-07 10:52] sebhildebrandt commented on #236
@bebekar  So as node.js is not aware of any IRQs the only way to do this is by observing values.

`systeminformation`now comes with an `observe` function where you can easily detect changes ... here in the docs https://systeminformation.io/statsfunctions.html you have an example, where I observe if a AC connector is plugged into a laptop ... same could be done for whatever change you want to obser

[2021-02-07 10:52] #236 closed

[2021-02-07 11:22] sebhildebrandt commented on #302
@BillDietrich version 5 of systeminformation now also has

- audio information in place ... see docs https://systeminformation.io/audio.html
- bluetooth data ... https://systeminformation.io/bluetooth.html
- usb data ...https://systeminformation.io/usb.html
- printer ... https://systeminformation.io/printer.html

I also compared the output of `inxi -Fmpxz` with all available functions of `systemin

[2021-02-07 12:19] BillDietrich commented on #302
I haven't had time to focus on my project recently.  I will check it when I get a chance.  You could close this issue if you wish.  Thanks.

[2021-02-07 12:25] sebhildebrandt commented on #302
@BillDietrich OK, I will close this one for now, But feel free to reply here if you discover any things, you wish to see in systeminformation. I am currently working on adding a little bit more information as you requested in #301 ... hope to finish this by tomorrow.

[2021-02-07 12:25] #302 closed

[2021-02-08 10:35] sebhildebrandt commented on #301
@BillDietrich Added more information (memMax. memSlots to baseband, ECC to memLeyout, BIOS language, BIOS features). Version 5.1.1 just released. Closing it for now.

[2021-02-08 10:35] #301 closed

[2021-02-08 10:38] sebhildebrandt commented on #406
Closing it for now ... see comments above.

[2021-02-08 10:38] #406 closed

[2021-02-08 13:58] dverzolla opened #483 "si.blockDevices and si.fsSize intermittently returns network mapped drives"
**Describe the bug**
si.blockDevices and si.fsSize intermittently returns network mapped drives. Most of the time doesn't return the network mapped drives.

**To Reproduce**
Steps to reproduce the behavior:
1. used functions: si.blockDevices and si.fsSize, both returns or not returns network mapped drives

`
async function fsSize() {
    var data = await si.fsSize()
        console.log(data)
}
`

[2021-02-08 14:08] sebhildebrandt commented on #483
@dverzolla  can you check the output of

[code]

and post result here (as text)? Maybe you have to do it several times ... as you describe that the output is not consistent ... `systeminformation` is relying on the output of this command.

[2021-02-08 14:39] sebhildebrandt commented on #483
@dverzolla ... just checked here on my side ... cannot reproduce this behaviour. Network drives are shown properly

Tested on

- Windows 10
- systeminformation 5.1.1
- Hardware: Shuttle PC

[2021-02-08 16:04] dverzolla commented on #483
@sebhildebrandt congrats for the superb project! It's been really helpful in my project.

As you can see bellow, the `wmic logicaldisk get /value` doesn't show mapped network "N:".
And yes, the network is mapped and is accessible. I even rebooted the machine and 'wmic' still doesn't show it.

Maybe is something on my network configuration (I will reach the administrator), but if other systeminform

[2021-02-08 16:17] sebhildebrandt commented on #483
@dverzolla as you can see, I would need all information from the above command and the windows registry would not provide all this...

As I did not heard from others having a problem here, I guess we should wait a few days and if there is no further response, I would close this one, OK?

[2021-02-08 16:22] dverzolla commented on #483
Sure,  appreciate.

On Mon, Feb 8, 2021 at 1:18 PM Sebastian Hildebrandt <
notifications@github.com> wrote:

--
David Verzolla

[2021-02-08 16:34] dverzolla commented on #483
Just adding a note here for further reference.
When I run `wmic logicaldisk get /value` inside [windows terminal](https://github.com/microsoft/terminal), it returns "N:", as bellow. Running straight in powershell or cmd (either using admin privileges or not), doesn't show "N:".

Access=0
Availability=
BlockSize=
Caption=N:
Compressed=FALSE
ConfigManagerErrorCode=
ConfigManagerUserConfig=
CreationC

[2021-02-09 15:59] sebhildebrandt commented on #314
@jeghers Made some investigations recently and my findings are:

Windows needs some time to recognise, that the drive is lost. So when you run

[code]

immediately when the drive was list, it will return, but takes some time.

If a drive is lost and then after some time you call the same command, it returns quite fast. In all cases, systeminformation returned values, but yes, in the scenario you d

[2021-02-09 15:59] #314 closed

[2021-02-09 17:37] sebhildebrandt commented on #324
@benwiley4000 cleaning up older issues ... just had a look at this again: basically this should be easy. Something like this should do the trick (not testet, but I hope you get the idea):

[code]

Hope that helps ...

[2021-02-09 17:37] #324 closed

[2021-02-09 18:01] sebhildebrandt commented on #299
@perf2711 I testet this option but this does not bring any performance gains. As soon as you disconnect a network drive (e.g. by disconnecting the network cable), `wmic localdisk... ` will take its time, no matter what `where` statement you add to it. As soon as Windows is aware of the missing network drive, both options (with and without the `where` again are fast. Closing this for now. But if yo

[2021-02-09 18:01] #299 closed

[2021-02-09 19:05] dverzolla commented on #483
@sebhildebrandt I think I've found the weird behaviour. Seems to be the privilege I ran powershell with.
When I run powershell using Administrator privileges, the network mapped are not being shown, otherwise, with my user privileges (that have mapped the network drives), the network drives are returned.

Please, could you try at your side?

### **User privilege**

Access=0
Availability=
BlockSize

[2021-02-09 19:21] sebhildebrandt commented on #483
@dverzolla will try this tomorrow ... thank you for your investigation!

[2021-02-10 13:01] FranCarrascosaMS opened #484 "Performance issue in MacOS Big Sur"
**Describe the bug**
Promise functions of this library take much more time to finish in MacOS Big Sur.

**Current Output**
![image](https://user-images.githubusercontent.com/32394038/107513841-1e7bb180-6ba9-11eb-9d0a-4a65c13d8989.png)
**Total time: 3.093 seconds**
- system time: 0.029 seconds
- bios time: 0.012 seconds
- baseboard time: 0.016 seconds
- chassis time: 0.032 seconds
- cpu time: 0.07

[2021-02-10 13:13] sebhildebrandt commented on #484
@FranCarrascosaMS ... very interesting. just tested it here on my machines (iMac Catalina, MacBook Pro BigSur and BigSur on M1)

Not have precisely measured it here but there seem to be all taking the same time. getStatic e.g takes about 1.2 secs on all machines ... getAll takes about 5 secs ... no difference here. So not sure if this is related to `systeminformation`

[2021-02-10 13:14] sebhildebrandt commented on #484
@FranCarrascosaMS can you provide your code snippet where you measured it?

[2021-02-10 13:27] FranCarrascosaMS commented on #484
@sebhildebrandt, sure!

[code]

This code is run in a web-worker. Doing it in the main thread times are worse.

[2021-02-10 13:30] FranCarrascosaMS commented on #484
@sebhildebrandt, it could be related to Electron and how it spawns processes: https://github.com/electron/electron/issues/26143

[2021-02-10 13:31] sebhildebrandt commented on #484
@FranCarrascosaMS here my BigSur results:

system time: 0.013000000000000001 seconds
bios time: 0.182 seconds
baseboard time: 0.20800000000000002 seconds
chassis time: 0.008 seconds
cpu time: 0.019 seconds
mem time: 0.012 seconds
memLayout time: 0.196 seconds
battery time: 0.031 seconds
graphics time: 0.314 seconds
osInfo time: 0.031 seconds
uuid time: 0.177 seconds
diskLayout time: 0.513 seconds

[2021-02-10 13:32] sebhildebrandt commented on #484
@FranCarrascosaMS Ok for you to close it here?

[2021-02-10 13:34] FranCarrascosaMS commented on #484
@sebhildebrandt, yes. Thanks for your time!

[2021-02-10 13:37] sebhildebrandt commented on #484
@FranCarrascosaMS no problem ... so if you have anything to do on my side, just contact me again. Closing it for now.

[2021-02-10 13:37] #484 closed

[2021-02-10 16:57] sebhildebrandt commented on #246
@koraniar @mwittig @ricardopolo @fgroupindonesia I just added two more wifi functions: `wifiInterfaces()` to get all wifi interfaces (then you can see if there ARE interfaces, and `wifiConnections()` to get detailed information if you are connected to a WIFI. Version 5.2 just released.

[2021-02-10 16:57] #246 closed

[2021-02-10 17:13] winnyschuster opened #485 "error when accessing non-existing folder in lib/system.js"
https://github.com/sebhildebrandt/systeminformation/blob/f1665e5d1dad0eaedf82b1830d5bb847cdd3973d/lib/system.js#L112

when above line is executed but folder ```/dev/disk``` doesn't exist, an error is thrown. This could be prevented by forwarding any errors to ```/dev/null```

thanks for looking at this

[2021-02-10 18:01] sebhildebrandt commented on #485
@winnyschuster you are absolutely right! Fixed it. Version 5.2.1 just released. Pleas can you check it on your side?

[2021-02-10 18:01] #485 closed

[2021-02-11 01:01] winnyschuster commented on #485
wow, that was quick! i can confirm the error is gone with 5.2.1. Thanks a bunch

[2021-02-11 17:10] sergeysedoy97 opened #487 "cpu.js: Cores load is NaN"
**Describe the bug**
The following fields is NaN:
[code]

**To Reproduce**
```require('systeminformation').currentLoad(console.log)```

**Additional context**
Fixed in https://github.com/sebhildebrandt/systeminformation/pull/486

[2021-02-11 19:08] sebhildebrandt commented on #487
@sergeysedoy97 Wow... didn't see that while renaming variables in version 5. Thank you. fixed. Version 5.2.4 just released.

[2021-02-11 19:08] #487 closed

[2021-02-11 19:53] sebhildebrandt commented on #427
Closing this as this is a duplicate

[2021-02-11 19:53] #427 closed

[2021-02-11 20:36] sebhildebrandt commented on #272
@Xeing cleaning up older issues. Should be fixed now ... you'd you check latest version 5.2.5? Closing it for now.

[2021-02-11 20:36] #272 closed

[2021-02-12 14:17] sebhildebrandt commented on #483
@dverzolla yes, I can confirm this behavior. As drives are mapped per user, this should be absolutely fine ... closing this for now.

[2021-02-12 14:17] #483 closed

[2021-02-12 15:46] sebhildebrandt commented on #434
@DanielMcAssey @AdrianoCahete ... just added this to `osInfo()`. Version 5.3.0 just released.

[2021-02-12 15:46] #434 closed

[2021-02-12 15:48] sebhildebrandt commented on #192
@OmgImAlexis ... as typescript definitions are in place, you think JsDoc still needed? What do you think?

[2021-02-12 15:50] sebhildebrandt commented on #253
@prodigitalson ... if OK I am closing this now as I cannot really reproduce this ... if you think this is still an issue, pleas feel free to reopen this ...

[2021-02-12 15:50] #253 closed

[2021-02-13 13:18] kerimkaan opened #490 "PascalCase? & inetChecksite function"
As I can see, camelCase has been implemented but not applied to the `inetChecksite` function, do you consider editing? And, this is not PascalCase. I read [changelog](https://systeminformation.io/changes.html) and i see the changes about [camelCase](https://en.wikipedia.org/wiki/Camel_case). This is a mistake, @sebhildebrandt ? Thanks for this lib.

[2021-02-13 14:07] sebhildebrandt commented on #490
@kerimkaan well yes. Forgot one or two. Since this would be a breaking change again I need to wait for version 6...Sorry about that. Closing it for now. Thank you for reminding me.

[2021-02-13 14:07] #490 closed

[2021-02-13 16:34] khanakhun opened #491 "Hi, this is a great npm library, I have a question Can i Use this library in a API , to get Client system data"
Hi, Any help would be great and appreciate able, I developing a site where User can Get their all system specification in Just one Click, then I find This amazing library, so My question is that how Can I use this in my website, should I have to make an API for it, will it work that way, e-g I will deploy the API and Whenever a  request is Made will it be able to get the System specification of th

[2021-02-13 19:49] sebhildebrandt commented on #491
@khanakhun Hi and thank you for your question. So if I understand this correct: you have clients that call a server (maybe an API on this server) and what you what to achieve is, that the client gets system information data of the CLIENTS system? If this is what you want to achieve, this is not possible. What you CAN achieve, is the you get system information data from the SERVER and send it to th

[2021-02-14 09:16] #491 closed

[2021-02-14 20:38] noodleWrecker7 opened #493 "Incorrect CPU speed values"
**Describe the bug**
CPU Speeds are giving incorrect values

**To Reproduce**
si.cpuCurrentSpeed() results is giving me 3.6 for current, max and min speed and for each core, its the same speed for si.cpu() too
This 3.6 is the base speed of the CPU but its actually running at like 4.6
Using an Intel i7-9700k
I've tried this both with and without admin privileges

**Current Output**
If applicable, a

[2021-02-15 10:55] sebhildebrandt commented on #493
@noodleWrecker7 On windows and OS X node.js reports only the base speed ... and this is where I take the values from. Can you run

[code]

several times ad post output here to see if currenClockSpeed changes?

Thank you in advance

[2021-02-15 11:08] sebhildebrandt commented on #297
@balbuze I testet latest version 5.3.1 on pine64. As OS implementation Dows not give any information about what underlying hardware we have, `systeminformation` also cannot give more details. Basically I ran all function, and all returned without errors but of course if the OS does not provide more info, several attributes are just blank. If you have any idea where I can programatically get more d

[2021-02-15 11:08] #297 closed

[2021-02-16 16:38] noodleWrecker7 commented on #493
![image](https://user-images.githubusercontent.com/18708014/108093134-4f5e5980-7075-11eb-9cb5-72137e7c68f8.png)
Ran it a bunch more and its consistently shows 3.6GHz despite Task manager showing 4.7GHz

[2021-02-16 16:53] sebhildebrandt commented on #493
@noodleWrecker7 thank you for your tests. I was expecting this, which means, that node.js as well as wmic will not tell us about the current CPU speed. This is what I am using here ... unfortunately not nice. Will make it more explicit in the "known issues" section of the documentation ... closing it for now.

[2021-02-16 16:53] #493 closed

[2021-02-19 04:31] rizkyfaza20 opened #494 "Is systeminformation can integrated with scanning to network?"
Hi all,

I'm mostly find this module dependencies by googling after all, and it was great! I found something that I want to build with this module.

But I have problem right now, like I want to integrate this module to network scanner so, the specific IP on network can show the specification of hardware details, then I've been search all of the documentation but i've got nothing.

Is there any mod

[2021-02-20 11:25] alansiq opened #495 "si.graphics() has big impact on CPU temp"
**Describe the bug**
Every call that I make to si.graphics() increases CPU temp in 10-20 degrees celsius. Is it a known issue or related to my system overall?

**To Reproduce**
Steps to reproduce the behavior:
1. Monitor your CPU temp with MSI Afterburner
2. Make a si.graphics() call in a interval (using 5 seconds in my sample)
3. Notice the spike in CPU temp every time the si.graphic is called.

[2021-02-20 13:18] sebhildebrandt commented on #495
@alansiq nothing discovered so far here on all of my machines ... But I would be happy, if you can keep an eye on it on your side. If you have further details, please feel free to reopen this issue.

[2021-02-20 13:18] #495 closed

[2021-02-20 13:25] sebhildebrandt commented on #494
@rizkyfaza20 here some comments:

Generally, each system on a network would prohibit to track detailed system information due to security reasons. So there are of course possibilities in a secure network environment (like e.g. wmic on windows would allow to get data also from other computers if authorization is correct). So if you do not have access to the other machines at the network: this shoul

[2021-02-20 13:25] #494 closed

[2021-02-21 13:28] rizkyfaza20 commented on #494
Dear Sebastian,

Thank you for your reply, I hope i can implement it very soon.

Best regards,

Rizky Faza

Pada tanggal Sab, 20 Feb 2021 pukul 13.25 Sebastian Hildebrandt <
notifications@github.com> menulis:

[2021-02-23 20:40] amunhoz opened #497 "Cant get docker stats with dockerContainerStats"
**Describe the bug**
Using the function dockerContainerStats with root user and at least 4 dockers running return an empty result.

**To Reproduce**
[code]

**Current Output**
[code]

**Expected behavior**
At least 4 dockers information

**Environment (please complete the following information):**
 - UBUNTU 18.04
 - VMWARE

[2021-02-23 20:44] sebhildebrandt commented on #497
@amunhoz need to check it here on my side ... will come back with my findings tomorrow.

[2021-02-23 20:52] amunhoz commented on #497
@sebhildebrandt
version 5.3.4 and indicating the ids with comma works fine.

[2021-02-23 21:56] sebhildebrandt commented on #497
@amunhoz I think I found the issue, I made changes to sanitizing the IDs and there I introduced an issue. Should be fixed now. Version 4.34.15 and 5.3.5 just released.

Can you check it on your side?

[2021-02-23 21:56] #497 closed

[2021-02-25 00:03] javelinco opened #498 "Cannot find namespace 'dockerstats'"
**Describe the bug**
When compiling after installing 5.4.0 in a node application (mac or linux based container, or at command line), I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. With a node application running with typescript 3.9.7, install systeminformation@5.4.0 using npm install
2. Run tsc -p

**Expected behavior**
The compile should complete without

[2021-02-25 03:44] zhaoxiaolei519109457 opened #499 "CPU utilization is not accurate"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'currentLoad'

**Expected behavior**
When I use currentLoad to get the currentLoad variable it has a value but it's a little bit different from the task manager's CPU statistics so what's wrong with that Looking forward to your reply

**Environment (please co

[2021-02-25 07:05] sebhildebrandt commented on #498
@javelinco sorry, my fault. Should be fixed now. Version 5.5.0 just published

[2021-02-25 07:05] #498 closed

[2021-02-25 07:33] sebhildebrandt commented on #499
@zhaoxiaolei519109457 I will have a look at it but I am pretty much sure, that the way I am calculating this is the only possible way within node. I am aware of slightly different values to task manager but it is still accurate to the numbers that I get from `os.cpus()` where we exactly have values for user, system, nice, irq and idle ticks per CPU core. I have to rely on those ticks when calculat

[2021-02-25 09:50] sebhildebrandt commented on #393
@araujo-luis ... I found this one https://stackoverflow.com/questions/25078819/status-of-the-process-in-powershell
(leaving it here as a reference) and need to think how to implement this ...

[2021-02-26 06:20] Andrey2509 opened #500 "Add temperature sensor of PCH diode"
Output of "sensors":
[code]
temp1 is  temperature sensor of PCH diode, please add to the driver

[2021-02-26 10:49] sebhildebrandt commented on #500
@Andrey2509 would then be a separate property, right? Need to make sure to detect this across all platforms ... as `temp1` in your case is here 2 times, the only possibility is to see at the `pch...` part of sensors. I will check, if I can rely on this string.

Regards

[2021-02-27 20:50] ArshZilpe opened #501 "Is there a list of fully supported CPUs?"
Hello,

I am interested in using this brilliant library in one of my projects. I was wondering whether there is a list of which CPUs are compatible, especially in terms of CPU temperature? In addition, where does systeminformation get the temperature from?

Thanks!

[2021-02-27 21:12] sebhildebrandt commented on #501
Hi @ArshZilpe , first of all, we need to clarify of which platforms we are talking. Then it would be good to specify a little bit more, what you have in mind when talking about CPU support.

Here a first answer: generally speaking, I try to use functions provided natively by OS to get system information data. Sometimes I also try to utilize third party modules (like sensors). The OS also needs to

[2021-02-27 21:21] ArshZilpe commented on #501
Thanks for the quick reply! I am talking about Windows. Sorry I didn't clarify earlier. So it would only be Intel/AMD CPUs really.

I am looking to create a program to easily display all system stats in a modern UI (like a better Task Manager). Your library looks perfect for it. Do you need to specifically build in support for newer CPUs (for instance the new Ryzen 5000 series), or does the librar

[2021-02-27 21:43] sebhildebrandt commented on #501
@ArshZilpe thank you for clarification. So at the moment I do not modify code specific for any CPU, I just rely on what Windows can give back. But there are some drawbacks: for some functions I (sometime) need admin rights. E.g. CPU temperature is one of the functions where on some systems I do get results without admin rights, on others I do need admin rights and then there are systems where I do

[2021-02-27 21:43] #501 closed

[2021-02-27 21:47] ArshZilpe commented on #501
I see. Thanks for the help!

[2021-03-01 09:47] GitSquared opened #502 "Perf: re-use / cache utility processes (wmic...)"
**Is your feature request related to a problem? Please describe.**
Most notably on Windows, utility processes are launched for each data-retrieval op, which can cause issues when refreshing data frequently (threads/memory starvation from the "cloud" of small short-lived processes).

https://github.com/sebhildebrandt/systeminformation/blob/d40b85c1ac7d2f38fd6ab0cf661056d26c0c0ff9/lib/util.js#L324

[2021-03-01 17:28] ibc commented on #407
I'm seeing this error in Electron 11.1.1 + Node 12.18.3 + Windows 10.0.18363:

`systeminformation.system()`, `systeminformation.cpu()`, and `systemInformation.graphics()` not resolving in 15 seconds.

[2021-03-01 18:47] jdbelo opened #503 "Get all docker containers using si.get(valueObject,cb) function"
**Describe the bug**

The function `si.get(valueObject, cb)` returns an empty list when the `all` parameter is passed to `dockerContainers` function through `valueObject`.

**To Reproduce**
[code]

**Current Output**
[code]

**Expected behavior**

As `si.dockerContainers(all, cb)` function returns running containers (when the `all` parameter is `false` or not set at all) and all containers (when t

[2021-03-02 14:42] jdbelo opened #504 "Get all services using si.get(valueObject,cb) function"
**Describe the bug**

The function `si.get(valueObject, cb)` returns an empty services list.

**To Reproduce**

[code]

**Current Output**

[code]

**Expected behavior**

As `si.services('*', cb)` function returns all services, I expected to get the same result using the `si.get(valueObject, cb)` function.

**Environment**

systeminformation package version: 5.5.0
OS: macOS, Windows
Hardware: MacB

[2021-03-02 16:11] sebhildebrandt commented on #504
@jdbelo thank you. Found the bug. Working on a fix.

[2021-03-03 14:05] sebhildebrandt commented on #499
Testet it once again, and the method I am calculating it seems to be correct. I got the same values as in activity monitor (+/- 1% ... ) ... If you have an idea, what can be improved here, I would be happy to get further comments.

[2021-03-03 14:05] #499 closed

[2021-03-03 14:10] sebhildebrandt commented on #502
@GitSquared totally understand what you mean. But as the different commands may use different time frames to execute and the "validity" of certain values may be different for command, a fixed value here in the `util.wmic()` function is not really an option. I left this up to the developer/consumer of the package to define the time intervals and I think, depending on the use case everybody would ha

[2021-03-03 14:10] #502 closed

[2021-03-03 18:16] sebhildebrandt commented on #500
@Andrey2509 ... just added chipset (PCH) and socket (ACPI) temperatures. Version 5.6 just released. Can you also test it on your side?

[2021-03-03 18:16] #500 closed

[2021-03-03 18:45] sebhildebrandt commented on #504
@jdbelo in this case there is not really an issue in the library:

- first on macOS stride enumeration (all services) is not yet implemented, so also `si.services('*')` will not work. See docs (https://systeminformation.io/processes.html)
- then you test code is not correct: your object should be like this:

[code]

This would work as expected on linux and windows.

[2021-03-03 18:46] #504 closed

[2021-03-03 18:51] sebhildebrandt commented on #503
@jdbelo found problem and fixed it. Version 5.6.1 just released. Can you test it on your side?

[2021-03-03 18:51] #503 closed

[2021-03-03 23:55] jdbelo commented on #504
Hi Sebastian,

Thanks for your help.
I have just tested and you are absolutely right.
No major problems by not being able to use si.services('*', cb) on
macOS. Although
my development env is macOS, my application is supposed to run on Windows
only. (:D)

Cheers,
João

Sebastian Hildebrandt <notifications@github.com> escreveu no dia quarta,
3/03/2021 à(s) 18:46:

[2021-03-03 23:59] jdbelo commented on #503
Hi Sebastian,

Many thanks, once again.
I've already tested the new version and it is working fine.
Thanks for the really quick fix.

Cheers,
João

Sebastian Hildebrandt <notifications@github.com> escreveu no dia quarta,
3/03/2021 à(s) 18:51:

[2021-03-04 06:20] sebhildebrandt commented on #504
@jdbelo ...anyway, this was a reminder for me to implement service enumeration also for mac OS ;-)

[2021-03-04 14:01] Andrey2509 commented on #500
I can check later in other software using your library.

[2021-03-05 18:31] molor opened #506 "Volume indicator"
Hello.

**Is your feature request related to a problem? Please describe.**
Could you please add a method to get the volume level of current playing audio/sound in system?
I mean the level (from 0 to 100 %) of this **green bar** in the windows volume settings/mixer:

![image](https://user-images.githubusercontent.com/19989717/110157499-4a313680-7df9-11eb-99a7-3c61846b5ab0.png)

I am writing a progr

[2021-03-06 12:00] Citriik opened #507 "cpu function takes 2.7s to complete"
Hello,
I'm using the `cpu` in my script and it's taking 2.7s to complete every time :/

**To Reproduce**
`await systemInfo.cpu();`

**Environment**
 - systeminformation package version: 5.6.1
 - OS: Windows 10
 - Hardware :
   - Intel Core i7-7700k
   - 64gb of RAM

Thanks for your help.

[2021-03-06 12:03] sebhildebrandt commented on #507
@Citriik ... yes this is correct. As I am using `wmic` to determine cpu details, this takes some time. I am about to improve this a little bit, but do not expect it to be much faster.

[2021-03-06 12:03] #507 closed

[2021-03-06 12:05] sebhildebrandt commented on #506
@molor I made a first research and there is not windows build-in functionality to get the value from command line. If you ave any idea for that, please let me know. Closing it for now.

[2021-03-06 12:05] #506 closed

[2021-03-06 12:06] #469 closed

[2021-03-12 15:42] weilies opened #508 "Getting bluetooth info in angular app"
Does this package work on angular app?

I tried to build one after install the package, but the console return nothing (sample code below)
https://codesandbox.io/s/bluetooth-7-vjh3h?file=/src/app/app.component.ts

Thanks

[2021-03-12 16:44] sebhildebrandt commented on #508
@weilies no, unfortunately not. This would be a big security issue if you would allow any web app to access detailed OS and system information. See also docs, where is says that this is only intended to be used server side. https://systeminformation.io/gettingstarted.html

[2021-03-12 16:44] #508 closed

[2021-03-15 16:06] undefined-moe opened #509 "unhandled warning"
[code]

os: centos7
node@13.12
systeminformation@5.6.4

[2021-03-15 16:56] mkellsy commented on #509
I am getting the same console spamming on Debian 10.

node@14.16.0
systeminformation@5.6.4

Possible fix. In cpu.js line 938 - 957
[code]

[2021-03-15 17:05] sebhildebrandt commented on #509
@undefined-moe @mkellsy ... interesting... the outer `try catch` should catch the error (at leaset, this was my intension!). Not sure, why we would need an inner `try catch` ... need to make further investigation. Will provide a fix soon.

[2021-03-15 17:12] sebhildebrandt commented on #509
@mkellsy @undefined-moe found the problem and fixed it. Version 5.6.5 just released. Can you check it on your side?

[2021-03-15 17:12] #509 closed

[2021-03-15 17:18] undefined-moe commented on #509
I think its incorrect.

https://github.com/sebhildebrandt/systeminformation/blob/0c700f61e4997547a20942bbdb7857d10df311c1/lib/cpu.js#L940

The output will always be two empty lines joined with `-----` and this function will be not working at all.

[2021-03-15 21:13] mkellsy commented on #509
Thanks

[2021-03-15 23:31] Funminotaur3880 opened #510 "Problem with gpu information"
**Describe the bug**: When using the si.graphics(), I can't get information about my gpu. It says undifined. My gpu is the AMD Radeon RX 5700xt
A clear and concise description of what the bug is.
The bug causes no information to be givin about the gpu

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'data.controllers[0]'
2. code snippet '
3.     const si = require('systeminforma

[2021-03-16 07:32] sebhildebrandt commented on #510
@Funminotaur3880 seems that no controllers are detected on your machine. Can you run the code with just `console.log(data.controllers)` to get a confirmation?

And please can you also run the following command from console:

[code]

to see if windows detects the controllers. Can you provide both outputs here as text?

Thank you in advance.

[2021-03-16 10:41] Funminotaur3880 commented on #510
Hello! Thank you very much for your answer.

The output I got from the `console.log(data.controllers)` is:

`reverse:ƒ reverse()
shift:ƒ shift()
slice:ƒ slice()
some:ƒ some()
sort:ƒ sort()
splice:ƒ splice()
toLocaleString:ƒ toLocaleString()
toString:ƒ toString()
unshift:ƒ unshift()
values:ƒ values()
__proto__:Object
(1) [{…}]
0:{vendor: 'Advanced Micro Devices, Inc.', model: 'AMD Radeon RX 5700 XT

[2021-03-16 10:46] sebhildebrandt commented on #510
@Funminotaur3880 this means, the controller is detected, but here we cannot retrieve a temperature. temperatureGpu is currently not supported for all hardware. Closing it for now.

[2021-03-16 10:46] #510 closed

[2021-03-23 07:32] parthiganesh opened #512 "Type definitions not available for wifiInterfaces & wifiConnections in libs/index.d.ts"
**Describe the bug**
Type definition not available for wifiInterfaces & wifiConnections

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.wifiInterfaces(cb)'and 'si.wifiConnections(cb)'
2. code snippet 'si.wifiInterfaces(cb)'
3. start app / code
4. See output/error
```TS2339: Property 'wifiInterfaces' does not exist on type 'typeof import("node_modules/systeminformation/lib/i

[2021-03-23 07:40] sebhildebrandt commented on #512
@parthiganesh thank you!! Willl fix it later today ...

[2021-03-23 08:05] sebhildebrandt commented on #512
@parthiganesh fixed. Version 5.6.8 just published.

[2021-03-23 08:05] #512 closed

[2021-03-29 19:18] parthiganesh opened #514 "VirtualBox VMs are not shown in Windows VirtualBox"
**Describe the bug**
VirtualBox VMs are not shown in Windows VirtualBox, with the VirtualBox installation path has 'space'.
For example, C:\Program Files\Oracle\VirtualBox\

VBoxManage path should be sanitized

**To Reproduce**
Steps to reproduce the behavior:
1. Install VirtualBox in directory, C:\Program Files\Oracle\VirtualBox\
2. code snippet 'si.vboxInfo(cb)'
3. vbox info is empty

**Current

[2021-03-29 19:37] sebhildebrandt commented on #514
@parthiganesh thank you! Fixed. Version 5.6.10 just published.

[2021-03-29 19:37] #514 closed

[2021-04-02 02:15] SamHodge07 opened #515 "await si.processes().running returning 0"
Basically, as the title suggest,
`await si.processes().running` is always returning 0
However, `await si.processes().all` returns (243) a likely figure.

Additional information:
systeminformation package version: systeminformation@5.6.8
OS: Windows 10 Home
Hardware: Acer swift laptop

Thanks!

[2021-04-02 12:07] sebhildebrandt commented on #515
@SamHodge07 ... unfortunately `status` value in windows process information (`wmic get process`) is always NULL because Microsoft did not implemented this (see also here: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-process). Therefore I cannot determine the status of a certain process. So what you should see is that `processes().all` is equal to `processes().unknown` and the

[2021-04-02 12:07] #515 closed

[2021-04-04 20:08] parthiganesh opened #516 "service list is always empty on RHEL & CentOS 7.x/8"
**Describe the bug**
service list is always empty, i.e., systemctl services are not listed

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.services('*', cb)'
2. code snippet 'si.services('*', cb)'

**Current Output**
[]

**Add code**
file: `lib/processes.js`
[code]

**Environment (please complete the following information):**
 - systeminformation package version: 5.6.10
 -

[2021-04-08 21:38] shinkhouse opened #519 "Add additional fields like vendor and model to network interface"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
For the network interface information. one of my clients appreciates the detail of information but would like to see a few addition fields.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Wo

[2021-04-09 05:32] sebhildebrandt commented on #519
@shinkhouse thank you for your feature request. Some questions:

- which network interface information you have in mind. As I see in your feature request it is about vendor/manufacturer and model of the network interface, right?
- which platform are you working with (I am asking because I need also to think how we can provide this kind of information across different platforms)
- do you have any n

[2021-04-10 22:53] shinkhouse commented on #519
Hey @sebhildebrandt,
**_Which network interface information you have in mind. As I see in your feature request it is about vendor/manufacturer and model of the network interface, right?_**
Yes, that's correct. I would like to see vendor/manufacturer and model for the network interface.

_**which platform are you working with (I am asking because I need also to think how we can provide this kind of

[2021-04-11 04:45] sebhildebrandt commented on #519
@shinkhouse thank you! Just wanted to double check. Will come up with a solution next week. Best regards.

[2021-04-12 12:51] mvarakin opened #520 "Non-latin characters in results"
Windows 10 with Russian locale

Sometimes strings come in Russian (this is more less ok, we can deal with it)

![2021-04-12 15 46 01](https://user-images.githubusercontent.com/29253114/114396535-5baef080-9ba6-11eb-9da7-f10af0e05364.jpg)

But sometimes strings come in unreadable format

![2021-04-12 15 46 07](https://user-images.githubusercontent.com/29253114/114396569-62d5fe80-9ba6-11eb-8234-5e115

[2021-04-14 09:30] sebhildebrandt commented on #407
@ibc ... your comment here is - as far as I think - not related to win32/arm ... therefor it should be a separate issue. But nevertheless the problem you are describing is due to the fact that windows `wmic` is super slow! And as there are no other possibilities to get the right information (without writing C code, which means other dependencies and a more complex - platform dependent - install pr

[2021-04-14 09:31] sebhildebrandt commented on #407
To all: please only post ARM64 (in conjunction with) Win 32 related comments here.

[2021-04-14 09:53] ibc commented on #407
Thanks @sebhildebrandt. Just please let me know whether I should open a separate issue for win32/intel (unclear whether it already exists or you are already on it).

[2021-04-14 12:54] ibc commented on #407
Just a question, and I assume this is true for Windows in ARM and Intel:

If we call different systeminformation async methods in parallel, may it produce some deadlock due to how wmic internally works?

[2021-04-14 13:18] sebhildebrandt commented on #407
@ibc not this is not a problem, actually I am doing this e.g in the `graphics()` function and also in `cpu()` (and others) ... and if you try to utilize the `get()` function, all object calls will be called in parallel.

[2021-04-14 13:25] ibc commented on #407
Thanks, good to know.

BTW I'll create a separate issue for Windows Intel.

[2021-04-14 13:31] ibc opened #521 "Windows Intel: sometimes systemInformation.xxxx() never resolve"
**Describe the bug**

Maybe related to #407.

This is happening in Electron 11 and Electron 12 in Windows 10 Intel. We use the following calls and sometimes we get a timeout error in our application because some of them never resolves/rejects:

* `await systemInformation.system()`
* `await systemInformation.cpu()`
* `await systemInformation.graphics()`

In fact, in an attempt to mitigate this prob

[2021-04-15 03:50] vahidbabaveisi opened #522 "AMD GPU temperature is not shown"
Hi,

I use system information in nodejs but when I tested it on AMD RX580 GPUs, I received no temperature in controllers JSON. Can you help me?

I use windows 10. All of drivers including Adrenalin (AMD) are installed.

Thanks.

[2021-04-15 05:10] sebhildebrandt commented on #522
@vahidbabaveisi currently - especially on windows - we cannot determine all GPU details for all hardware platforms. For Nvidia we have a solution in place but for AMD this is still missing. so I have two questions:

- can you provide the full output (as text) of `si.graphics()` on your machine so that I can see what we got here and what is missing.
- if you hava any idea to get more detailed statu

[2021-04-15 05:29] vahidbabaveisi commented on #522
Thanks, this is the output:

"{"title":"GPU","message":{"controllers":[{"vendor":"Amyuni","model":"USB Mobile Monitor Virtual Display","bus":"","vram":0,"vramDynamic":true,"subDeviceId":null},{"vendor":"Advanced Micro Devices, Inc.","model":"Radeon RX 580 Series","bus":"PCI","vram":4095,"vramDynamic":true,"subDeviceId":"C5801682"},{"vendor":"Advanced Micro Devices, Inc.","model":"Radeon RX 580 Ser

[2021-04-19 09:28] gilisegal opened #524 "Wifi Bssid is returned in a shortened format"
The wifiConnections() function returns the wifi bssid in a shortened format.
For example, a full bssid returned in wifiNetworks() : 00:b8:c2:39:55:0a
Is returned in the wifiConnections() as: 0:b8:c2:39:55:a.

[2021-04-19 09:29] sebhildebrandt commented on #524
@gilisegal ohh ... will have a look on it ... Platform? (linux/win/macOS)??

[2021-04-19 09:30] gilisegal commented on #524
macOS.

Thanks!

[2021-04-19 09:35] sebhildebrandt commented on #524
@sebhildebrandt Hmmmm ... cannot reproduce this. And I cannot spot the part in the code where I would trim it somehow.

Can you run the following command on your machine and post the result as a text:

[code]

Best regards

[2021-04-19 09:38] gilisegal commented on #524
This is the result:

     agrCtlRSSI: -58
     agrExtRSSI: 0
    agrCtlNoise: -95
    agrExtNoise: 0
          state: running
        op mode: station
     lastTxRate: 585
        maxRate: 1300
lastAssocStatus: 0
    802.11 auth: open
      link auth: wpa2-psk
          BSSID: 0:b8:c2:39:55:a
           SSID: Chen_Gili
            MCS: 7
        channel: 40,80

[2021-04-19 09:40] sebhildebrandt commented on #524
@gilisegal OK, so macOS returns incorrect values. What is your hardware?

[2021-04-19 09:49] gilisegal commented on #524
I've checked in 2 macs, both are macOS Catalina 10.15.7
One is MacBook Pro (13-inch, 2017, Four Thunderbolt 3 Ports)
The other is MacBook Pro (15-inc, 2018)

[2021-04-19 14:39] sebhildebrandt commented on #524
@gilisegal if both return wrong values, I have the feeling (in the same network), that it could also has something to do with the combination wifi network / macOS airport call ...

As macOS returns wrong values (and I cannot reproduce this -  all my machines already run on Big Sur ...), I might not be able to solve it. Closing it for now.

[2021-04-19 14:39] #524 closed

[2021-04-20 10:49] Colm-DO opened #525 "Wifi Connections on Windows produces empty array"
When using wifiConnections on Windows, it returns an empty array, even when WiFi is active on the device.

'netsh wlan show interfaces' is the command used, which works and produces the output like so:

There is 1 interface on the system:

    Name                   : WiFi
    Description            : Marvell AVASTAR Wireless-AC Network Controller
    GUID                   :  xxxxx
    Physical a

[2021-04-21 11:57] summerswell-ie opened #526 "WMIC Nic NetEnabled property is not available in Windows XP"
**Describe the bug**
When calling `networkInterfaces` in Windows XP, the `getWindowsNics` method tries to get the `NetEnabled` property of the NIC class, but the NetEnabled property is not available in Windows XP. Later in `parseLinesWindowsNics` the NetEnabled property is used to filter the results of wmic nic. This results in error output to the console.

**To Reproduce**
Steps to reproduce the

[2021-04-25 14:55] gg187on opened #527 "[Question] What structure has si.diskLayout()[0].smartData object?"
Hello,

I was looking on documentation https://systeminformation.io/filesystem.html
There is:

[code]

 but I can't see what [Object] is (or what data it contains), can someone please write here some real example of data?
I need to know structure of these data, but the problem is, my disk doesn't provide any S.M.A.R.T data, so I get only empty array, so I need to know this structure to be able to

[2021-04-25 17:48] sebhildebrandt commented on #527
@gg187on sorry my fault. Will add structure tomorrow. In the meanwhile Index.d.ts file could help.

[2021-04-26 09:20] Mlocik97 commented on #527
Oh thanks, I somehow overlooked index.d.ts file,... thanks.

[2021-04-26 09:22] gg187on commented on #527
Oh thanks, I overlooked that file. .d.ts helped.

[2021-04-26 15:16] shinkhouse commented on #519
Hi @sebhildebrandt,

Was just checking in on this ticket. Was there any other information you needed for this request?

[2021-04-26 15:39] sebhildebrandt commented on #519
@shinkhouse sorry i did not had time yet. Hope to make progress on this end of week.

[2021-05-01 01:36] huntr-helper opened #528 "🚨 Potential Improper Access Control - Generic (CWE-284)"
👋 Hello, @sebhildebrandt - a potential high severity Improper Access Control - Generic (CWE-284) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/7-other-sebhildebrandt/systeminformation** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose

[2021-05-04 14:28] sebhildebrandt commented on #528
@huntr-helper fixed. Version 5.6.13 and 4.34.12 just released.

[2021-05-04 14:28] #528 closed

[2021-05-04 14:33] sebhildebrandt commented on #522
@vahidbabaveisi OK, as we see, there is not that detailed information like on machines with Nvidia GPUs (here we have `nvidia-smi` to determine more detailed information). As I am not aware of any method to get detailed information for AMD GPUs on windows from the command line, I am currently not able to provide a solution. I will keep an eye on that but closing this issue for now. If you have any

[2021-05-04 14:33] #522 closed

[2021-05-04 14:36] sebhildebrandt commented on #521
@ibc can you confirm that they NEVER resolve or is it just to your timeout limitation. As we discussed in an other issue, the time it takes is due to the slow implementation of Windows `WMIC`, and we do not have any control on that.

[2021-05-04 15:32] ibc commented on #521
Actually it may be, indeed, that it takes too long (this is: more than 20 seconds in our case).

[2021-05-04 18:38] sebhildebrandt commented on #521
@ibc can you provide time/duration examples for each of the three functions?

[code]

[2021-05-05 10:21] sebhildebrandt commented on #526
@summerswell-ie should be fixed. At least you should not get any error here ... can you test it on your side? Version 5.6.17 and Version 4.34.23 just released.

[2021-05-05 10:21] #526 closed

[2021-05-05 11:00] ibc commented on #521
I'll try by asking people. I don't use Windows.

[2021-05-06 10:07] GitSquared opened #531 "processes(): "mem" value missing on Windows"
**Describe the bug**
From the [docs](https://systeminformation.io/processes.html):
![image](https://user-images.githubusercontent.com/24496417/117280008-76514e00-ae62-11eb-87b7-33a82ce60dab.png)

I can find this value on Linux but it's missing on windows.

**To Reproduce**
`systeminformation.processes().then(d => console.log(d))` on Windows

**Current Output**
[code]

**Expected behavior**
A `mem`

[2021-05-06 10:11] GitSquared commented on #531
I think this might be a simple fix of renaming this to `mem` to conform with the doc and behavior on other platforms:
https://github.com/sebhildebrandt/systeminformation/blob/2d5a24068d536cc5e2991108beb6af9eee7edf99/lib/processes.js#L815

[2021-05-06 10:35] sebhildebrandt commented on #531
@GitSquared my fault!! Sorry ... fixed. Version 5.6.18 just released.

[2021-05-06 10:35] #531 closed

[2021-05-06 10:40] GitSquared commented on #531
Np! Thank you for fixing it so quickly :racing_car:

[2021-05-06 10:41] sebhildebrandt commented on #516
@parthiganesh I made a fix for that ... pushed the code to GitHub. Can you pull it from here and test if this fixes the problem as expected? Thank you in advance for your help!

[2021-05-06 10:43] summerswell-ie commented on #526
I've tested 5.6.17 in Windows XP using Node 4.9.1 and it is working as expected now.

[2021-05-06 10:44] sebhildebrandt commented on #526
@summerswell-ie thank you for your support!

[2021-05-06 11:34] parthiganesh commented on #516
@sebhildebrandt I have attached the fix (zipped the file, as git doesn't support uploading js file)

Fix: systemctl command has to be tried before trying service command

[processes.zip](https://github.com/sebhildebrandt/systeminformation/files/6434040/processes.zip)

[2021-05-06 12:06] sebhildebrandt commented on #516
@parthiganesh thank you. Will test this on all servers here ...

[2021-05-06 13:33] sebhildebrandt commented on #516
@parthiganesh fixed! Thank you for your support. Version 5.6.19 just released

[2021-05-06 13:33] #516 closed

[2021-05-06 16:08] Sly-Little-Fox opened #532 "Detects a regular system as a VM"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start `systeminformation.system()`.
2. The output says that my computer is virtual, but it's not.
**Current Output**
[code]
**Expected behavior**
It should write that the system is not a virtual machine.

**Environment (please complete the following information):**
 - syst

[2021-05-07 12:12] Sly-Little-Fox commented on #532
1. I use Linux Xubuntu 20.04.
2. Self-built computer with B450 AORUS PRO.
3.
[code]

I can't run dmidecode as I am not root . Sorry, I am afraid that there can be some confidential information in `ls -1 /dev/disk/by-id/` 🤦🏻‍♂️

[2021-05-07 12:27] sebhildebrandt commented on #532
@Sly-Little-Fox Thank you for sharing. I fully understand that you do not want to share confidential information.

What would be interesting, what part of my code then determines that this is a virtual machine ... this happens in `lib/system.js` lines 80 to 180 ... would you be able to debug this and make a little investigation WHERE exactly `system.virtual` is set to true there (and virtualHost t

[2021-05-07 14:44] Sly-Little-Fox commented on #532
Found it! It was line 167!

[2021-05-07 14:45] Sly-Little-Fox commented on #532
It found "kvm" in this:
[code]

[2021-05-07 17:11] sebhildebrandt commented on #532
@Sly-Little-Fox Thank you! Fixed and tested! Version 5.6.20 just released.

[2021-05-07 21:18] #532 closed

[2021-05-13 05:54] #453 closed

[2021-05-13 15:13] fabiospampinato commented on #413
@sebhildebrandt would it be possible to expose the raw min1 min5 and min15 load numbers too? As far as I can see they are currently not exposed.

[2021-05-13 15:16] fabiospampinato opened #535 "Cumulative network bytes"
Would it be possible to retrieve cumulative rx and tx values for network interfaces (and perhaps disks for completeness) since the first call to this library?

I could keep track of those things myself, but I feel like this is something the library itself should provide some methods for.

[2021-05-13 15:21] sebhildebrandt commented on #535
@fabiospampinato `si.networkStats()` gives you the overall rx and tx bytes since startup of the machine. I do not see a good reason why this to store the values since first call to this function. I would see this as a special use case. What do you think?

[2021-05-13 15:24] sebhildebrandt commented on #413
@fabiospampinato that would make sense ... will extend `si.currentLoad()` to provide those values too.

[2021-05-13 15:31] sebhildebrandt commented on #413
@fabiospampinato the question here is: would it really make sense
- to just provide the 1, 5 and 15 min numbers (as given from the OS) which needs extra calculation to give meaningful results
- or should I provide my post-calculated results (which means already divided by CPU cores) ...
What do you think?

[2021-05-13 17:01] chamathpali opened #536 "Dual GPU Macbooks return two displays in graphics"
**Describe the bug**
A blank display object is returned in the displays array when using `.graphics()` on macboooks with two GPUs (Intel + AMD or Intel + Nvidia). Works fine on single GPU macs

**To Reproduce**
Steps to reproduce the behavior:
`si.graphics();`

**Current Output**
[code]
**Expected behavior**
[code]

**Environment (please complete the following information):**
 - systeminformation

[2021-05-13 17:49] sebhildebrandt commented on #536
@chamathpali can you run the following command (command line) on this Mac?

[code]

and post the result as text here? Thank you in advance!

[2021-05-13 20:50] fabiospampinato commented on #535
I see, that's just what I needed, but I thought the library was providing the current/per-second value already, so that's missing then I think, could that be provided too?

Basically I sort of need the data necessary to create something similar to Glances' interface:

![image](https://user-images.githubusercontent.com/1812093/118185954-0b40e200-b435-11eb-9f5f-d4563170c4f6.png)

And I don't see how

[2021-05-13 20:53] fabiospampinato commented on #413
Potentially providing both kind of values could be the optimal option, but for my use case specifically I want to recreate the load sections that tools like top or glances have, for that I think I need the value provided by the OS, I personally don't care too much about the per-core loads (although that could come in handy to me in the future).

[2021-05-13 21:46] chamathpali commented on #536
Check this
[code]

[2021-05-13 22:06] fabiospampinato commented on #535
Wait that's already there with `tx_sec` and `rx_sec`, I totally overlooked that.

[2021-05-13 22:06] #535 closed

[2021-05-13 23:28] sebhildebrandt commented on #536
@chamathpali thank you! Very clear. Will provide a fix for that!

[2021-05-13 23:29] chamathpali commented on #536
Thank you @sebhildebrandt !

[2021-05-13 23:31] sebhildebrandt commented on #535
@fabiospampinato : Per second values can be retrieved as describes in the docs:
https://systeminformation.io/statsfunctions.html

[2021-05-14 01:35] chamathpali commented on #536
Here is another sample with AMD on Mac for your reference.

[code]

[2021-05-14 06:23] sebhildebrandt commented on #536
@chamathpali should be fixed now. Version 5.6.21 just released. Can you check it on your side?

[2021-05-14 06:23] #536 closed

[2021-05-14 07:39] sebhildebrandt commented on #521
@ibc here some values from one of my low mid range machines (just as a reference):

Running on Windows 10, Intel Core™ i5-5200U, 2 Cores, 8GB (low mid range machine from 2015) - right after booting the machine:

C:\>node index.js
1 system   : 0.531 s
2 cpu      : 4.031 s
3 graphics : 3.0620000000000003 s
Total time : 7.639 s

C:\>node index.js
1 system   : 0.551 s
2 cpu      : 3.4130000000000003 s

[2021-05-14 07:52] sebhildebrandt commented on #521
@ibc :

So when running this in parallel, like so:

[code]

... this gives me the following result:

[code]

And unfortunalety, this is due to the slow implementation of Microsofts `WMIC` ... so I would not really consider this as an `systeminformation` issue.

[2021-05-14 07:57] sebhildebrandt commented on #521
@ibc is there any link to the specific electron app you are talking about? Just curious

[2021-05-14 09:27] ibc commented on #521
@sebhildebrandt sorry for the delay. We are not using this collected data to fill any UI. The Electron app we are using is private so cannot share. However we don't do anything special but just call `systemInformation.system()` and `systemInformation.graphics()` within a `Promise.all()`.

My colleagues using Windows are gonna try you code above and paste output here today.

[2021-05-14 09:47] ArcanisCz commented on #521
Hi there! @ibc colleague with windows here.
(Windows 10, ntel(R) Core(TM) i7-9700K CPU @ 3.60GHz   3.60 GHz, Nvidia GeForce  RTX 2070)
Calling above mentioned codes in our electron folder

##  Sequential results:

[code]

## Parallel results
`Total time : 3.1790000000000003 s`

[2021-05-14 09:54] ArcanisCz commented on #521
First call after boot
[code]

[2021-05-14 10:31] sebhildebrandt commented on #413
@fabiospampinato

- the first one (average of 1, 5 and 15 min load average - given by the OS) can be determined directly in nodes with `os.loadavg()` - so for your purposes actually no need to extend systeminformation
- but I will introduce a avgload (levied by cores) because this is - at least to me - more meaningful.

Explanation: If the avgload given by the OS is high but you have plenty of cor

[2021-05-14 10:47] fabiospampinato commented on #413
I wasn't aware that existed, thanks for pointing that out!

That's certainly good enough for me, but I think it would be cleaner if this library provided all that sort of data directly, using multiple libraries to get information about the system like that is kind of ugly.

[2021-05-14 23:45] chamathpali commented on #536
I can confirm that it's working properly now on both devices. Thank you @sebhildebrandt 👍

[2021-05-15 22:29] the-nicolas commented on #308
It would be great to have at least the information from lsblk correctly.

The method blockDevices() returns more or less information about the filesystem and not about the partition layout.

https://github.com/sebhildebrandt/systeminformation/blob/49f9bebbc4a9edb56da3a313df03b56a5276a45a/lib/filesystem.js#L354

It would be great to have columns like PARTUUID and PARTLABEL, because this information

[2021-05-16 16:12] plakak opened #537 "si.battery() shows wrong results on devices with more than one battery"
On certain laptops with internal and external batteries like ThinkPad T450s the library wrongly reports no battery present in Windows when device is on external battery.

The issue is  that `wmic`  reports two batteries instead of one and systeminformation does not account for such possibility.

[code]

I don't own this laptop so I can't check how this behaves in Linux. It was an issue reported by

[2021-05-16 18:50] sebhildebrandt commented on #537
@plakak: I need to have a look on it. Can you provide the full output of

[code]

And

[code]

On this machine?

Best regards

[2021-05-17 05:56] ronag opened #538 "statvfs"
I'm looking for something similar to statvfs (that can e.g. be accesses through https://www.npmjs.com/package/diskusage). However, I would like to be able to run it from a worker (i.e. no native addons).

[2021-05-17 06:02] sebhildebrandt commented on #538
@ronag I acrualy do not understand your question/request ... can you be more precise on what you would expect?

[2021-05-17 06:09] ronag commented on #538
Something like `fsSize()`. However, `fsSize()` does not include docker mounted volumes mounted. I basically want something like:

[code]

[2021-05-17 06:22] sebhildebrandt commented on #538
@ronag Ok, understand partially ;-) Can you give me en example ... so what exactly you mean with `docker mounted volumes` ... so inside docker or what? Would be great if you can describe your use case a little bit. Then I can really understand the problem.

Is it more like `statvfs` where you just want to retrieve free disk space (so more like what I have in `si.fsSize()`? Can you provide also exa

[2021-05-17 06:41] ronag commented on #538
It is exactly like statvfs.

The "mounted" volumes are not shown in `df`. I think docker doesn't actually mount it as a "volume" but just "symlinks" the directory to the docker volume.

[2021-05-17 06:46] sebhildebrandt commented on #538
@ronag I still don't get what you are really looking for. Can you please describe your use case? I still don't know if you are trying to conreoll something INSIDE of a docker container or from OUTSIDE. Please describe the full story. Then I could think of how to implement something ...

[2021-05-17 07:22] ronag commented on #538
Inside a docker container I want to find out how much free and total space the drive of a specific path has. The path has been linked to docker volume (`-v /volumes/media:/volumes/media`).

[2021-05-17 07:40] sebhildebrandt commented on #538
@ronag OK, I guess I understand ... so this is not trivial. There are attempts to get `fs.statfs()` into node but this is still an unresolved issue. Need to think if I can find a solution.

[2021-05-17 12:44] plakak commented on #537
@sebhildebrandt

This is the output when the AC is disconnected
[code]

And this is when AC is connected
![image (2)](https://user-images.githubusercontent.com/13939486/118478443-2c911f00-b710-11eb-9b17-5e6edf921cb0.png)

I didn't get this one with charger disconnected but the values look like I posted in the first post here

[code]

Well basically you have all the info from the full /Get either w

[2021-05-17 15:19] sebhildebrandt commented on #537
@plakak thank you! This is exactly what I needed. Will provide a solution a little bit different to your proposal. Need also to maintain node version 4 compatibility.

[2021-05-17 16:46] plakak opened #539 "Missing battery DesignCapacity and FullChargeCapacity in Windows"
Sorry @sebhildebrandt for another battery related issue. It's not like I'm looking for them 🙂

### Issue:
On my `Dell XPS 15` I don't get `DesignCapacity` and `FullChargeCapacity`. One of my clients also doesn't have those on his newer `XPS 13` as well.

My `wmic`:
[code]

### Possible solution:
After some research the solution that worked for me was to use PowerShell-only class to get those data:

[2021-05-17 18:28] sebhildebrandt commented on #539
@plakak Thank you for reporting this! Don’t worry. I am also interested in making this as stable as possible. Will have a look at it and provide a solution tomorrow.

[2021-05-17 23:58] fm5003 opened #540 "Call to smartctl fails with large number of disks due to maxBuffer exceeded"
**Describe the bug**
filesystem.js line 854 uses exec without specifying maxBuffer. The default value for maxBuffer is 200kb. Adding

``exec(cmdFullSmart, {maxBuffer: 1024 * 1024}, function (error, stdout) { ``

resolved the issue.

The command fails silently (no smart data is returned), with no error reported.

**Expected behavior**
See above

**Environment (please complete the following informat

[2021-05-18 06:26] sebhildebrandt commented on #540
@fm5003 thank you. Fixed. Version 5.6.22 just released.

[2021-05-18 06:26] #540 closed

[2021-05-19 06:32] ferlolo opened #541 "Printer function not work with online printer"
**Describe the bug**
When used function "printer" with online printer or pdf printer not show the list of printer and no generate printer property in object.

![image](https://user-images.githubusercontent.com/16939698/118766483-c544ad80-b87c-11eb-88af-d03abd9d7dcb.png)

 - systeminformation package version: 4.34.7
 - OS: Ubuntu and Windows 7

[2021-05-19 08:23] drogerie21 commented on #230
Not working for me.
I´am using webpack 5; altough including the snippet above  (new webpack.IgnorePlugin(/osx-temperature-sensor/) webpack throws the following error:
`WARNING in ./node_modules/systeminformation/lib/cpu.js 1107:20-53
Module not found: Error: Can't resolve 'osx-temperature-sensor' in '[PATH TO NODE_MODULES]/node_modules/systeminformation/lib'
 @ ./node_modules/systeminformation/lib

[2021-05-19 18:33] khanakhun opened #542 "si.diskLayout(cb) [0].smartData Not getting Smart Data"
[0].smartData | X | &nbsp; | &nbsp; | &nbsp; | &nbsp; | full S.M.A.R.T data from smartctlrequires at least smartmontools 7.0(see Known Issues)
-- | -- | -- | -- | -- | -- | --

Basically, I want to get Harddisk Health Using this Library is this Possible, because  right now it shows nothing for smartData

[2021-05-19 19:42] sebhildebrandt commented on #542
@khanakhun hi, can you be more specific on your environment?

- what is your OS, which version/distribution
- which version of smartmon tools do you have installed

Can you also run this code snippet and post the full output here:

[code]

[2021-05-20 06:22] sebhildebrandt commented on #541
@ferlolo `si.printer()` is not part of `systeminformation` Version 4. You can try Version 5 and it would be great if you try the following code directly in `node`:

[code]

If you still encounter problems here, please post the full output of the above code.
Closing it for now.

[2021-05-20 06:22] #541 closed

[2021-05-20 06:48] sebhildebrandt commented on #527
@gg187on I see that the index.d.ts structure is only partially correct. Will update it the next few days.

[2021-05-20 06:52] demoprazol opened #543 "Detecting Default Audio Device on Windows"
There is no npm library to detect default audio device on windows, if you guys implement this feature, it will be the first one, I really need it because currently, I am detecting default audio device by applying RegExp to "device name string" and this cause a problem on some Windows builds which has different base language (Japanese, etc.).

Thank you!

![feature](https://user-images.githubuserco

[2021-05-20 06:55] sebhildebrandt commented on #521
@ibc: Seems, that the issues (not returning within your 20 secs) is

- only occasionally - as your examples showed, we have 3-7 secs overall for all three functions sequentially (and max 4 when run in parallel)
- most probably due to si.cpu() - which takes the most time to return results here.

In my code I do see one parcel call that can really take longer ... I am currently investigating if I ca

[2021-05-20 07:03] sebhildebrandt commented on #543
@demoprazol hi, well, yes good idea. Need to make some investigation how I can manage this. Can you be more precise (share code), what you already tried? Best Regards

[2021-05-20 07:35] ibc commented on #521
Thanks a lot @sebhildebrandt

[2021-05-20 08:25] sebhildebrandt commented on #295
@ssmirr Hi again, I would like to ask for some further assistance: As `systeminfo` spits out language dependent labels, I would like to modify the method used in my package. Currently I only support EN, DE and FR, but if there are other system languages, this would fail.

Could you once again make a test with virtualization enabled and disabled and then running THIS from powershell:

[code]

and p

[2021-05-20 09:52] sebhildebrandt commented on #539
@plakak can you try one more thing: When we relate this to #537 then it would be good to get the output of

[code]

on the machines you where talking about in the other issue.
I would like to handle both issues correctly in one patch.

Thank you in advance.

[2021-05-20 11:03] khanakhun commented on #542
{
    device: 'SCSI\\DISK&amp;VEN_SANDISK&amp;PROD_SSD\\4&amp;62C5D10&amp;0&amp;00
0000',
    type: 'SSD',
    name: 'SanDisk SSD PLUS 120GB',
    vendor: '(Standard disk drives)',
    size: 120039736320,
    bytesPerSector: 512,
    totalCylinders: 14594,
    totalHeads: 255,
    totalSectors: 234452610,
    totalTracks: 3721470,
    tracksPerCylinder: 255,
    sectorsPerTrack: 63,
    firmwareRe

[2021-05-20 11:11] sebhildebrandt commented on #542
@khanakhun so ok, you are using Windows? As you can see in the docs. I do not support this property for Windows.

| Function        | Result object | Linux | BSD | Mac | Win | Sun | Comments |
| --------------- | ------------- | ----- | ------- | --- | --- | --- | -------- |
| si.diskLayout(cb) | [{...}] | X |  | X | X |  | physical disk layout (array) |
| | [0].device | X |  | X |  |  | e.g. /dev

[2021-05-20 11:19] sebhildebrandt commented on #542
@khanakhun but if you have smartmoxntools installed om Windows, can you provide:

- Version of Smartmontools
- full output of `smartctl -a -j "C:\"` (not sure if this is correct, maybe you need to tweak the command)

Thank you!

[2021-05-20 11:47] sebhildebrandt commented on #542
@khanakhun I am reopening this because as I made some research, it would be possible to add this also for windows. I need to work on it so it might take some time.

[2021-05-20 12:30] demoprazol commented on #543
Hi thank you for the quick reply, actually, I am currently using npm naudiodon to detect the default audio device on windows, it uses PortAudio library. The problem is, it has no build-in option like "is default". I am controlling the default audio device with the only known device name, for example; my audio device name is "My Super Random Cool Audio Device", I am searching this string inside the

[2021-05-20 12:35] demoprazol commented on #543
By the way, I forgot to say thank you, this library is perfect, thank you so much, best regards.

[2021-05-20 15:12] khanakhun commented on #542
Thank you so much for your response, smartctl -a -j "C:\"  Using this I'm getting a  huge object with many data init related to DISK most of it can be retrieved using si.disk(), but I'm unable to understand how to get harddisk health.

[2021-05-20 15:26] sebhildebrandt commented on #542
@khanakhun related to the previous post ... "Using this I'm getting a huge object with many data" ... well but this is, what you where asking for, right? This is, what smartmontools gives back and I am attaching it to the `diskLayout()` result as I do it in linux. Not sure, if this is now a misunderstanding ...

Anyway, I currently made some progress here and can provide a first version soon.

[2021-05-20 15:58] sebhildebrandt commented on #542
@khanakhun now smart data is also available on windows (if smartmontools are installed). Version 5.7.0 just published

[2021-05-20 15:58] #542 closed

[2021-05-20 21:44] sebhildebrandt commented on #527
@gg187on updated index.d.ts to select smartData more accurately.

[2021-05-20 21:44] #527 closed

[2021-05-21 04:46] sebhildebrandt commented on #344
@mrTorb I introduced a workaround that could also work on your side to determine the VRAM more accurate. Version 5.7.1 should report better results. Maybe you have time to test it on your machine.

[2021-05-21 13:03] plakak commented on #539
@sebhildebrandt  Here it is 🙂

![image (3)](https://user-images.githubusercontent.com/13939486/119141543-ac3b2880-ba45-11eb-8b92-feefa3c08069.png)

[2021-05-21 14:17] sebhildebrandt commented on #539
@plakak perfect. Thank you so much!!

[2021-05-24 17:28] parthiganesh opened #544 "Physical machine is shown as Virtual machine if dmesg has the word 'virtual'"
Output of **si.system(cb)** is
`{
  manufacturer: 'Supermicro',
  model: 'X7SPA-H',
  version: '1234567890',
  serial: '1234567890',
  uuid: '49434d53-0200-7a85-c40c-857ac40c4877',
  sku: '-',
  virtual: true,
  virtualHost: 'VMware'
}`

**Output of dmesg command used in the script:**
[code]

**in file lib/system.js line 168**
[code]
will return -1 if vmware is not substring of the output, that is

[2021-05-24 17:36] sebhildebrandt commented on #544
@parthiganesh would this work?

[code]

This should then not returning any output on this machine, right?

[2021-05-24 17:53] sebhildebrandt commented on #544
@parthiganesh just released a version that should fix the problem. Version 5.7.2 just released. Can you check it on your side?

[2021-05-24 17:53] #544 closed

[2021-05-25 06:42] parthiganesh commented on #544
@sebhildebrandt yes this is fixed now. Thank you :)

[2021-05-25 20:42] ForeverACE opened #545 "Audio devices not found on Raspberry Pi (Raspbian 10/Buster)"
**Problem:**
The 'audio' function returns a zero length array on a Raspbian 10 (Buster) OS.

**Description**
When using the example (see steps to reproduce below), the return value is an array with zero length (i.e. empty). This has been tested on two different Raspbian 10 (Buster) installations (a minimal non-GUI installation & a stock NOOBS install) and three different pieces of hardware.

**Ste

[2021-05-26 05:59] sebhildebrandt commented on #545
@ForeverACE will try to check it the next few days...

[2021-05-26 09:31] spermlord opened #546 "Checking UEFI on Windows"
**Describe the bug**
On some PC, the script "findstr /C:"Detected boot environment" "%windir%\\Panther\\setupact.log"" reports EFI not UEFI.

**To Reproduce**
Steps to reproduce the behavior:
1. used function '...'
2. code snippet '....'
3. start app / code
4. See output/error '....'

**Current Output**
If applicable, add output to help explain your problem.

**Expected behavior**
A clear and conc

[2021-05-26 12:42] spermlord commented on #546
Here
![image](https://user-images.githubusercontent.com/37042810/119661419-7be6f600-be5a-11eb-8355-d2562d4a8940.png)

[2021-05-26 12:45] sebhildebrandt commented on #546
Think you @spermlord . Should be fixed now. Version 5.7.3 just published. Can you check it on your side?

[2021-05-26 12:45] #546 closed

[2021-05-26 12:46] spermlord commented on #546
Thanks! I will update dependencies and check it in minute.

[2021-05-26 13:09] sebhildebrandt commented on #546
@spermlord About your comment to my fix: Correct! did this already locally but forgot to push this change ... anyway. the works hopefully. And in the next push, this is cleaned up.

[2021-05-27 11:12] plakak commented on #539
@sebhildebrandt any ETA when to expect this? I'm wondering should I make another release with my own fixes or wait for the official ones if they are close enough 🙂

Cheers!

[2021-05-27 11:19] sebhildebrandt commented on #539
Sorry @plakak did not had time ... hope to finish this by tomorrow.

[2021-05-27 13:58] sebhildebrandt commented on #521
@ibc changed the way to get `virtualization` and `hypervisor` information for windows. This improves the runtime of `si.cpu()` a little bit ... but do not expect too much. Closing this for now, as we already seen that the called functions resolves according to all our tests but on some low-end machines this might be slow (due to the underlying windows system calls).

[2021-05-27 13:58] #521 closed

[2021-05-27 14:26] ibc commented on #521
Thanks @sebhildebrandt, it makes sense.

[2021-05-28 05:06] sebhildebrandt commented on #539
@plakak I now pushed a code to GitHub that should integrate this additional possibility to get designed and full charged capacity. This code change also fixes #537 . So it would be nice if you can grab the code from GitHub and test it on the specific machines where you had problems. Please report back, if you see any problems.

[2021-05-28 05:10] sebhildebrandt commented on #537
@plakak I now pushed a code to GitHub that should fix the problem. As you already mentioned, for the future it would be good to have the result of `batteries()` as an array but for now I am leaving it like it is as this would be a breaking change. For now I am adding additional batteries to an extra property. So it would be nice if you can grab the code from GitHub and test it on the specific mach

[2021-05-28 06:25] plakak commented on #537
@sebhildebrandt Thanks! This follows the same API I assumed in my fix so I won't have to make any changes in the app code when switching back to main library repo. Awesome 🙂

I'll create executable from the latest version and send to the owner of the machine in question for tests.

[2021-05-28 06:27] sebhildebrandt commented on #537
@plakak exactly! But I cannot test it here due to missing laptop running windows ;-) Thank you so much for helping getting this stable!

[2021-05-28 14:48] sysrage commented on #148
I ran into a similar issue in my Node.js script when running PowerShell commands on a system set to Mandarin. I was able to fix it by prefixing all my PowerShell commands with the following string:
[code]

Hopefully it helps here, as well!

[2021-05-31 17:42] plakak commented on #539
@sebhildebrandt I tried on a Dell laptop and unfortunately it didn't work. What's more, I'm not getting any battery data now. I did quick debugging and:

1. Even thought I'm on one battery device part `for (let i = 0; i < parts.length; i++) {` gets fired 3 times. I have values  (on first pass) in `designCapacity` and `fullChargeCapacity` variables but the `parsed` has status `-1`. On the second an

[2021-06-01 04:44] sebhildebrandt commented on #539
@plakak thank you, need to make investigation. Unfortunately I do not have a laptop with windows installed. So therefore this was kind of a blind shot ... will come back with another try ...

[2021-06-01 06:42] plakak commented on #539
@sebhildebrandt Maybe I can build based on your code now, implement parts of my solution using your approach? I could probably sit to it in the evening and see if I come up with something you would approve? I struggled with getting the right parsing myself, and I do have a windows machine :)

[2021-06-01 06:49] sebhildebrandt commented on #539
@plakak that would be great ... we need to be sure to keep node 4 compatibility (no map, spread, ...) ;-)

[2021-06-01 07:03] plakak commented on #539
@sebhildebrandt just to confirm - https://nodejs.org/en/blog/release/v4.0.0/ based on that `map` and `reduce` should be fine. Should I avoid that regardless or those two are fine? 🙂

[2021-06-01 19:30] plakak commented on #539
Ok, got a version that works on Dell without any "fancy" features 😄 I'll pass it to the "ThinkPad guy" to test if that also works correctly there 👍🏻

[2021-06-01 19:33] sebhildebrandt commented on #539
@plakak WOW great! Any possibility to also review it on my side?

[2021-06-02 10:19] plakak commented on #539
@sebhildebrandt of course, just want to make sure it's working on all machines. I'll create a PR for you as soon as I have this confirmation :)

[2021-06-02 10:27] sebhildebrandt commented on #539
@plakak perfect, totally agree!

[2021-06-07 23:46] aleksey-hoffman opened #548 "Decode non-ASCII characters in blockDevices() function"
**Describe the bug**
Some commands return undecoded outputs, looking like `??????`

I'm using this module in my [file manager app](https://github.com/aleksey-hoffman/sigma-file-manager), I'd really appreciate it if you could fix this issue.

**Proposed fix:**

1. You can use the command mentioned in this comment: https://github.com/sebhildebrandt/systeminformation/issues/148#issuecomment-850472815

[2021-06-08 10:07] xtouching opened #549 "memLayout return wrong clockSpeed when have two diffenent speed memory"
OS: windows10X64

![image](https://user-images.githubusercontent.com/19708081/121167228-53142700-c884-11eb-9bcb-f637c5897420.png)
![image](https://user-images.githubusercontent.com/19708081/121167273-5dcebc00-c884-11eb-936f-6f4cacf50ff2.png)

maybe in memory.js.  when is  _windows
[code]

canbe
[code]

[2021-06-08 10:12] sebhildebrandt commented on #549
@xtouching can you provide the output of

[code]

as TEXT (not screen photo!)

[2021-06-08 10:51] xtouching commented on #549
can you delete this issue, please ? the picture contains other's info watermak, I will provide text later, thanks!!!

[2021-06-08 10:55] #549 closed

[2021-06-08 10:56] sebhildebrandt commented on #549
@xtouching delete it completely??

[2021-06-08 11:00] xtouching commented on #549
@sebhildebrandt Actually I don't know. I just want this picture not to be seen by others. Delete and open another one is the best way? I take your opinion, thanks~~~

[2021-06-08 11:03] sebhildebrandt commented on #549
@xtouching done ... just deleted the images ...

[2021-06-08 11:17] xtouching commented on #549
others can see the images from edit history ? thanks!! Love you so much!!

this is the text!
[memory.txt](https://github.com/sebhildebrandt/systeminformation/files/6615995/memory.txt)

[2021-06-08 11:21] sebhildebrandt commented on #549
@xtouching OK, will delete it completely ... can you create this issue once again?

[2021-06-08 11:22] xtouching commented on #549
OK~~~i will create this issue once again!! thanks!

[2021-06-08 11:29] xtouching opened #550 "memLayout return wrong clockSpeed when have two diffenent speed memory"
os: window7 x 64
memory1: Kingston DDR4 2133 MHz
memory2: Kingston DDR4 2666 MHz
detailed information in the text file, thanks!!!
[memory.txt](https://github.com/sebhildebrandt/systeminformation/files/6616037/memory.txt)

[2021-06-08 11:33] xtouching commented on #550
maybe when _windows in memory.js
[code]
canbe
[code]
for these special situation?

[2021-06-08 11:36] sebhildebrandt commented on #550
@xtouching actually, catching the second option (testing also `speed`) makes sense but in your case, both are 2133, so I do not see how to get the 2666 as given in your example ...

[2021-06-08 11:40] xtouching commented on #550
yes.....so can we add other param in result as current speed ?

[2021-06-08 11:47] xtouching commented on #550
at least i wanna get the current speed when i get the wrong clockSpeed.
or, do we have other method get the clockSpeed
both is ok~~~~
thanks~~~love you~~~

[2021-06-08 13:59] sebhildebrandt commented on #550
@xtouching will have a look at it tomorrow ...

[2021-06-08 14:21] plakak commented on #539
@sebhildebrandt PR is ready. Any thoughts if it's OK and if yes when you'd be merging it to master? I need to plan some dates for the next release in my project and I'm curious 🙂

[2021-06-08 21:02] sebhildebrandt commented on #550
@xtouching should be fixed now. Can you check it on your side? Version 5.7.5. just released,

[2021-06-08 21:02] #550 closed

[2021-06-09 02:26] xtouching commented on #550
OK，I will check later ，I use version 4.23.5 now.
I need to check the changes vs 5.7.5.
Thanks so much!!!

[2021-06-09 05:39] sebhildebrandt commented on #539
@plakak I had a look on it ... so you changed the way how to split the `parts` ... I just wondered why, because this is how it works also for all other (wmic based windows) functions. And to be consistent to the rest of the code, maybe we can stick with this? I will try to make a modification ...

[2021-06-09 06:38] plakak commented on #539
It's for separate code for multiple batteries. I don't know if anywhere else you have result presented that way as with multiple batteries. It just takes each part and pushes it to one array, if there is empty line or multiple empty lines it creates new array and then pushes parts after that empty line into second array etc. If one would have 5 batteries there would be 5 arrays with parts. So this

[2021-06-09 06:45] sebhildebrandt commented on #539
@plakak what I mean: when I do a `wmic ... get /value` and get multiple e.g. batteries, then first I do split the parts with `split(/\n\s*\n/);`. Then I walk through each if the result parts (which would then be each battery) ...:

[code]

This normally works fine (so in your example case there should also be 5 parts), but you have changed it and I am not sure why ... anyway, then I will just take

[2021-06-09 06:46] sebhildebrandt commented on #539
@plakak will do it today ;-) to give a time frame ...

[2021-06-09 06:57] plakak commented on #539
@sebhildebrandt I actually started from debugging it from the code you wrote but I couldn't make it work. I don't remember exactly why but I think it was because the response is looking a bit different in terms of linebrakes
[code]
then second battery etc. So I just wrote code that ignores all the empty lines and cares only for the "right" lines (`/\S/.test(value)`) - no matter if this is `\r\r\n`

[2021-06-09 07:03] sebhildebrandt commented on #539
@plakak ... first of all: I really have to thank you for putting so much effort to improving this!!! And secondly: I do agree, This works fine this way... I just wrote the code as like all the other parts I did in other sections ;-) But no worries. I will just take it how it is now and release a new version today. Best regards!!!

[2021-06-09 09:42] sebhildebrandt commented on #539
@plakak can you try the new version 5.7.6 ... should now work as expected.

[2021-06-09 09:42] #539 closed

[2021-06-09 09:43] sebhildebrandt commented on #537
@plakak Version 5.7.6 just released, can you try it?

[2021-06-09 09:43] #537 closed

[2021-06-09 10:38] plakak commented on #539
@sebhildebrandt I'll check that in the evening - thanks!

[2021-06-09 10:49] sebhildebrandt commented on #539
@plakak take your time ... thank you!

[2021-06-09 19:33] plakak commented on #539
@sebhildebrandt  Dell laptop works correctly. In terms of Thinkpad it will take a while until I can get the feedback but I would assume, based on previous tests it should run smoothly as well.

You dIdn't use my PR after all? It was open to add any additional changes to it. To tell the truth I'm a bit disappointed not to be included as a contributor after finding and providing fixes/way of fixing

[2021-06-09 19:45] sebhildebrandt commented on #539
@plakak sorry! My fault ... while checking  my repo  I just copied it ... now merged the pull request, you are now official contributor and I anyway will add you as a contributor to the official docs ...

[2021-06-14 12:22] leonekmi opened #551 "Integrated displays on iMac does not report X resolutions"
**Describe the bug**
On iMac, the module is reporting a Y resolution but not an X resolution.

**To Reproduce**
Steps to reproduce the behavior:
- use the graphics module to retrieve displays

**Current Output**
The integrated screen is reported as such:
[code]
It's missing resolutionX and currentResX.

**Expected behavior**
We should have a resolutionX of `5120`, as [specified by Apple](https://s

[2021-06-14 12:27] sebhildebrandt commented on #551
@leonekmi will have a look on this tonight! Thank you for reporting!

[2021-06-14 14:22] aleksey-hoffman commented on #548
@sebhildebrandt I just bought you a coffee via your link, mate, you will definitely need some energy trying to fix this. I know Powershell is quite annoying to deal with

[2021-06-15 06:33] sebhildebrandt commented on #551
@leonekmi should work now. Version 5.7.7 just released. Can you check it on your side?

[2021-06-15 06:33] #551 closed

[2021-06-15 18:14] gannonprudhomme commented on #506
Not sure if it's something y'all would want to do, but it seems like it's only possible by using C++/C#. [node-process-volumes]() uses a C++ file to do it, while [my implementation](https://github.com/gannonprudhomme/Desktop-Control-Tablet-Server/tree/master/csharp-scripts) (which I mostly received from [this stackoverflow post](https://stackoverflow.com/questions/20938934)) uses C#, although I'm

[2021-06-15 20:45] leonekmi commented on #551
The resolutions are now reported correctly, awesome! Thanks for the quick reply. :+1:

[2021-06-16 14:10] gilisegal commented on #525
Any progress with this? @sebhildebrandt

[2021-06-28 08:14] lportanel opened #552 "CPU Temperature incorrect in Linux Ubuntu 21.04"
**Describe the bug**
Executing si.cpuTemp() will return the temperature of another sensor.

**To Reproduce**
1. Just execute `si.cpuTemperature().then(data => console.log(data))` and analyze the output.

**Current Output**
The current output is
`{ main: 34.9, cores: [], max: 34.9, socket: [], chipset: null }`
which corresponds to the temperature of a _nvme_ sensor.

**Expected behavior**
To return

[2021-06-28 08:37] sebhildebrandt commented on #552
@lportanel thank you for providing detailed information!!! Will have a look at it ...

[2021-07-01 08:11] EngAhmedMahmoud opened #553 "Get empty data when running service in docker environment"
I developed a nodejs application and inside this application i am trying to get information about:

1.  `system-serial`
2. `system-uuid`
3. `os-serial`

when running service in development mode i get the information no issue on that but once i create docker image and run this image within container i get **empty data**.

When running the application using docker

![image](https://i.ibb.co/xYRdwht/

[2021-07-08 06:14] zhangzhui opened #554 "Can not get os specific UUID"
**Describe the bug**
can not get os specific UUID use os.uuid()

**To Reproduce**
Steps to reproduce the behavior:
1. create a win32 application
2. run under window 10 x64
3. start app
4. the os.uuid().os is empty

**Environment (please complete the following information):**
 - systeminformation package version:
 - OS: [windows 10 x64]
 - App: [win32]

**Additional context**
[node-machine-id](http

[2021-07-08 07:14] sebhildebrandt commented on #554
@zhangzhui thank you ... will have a look at it. Thank you for providing detailed additional information!!

[2021-07-11 09:27] aleksey-hoffman commented on #548
Another method to fix this issue for all shell commands is to write the command output into a file and then read the data from it with node.js:

Example:

[code]

[2021-07-11 09:27] aleksey-hoffman commented on #548
@sebhildebrandt Another method to fix this issue for all shell commands is to write the command output into a file and then read the data from it with node.js:

Example:

[code]

[2021-07-12 09:52] vikkikrishna opened #555 "How to get system username who signed in machine"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function '...'
2. code snippet '....'
3. start app / code
4. See output/error '....'

**Current Output**
If applicable, add output to help explain your problem.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (plea

[2021-07-12 09:54] vikkikrishna commented on #555
please help on this

Thanks in Advance

[2021-07-12 09:55] sebhildebrandt commented on #555
@vikkikrishna please read the docs ... https://systeminformation.io/os.html ... here you find the function `si.users()`

[2021-07-12 09:55] #555 closed

[2021-07-12 10:17] vikkikrishna commented on #555
getting error after called the below methods

const si = require('systeminformation');
si.users().then(data => console.log(data));

Failed to compile.

./node_modules/systeminformation/lib/util.js
Module not found: Error: Can't resolve 'child_process' in 'C:\Tableau\Frontend\tableau\node_modules\systeminformation\lib'

[2021-07-12 10:20] sebhildebrandt commented on #555
@vikkikrishna Just to be sure: This module is ONLY possible to use with node! Not in a frontend.

So if you have a file like:

index.js
[code]

and then `node index.js`... you get this error?
Which version of node are you using?

[2021-07-16 20:35] Apollon77 opened #557 "Uncatchable exception in bluetooth"
[code]

[2021-07-17 14:21] sebhildebrandt commented on #557
@Apollon77 should work now. version 5.7.8 just released.

[2021-07-17 14:21] #557 closed

[2021-07-17 15:02] sebhildebrandt commented on #554
@zhangzhui can you grep the latest code from GitHub (replace lib/osinfo.js in your node_modules/systeminformation  folder) and try it one more time? If this works, I will release a new version.

[2021-07-17 22:16] Apollon77 commented on #557
Thank you!

[2021-07-20 01:19] zhangzhui commented on #554
It works! Thank you~

[2021-07-22 13:10] vvvait opened #558 "processLoad - invalid result type definition in index.d.ts"
processLoad return array of object, but now in index.d.ts
**Current**
`export function processLoad(processName: string, cb?: (data: Systeminformation.ProcessesProcessLoadData) => any): Promise<Systeminformation.ProcessesProcessLoadData>;
`

**Expected**
`export function processLoad(processNames: string, cb?: (data: Systeminformation.ProcessesProcessLoadData[]) => any): Promise<Systeminformation.Pr

[2021-07-24 09:18] chend0316 opened #559 "cpu returned by processes() may be negative on Windows"
When a very busy process exits, CPU may negative on Windows.

1. run `node ./test.js`, this will call `processes()` every 1 second
2. run `node ./busy.js`, this will take up one entire CPU core
3. wait some time, my laptop has 16 CPU cores, so I need to wait at least 16 seconds
4. Ctrl-C kill busy.js
5. test.js will print negative CPU value

busy.js:
[code]

test.js
[code]

[2021-07-25 15:59] si458 opened #561 "converted bios to uefi showing as not uefi"
**Describe the bug**
i have converted a few computers recently from BIOS to UEFI
but when running `si.osInfo` its still showing UEFI as false?

**To Reproduce**
Steps to reproduce the behavior
[code]

**Current Output**
[code]

**Expected behavior**
UEFI to be true?

**Environment (please complete the following information):**
 - systeminformation package version: 5.7.8
 - OS: [e.g. macOS] Windows

[2021-07-25 16:38] si458 commented on #561
found the issue! and fixed it for you! #562
it was carrying on and returning the last false, rather than waiting for the exec to finish and returning that instead

[2021-07-25 16:58] si458 commented on #543
might be helpful but not sure but i hope it helps!

after a quick google and regedit look, this registry location stores infor about your audio devices
`HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\MMDevices\Audio\Render\{RANDOM UUID}`
the `{RANDOM UUID}` is unique for each of your `audio out` devices so you will have multiple keys for multiple devices

if you change your audio out

[2021-07-25 17:06] sebhildebrandt commented on #554
@zhangzhui version 5.7.9 just released. Should work in this version.

[2021-07-25 17:06] #554 closed

[2021-07-26 09:44] sebhildebrandt commented on #558
Fixed, thank you. Version 5.7.10 just released.

[2021-07-26 09:44] #558 closed

[2021-07-26 23:00] nambrozoh opened #563 "Improper expected types when using bluetoothDevices()"
**Describe the bug**
I am attempting to pull bluetooth device description into my logger. However, when attempting `systemInfo.bluetoothDevice()[0].device` it provides me with a type error that it does not exist. Digging deeper, I find that the return type is expected to be `BlockDevicesData` instead of `BluetoothDeviceData`.

Is this to be expected? If so, how can I pull `systemInfo.bluetoothDevi

[2021-07-26 23:18] nambrozoh commented on #563
Introduced here:

https://github.com/sebhildebrandt/systeminformation/commit/143b1abe86632a3fa652a471cf532938ca7e0de3#diff-cfc7807f6b174e1c3705c5c2747f56e49a889a52999dc96e4080a3af0131a534R839

[2021-07-27 08:20] sebhildebrandt commented on #563
@nambrozoh my fault!!! Sorry ... will provide a fix later today ...

[2021-07-27 09:16] sebhildebrandt commented on #563
@nambrozoh ... should be fixed. Version 5.7.11 just released.

[2021-07-27 09:16] #563 closed

[2021-07-27 10:25] sebhildebrandt commented on #561
@si458 Version 5.7.12 just released. Can you check it on your side?

[2021-07-27 10:25] #561 closed

[2021-07-27 15:22] BitesPotatoBacks opened #564 "cpuCurrentSpeed() broken on M1"
**Describe the bug**
cpuCurrentSpeed() always (and only will) return 2.4Ghz on M1, even when under light or heavy loads.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
It should output different clock speeds when the CPU is under different loads, since CPU clock speeds naturally fluctuate.

**Environment (please complete the following information):**
 - systeminfo

[2021-07-27 15:36] sebhildebrandt commented on #564
@BitesPotatoBacks so as fas as I know, there is no way to determine the current frequency from command line ...

What would be the output of

[code]

on your machine (terminal)?

[2021-07-27 15:44] BitesPotatoBacks commented on #564
@sebhildebrandt tried those commands just now in terminal...nothing was outputted, the terminal just ignored them

[2021-07-27 15:53] sebhildebrandt commented on #564
@BitesPotatoBacks Sorry ... yes on M1 this should give a result:

[code]

... which is `hw.tbfrequency: 24000000`

And also in `node`:

[code]

[2021-07-27 16:00] BitesPotatoBacks commented on #564
@sebhildebrandt yeah that one works...too bad 2.4 Ghz is all it can grab...wonder why that is...

[2021-07-27 16:11] sebhildebrandt commented on #564
@BitesPotatoBacks yes, I am also a little disappointed, that I cannot find any other method. Closing It for now. If you discover any other way to determine correct CPU frequency, it would be nice, if you can point me into the right direction ;-)

[2021-07-27 16:11] #564 closed

[2021-07-27 16:14] BitesPotatoBacks commented on #564
@sebhildebrandt that's cool. ill continue to research and see what I can find, ill let you know if I do. By the way, thanks for making this awesome package and helping me out so quickly with my issue! 👍 good day

[2021-07-27 17:16] nambrozoh commented on #563
Great! Thank you for the fast fix @sebhildebrandt.

[2021-07-28 14:08] si458 commented on #561
Hi @sebhildebrandt sorry for my delay been off work...
sadly ive tried that and NOPE it made no difference its still showing FALSE even tho it should be true!
but again my patch #562 fixes the issue and it returns true as expected no problems

[2021-07-28 14:21] sebhildebrandt commented on #561
@si458 thank you for your response. Checking my code I was sure, that there were more issues with missing returns. This is, why I made other changes ... need to check, why this still does not work ... sorry.

[2021-07-28 14:23] si458 commented on #561
The issue is because it's returning resolve(false) before the exec of the %firmware% has finished...

[2021-07-28 14:26] sebhildebrandt commented on #561
So then the current line 400 (in my code here on github)  should be removed ...

[2021-07-28 14:40] sebhildebrandt commented on #561
@si458 ... sorry forgot to mention you in my answer ... maybe you can have a look on my suggestion in comment above ..

[2021-07-28 14:49] si458 commented on #561
@sebhildebrandt sorry for delay, popped out the office haha!
if i indeed remove line 400 completely it does indeed return true now!
and ive tried it on 3 different computers and all return true!

[2021-07-28 14:50] sebhildebrandt commented on #561
@si458 Thank you so much!!!!! Version 5.7.13 just released.

[2021-07-28 14:57] si458 commented on #561
@sebhildebrandt no no, **thank you** for such an amazing piece of open source software! ❤️

i do have another weird issue with staticinfo taking 6 seconds to process before it carry ons?
even though the staticinfo is a promise so should carry on straight away, but ill open another issue for that...

[2021-07-28 18:47] sebhildebrandt commented on #561
@si458 yes please feel free to open another issue. Best regards.

[2021-07-29 13:41] si458 opened #565 "getStaticData takes 5 seconds to continue other async functions"
**Describe the bug**
when i run getStaticData for some reason other async functions have to wait 5 seconds while it sets up the promise?
even though after other async functions begin there runnings, getStaticInfo is actually running in the background as it takes about 15seconds to get the reply back ?

**To Reproduce**
Steps to reproduce the behavior: - included few extra npm modules to help out w

[2021-07-29 14:59] sebhildebrandt commented on #565
@si458 Simon, thank you for your observation ... Will have a close look on it tomorrow.

[2021-07-29 15:26] si458 commented on #565
i have also tried using a promise instead of calling my custom async function, but thats the same, the websocket seems to wait 5 seconds before connecting, yet if you take away the getstaticdata function, it connects within 1 sec, it seems to be when calling the getstaticdata function every other async/promise function has to wait for it to finish building its list of stuff to do before it runs? i

[2021-07-29 20:46] sebhildebrandt commented on #565
@si458 Hi, I am not sure, if I understand your problem correctly. Can you pleas ether 2 things:

1. I want to make sure, how long the getStaticData would actually take on your machine, using the internal test. Can you pull the whole repo into a new directory

[code]

Then in the test script you should find the ',' which runs `getStaticData()`;
With 'q' you can quit the test environment.

On my com

[2021-07-30 08:57] si458 commented on #565
Hi @sebhildebrandt sorry for delay, night time here haha

I've run it and the test shows 9.234 seconds

And if I remove the nexttick it's down to 8.654 seconds

So it's a little quicker

The issue I'm having is when you run the getstaticinfo all other async/promise functions don't run until after the getstaticinfo promise has been built (I don't mean completed in 9seconds, I mean just built the pr

[2021-07-30 09:02] sebhildebrandt commented on #565
@si458 Thank you Simon!! The quicker run could also be because it just already went through one time ;-) Had the same here, adding / removing nextTick several times then came down to the same duration ...

So, this means, we have a clear duration for how long it takes to complete this. Fine. Did you also try to run your OWN code with the removed nextTick? Do we see any changed behaviour? If not th

[2021-07-30 09:07] si458 commented on #565
yes i did and its the same result so its not the nexttick its a promise issue? im not sure how to get around this
SAMPLECODE:
[code]
[code]

[2021-07-30 09:21] si458 commented on #565
@sebhildebrandt what i have also found is if i comment out `osInfo.versions()` `graphics.graphics()` `network.networkInterfaces()` from the promise it runs withint 500ms now...
but i add back in say `osInfo.versions()` it shoots up to 1500ms,
so the `osInfo.versions()` is taking 1 second on its own

[2021-07-30 09:56] sebhildebrandt commented on #565
@si458 Just to be sure ... what is the cpu load/activity while running the code above ... getStaticData() is quite intense as it tries to run 12 functions in parallel ... and within `si.versions()` 30 `exec`'s are running in parallel ...

[2021-07-30 10:01] si458 commented on #565
@sebhildebrandt it starts out about 5% cpu then jumps to 25% cpu while building the promise then to 96% cpu while actually running all the commands
my VM for testing has Intel 4 core 2.8Ghz (no hyperthread),
but i tried it on another pc which is Intel 4 core 3.2Ghz (no hyperthread) and thats the same,
it sits for 5 seconds while building the promise before running,
it might be i just have to deal

[2021-07-30 10:05] sebhildebrandt commented on #565
@si458 ... not a solution but maybe a workaround ... if you let establishing the websocket (which only takes 15ms?) and then as soon as it is established THEN you trigger running `getStaticData()` ... as this anyway then takes longer on this machine. Would this make sense??

[2021-07-30 10:11] si458 commented on #565
@sebhildebrandt it does indeed make sense, i think i might do down that route for now
it would of just been nice to run the `getStaticData` as the very beginning and carry on doing other stuff,
but the other stuff would still have to wait the 5 seconds before they can run,
maybe it is a CPU issue as shown it does get to 25% then 100%?
thank you again tho 👍 brilliant module ❤️

[2021-07-30 10:28] sebhildebrandt commented on #565
@si458 OK to close it for now? Will still keep an eye on this.

[2021-07-30 11:49] #565 closed

[2021-08-01 09:25] fvbakel opened #566 "system information reports wrong size for L1 caches"
**Describe the bug**
System information reports wrong size for L1 caches. It seems that for datacache the sum of data and instruction cache is reported.

**To Reproduce**
Steps to reproduce the behavior:
1. used function: `systeminformation.cpu`
2. code snippet:

[code]

3. start app / code
n.a.

4. See output/error reports:

**Current Output**

[code]

**Expected behavior**

[code]

Running the c

[2021-08-01 09:45] sebhildebrandt commented on #566
@fvbakel Hi Frank, what does

[code]

report on this machine? Can you provide its output here?

[2021-08-01 09:55] sebhildebrandt commented on #566
@fvbakel ... so I checket it on my machine here:

`lscpu` reports

[code]

while `getconf -a | grep CACHE` reports

[code]

So only L3 cache seems to have the same in both approaches ... I do have a Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz CPU which has due to the specifications. I made a lite research and this CPU has 256 KiB	(8x32 KiB) L1D and L1I cache. Seems that lscpu reports it correctly ...

[2021-08-01 10:18] fvbakel commented on #566
`lscpu` reports:

[code]

`sudo lshw -C memory` has the output:

[code]

[2021-08-01 10:23] sebhildebrandt commented on #566
@fvbakel your `Core™ i7-3520M` should have exactly what lscpu reports ... so this should be OK. What do you think?

Anyway I found a bug in calculation of L2 and L3 cache ... will provide a solution in the next hour ...

[2021-08-01 10:27] sebhildebrandt commented on #566
@fvbakel version 5.7.14 just released ... solving problem with calculation of L2/L3 cache (linux)

[2021-08-01 10:28] sebhildebrandt commented on #566
@fvbakel can you test the latest version again and provide the output here? Just to be sure.

[2021-08-01 10:55] fvbakel commented on #566
Hi Sebastian,

Thanks for your quick response. Unfortunately, I will not be able to test
on short notice, but I will do later.

I think the issue with L1 is in the definition of what L1. Googling the
subject made me come to the conclusion that it is not that simple, that's
why different tools report different values.

Kind regards,

Frank

Op zo 1 aug. 2021 12:28 schreef Sebastian Hildebrandt <
**

[2021-08-01 11:04] sebhildebrandt commented on #566
@fvbakel agree (and thank you for your help).

Currently (with the latest version) `systeminformation` is reporting what is corresponding to the specs for the given CPUs. In your case (`Core™ i7-3520M`) the specs tell:

[code]

So this would be L1I: 64KB, L1D: 64KB, L2: 512KB and L3: 4MB, so `systeminformation` should now report:

[code]

Closing it for now. If you have further comments, ideas, pl

[2021-08-01 11:04] #566 closed

[2021-08-01 11:09] fvbakel commented on #566
Thank you for your quick detailed response and fix! Have a nice day.

Op zo 1 aug. 2021 13:04 schreef Sebastian Hildebrandt <
***@***.***>:

[2021-08-02 16:52] sebhildebrandt commented on #553
Hi @EngAhmedMahmoud
I guess first of all this might also depend on which base image you are using. `alpine` e.g. would have less information as this is one of the tiniest distribution. I tried it on the official `ubuntu`docker image and got the following results:

## System

[code]

Underlying commands:

**Serial:**
[code]

**UUID**
[code]

## OS

[code]

Underlying commands:
[code]

... which mea

[2021-08-02 16:52] #553 closed

[2021-08-03 14:32] sebhildebrandt commented on #559
@chend0316 ... I made a comment to your pull request. Can you have a look on it?

[2021-08-05 15:49] vitor251093 opened #567 "Retrieve system_profiler as XML so you have more info (also, it will be way easier to parse)"
**Is your feature request related to a problem? Please describe.**
At this moment, when retrieving the graphic card, you use the following command:
[code]
That command returns the result in a human readable way, which is not that good for parsing (I'm sure you already noticed that), and also omits some informations.

**Describe the solution you'd like**
Instead, you could use this command:
[code]

[2021-08-06 11:10] plakak opened #569 "Wrong battery capacity in Linux"
Hi @sebhildebrandt, it's me again - the "battery man" :joy:

**Describe the bug**
Wrong battery capacity data on a Linux machine.

**Current Output**
On left what was gathered directly from `uevent`, on right what we get in in systeminformation.
![2021-08-05-133822_1887x438_scrot](https://user-images.githubusercontent.com/13939486/128500055-f4dc4517-3698-4f4f-9f71-0e9322ce18f7.png)

After debuggin

[2021-08-06 13:22] plakak commented on #569
Also I see that `/sys/class/power_supply` shows a bit different results than `upower`. It's worth considering in the future to switch to `upower` for systems that have it as its values are closer to the ones I have in windows on the same machine. On the other hand `/sys/class` is a lower level and should have better info than other tools so 🤷🏻

[2021-08-06 18:35] sebhildebrandt commented on #569
Hi Aleksander, thank you so much for making further investigation. As I am currently on vacation, I can not react as fast as I want (also concerning your pull requests). Hope this is OK.

Best regards!

[2021-08-06 20:37] plakak commented on #569
No worries. Hope you have a great time Sebastian! I'm starting mine in a few days :)

[2021-08-08 05:07] oznu opened #571 "osInfo promise not resolving on Windows (GitHub Actions Windows VMs)"
**Describe the bug**

Hi @sebhildebrandt,

I noticed that as of 5.x the `si.osInfo` call no longer resolves in Windows, at least not when running on the GitHub Actions VMs.

I was unable to replicate this on my own Windows boxes, but am a little hesitant to push out this version to my users when my tests are failing.

**To Reproduce**
Steps to reproduce the behaviour:

Call `si.osInfo` in GitHub a

[2021-08-08 07:53] sebhildebrandt commented on #571
@oznu Thank you for your findings. As I am currently on Holliday and do not really have access to my windows test environment, I am not sure, if I can provide further tests within the next 2 weeks. In this case, please do not push to the latest version. One question: did this also happened with 5.7.x?

[2021-08-08 13:18] oznu commented on #571
This seems to have been introduced in v5.7.4:

v5.0.0 - works: https://github.com/oznu/systeminformation/actions/runs/1110112765
v5.6.0 - works: https://github.com/oznu/systeminformation/runs/3273714665
v5.7.0 - works: https://github.com/oznu/systeminformation/runs/3273725345
v5.7.2 - works: https://github.com/oznu/systeminformation/actions/runs/1110128863
v5.7.3 - works: https://github.com/oznu/s

[2021-08-08 15:31] sebhildebrandt commented on #571
@oznu wow thank you!!! This helps a lot. Will have a Look on it as soon as I am back from holiday. Best regards

[2021-08-11 22:13] Apollon77 opened #572 "SystemError: A system error occurred: uv_interface_addresses returned Unknown system error 2 (Unknown system error 2)"
Sentry calling :-))

https://sentry.iobroker.net/share/issue/58008828beae4de695bd557c5a378567/

[code]

[2021-08-11 22:16] Apollon77 opened #573 "FreeBSD Error: ENOENT: no such file or directory, open '/proc/cpuinfo'"
Another Sentry call ... freebsd :-))

https://sentry.iobroker.net/share/issue/90b41e7c686d4ddd88aac1aa8db2c97d/

[code]

[2021-08-12 22:42] thorsent commented on #521
Closed topic but worth noting for future head scratchers that WMIC.exe is on Microsoft's recommended block list due to it being an attack vector. We've experienced environments where these calls fail to return entirely because WMIC is blocked. We've also experienced environments where these calls seem to be slowed down presumably by Windows Defender or other security systems:

https://docs.microso

[2021-08-13 16:35] sebhildebrandt commented on #573
@Apollon77 will fix it during next week … currently on holiday.

[2021-08-13 20:38] Apollon77 commented on #573
No stress, all good, take a rest and fix afterwards ... was only one user at all

[2021-08-19 08:51] celevra commented on #452
tooked me 8 month, sorry
i get %USERDNSDOMAIN% as fqdn, seems like the variable is not resolved properly
evtl it is in single ticks?

[2021-08-19 09:02] celevra commented on #452
this one seems to function
https://github.com/niftylettuce/get-fqdn/blob/master/src/index.js

it gets the fqdn with os.hostname and a lookup, i don't get it completly but it seems to work on windows

[2021-08-20 14:07] DanielMcAssey opened #574 "inetLatency returns null on Windows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'inetLatency()'
2. code snippet 'this.si
        .inetLatency('8.8.8.8', (res) => {
          console.log('runLatencyTest.success.cb', res);
        })
        .then((res) => {
          console.log('runLatencyTest.success', res);
        })
        .catch((e

[2021-08-20 14:24] #574 closed

[2021-08-24 09:05] rijojoy opened #575 "How can I use this in latest electron app?"
Is there any way I can integrate it with Electron app?

[2021-08-24 15:44] sebhildebrandt commented on #569
@plakak Version 5.8.1 just released. Thank you for your contribution and fix! Can you check the latest version on your side?

[2021-08-24 15:44] #569 closed

[2021-08-24 16:09] sebhildebrandt commented on #572
@Apollon77 fixed, version 5.8.2 just released

[2021-08-24 16:09] #572 closed

[2021-08-24 16:09] sebhildebrandt commented on #573
@Apollon77 fixed. Version 5.8.2 just released

[2021-08-24 16:09] #573 closed

[2021-08-24 21:39] sebhildebrandt commented on #575
@rijojoy ... here a very basic example using electron 13:

**index.html:**
[code]

**main.js**

[code]

**renderer.js**

[code]

[2021-08-24 21:39] #575 closed

[2021-08-24 21:43] sebhildebrandt commented on #567
@vitor251093 thank you for your ideas! I am considering changing this to use JSON (instead of XML) which makes parsing even easier.

[2021-08-25 11:25] plakak commented on #569
Hi @sebhildebrandt!

I'm currently on vacations, will test after 10th of September.

Thanks!

[2021-08-25 11:26] plakak commented on #569
Hi @sebhildebrandt!

I'm currently on vacations, will test after 10th of September.

Thanks!

[2021-08-25 11:28] plakak commented on #569
Hi @sebhildebrandt!

I'm currently on vacations, will test after 10th of September.

Thanks!

[2021-08-25 12:56] sebhildebrandt commented on #569
@plakak take your time, enjoy your holiday! Please after returning back, have a look at my comment in your PR ...

[2021-08-31 04:14] nsshunt opened #576 "processes() inside docker container returns nothing - all empty data and lists"
**Describe the bug**
Running the processes() API call from a node application running inside a docker container on a Ubuntu 20.04 VM (VMWare running on Windows 10) does not list any of the running processes - just returns empty data.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new simple node app with the following code;
const si = require('systeminformation');
si.processes().t

[2021-08-31 04:25] sebhildebrandt commented on #576
@nsshunt thank you for reporting … will have a closer look on it tomorrow.

[2021-08-31 04:33] nsshunt commented on #576
Hi. Just a quick follow up; I tested this on my Mac Book Pro running Docker and OSX "metal" (i.e. no VMs - just native Docker Desktop) - same result - no data ... Cheers, M.

[2021-08-31 05:41] nsshunt commented on #576
Another follow up to try and help;
I used this lib;
https://www.npmjs.com/package/pidusage
And the reporting worked in both non container and container modes.
The difference is that systeminformation when reporting CPU usage would never show over 100% but pidusage does.
Further, pidusage also shows the same CPU% as top and htop linux commands (within a small margin of error).
%'s over 100 meaning

[2021-08-31 21:09] sebhildebrandt commented on #576
@nsshunt made some test inside interactive shell in a ubuntu docker container.

[code]

And I got:

[code]

Also `si.currentLoad()` works:

[code]

...matches values of `top`

So unclear why this does not work on your machine ... maybe you can provide the output of

[code]

inside the docker image?

[2021-08-31 21:24] nsshunt commented on #576
Hi. Thanks for response.

This is what I get inside Ubuntu docker image from above command;

        PID        PPID   %CPU   %MEM   PRI         VSZ         RSS    NI                        STARTED S     TT              USER                 COMMAND
          1           0    0.1    0.0    19        4116        3488     0       Tue Aug 31 21:22:42 2021 S     pts/0           root                 bas

[2021-08-31 21:35] nsshunt commented on #576
Ok so some news ...
When I use **node:16-slim** as the base image for the docker container - nothing is returned
When I use **node:16** as the base image - worked perfectly ...

So ...

My _guess_ is that there is a library dependency that is not loaded by default from the node:16-slim base image.

Hope that helps....

[2021-08-31 21:38] nsshunt commented on #576
Just tried with **node:16-alpine** as the same empty result;

**_{ all: 0, running: 0, blocked: 0, sleeping: 0, unknown: 0, list: [] }_**

So only node:16 works from these three (3) base images ...

[2021-08-31 21:46] nsshunt commented on #576
More digging and some good news...

I tried to run the command you supplied inside **node:16-slim**

**export LC_ALL=C; ps -axo pid:11,ppid:11,pcpu:6,pmem:6,pri:5,vsz:11,rss:11,ni:5,lstart:30,state:5,tty:15,user:20,command; unset LC_ALL**

and got;

**_ps not recognised (i.e. not installed)_**

Inside the **node:16-slim** base image I then installed procps with;

**_apt update
apt install procps_*

[2021-08-31 22:39] sebhildebrandt commented on #576
@nsshunt ... in this case it should the fall back to

[code]

(which should return results) but still it returns an empty list ... here I need to make further research ...

[2021-08-31 22:52] sebhildebrandt commented on #576
@nsshunt I think I have fixed it now also for alpine linux. can you try it on your side? Version 5.8.7 just released.

[2021-08-31 22:59] nsshunt commented on #576
Hi. That was quick :-)

Yes works now with **node:16-alpine**

...but still need to install procps for **node:16-slim** as a dependency - I guess not all libs from procps are required because I seem to recall it installs ncurses with the package - perhaps to support htop or something - not sure ...

[2021-09-01 06:28] sebhildebrandt commented on #576
@nsshunt Reds, without ps there is now way to show process information ...

For your use your case: as node:16-alpine (based on alpine - 112 MB) is anyway smaller than node:16-slim (based on Debian buster - 176 MB) maybe you can consider using alpine ... or you need to install `procps` in your image ...

Closing it for now.

[2021-09-01 06:28] #576 closed

[2021-09-01 07:46] mvarakin commented on #520
Hi! Any news here?

[2021-09-01 08:05] zprjk commented on #525
I'm also getting this issue on Windows.

[code]

[2021-09-01 19:01] sebhildebrandt commented on #567
@vitor251093 I managed to implement the XML parsing part (without dependencies) in < 100 lines. As I am quite busy for the next 7 days, I will try to finish this afterwards. Thank you for hint to use XML.

[2021-09-02 08:23] ibc commented on #521
Thanks a lot @sebhildebrandt

[2021-09-11 15:16] #525 closed

[2021-09-13 06:50] sebhildebrandt commented on #262
@dhiaabdelli ... is this still a problem on your side? Did you tried latest version 5.8.8?

[2021-09-13 10:36] sebhildebrandt commented on #567
@vitor251093 ... what are the properties you would like to see as additional properties in the graphics section?

[2021-09-13 22:25] vitor251093 commented on #567
- The video card chipset name (_name)
- The video card model name (sppci_model), which I assume you already mapped for that first version
- The video card device ID (spdisplays_device-id)
- The video card vendor ID (spdisplays_vendor-id)
- The video card vendor name (spdisplays_vendor)
- The video card bus type (sppci_bus)
- The video card memory size if has a PCI/PCIe bus type (spdisplays_vram)
-

[2021-09-14 12:56] xferra commented on #93
Hello, the same issue with `systeminformation 5.8.9`

MacBook Air, macOS BigSur 11.2.3

`system_profiler`:
[code]

Code:
[code]
Output:
[code]

As you can see **size** is returned in GB.

[2021-09-14 15:57] sebhildebrandt commented on #567
@vitor251093 so I now replaced the old paring method by my new XML parser. Should now return the same results as the previous version plus added properties:

**For  Graphic Devices**
- deviceId
- vendorId
- external
- cores (M1 hardware only)
- metalVersion

**For Displays**
- vendorId
- productionYear
- serial
- displayId

Can you test this on your side (not yet published on NPM but current code

[2021-09-14 15:58] sebhildebrandt commented on #93
@xferra my fault ... sorry. Next npm version will have a corrected version. As I am waiting for one other commit to be testet, the next publishing will take 1-2 days ...

[2021-09-14 19:20] sebhildebrandt commented on #545
@ForeverACE the __current__ method to detect audio devices on linux is calling

[code]

then check if any of those entries is audio related. What is the output of that command on your machines?

Can you also provide the output of

[code]

as well as

[code]

Thank you in advance.

[2021-09-14 23:57] vitor251093 commented on #567
Well, I do have one more suggestion related to this topic, but it's more of a workaround for a common problem. So it may be helpful for people, but it's still a workaround. I can illustrate the problem with my controllers output:

[code]
As you can see, vendorId is not available. That happens in some computers, and I really don't know why. Still, since `vendor` is available, that value can be dete

[2021-09-15 03:23] AnmolChhabra98 opened #580 "Question : Can I use this library in my react app ?"
Hi ,

I am working on a react app which requires some hardware info of users , can this library be used in my react app ?

Thanks,

[2021-09-15 06:16] sebhildebrandt commented on #580
@AnmolChhabra98 if your plan is to use this library client side (inside the browser), then you will not get any hardware information of the client machine . This I of course due tu security reasons. The browser would not allow executing functions to determine exact hardware of the underlying computer. See also documentation: https://systeminformation.io/gettingstarted.html (Core Concept)

[2021-09-15 06:16] #580 closed

[2021-09-15 06:52] sebhildebrandt commented on #567
@vitor251093 I implemented a version based on your data to provide a vendor ID if this is empty. Version 5.9.0 just published.

For the `virtual` issue: this is an awesome idea. Will add this soon.
Closing this for now.

[2021-09-15 06:52] #567 closed

[2021-09-15 06:54] sebhildebrandt commented on #93
@xferra Version 5.9.0 just published. Should fix this problem.

[2021-09-15 09:52] ijamaatlou opened #581 "MemoryType not working on windows 10"
When I call `si.memLayout()` it show type of my memory as **unknown** that my ram type is **DDR4**. I check the source & found in line 512 this code :

`type: memoryTypes[parseInt(util.getValue(lines, 'MemoryType', '='), 10)],`

when I changed **MemoryType** to **SMBIOSMemoryType** , it means this code :

`type: memoryTypes[parseInt(util.getValue(lines, 'SMBIOSMemoryType', '='), 10)],`

it will be

[2021-09-15 10:00] sebhildebrandt commented on #581
@ijamaatlou thank you! I need to check, if this is the same on my machines. I have already an idea how to fix this if also the first one works sometimes ...  will make a fix today.

[2021-09-15 11:02] ijamaatlou opened #582 "memory manufacturer name"
Can we got name of memory manufacturer like [Hwinfo Application](https://www.hwinfo.com/)?
In this application show my ram info like `16 GB PC4-25600 DDR4 SDRAM Crucial Technology BL16G32C16S4B.M16FE1`
with **memLayout** action i got  `manufacturer: "009C0B160000"`.
I want to know that is there any solution to get manufacture name like **Crucial Technology** ?

[2021-09-15 11:20] sebhildebrandt commented on #582
@ijamaatlou what platform??

[2021-09-15 11:22] xferra commented on #93
@sebhildebrandt
Much appreciated for such a quick update!
Unfortunately, I could not confirm that it works as expected in V. 5.9.0.:

Here: https://github.com/sebhildebrandt/systeminformation/blob/master/lib/filesystem.js#L1040
<img width="555" alt="Screenshot 2021-09-15 at 14 14 36" src="https://user-images.githubusercontent.com/674129/133423816-4d77fb9e-14b4-4b56-b55f-0285227c386f.png">

[code]

[2021-09-15 11:37] sebhildebrandt commented on #93
@xferra ... hmmmm

If I do the following in `node`:

[code]

(last line is currently what happens in line 1040)

then I get 121332826112 ... (not just 121)

I am a little irritated, why this does not the same on your machine...

What if you replace line 1040 with

[code]

(means replacing ALL whitespaces with empty string)

Will it work then??

[2021-09-15 12:18] ijamaatlou commented on #582
Sorry that i dident mention platform on my first comment(I'm new on commenting github!)
My platform is  WINDOWS 10
Version of code is 5.8.9

[2021-09-15 12:24] xferra commented on #93
@sebhildebrandt

It works when I test it in a nodejs console, but not while debugging, heh. Then I've checked:
[code]
So, the proposed solution is:
[code]

[2021-09-15 13:17] sebhildebrandt commented on #582
@ijamaatlou thank you, can you please try to run the following command (command line):

[code]

and from PowerShell

[code]

Then I can see more of the underlying data we get back from windows. Thank you in advance!

[2021-09-15 13:21] sebhildebrandt commented on #93
@xferra thank you!!! Exactly what I expected ;-) So I hope new (just published) version 5.9.1 fixes this ;-)

[2021-09-15 13:39] sebhildebrandt commented on #582
@ijamaatlou one more thing: I found a mapping to JEDEC IDs but there your ID `"009C0B160000"` would match with `Samsung` as a manufacturer ... can check, if the chips are maybe Samsung chips?

[2021-09-16 04:56] ijamaatlou commented on #582
Response for this command  **wmic memorychip get /value**

[code]

and response for this **et-WmiObject CIM_PHYSICALMEMORY**

[code]

[2021-09-16 05:00] ijamaatlou commented on #582
@sebhildebrandt the brand is [cucial ](https://www.crucial.com/memory/ddr4/ct2k16g4sfd832a) but I didn't see any samsung name in specification or any description

[2021-09-16 05:23] sebhildebrandt commented on #582
@ijamaatlou thank you ... so the underlying data that we get from Windows is not really telling us more. I will think how I can integrate a search table to determine `manufacturer` if this is in the specific list. Will come back, as soon as I have a solution for this.

[2021-09-16 06:13] sebhildebrandt commented on #581
@ijamaatlou This should be fixed now. Reflecting both values (`MemoryType` and `SMBIOSMemoryType`). Version 5.9.2 just published. Can you test it on your side?

[2021-09-16 06:14] #581 closed

[2021-09-16 06:16] sebhildebrandt commented on #567
@vitor251093 just published a new version (5.9.2) with improved XML parsing (I had some minor issues on 2 of my macOS machines). If you discover more issues just feel free to comment here.

[2021-09-16 06:51] ijamaatlou commented on #581
@sebhildebrandt Yes! It works like a charm. thanks for your support 👍

[2021-09-16 07:20] sebhildebrandt commented on #581
@ijamaatlou thank you for reporting and your final test!

[2021-09-16 07:39] sebhildebrandt commented on #407
@GrumpyCrouton I still dit not manage to install Windows on my Rasperries ... maybe I am to stupid :-(
Still this is an open issue ... can you lead me to a way how to install windows on Raspberry easily?

[2021-09-16 15:58] StrangerGithuber opened #583 "Average number is 0 for CPU"
**Describe the bug**
I am trying to get in real time the cpu usage statistic, ram usage statistic, HHD/SSD usage statistic and internet usage statistic.
When I am trying to get the avg load for the cpu then it is 0 everytime. I did request the currentLoad but it is not correct with the task manager.

**To Reproduce**
Steps to reproduce the behavior:
1. I installed the systeminformation package
2.

[2021-09-16 16:06] sebhildebrandt commented on #583
@StrangerGithuber as described in the docs (https://systeminformation.io/processes.html), `avgLoad`is currently not supported for windows. If you have an Idea, what value would be appropriate for that (and how to get this), I would of course consider to implement and add this here.

[2021-09-16 17:10] StrangerGithuber commented on #583
Ah ok. Unfortunately I can't say much how it should be done. I am not a pro programmer sadly. I hope someone can give a suggestion for you. :)

[2021-09-17 06:54] sebhildebrandt commented on #552
@lportanel version 5.9.3 just published. Should now fix this problem. Can you test it on your side? Thank you so much!!

[2021-09-17 06:54] #552 closed

[2021-09-19 16:48] BitesPotatoBacks commented on #583
@sebhildebrandt if you're fine with 3rd party node modules, you could try using
[this node module](https://www.npmjs.com/package/loadavg-windows) I found.

And then do some variable and if statement trickery to differentiate the _windows loadavg_ code from the _Unix loadavg_ code, use the _windows loadavg_ only if the OS equals some version windows, or something like that

It'd probably the best w

[2021-09-20 06:21] sebhildebrandt commented on #583
@BitesPotatoBacks Thank you, I already thought of implementing it the same way ... there is only one downside, As this has to keep its own stats (for the last 15 min) you need to call this regularly to get correct values. I still think that having it this way is better then nothing ;-) ... will try to come up with a solution as soon as I have time for it.

[2021-09-20 14:45] ForeverACE commented on #545
@sebhildebrandt , the Raspberry Pi 4 that I originally used isn't currently available but, I can provide the outputs of a RPi Compute Module 3+ and a RPi-3B (see below).

### Raspberry Pi Compute Module 3+ (RPi-CM3+)
1. The **lspci** command had no output.

2. Output of **lsusb**:
[code]

3. Output of **aplay -l**:
[code]

### Raspberry Pi 3B (RPi3B)
1. The **lspci** command had no output.

2. Out

[2021-09-22 19:49] julianrinaldi opened #584 "Memory usage is reporting backwards - free memory is showing used memory"
**Describe the bug**
I'm using [system-bridge](https://github.com/timmo001/system-bridge) which uses systeminformation. My free memory is showing the used memory instead of the free memory. The developer says its an issue with systeminformation and not their program. [https://github.com/timmo001/system-bridge/issues/840](https://github.com/timmo001/system-bridge/issues/840)

**Expected behavior**

[2021-09-22 20:17] sebhildebrandt commented on #584
@julianrinaldi thank you for reporting. I checked my code but my feeling is that the code is correct.

Can you provide the output of

Command line:
[code]

From nodejs:
[code]

and using systeminformation:

[code]

[2021-09-22 20:26] sebhildebrandt commented on #584
@julianrinaldi this is what I have e.g. on one of my machines:

[code]

From systeminformation:

[code]

Node.js:

[code]

Values varies slightly because not gathered at exact the same time. But still this should be fine...

[2021-09-22 20:27] julianrinaldi commented on #584
This is what I'm seeing for the first command. I'll have to figure out how to do the other commands and get back to you later today. But in this screenshot the MemFree looks to be way off.

![CleanShot 2021-09-22 at 16 24 06](https://user-images.githubusercontent.com/492435/134416607-4151e26b-561c-42e9-9072-cffe2ad7ac50.png)

[2021-09-22 20:42] sebhildebrandt commented on #584
@julianrinaldi ... so the screenshot if from the project you where talking (system-bridge)? As I do not know which numbers the graphs actually take, I cannot judge on that. But based on your first post and the `/proc/meminfo` the numbers that systeminformation provide are correct.

[2021-09-22 20:45] julianrinaldi commented on #584
What is MemFree showing? It's not showing total memory free? It looks like MemAvailable is showing the correct number that I'm looking for.

[2021-09-22 20:54] sebhildebrandt commented on #584
@julianrinaldi what I mean: you see the same values in `cat /proc/meminfo` and the values that `systeminformation.mem()` returns. To be more specific:

- **MemFree**: the amount of physical RAM, in kilobytes, left unused by the system.
- **MemAvailable** :  is an estimate of how much memory is available for starting new applications, without swapping.

This is what you also get back from systeminf

[2021-09-22 20:59] julianrinaldi commented on #584
Yes. I think the developer should be using the MemAvailable value instead of the MemFree value.

[2021-09-22 21:03] sebhildebrandt commented on #584
@julianrinaldi ... agree ... still the question is, what data Linux Mints system information is using and in which way. I am confident, that they rely on the same `/proc/meminfo` but unclear what calculation they are using. If they would just take MemTotal - MemAvailable as an estimation of USED memory then this would be 1.83 GiB (not the shown 1.4 GiB) ...

So as we provide all the raw data in sy

[2021-09-22 21:05] julianrinaldi commented on #584
Yes, it doesn't look like a bug on your side. Thanks for the help and sorry about the confusion.

[2021-09-22 21:05] #584 closed

[2021-09-22 21:06] sebhildebrandt commented on #584
@julianrinaldi always welcome. Thank you for your support!

[2021-09-23 08:12] vitalipf opened #585 "memRss is wrong on M1"
**Describe the bug**
Processes memRss is reported as 10 times lower than in Activity Monitor.

**To Reproduce**
var si = require('systeminformation');
si.processes()
  .then(processes => {
    console.log(processes.list[0].memRss);
  });

**Current Output**
The value is 10 times lower than expected.

**Expected behavior**
Somewhat close to the number in Activity Monitor.

**Environment (please com

[2021-09-23 08:19] vitalipf opened #586 "CPU usage for the processes is wrong on Windows"
**Describe the bug**
CPU usage for individual processes is reported around 0%. It seems broken starting with the version 5.8.0. It is ok in 5.7.14.

**To Reproduce**
var si = require('systeminformation');
si.processes()
.then(processes => {
console.log(processes.list[5].cpu);
});

**Current Output**
Around 0% always.

**Expected behavior**
Real CPU usage for the process like in Task Manager.

**En

[2021-09-23 13:08] sebhildebrandt commented on #585
@vitalipf thank you so much ... discovered the same also for memRss ... fixed both now. Version 5.9.4 just published.

[2021-09-23 13:08] #585 closed

[2021-09-23 13:13] sebhildebrandt commented on #586
@vitalipf thank you, need to go deeper into that. This came from a pull request and I have to make an investigation, how to fix this again and also tackle the problem that the contributor wanted to solve. Will take a week, do not have time the next 3-4 days.

[2021-09-27 06:11] vitalipf commented on #585
Thank you for a quick fix.
Taking into account https://github.com/sebhildebrandt/systeminformation/issues/586, is it possible to integrate the memRss fix into 5.7.x?

[2021-09-27 06:27] sebhildebrandt commented on #585
I will try to tackle #586 as soon as possible, I guess this would be the better way .. If I cannot solve this within 1-2 days, I will just revert the pull request and publish a new version. Then I have time to concentrate on what the pull request wanted so solve separately.

[2021-10-01 04:57] ericmurrayclear opened #587 "Is wificonnections txRate the same as speed in network wifi"
Hi  Under wificonnections there is a txRate is the the wifi speed or should I be using networkInterfaces >  iface: 'Wi-Fi' > speed ?
They both give different values so wondering which I should be using for wifi speed.

[2021-10-01 06:29] sebhildebrandt commented on #587
@ericmurrayclear
- `networkInterfaces()`- `speed` will show you the the signed speed of a certain interface
- `wifiConnections()`- `txRate` will show you how good the connection is (WIFI only property) ... this can differ from the designed speed as this depends on where your hotspot is located.

Concerning `networkLatency()` here I do not understand your question.

One more thing:

can you provide

[2021-10-01 07:29] chapster11 opened #588 "networkLatency based on ip4 address"
Thank you for this great package.
I'm looking into using networkLatency but unsure if I should be supplying it with my wifi ip4 address or leave it blank to get my wifi network latency.

OS version: Windows 10 64 bit OS
systeminformation version: 5.9.4

Here is an example of my ip4 from networkInterfaces.

**networkInterfaces:**

[code]

**wifiConnections**
[code]

**second question:**
**networkIn

[2021-10-01 07:47] sebhildebrandt commented on #588
@chapster11 ...
First a short answer to `networkInterfaces()` and `wifiConnections()`
sorry .. I mean "designed" (max) speed ... Your interface can then go up to this speed but in case of a WIFI interface the actual connection speed (wifiConnections/ txRate) depend on the router, positioning, etc...

About network `inetLatency()` ... this function is NOT about network interfaces. It checks your in

[2021-10-01 16:27] sebhildebrandt commented on #588
@chapster11 can we close this issue?

[2021-10-01 16:31] chapster11 commented on #588
Yes I'm closing this ticket. Thanks for the help.

[2021-10-01 16:31] #588 closed

[2021-10-05 06:47] Digitum opened #589 "Linux/Ubuntu Server 20.04 - Display list is empty systeminformation::graphics():displays[]"
**Empty list of displays in 'grahics' module**

When fetch display list on Windows10, it returns correct array of displays. When run on Linux/Ubuntu server 20.04.3, with sudo privileges, it responds with empty array. Display shows information.

**To Reproduce**

Steps to reproduce the behavior:

Tyescript:
[code]

On windows, array with information is shown. On Linux, no information is shown.

**E

[2021-10-05 13:54] sebhildebrandt commented on #589
Hi @Digitum, the question is, is there any windows manager installed on your linux installation? Only then I can detect displays (currently).

Can you provide the output of:

[code]

If you know any other possibility to detect displays, please let me know.

... and about my coffee preferences ... home brew coffee is still the best ;-) ... but I have a link to https://buymeacoff.ee/systeminfo ...

[2021-10-05 16:29] mirrorlink opened #590 "CurrentRefreshRate not working"
**Describe the bug**
It seems that the currentRefreshRate is not working, coming as undefined

**To Reproduce**
[code]

**Current Output**
undefined

**Expected behavior**
60

**Environment (please complete the following information):**
windows 10
package version 5.9.4

**Additional context**
wmic path win32_VideoController get CurrentRefreshRate

returns the correct values

[2021-10-05 17:15] sebhildebrandt commented on #590
@mirrorlink thank you for reporting ... do you have just one controller or more than one? can you provide the full output of

[code]

I know you already stated that this provides the correct value ... just wanted to be sure to see the full output.
Thank you in advance!

[2021-10-05 17:18] mirrorlink commented on #590
No problem! I do have multiple controllers and multiple displays. here it is

[code]

I testes on MACOSX too, and on mac is fine (but i have a single monitor there)

[2021-10-05 17:21] sebhildebrandt commented on #590
@mirrorlink thank you so much! will try to find out where the problem is as it should get the refresh rate exactly from this value ... will try to work on it tomorrow when I have access to my windows machines...

[2021-10-05 17:29] mirrorlink commented on #590
Thank you! I'm gonna use it to properly solve the problem with my game, Wirewalk()

https://store.steampowered.com/app/1636700/Wirewalk/

I need to know the FPS as to step Box2D physics accordingly. Currently im measuring it with rAF but it can be so imprecise. I'm afraid maybe it will lead to misleading fps on some people, making the game very slow or very fast.

[2021-10-05 21:26] sebhildebrandt commented on #590
@mirrorlink one more thing, can you then provide also full output of:

[code]

Thank you so much ...

[2021-10-05 22:21] sebhildebrandt commented on #590
@mirrorlink ... some thoughts:

- well yes, the currentRefreshRate is something, that WMIC returns on the controller level which is anyway strange because - as in your case - if you have two monitors, this might be no correct information.
- seeing your output I am wondering where the line `"refreshRate": 60,` in the controllers come from ... did you made changes to your local systeminformation cod

[2021-10-06 04:56] sebhildebrandt commented on #590
@mirrorlink ... ahhh missed the line 847 ;-) ... ok, this was intentionally because having ONE monitor per controller then the value would make kind of sense... in case of more than one, this is not really the correct way. If you find a way to pick up data from dxdiag without writing to a file (even if this is just a sample snippet code) I would be happy if you can share it. I will then make sure

[2021-10-07 05:34] Digitum commented on #589
Super!

/Odd

Den tors 7 okt. 2021 kl 07:32 skrev Sebastian Hildebrandt <
***@***.***>:

[2021-10-07 14:29] SanArGuz opened #591 "si.users() return an extrange character instead of ñ"
si.users() is not able to manage 'ñ' character and is returning a strange symbol '�'

**Current Output**
`users
[   { user: 'nancy.mu�oz',
    tty: '',
    date: '2021-07-10',
    time: '09:06',
    ip: '',
    command: '' } ]`

**Environment :**
 - systeminformation package version: 5.9.4
 - OS: Windows 10 pro Spanish language
 - Hardware: AMD Ryzen 5 2400g
 - Node Version: 10.24.1

[2021-10-07 16:39] SanArGuz commented on #591
@sebhildebrandt Sure, I will be pending

[2021-10-07 19:09] sebhildebrandt commented on #591
@SanArGuz I made a small change now. Can you grab the code here from GitHub and replace your local `node_modules/systeminformation/lib/users.js` with the one here on GitHub. Can you then try to test it again?

I just want to know, if this helps ... as I do not have access to my windows machine right now, that would be helpful.

Best regards and thank you in advance.

[2021-10-08 07:05] OmgImAlexis opened #592 "WSL2 not being detected as virtual"
**Describe the bug**
While running this library in a WSL2 environment `system.virtual` is `false`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install WSL2
2. Use `si.system()` and notice the `virtual: false`

**Current Output**
[code]

Checking if `kernel` ends in `WSL2` should be a good enough check for this.

[2021-10-08 07:15] OmgImAlexis commented on #391
Duplicate of https://github.com/sebhildebrandt/systeminformation/issues/211

[2021-10-08 08:51] OmgImAlexis opened #593 "Converting to ts and promises?"
Wanted to discuss moving over to typescript and possibly a code cleanup as I'm noticing a lot of the code is heavily nested using a lot of callbacks.

[2021-10-08 09:03] OmgImAlexis opened #594 "isCharging typo"
https://github.com/sebhildebrandt/systeminformation/blob/e43559710087f9ac0542bfe9b2f0d1a4ddc8a656/lib/battery.js#L55

This line should be using `isCharging` not `ischarging`.

[2021-10-08 09:04] OmgImAlexis commented on #593
Sounds good to me. 👍

Could you close and ping me in this issue once that branch is up?

[2021-10-08 09:11] #594 closed, assigned to nobody

[2021-10-08 09:29] OmgImAlexis commented on #592
[code]

[2021-10-08 09:41] #592 closed

[2021-10-08 14:47] mirrorlink commented on #590
Hey! you were correct. I could not find a way either. I've looked for some third party softwares that say they do that but havent testes any.

But all in all, I found it to be too risky. What I end up doing was to use setTimeout instead of requestAnimationFrame for monitors which I detect >64fps (timing requestAnimationFrame). It doesnt look as good but at least It seems more reliable :/

[2021-10-08 14:49] #590 closed

[2021-10-08 23:56] chlorophant opened #595 "Upgrade si.processes to return what cores the process is currently running on"
I need the ability to know what cores a process is running on

It would be super cool if si.processes() returned which cores both physical and logical that a process is currently running on

as far as I can tell there are not many (no?) good alternatives for windows for consumer node apps

I'm trying to create an electron task manager to visualize CPU usage and a part of that is showing what cpus

[2021-10-09 01:22] OmgImAlexis opened #596 "Typo with POWER_SUPPLY_ENERGY_FULL_DESIGN"
https://github.com/sebhildebrandt/systeminformation/blob/9ba20d04c915e94733699772b16ebe369e03c7e8/lib/battery.js#L123

Shouldn't this be `util.getValue(lines, 'POWER_SUPPLY_ENERGY_FULL_DESIGN', '=', true, true)` since `=` is the separator.

[2021-10-09 02:15] OmgImAlexis opened #597 "Typo in "Thynk you for your understanding.""
Should be "Thank" instead of "Thynk".

https://github.com/sebhildebrandt/systeminformation/blob/6b4b5e9f196d3e357b9b28914ef232b9ce8cf98f/docs/changes.html#L168

[2021-10-09 05:50] sebhildebrandt commented on #596
@OmgImAlexis ... thank you - my fault - fixed! Version 5.9.7 just released.

[2021-10-09 05:50] #596 closed

[2021-10-09 05:50] sebhildebrandt commented on #597
@OmgImAlexis ... thank you - my fault - fixed! Version 5.9.7 just released.

[2021-10-09 05:50] #597 closed

[2021-10-09 05:57] sebhildebrandt commented on #595
@chlorophant Question: any idea how to determine on what core a process is running on windows? What I found so far is not promising: With windows internal tools it seems to be not possible to identify the core for a certain process.

For Linux there seems to be a way to do that even though most processes have multiple threads. And threads are what are sent to cores for processing, not processes...

[2021-10-09 06:15] OmgImAlexis opened #598 "Releases page is missing a lot of the new versions"
https://github.com/sebhildebrandt/systeminformation/releases only has up to `v5.9.4`

[2021-10-09 06:24] sebhildebrandt commented on #591
@SanArGuz I tried one more thing here ... can you try to grab the most recent code from GitHub and replace those two files where I made my modifications:

[code]

Does this solve the problem?

[2021-10-09 06:26] sebhildebrandt commented on #598
@OmgImAlexis forgot to push also tags ...fixed at least for all new versions

[2021-10-09 06:26] #598 closed

[2021-10-09 07:13] sebhildebrandt commented on #520
@mvarakin  ... i have refactored wmic that it should now support UTF8 characters. As I want to have confirmation that this works before publishing it to npm, can you test all functions on your side? Easiest way would be to close from GitHub and run tests like so:

[code]
then go through all tests and see if results are fine on your side.

Thank you in advance!

[2021-10-09 07:14] sebhildebrandt commented on #548
@aleksey-hoffman   ... i have refactored wmic that it should now support UTF8 characters. As I want to have confirmation that this works before publishing it to npm, can you test all functions on your side? Easiest way would be to close from GitHub and run tests like so:

[code]
then go through all tests and see if results are fine on your side.

Thank you in advance!

[2021-10-09 08:27] sebhildebrandt commented on #592
@OmgImAlexis I improved WSL version detection (better detection of WSL1 and WSL2 based on kernel version). In `version`, you should now find `2` (as WSL here is redundant). And WSL1 installations will now find `1` here ... just for information

[2021-10-09 16:45] sebhildebrandt commented on #548
@aleksey-hoffman thank you for testing ... after hours of making tests here I now know, why this is not working properly. I need to rewrite some things here to get proper results. At least I now have a path to go ... :-)

For block devices I already made the changes that should work (hopefully) ...

Can you once again test this? The modified code is again only here on GitHub. I changed `lib/utils.

[2021-10-09 18:56] sebhildebrandt commented on #591
@SanArGuz thank you once again, will implement an alternate solution based on the respective Win32_... classes end of next week. Here I am pretty sure, that we then can solve the problem. Sorry for the inconvenience. Not easy to get a solution ...

[2021-10-09 18:58] SanArGuz commented on #591
@sebhildebrandt thanks to you for all the effort

[2021-10-09 19:15] aleksey-hoffman commented on #548
@sebhildebrandt yep, it's working now

[2021-10-09 20:55] OmgImAlexis opened #599 "Tests?"
I'd like to add some actual tests to version 6. This way we can be sure the internal code works.

[2021-10-09 20:59] OmgImAlexis opened #600 "Slow WMIC queries"
@sebhildebrandt have you looked into `WBEM_FLAG_RETURN_IMMEDIATE` and `WBEM_FLAG_FORWARD_ONLY` for speeding up WMIC commands?

https://docs.microsoft.com/en-us/windows/win32/wmisdk/improving-enumeration-performance?redirectedfrom=MSDN

[2021-10-09 20:59] OmgImAlexis commented on #407
I've opened an issue regarding the slow WMIC queries a few of you mentioned.

https://github.com/sebhildebrandt/systeminformation/issues/600

[2021-10-09 21:07] OmgImAlexis commented on #346
Currently on Windows 10 and I have my main monitor set to 4k with a scale of 200%, my second is set to 1440x900 with 0 scaling.

<details>
    <summary><code>wmic path win32_VideoController get /value</code></summary>

[code]
</details>

<details>
    <summary><code>wmic path win32_desktopmonitor get /value</code></summary>

[code]
</details>

<details>
    <summary><code>powershell Get-CimInstanc

[2021-10-09 23:17] sebhildebrandt commented on #346
@OmgImAlexis interesting output ...

- I wonder why `wmic path win32_desktopmonitor get /value` just reports ONE monitor
- also interesting is that `powershell Add-Type -AssemblyName System.Windows.Forms; [System.Windows.Forms.Screen]::AllScreens` returns an error ...

Any ideas?

[2021-10-09 23:25] OmgImAlexis commented on #346
Could this be because I'm using two different output types? I have the 4k one using displayport and the other using DVI. 🤔

Found the issue. Needed to have the assemblies loaded.

[code]

[2021-10-09 23:33] sebhildebrandt commented on #346
@OmgImAlexis so and what would be the output from systeminformation?

[code]

Is there also a need on your machine to load assemblies first? Do I need to include this to the script (graphics.js, line 776)?

[2021-10-09 23:43] sebhildebrandt commented on #346
@emmkimme ... two things:

- I guess it is possible to set the `positionx` for the monitors in scaled environments correctly, will come up with a solution
- and for the scaling, not sure if I can add this correctly... need to work on it.

[2021-10-10 02:49] OmgImAlexis commented on #346
Here's the output from the js snippet you posted.

[code]

[2021-10-10 02:51] OmgImAlexis commented on #346
Interestingly Windows "Display settings" shows my 4k as monitor 1.

![image](https://user-images.githubusercontent.com/6525926/136679608-102192a2-0bf3-45b1-a966-c06846f5f93c.png)

[2021-10-10 02:52] OmgImAlexis commented on #346
Not sure. I **did** need it when I ran the commands manually in terminal/powershell.

[2021-10-10 04:45] OmgImAlexis opened #601 "Typo "Workarround""
There's quite a few times this happens. It should be "Workaround" not "Workarround".

https://github.com/sebhildebrandt/systeminformation/blob/913d6b53628eb6da834b2fb151acb0b403d5e080/docs/security.html#L65

[2021-10-10 07:26] sebhildebrandt commented on #600
@OmgImAlexis thank you for pointing me to this! First research about that:
- `WBEM_FLAG_RETURN_IMMEDIATE` seems to be enabled by default
- `WBEM_FLAG_FORWARD_ONLY ` is not enabled ...
but at the moment unclear how to pass it into a powershell command ... current idea is to create a special function for that. Need make some experiments ... I anyway need to refactor mostly all WMIC calls ...

So as

[2021-10-10 07:32] sebhildebrandt commented on #601
@OmgImAlexis ... fixed, website deployed with corrections. Thank you!

[2021-10-10 07:32] #601 closed

[2021-10-15 09:41] wj007881 opened #602 "It doesn't return currentRefreshRate when I use si.graphics() to get graphics information with two monitor."
**Describe the bug**
It doesn't return currentRefreshRate when I use si.graphics() to get graphics information with two monitor.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.graphics()'
2. code snippet '(si.graphics()
  .then(data => res.send(data))
  .catch(error => res.send(error))
  )'
3. start app / code
4. See output/error '....'

**Current Output**
{
    "controlle

[2021-10-15 09:48] sebhildebrandt commented on #602
@wj007881 thank you for your findings. Yes this is true, but unfortunately in windows (wmic) the current refresh rate is a property of the controller and therefore it is not reliable, if there are two monitors connected. See also the discussion in #590 ... What I could do, is putting this single value (from the controllers) to all displays to have at least some information here but as said, this i

[2021-10-17 08:05] OmgImAlexis commented on #593
@sebhildebrandt could you setup the v6 branch today?

[2021-10-17 08:09] OmgImAlexis commented on #593
@sebhildebrandt no worries, just wanting to get working on it. 👍

[2021-10-17 08:10] OmgImAlexis commented on #593
Guessing once that's it we'll do a code freeze until we've converted it to ts?

[2021-10-17 21:53] OmgImAlexis commented on #593
@sebhildebrandt any updates on the plan yet? 😃

[2021-10-18 03:30] wj007881 commented on #602
I don't have idea about wmic,
I think you can use this tool to get monitor information 'https://www.nirsoft.net/utils/dump_edid.html',
It output like this:
DumpEDID v1.07

Copyright (c) 2006 - 2018 Nir Sofer

Web site: http://www.nirsoft.net

*****************************************************************

Active                   : No

Registry Key             : DISPLAY\LEN4094\4&29f2c365&0&UID

[2021-10-18 21:26] OmgImAlexis opened #604 "OS specific exports"
**Is your feature request related to a problem? Please describe.**
When bundling my app for distribution we bundle up all the deps into a single js. Because of how this library is written we end up including all the non linux code. The issue with that is we only support linux so we're shipping a lot of extra code with no real benefit.

**Describe the solution you'd like**
A way to use `import si f

[2021-10-21 14:16] SanArGuz commented on #591
@sebhildebrandt Yes, now is working correctly, the error is fixed.
Thanks!

[2021-10-23 20:36] iabdo9 opened #606 "Getting wrong information about the CPU"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'cpu()'
2. start app/code With i5 4590 CPU
3. Output Will Be (Object):

{
  manufacturer: 'Intel®',
  brand: 'Core™ i5-4590',
  vendor: 'GenuineIntel',
  family: '6',
  model: '60',
  stepping: '3',
  revision: '15363',
  voltage: '',
  speed: 3.3,
  speedMin

[2021-10-26 16:04] #606 closed, assigned to nobody

[2021-10-27 15:05] xavier-deryckere opened #608 "On Windows, screen resolution is not retrieved (when multiple screens)"
Windows 10 - 2 screens - systeminformation 5.9.8

lib/graphics.js

si.graphics()
=> function parseLinesWindowsDisplaysPowershell

const bounds = util.getValue(linesScreen, 'Bounds').replace('{', '').replace('}', '').split(',');

Actual format of the bounds is like:
    'Bounds       : {X=0,Y=0,Width=1536,Height=960}'
with '=' as a separator inside the data.

As a consequence the following fields c

[2021-10-27 20:07] #608 closed, assigned to nobody

[2021-11-01 07:58] sebhildebrandt commented on #593
Very bad timing ... Sick since Saturday evening and currently not able to work. Feeling very poorly at the moment. Will complete transition as soon as I feel better....

[2021-11-01 11:38] LeeCheneler commented on #453
You're right `osx-temperature-sensor` doesn't seem to support M1 temperature sensors. This is because it uses SMC to obtain the values and SMC is not on M1 as its an Intel thing I believe.

I could obtain them using this https://github.com/fermion-star/apple_sensors. You need to compile and run it and then It returns the values of all temperature sensors as a stream to stdout. Looking at the imple

[2021-11-01 14:29] BitesPotatoBacks commented on #453
@LeeCheneler @sebhildebrandt Here's an easy way it can be done with a binary...

[code]
[The binary from this repo](https://github.com/andreivdev/coolm1/tree/main/contents/resources/bin) is a pretty good one. It uses a modified fermion-star/apple_sensors.

Just be aware that if you want to split the binary's dirty output into an array, say using `(stdout).split("_")`, the last item in the array wi

[2021-11-01 14:38] BitesPotatoBacks commented on #453
Also, to keep pulling from SMC for Intels but use a different method for Apple Silicon, you could have an if statement to check the system arch using `os.arch()`. If it returns `x64`, use the traditional SMC method. Otherwise, if it gives `arm64`, we know it's Apple Silicon, so then use whatever other method to grab the temp sensor values.

[2021-11-02 16:35] MariaCamilaCubides opened #610 "networkInterfaces() returns question character instead of ó"
**Describe the bug**
Hi. I am trying to find out all the interfaces from a device that has selected Spanish as the default language, but the response has a question character instead of ó. I tried to solve it by sending the command through utils.powershell() to use the OutputEncoding that you add recently but it doesn't work.
**To Reproduce**
Steps to reproduce the behavior:
1. Run npm run test
2.

[2021-11-03 03:25] sebhildebrandt commented on #610
@MariaCamilaCubides thank you for reporting ... currently ill, will work on it as sonn as I have recovered. One question: which command you tried to send to `util.powershell()`? Thank you in advance.

[2021-11-03 08:13] jcindex opened #611 "multi PowerShell process crashed"
**Describe the bug**
After the command executed by PowerShell under Windows 10 is completed, it does not exit PowerShell in time, resulting in full CPU during cyclic sampling and system crash

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'si.mem()' or 'si.fsSize()'
2. code snippet 'si.mem()' or 'si.fsSize()'
3.
4. See output/error
![image](https://user-images.githubuserconten

[2021-11-03 08:19] jcindex commented on #611
After testing, 'si.mem()' contains the paging file information read from the disk, and 'se.fsSize()' itself reads the disk information. This indicates that the above problems may occur as long as the disk information is read.

[2021-11-03 08:55] sebhildebrandt commented on #611
@jcindex currently I am ill but I will try to focus on that as soon as I have recovered ...

[2021-11-03 13:30] MariaCamilaCubides commented on #610
Hi @sebhildebrandt. I tried sending this command `util.getWmic() + ' nic get /value'` and also I tried through the function `util.wmic()` sending the command `nic get /value`, but both responses were with the question character.

[2021-11-03 13:48] sebhildebrandt commented on #610
Thank you @MariaCamilaCubides , quite clear. I guess I know what the problem is. Will try to find a solution as soon as I am fine again.

[2021-11-04 11:58] jcindex commented on #611
Take care of your health. I will always pay attention to your reply!

[2021-11-07 03:18] OmgImAlexis commented on #593
@sebhildebrandt if you’re still not feeling the best is there anything I can help with?

[2021-11-07 10:03] si458 commented on #611
@sebhildebrandt im also noticing this sorta issue when calling `users()`
before the WMI refactor it was using next to no CPU usage, now every time i call it (every 5 seconds) im seeing very HIGH cpu usage from powershell and its taking about twice a long to return the results

take care of your health first though

[2021-11-07 18:49] sebhildebrandt commented on #593
@OmgImAlexis Thank you so much for asking! Still not recovered (now whole family also ill) ... as said, touched every file, did a lot of restructuring but not finished with it. As soon as I feel better I need to see when I can concentrate on finishing this transition. In the meanwhile I do not think it would make that much sense if you work on it in parallel as we would get completely out of sync.

[2021-11-07 19:27] OmgImAlexis commented on #593
@sebhildebrandt hope you all pull through.

That's unfortunate. I had been hoping from the start to help as I feel this would have been done in a few days instead of the month it's taken. Don't really have all the much time now as my holidays are over. Had hoped while my holidays were on I could have done this as I originally said..

[2021-11-08 07:45] sebhildebrandt commented on #611
@si458 ... Thank you for your findings. Besides the general PowerShell problem... for the `users()` it seems that I have to make a decision between a faster implementation OR supporting UTF8 characters. As all my tests and researches showed, Windows will not give me a way to have both at the same time when using it inside node.js (which is a little bit frustrating). Anyway, I will first need to co

[2021-11-08 09:56] si458 commented on #611
@sebhildebrandt i believe the issue with the `users()` is because of the move to powershell because i also experience the same issue here when i look at processexplorer, nodejs is running `powershell` to then run `cmd` but it seems the powershell never closes? it stays open?

[2021-11-08 10:01] sebhildebrandt commented on #611
@si458 I understand ... this is what I am investigating right now. I am currently trying to create a better `powerShell` implementation, and I hope to be able to solve this. I used the same powerShell version for quite long now in other commands without being aware of any issues (at least no one reported back to me). Will report here, as soon as I have a solution... once again thank you for report

[2021-11-08 10:03] si458 commented on #611
@sebhildebrandt good luck! hope you better too, any testing, ping us 👍

[2021-11-08 16:43] tonesto7 opened #613 "wmic is no longer present in Windows 11"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function '...'
2. code snippet '....'
3. start app / code
4. See output/error '....'

**Current Output**
If applicable, add output to help explain your problem.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (plea

[2021-11-08 17:57] sebhildebrandt commented on #613
@tonesto7 ... OK, was not aware of this ... anyway I replaced already a lot of `wmic` calls, will also replace the few ones that are still in place. Will let you know as soon as I completed this. Thank you!

[2021-11-08 17:59] tonesto7 commented on #613
Typical MS crap removing things for no reason.
Thanks for the fast response!!!

[2021-11-08 18:02] sebhildebrandt commented on #613
@tonesto7 ... well it was marked as `deprecated` already. But I did not know that it now was removed ;-) I need to do all of this in conjunction with #611 ... as I will need to use `PowerShell` commands now. Unfortunately it seems that
- this takes more resources (cpu load) to spin up a powershell shell
- for some reason in my version it does not shut down the session
... will do this whole thing

[2021-11-08 18:41] iabtw opened #614 "Rebase to use each platform's “native” protocol"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Perhaps a major rewrite/rebase of the entire codebase to use each platform's “native” method of obtaining hardware information with ease. Example, for macOS, it's possible to use an Obj-C <-> Node bridge to interact with the system using the `IOKit` framework, which could easily provide eas

[2021-11-08 20:00] sebhildebrandt commented on #614
@iabtw thank you for your idea. I am currently rewriting the whole library (converting to TS and making a lot of smaller improvements) but for the next version I am not planning to do the suggested transitions. I do think that this might be a quite good idea but means a complete rewrite for each platform. As I think that your proposal is quite interesting, I will think of it for the future.

For n

[2021-11-09 18:49] iabtw commented on #614
👍

In this case, I will begin writing a library, as I'd like to provide an efficient and “native” solution adjacent to this module. Especially considering the fact that it'd be more accessible if it were to use native protocols of the platform. Thank you for all your efforts, and for your response!

[2021-11-09 18:49] #614 closed

[2021-11-10 06:41] OmgImAlexis opened #615 "Opt into SLSA"
https://github.com/microsoft/Secure-Supply-Chain
https://security.googleblog.com/2021/06/introducing-slsa-end-to-end-framework.html

We should be able to reach level 2 and possibly 3.

[2021-11-11 14:38] sebhildebrandt commented on #610
@MariaCamilaCubides Can you test this one more time? I made a transition to powerShell also for `networkInterfaces()`. Hope that solves the problem now.

[2021-11-11 14:39] sebhildebrandt commented on #520
@mvarakin Can you test this one more time? I made a transition to powerShell also for `networkInterfaces()`. Hope that solves the problem now.

[2021-11-11 14:39] sebhildebrandt opened #616 "Windows, international character sets, powerShell, wmic"
We have the following situation on windows machines, where tickets #520, #600, #610, #611, #613, #646, #650 are related to:

- `wmic` (one of the methods, how this package gained system information) was marked as depricated for some time now. Windows 11 now completely dropped `wmic` support. But fortunately there are alternatives.

- due to problems with international character sets we anyway need

[2021-11-11 14:53] sebhildebrandt commented on #611
@si458 , @jcindex I now created a new issue that sums up related issues (windows/wmic/powershell). I guess this gives a better overview about the problems we currently have here. For this issue here I made some research and tests but I was not yet able to reproduce it. I created scripts where I run thousands of calls to `men()` and `fsSize()` not having one single `powerShell` instance not closing

[2021-11-11 14:54] sebhildebrandt commented on #613
@tonesto7 ... in the latest version 5.9.10 I now completely dropped `wmic` in favor of `powerShell` ... can you test it on your side?

[2021-11-11 15:08] tonesto7 commented on #613
Looks good... Thanks for the fast turn around on this

[2021-11-11 15:08] #613 closed

[2021-11-11 19:52] MariaCamilaCubides commented on #610
@sebhildebrandt I tested `networkInterfaces()` and it works, now the output said `iface: 'Conexión de red Bluetooth'`. Thank you.

[2021-11-11 20:55] #610 closed

[2021-11-11 21:22] sebhildebrandt commented on #520
@mvarakin, @Phamier ... as #610 addressed the same problem and is solved, I assume, that this is also fine. Can you confirm that?

[2021-11-12 07:50] OmgImAlexis commented on #593
@sebhildebrandt just checking in how things are going? If need be I'd be happy to take over v6 and finish the branch off via RP.

[2021-11-12 23:05] Apollon77 opened #617 "Cannot read property 'split' of undefined"
I have two sentry reports ... kind of same code place ...

https://sentry.iobroker.net/share/issue/7ddc08f5849947dd9948b80f2d8b51bb/
https://sentry.iobroker.net/share/issue/72de446d25da44dabc962eb9a1d3e749/

in fact about:
https://github.com/sebhildebrandt/systeminformation/blob/master/lib/users.js#L300-L303

You miss to check the result of the split :-)

[2021-11-13 03:37] OmgImAlexis opened #618 "Possibly wrong CacheType?"
If I include `Level` I get this back from the query. Is this meant to be checking  `CheckType` and not `Level`?

[code]

[code]

https://github.com/sebhildebrandt/systeminformation/blob/e1fafcc3404ec59261313d48104fb43ae6771c93/lib/cpu.js#L857-L864

[2021-11-13 09:36] sebhildebrandt commented on #618
@OmgImAlexis Just to be sure ... what  is the output of

[code]

on this machine? And (if this is not clear from the output above) what processor you have in your machine?
Thank you in advance

[2021-11-13 09:44] sebhildebrandt commented on #617
@Apollon77 thank you for your findings. Fixed. Version 5.9.12 just released

[2021-11-13 09:44] #617 closed

[2021-11-13 09:51] OmgImAlexis commented on #618
[code]

[2021-11-13 10:17] OmgImAlexis opened #621 "Possibly incorrect timezone name"
`Intl.DateTimeFormat().resolvedOptions().timeZone` returns `Australia/Adelaide` yet `time().timezoneName` is showing `Australian Central Daylight Time` should this be changed?

[2021-11-13 10:32] sebhildebrandt commented on #618
@OmgImAlexis will release my fix after having it tested on all my windows machines

[2021-11-13 11:33] sebhildebrandt commented on #621
@OmgImAlexis this was introduced in node 8 ... as this package should be compatible with older versions of node, I implemented it this was. But I will make a change to that (so taking this value if this is supported).

[2021-11-13 11:34] OmgImAlexis commented on #621
Would it not make sense to drop support for 8 since it's not even LTS anymore and have people that need the older support use the older version of the library?

[2021-11-13 11:38] sebhildebrandt commented on #621
@OmgImAlexis I agree partially, but v5 is still used also with older versions. The thing is, that having a view on nodes download numbers by version, this is still somehow important. changing that would be a breaking change.

For version systeminformation v6 the minimum v´nodejs version will be node 8.

[2021-11-13 11:39] OmgImAlexis commented on #621
That doesn't make any sense. The minimum for v6 should be the current LTS. If users need older support they should use a compiler.

[2021-11-13 11:41] sebhildebrandt commented on #621
@OmgImAlexis I understand what you mean, and I would also do it that way on my side. But still I do not want introduce breaking changes here.

[2021-11-13 11:43] OmgImAlexis commented on #621
That's exactly what version 6 should be. I'd suggest you read up on semver. A major version change is when breaking changes should happen. Removing callbacks and dropping the old node versions should both happen.

Otherwise the output of the build is going to need to include a bunch of extra stuff just to help a handful of people who can't be bothered using a compiler themselves.

[2021-11-13 11:47] sebhildebrandt commented on #621
@OmgImAlexis I completely agree. As I wrote for V6 I will change the minimal nodes version and here I changed this already. And yes of course, dropping callbacks etc. are breaking changes and therefore part of V6.

But for version 5 this is not the case. And this is what I was referring to.

[2021-11-13 13:29] Apollon77 commented on #617
thank you!

[2021-11-14 19:01] sebhildebrandt commented on #618
Thank you @OmgImAlexis, I checked it again on different machines and also Win32_CacheMemory class documentation:

CacheType - is type of cache, where
- Other (1)
- Unknown (2)
- Instruction (3)
- Data (4)
- Unified (5)
...

Checking the type of l1 cache (cacheType) - l1i (L1 instruction) and l1d (L1 data), as I did in my code should be ok. In your case, as there is no seperate instruction / data L

[2021-11-14 19:01] #618 closed

[2021-11-14 19:02] sebhildebrandt commented on #621
@OmgImAlexis added this also to v5 with previous checking if `Intl` module exists. Version 5.9.13 just released.

[2021-11-14 19:02] #621 closed

[2021-11-15 15:34] sebhildebrandt commented on #593
@OmgImAlexis
Dear Alexis,

First of all once again, thank you for reaching out and asking! I do understand, that our pace working on this is a little different.  also have the feeling that we might have different motivations and goals and this is absolutely fine. I wish that I would be able to deliver how you are expecting it and unfortunately this is not the case.

My current situation does not a

[2021-11-16 08:21] OmgImAlexis commented on #593
@sebhildebrandt I think the main thing this comes down to me being too impatient. I'm not use to just sitting back and waiting. I know I can fix this so I want to just get in there and fix the issue.

The other issue is the fact I want to launch a side project of mine for monitoring servers that will heavily use this and needs to be as light as possible so shipping the windows, etc. parts just can

[2021-11-16 14:42] si458 commented on #616
@sebhildebrandt have you tried calling exec with powershell set as the shell?
rather then calling powershell.exe then the command?
https://stackoverflow.com/questions/10179114/execute-powershell-script-from-node-js

[2021-11-16 14:44] sebhildebrandt commented on #616
@si458 Thank you, currently making several tests to that. There are some possibilities that I am thinking of. Now testing which ones are faster ...

[2021-11-17 00:43] 4n0nh4x0r opened #626 "100% CPU load on windows"
**Describe the bug**
Its not really a bug, more just something i noticed
I m working on a monitoring tool using this library to get system data
Therefore i need to get the data constantly
On linux, this is no issue at all, but on windows, my cpu load goes up to 100%

**To Reproduce**
[code]

**Current Output**
The output is fine, it just puts a LOT of load on the cpu on my windows system

**Expect

[2021-11-17 05:06] sebhildebrandt commented on #626
@4n0nh4x0r thank you, yes this is something, we are doing an investigation. See also issue #616 ... hope to get a solution ready this weekend.

[2021-11-17 11:32] 4n0nh4x0r commented on #626
Hopefully something can be done, othetrwise my monitoring system will take 100% of the cpu power for itself alone on windows servers lol

[2021-11-17 15:39] datenreisender opened #627 "macOS Monterey: Triggers warning because outdated python is called"
**Describe the bug**
When `versions()` is called on macOS in desktop apps, a warning is triggered, because the outdated python 2 is called.

**To Reproduce**
The easiest way to reproduce this is to create a minimal desktop application like I did with Electron in https://github.com/datenreisender/systeminformation-electron-test. If you clone that and run it with `npm start` on macOS Monterey, this

[2021-11-17 16:11] sebhildebrandt commented on #627
@datenreisender ... interesting, I have a completely new MacBook, with Monterey installed. Just a few days old. When I am calling `si.versions()` I get no warning, and all python versions are shown correctly.

Ok, I installed Xcode command line tools ...  and `which python` gives back `/usr/bin/python` ... so I need to think about what the difference might be ... and how to avoid this error ...

[2021-11-17 17:18] datenreisender commented on #627
Strange, I also have the Xcode command line tools installed. Do you maybe also have a version of python installed through homebrew? What is the output if you just call `/usr/bin/python` in a shell? I get this:
[code]

[2021-11-17 18:30] sebhildebrandt commented on #627
@datenreisender i need to check it later this evening. I have also one more new machine with no Xcode command line tools installed. Will try to find a solution. But I am sure that I will need you then to double check my approach ;-)

[2021-11-17 21:19] sebhildebrandt commented on #627
@datenreisender so the current situation here:

- macOS Monterey 12.0.1
- Xcode command line tools installed (path '/Library/Developer/CommandLineTools/usr/bin/' exists)
- no python installed with homebrew
- `which python` returns `/usr/bin/python`
- `python -V` returns `Python 2.7.18` (nothing else, no warnings , ...)

Can you check the same info set on your machine?

[2021-11-17 22:13] sebhildebrandt commented on #627
@datenreisender ... so what I see in the Changelog Monterey 12.0.1:

## Python
### Deprecations
If an app uses Python 2.7, macOS now triggers an alert indicating that the developer must update the app to ensure it will work in future versions of macOS. (80221011)

Seems that I did not see the warning?

So I now created a fix for it ... code only pushed to GitHub. can you pull it from here and test

[2021-11-18 20:31] sebhildebrandt commented on #627
@datenreisender new version 5.9.14 just published.

One thing ... I was only calling `python -V` in my package, you are now reporting, that for this there is no warning ... maybe I am confused now?

[2021-11-18 20:31] #627 closed

[2021-11-19 06:00] Asyunelus opened #628 "function 'cpuCache()' bugs in windows 10"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. used function 'cpuCache()'
2. code snippet 'await si.cpuCache()'
3. start app / code
4. See output/error
                  if (level === '3' && cacheType === '5' && !result.cache.l1i && !result.cache.l1d) {

[2021-11-19 06:19] sebhildebrandt commented on #628
@Asyunelus fixed. Version 5.9.15 just released. Can you check it?

[2021-11-19 06:19] #628 closed

[2021-11-19 06:39] Asyunelus commented on #628
it's works for me! thx!

[2021-11-19 07:11] datenreisender commented on #627
🙏 Thanks

Yes, that is really confusing. I was talking about two different kinds of warnings: The “… needs to be updated” dialog I showed above or a warning `WARNING: Python 2.7 is not recommended. […]` in the terminal window itself (that is output on STDERR).

When calling `python` (without any switch) then the warning `WARNING: Python 2.7 is not recommended. […]` is printed to STDERR in any term

[2021-11-19 09:58] gusgeek commented on #626
Hello! I come to collaborate with this incident. I am developing a package of monitoring tools for servers and when testing version 5.9.7 it already had incidents with windows, I saw that I launch 5.9.14 and it persists. In my case, just checking any status flag (Timeup, CPU, OS) triggers the use of Powershell to 50% or more.

PS> Whoever wants to know my monitoring utility is called Healty
https:

[2021-11-19 10:42] gusgeek commented on #616
Hello! I come to collaborate with this incident. I am developing a package of monitoring tools for servers and when testing version 5.9.7 it already had incidents with windows, I saw that I launch 5.9.14 and it persists. In my case, just checking any status flag (Timeup, CPU, OS) triggers the use of Powershell to 50% or more.

PS> Whoever wants to know my monitoring utility is called Healty
https:

[2021-11-21 14:54] sebhildebrandt commented on #626
@4n0nh4x0r ... I made detailed research and it turns out that spinning up PowerShell Process is responsible for consuming   resource and time. I now created a possibility to create a persistent PowerShell which then should reduce resources by 90% ...

It would be great if you can test the latest code here on GitHub: What you have to do to enable the persistent power shell:

- on startup (if you ar

[2021-11-21 14:54] sebhildebrandt commented on #611
@si458 @jcindex ... I made detailed research and it turns out that spinning up PowerShell Process is responsible for consuming   resource and time. I now created a possibility to create a persistent PowerShell which then should reduce resources by 90% ...

It would be great if you can test the latest code here on GitHub: What you have to do to enable the persistent power shell:

- on startup (if y

[2021-11-21 14:55] sebhildebrandt commented on #616
I made detailed research and it turns out that spinning up PowerShell Process is responsible for consuming a lot of resources and time. I now created a possibility to create a persistent PowerShell which then should reduce resources by 90% ...

It would be great if you can test the latest code here on GitHub: What you have to do to enable the persistent power shell:

- on startup (if you are runni

[2021-11-21 15:24] 4n0nh4x0r commented on #626
Okay, that sounds fantastic actually
For releasing the powershell again, does shutting down the app itself work aswell? or do i have to call powerShellRelease()?

I will test this once i m back at my dev pc

[2021-11-21 15:31] sebhildebrandt commented on #626
@4n0nh4x0r closing the app should also work but it would be cleaner to call `powerShellRelease()` ... the main thing for now is of course if this goes now into the right direction and solves the problem also on your side. If yes, I can make a cleanup and a new release. At least on my machines this was quite fast. So I hope this works also on your side ;-)

[2021-11-21 16:11] BitesPotatoBacks commented on #564
@sebhildebrandt Howdy! I’ve been researching this topic for an extremely long time now (as it is a near impossible feat to accomplish when on ARM), but I’ve finally figured it out. [I made a C++ script](https://github.com/BitesPotatoBacks/M1-CPU-Frequency) in order to achieve this, and [I’ve compiled a binary](https://github.com/BitesPotatoBacks/M1-CPU-Frequency/releases) for it as well.

If you w

[2021-11-21 17:26] si458 commented on #626
@sebhildebrandt `getStaticData` doesnt work with the `powerShellStart`
i can see from `process explorer` that node starts a single powershell and never opens more than one process,
HOWEVER the command never finishes?
also i can also see the memory size for it increases very dramatically and gets out of control 200MB!?
[code]

[2021-11-21 19:04] 4n0nh4x0r commented on #626
Awesome, it works for me
No more cpu load shooting to 100%

As for the latest comment here on this thread, in my case this doesnt happen.
The powershell instance is being opened, and being worked with, and it stays constant on 40MB memory size

[2021-11-21 19:06] si458 commented on #626
@4n0nh4x0r have you tried my simple script above?
i see the single powershell open, then use about 60% cpu, usage and 200MB memory for about 20secs
(as expected as its using a single powershell rather than loads)
but then it doesnt output the response and the powershell also isnt released and node never quits?

[2021-11-21 19:12] 4n0nh4x0r commented on #626
For me it stays at stable low cpu usage, and the memory allocated to the powershell is at about 114MB in this case
But other than that nothing special

[2021-11-21 19:13] si458 commented on #626
do you get a reply though in the console and node quits?

[2021-11-21 19:15] 4n0nh4x0r commented on #626
I didnt get an output there, the script just continued doing work and never quits

[2021-11-21 19:17] si458 commented on #626
so its not just me then, so something isnt right with the `getStaticData` then and the powershell

also using your test script, the memory usage of powershell just keeps climbing for me?
started at 34MB then starting climbing to 125MB after about 1 min running
[code]

[2021-11-21 20:36] 4n0nh4x0r commented on #626
@si458 Which version of nodejs are you using?
I m using node 16(.11.1)

[2021-11-21 20:46] si458 commented on #626
Latest 14 LTS
But I'm AFK at mo but will try updating to latest 16 LTS tomorrow and see what happens

[2021-11-21 23:11] 4n0nh4x0r commented on #626
Would be interesting to see if this is maybe a node version issue rather than a library issue itself

[2021-11-22 05:17] sebhildebrandt commented on #626
@si458 , @4n0nh4x0r thank you for your feedback! My feeling here is, that the issues you describes are not related to a specific node version. To sum up:

- my implementation is just a first step and I know that this is much to hacky!
- the intension was that I can see that this might be an approach to get the resources under control.
- I of course need to have a look on it why we have a potentia

[2021-11-22 07:55] si458 commented on #626
@sebhildebrandt something to note
Cmd.exe isn't going away!
For example I can still run `query user` to get all users,
Yet it was replaced with powershell?
Also I found no reference anywhere in the latest Windows 11 build that the wmic command line has indeed vanished?

[2021-11-22 08:07] sebhildebrandt commented on #626
@si458

USER: yes, you are right. The reason why it was replaced it due to international character problems. See also #610. The problem here is that windows keeps the original functionality and there is no way to get the stdout as UTF8 when executing `query user` ...

WMIC: yes it is marked as deprecated (https://docs.microsoft.com/en-us/windows/win32/wmisdk/wmic) and I got reports that in some ve

[2021-11-22 10:59] Phamier commented on #520
Yes! It's working properly now.
![image](https://user-images.githubusercontent.com/24634942/142849835-098a4db3-4716-440d-add8-431d16551e04.png)

[2021-11-22 11:01] Phamier commented on #520
It returns wrong iface, but It's a bug of Windows.

[2021-11-22 11:05] sebhildebrandt commented on #520
@Phamier thank you for reporting!

[2021-11-22 11:05] #520 closed

[2021-11-22 12:41] si458 commented on #626
@4n0nh4x0r i have just tried upgrading my node to 16.13.0 and its the same issue
runs one instance of powershell as expected, but the memory usage of it keeps climbing,
ok its very very slowly but it still climbs
@sebhildebrandt maybe you need to clear the old data from the console window after so long?
i also understand these things take time but baby steps in the right direction 👍

[2021-11-22 12:46] si458 commented on #626
@4n0nh4x0r after me watching `process explorer`
using just `data.cpu = await si.get({ currentLoad: "currentLoad" })` doesnt see a memory increase?
but if you use `data.ram = await si.get({ mem: "total,used" })` or `data.disk = await si.get({ fsSize: "size,used" })`
then suddenly the memory increases in the powershell instance?
@sebhildebrandt might be helpful to debug maybe

[2021-11-24 18:30] JoeyBallentine opened #629 "Module not found: Error: Can't resolve 'osx-temperature-sensor' on Windows"
**Describe the bug**
This package seems to be expecting an osx-only package on windows. This causes my app to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. install
2. import
3. start app on windows
4. See error

**Current Output**
[code]

**Expected behavior**
I think it's clear this shouldn't happen

**Environment (please complete the following information):**
 - systeminformation

[2021-11-24 18:38] JoeyBallentine commented on #629
Ok so, I guess this only happens when using this in a node-integrated browser process (i.e. through electron/react) and not when used in a regular node environment

[2021-11-24 21:23] sebhildebrandt commented on #629
You should be able to use this package also with electron but it needs to be in the `main.js` (or a module you require from there), not in a render process. See also the electron-api-demo (e.g. the power monitor)

[2021-11-24 21:23] #629 closed

[2021-11-26 23:49] gusgeek commented on #626
in this way, with promise all I managed to obtain data from all sides without exploiting the use of cpu

let search = new Object()
        Promise.all(

            [
                "os",
                "disk",
                "cpuload",
                "networkstate",
                "networkconnections",
                "networkdevices",
                "ram",
                "uptime"

[2021-11-27 11:24] mvarakin commented on #520
Thanks a lot!

[2021-12-01 18:28] akashkashyap opened #630 "BSSIDs not being populated by wifiNetworks() on macOS Monterey 12.0.1"
**Describe the bug**
On macOS Monterey 12.0.1, the object returned by wifiNetworks() doesn't have BSSID's populated. It just contains empty strings for each entry. I haven't gotten the chance to see if this behavior replicates on other OS's/versions

**To Reproduce**
Steps to reproduce the behavior:
1. Call wifiNetworks() on a machine running macOS Monterey 12.0.1
2. Inspect the returned object, n

[2021-12-01 18:30] akashkashyap commented on #630
This forum post indicates that location permissions are required now in order to get this info: https://developer.apple.com/forums/thread/119490

[2021-12-01 20:06] akashkashyap commented on #630
Per this other issue for the node-wifi library: https://github.com/friedrith/node-wifi/issues/171

Using '/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -s -x' returns XML that contains the bssid. Seems like a reasonable alternative.

[2021-12-02 04:19] sebhildebrandt commented on #630
@akashkashyap I created an tiny xml parser and will see if this also works here. I will then implement a working version this weekend.

[2021-12-02 16:22] akashkashyap commented on #630
Thanks @sebhildebrandt, sounds great! I'll keep an eye out for a new release once you have it working.

[2021-12-02 20:33] akashkashyap commented on #630
FYI Something to keep in mind:

I wrote a quick-hack workaround just for bssid's for myself using xpath and xmldom, and I have been running into an issue where stdout from child_process.exec is truncated sometimes. Basically the truncated stdout doesn't break all parsing, but it results in missing some of the network connections.

Worth keeping in mind as you work on the full fix. It looks like th

[2021-12-03 07:48] sebhildebrandt commented on #630
@akashkashyap very clear, thank you for reminding me! I will increase here the buffer size .... Concerning `xpath`, `xmldom`:  I want to avoid dependencies so I am not using external libs for the parsing. But my own `plist-parser` works quite fine ;-)

I will keep you updated on the progress.

[2021-12-05 09:34] ijamaatlou commented on #582
@sebhildebrandt  Why didn`t you use function like getManufacturerLinux for Windows to create map for windows ?

[2021-12-05 18:18] sebhildebrandt commented on #630
@akashkashyap I just released a new version with a fix for this. Can you test it on your side? Version 5.9.16 just released

[2021-12-05 18:23] akashkashyap commented on #630
Looks good! Thanks Sebastian.

[2021-12-05 20:15] #630 closed

[2021-12-06 16:08] BitesPotatoBacks opened #631 "Current Cpu Frequency/Clock Speed Support on Apple Silicon"
**Is your feature request related to a problem? Please describe.**
This is request regards issue #564.

**Describe the solution you'd like**
The ability for the `cpuCurrentSpeed()` function to **_actually_** retrieve the **_current_** CPU frequency/clock speed on MacOS and Apple Silicon.

Although this is a near impossible feat to accomplish, I have managed to develop a [C++ script that can pull t

[2021-12-06 23:15] akashkashyap commented on #630
@sebhildebrandt, just saw a crash today on my end in parseWifiDarwin.

TypeError: Cannot read property 'forEach' of null
    at parseWifiDarwin (/Users/akash/dev/tandem/teamtalk/desktop/node_modules/systeminformation/lib/wifi.js:344:11)
    at /Users/akash/dev/tandem/teamtalk/desktop/node_modules/systeminformation/lib/wifi.js:442:20
    at ChildProcess.exithandler (child_process.js:308:7)
    at C

[2021-12-07 05:08] sebhildebrandt commented on #630
@akashkashyap Will havea look on it ...

[2021-12-07 05:15] sebhildebrandt commented on #630
@akashkashyap Should be fixed now. Version 5.9.17 just released

[2021-12-09 13:31] peel70 opened #632 "Network Interfaces Function"
Hi, thanks for the great work on this package it spared me lot of time.
I want to report you a bug.

**Describe the bug**
si.networkInterfaces(cb) only return infos about the connected interfaces

**To Reproduce**
Steps to reproduce the behavior:
1. use si.networkInterfaces(cb) to get the array of network interfaces
2. unplug the default network interface
3. use si.networkInterfaces(cb) again, in

[2021-12-18 03:14] Wyuyang opened #633 "CPU info is wrong on Windows?"
**Describe the bug**
Hi, I'm a learner of Javascript. The information of Intel 12th CPU seems wrong？

**To Reproduce**
[code]

**Current Output**
[code]

**Expected behavior**
Well, I think the correct manufacturer is Intel.

**Environment (please complete the following information):**
 - systeminformation package version: 5.9.17
 - OS: Windows 11 21H2
 - Hardware: 12th Gen Intel(R) Core(TM) i5-12

[2021-12-30 07:46] HyperClockUp opened #634 "wifi ssid garbled when using wifi name includes Chinese characters"
**Describe the bug**
A clear and concise description of what the bug is.
wifi ssid garbled when using wifi name includes Chinese characters

**To Reproduce**
Steps to reproduce the behavior:
1. set wifi name with Chinese characters
2. call any wifi function such as wifiConnections/wifiNetworks
3. print wifi ssid

**Current Output**
If applicable, add output to help explain your problem.
![image](h

[2021-12-31 07:58] HyperClockUp commented on #634
never mind this issue any more, i've got the reason and solution.

the ssid is encoded by GBK when your system language is Chinese, but you print it by utf8. therefore, just encode it by gbk and then decode it by utf8 and it works.

`
import iconv from 'iconv-lite';
const wifiInfo = await systeminformation.wifiNetworks();
const wifi = wifiInfo[0];
const { ssid, bssid } = wifi;
console.log(iconv.de

[2021-12-31 07:58] #634 closed

[2022-01-04 23:58] robertfirespotter opened #635 "wifiConnections() doesn't return results (Possible OSX Monterey issue)"
**Describe the bug**
Calling si.wifiConnections() on OSX Monterey does not return any results

**To Reproduce**
Steps to reproduce the behavior:
1.  si.wifiConnections()

**Current Output**
None

**Expected behavior**
The connected endpoint(s)

**Environment (please complete the following information):**
 - systeminformation package version: 5.9.17
 - OS: macOS 12.1
 - Hardware: MacBook Pro 15

**

[2022-01-08 23:00] sebhildebrandt commented on #635
@robertfirespotter thank you for reporting ... fixed. Version 5.9.18 just released.

[2022-01-08 23:00] #635 closed

[2022-01-09 05:43] aledlb8 opened #636 "HWID"
Could you guys add a HWID features to get the user HWID ??

[2022-01-09 07:29] sebhildebrandt commented on #636
@aledlb8 ...not sure what you mean with HWID.

- if you mean hardware ID please have a look at the documentation https://systeminformation.io/system.html. Here you habe a function uuid which returns an array of different unique IDs like for the os or HW
- if you mean something different, I would be happy if you can explain what you would expect.

Best regards

[2022-01-09 12:59] aledlb8 commented on #636
yes, i mean the hardware ID not the uuid there are differents things the HWID is something like this L35B-8X37